<% provide(:title, "Help Center") %>
<section id="help-center">

  <div class="title">Help Center</div>

  <div class="container">

    <div class="col">
      <div class="category">If you're facing technical issues, please contact us.</div>
    </div>

  </div>
  <div class="issue-report">
    <%= form_tag send_email_path, method: :put do %>
      <%= label_tag :name , "Full Name" %>
      <%= text_field_tag :name,'', autofocus: true, :required => true %>

      <%= label_tag :email %>
      <%= text_field_tag :email,'', autofocus: true, :required => true %>

      <%= label_tag :subject %>
      <%= text_field_tag :subject,'', autofocus: true, :required => true %>
      <%= label_tag :comments %>
      <%= text_area_tag :comments,'', autofocus: true, :required => true, placeholder: "Please explain your issue." %>

      <%= submit_tag("Submit", class: 'submit-button') %>
    <% end %>
  </div>
</section>
