<% provide(:title, "Help Center") %>
<section id="help-center">

  <div class="title">Help Center</div>

  <div class="container">

    <div class="col">
      <div class="category">Repo License</div>
        <ul class="fa-ul">
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution'), licenses_cca_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution - Share Alike'), licenses_ccasa_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution - No Derivatives'), licenses_ccand_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution - Non-Commercial'), licenses_ccanc_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Attribution - Non-commercial - Share Alike'), licenses_ancsa_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Attribution - Non-Commercial - No Derivatives'), licenses_ancnd_path %></li>
        </ul>
    </div>

  </div>
<div id="issue-report">
  <%= form_tag send_email_path, method: :put do %>
    <%= label_tag :name , "Full Name/Nom" %>
    <%= text_field_tag :name,'', autofocus: true %>

    <%= label_tag :email %>
    <%= text_field_tag :email,'', autofocus: true %>

    <%= label_tag :subject %>
    <%= text_field_tag :subject,'', autofocus: true %>
    <%= label_tag :comments %>
    <%= text_area_tag :comments %>

    <%= submit_tag("Send", class: 'send-button')  %>
  <% end %>
</div>
</section>
