<% provide(:title, 'Help Center') %>
<section id="help-center">

  <div class="title">Help Center</div>

  <div class="container">

    <div class="col">
      <div class="category">If you're facing technical issues, please contact us.</div>
    </div>

  </div>
  <div class="issue-report">
    <%= form_for @help, url: '/send_email', html: { multipart: true } do |f| %>
      <div class="mb-3 required">
      <%= label_tag :name, 'Full Name', class: 'form-label' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      <div class="mb-3 required">
      <%= label_tag :email, 'Email', class: 'form-label' %>
      <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="mb-3 required">
      <%= label_tag :subject, 'Subject', class: 'form-label' %>
      <%= f.text_field :subject, class: 'form-control' %>
      </div>
      <div class="mb-3 required">
      <%= label_tag :comments, 'Comments', class: 'form-label' %>
      <%= f.text_area :comments, placeholder: 'Please explain your issue.', class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= recaptcha_tags %>
      </div>

      <%= submit_tag('Submit', class: 'btn btn-primary large') %>
    <% end %>
  </div>
</section>
