<% provide(:title, 'Help Center') %>
<section>

  <h1 class="text-center">Help Center</h1>
  <p class="text-center">If you're facing technical issues, please contact us.</p>

  <div>
    <%= form_with model: @help, url: help_path, html: { multipart: true } do |f| %>
      <div class="mb-3">
        <%= f.label :name, 'Full Name', class: 'form-label' %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :email, 'Email', class: 'form-label' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :subject, 'Subject', class: 'form-label' %>
        <%= f.text_field :subject, class: 'form-control' %>
      </div>
      <div class="mb-3">
          <%= f.label :type, 'Type of request', class: 'form-label' %>
          <%= f.select :type, ["General question", "Technical issue", "Feature request", "Other"], {}, class: 'form-select' %>
      </div>
      <div class="mb-3">
        <%= f.label :comments, 'Comments', class: 'form-label' %>
        <%= f.rich_text_area :comments, placeholder: 'Please explain your issue.', class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%#= turnstile_tag %>
      </div>

      <%= submit_tag('Submit', class: 'btn btn-primary large') %>
    <% end %>
  </div>
</section>
