<section>
  <h2 class="fw-bold py-3 text-center">Admin's Training Sessions Manager</h2>
  <div class="text-center">
    <%= link_to 'See Demotions', demotions_admin_certifications_path, class: 'btn btn-primary' %>
  </div>
  <br />

  <div class="mb-3">
          <%= fa_icon 'search', class: "fa-2x pe-2" %>
    <div class="w-auto d-inline-block">
      <%= text_field_tag(:search, search(params[:search]), placeholder: "Search by Course, Training, User, Date ...", class: 'form-control', id:"training_session_searchbar", style: "width: 100%") %>
    </div>
  </div>

  <div class="table-training-sessions">
    <%= render 'admin/training_sessions/training_session_table' %>
  </div>
</section>

<%= javascript_pack_tag 'admin_training_sessions' %>