<%= form_for @question, url: {controller: "questions", action: "update"}, :html => {  class:"needs-validation", novalidate: 'novalidate' } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3 text-center">
        <%= f.text_area :description, placeholder: "Write your question here...", class: 'form-control', required: true %>
        <div class="invalid-feedback">
          Please provide the question description.
        </div>
        <br />
        Categories:
        <br />
        <div class="mt-3">
          <%= f.select :training_ids, options_from_collection_for_select(@categories, 'id', 'name', :selected => (@question.trainings.pluck(:id) if @question.trainings.present?)), {}, {multiple: true, :id => "questions_trainings", :class => "form-control form-select"} %>
        </div>
        <br />
        <div class="mb-3">
          <%= f.label :level, class:"form-label" %>
          <%= f.select :level, options_for_select(@levels, selected: @question.level), {prompt: 'Select a Level'}, class: "form-control form-select", required: true %>
        </div>
      </div>
      <br />

      <div class="text-center">
        <%= f.file_field :images, id: "pictureInput", multiple: true %>
      </div>

      <br />
      <br />

      <div id="image-target" class="mx-auto text-center"></div>

      <div class="text-center row" id="edit-image">
        <%= render 'question_images' %>
      </div>

    </div>

    <div class="col-md-12">
      <%= render partial: 'answers', locals: {f: f} %>
    </div>
    <div class="col-12">
      <%= link_to 'Add Answer', add_answer_questions_path(id: @question.id), method: :post, class: 'btn btn-info text-white float-start' %>
    </div>
    <br />
    <br />

    <div class="col-lg-12 text-center">
      <%= f.submit "Update Question", class: "btn btn-secondary btn-xl text-uppercase" %>
    </div>
  </div>

<% end %>
