<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Questions</h2>

    <% if !@questions.blank? %>
      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: category, description, ..." class="form-control mx-auto">

      <br />

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Category <span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Description <span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Created by<span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
            <th class="action-header">Action</th>
          </tr>

          <tbody>
          <%= will_paginate @questions %>
          <% @questions.each do |q| %>
            <tr>

              <td>
                <%= q.created_at.strftime("%m/%e/%Y (%b)") %>
                <br>
                <%= q.created_at.strftime("%I:%M %p").downcase() %>
              </td>

              <td>
                <%= q.category %>
              </td>

              <td>
                <%= q.description.plit[0...5].join(' ') + "..." %>
              </td>

              <td class = "username">
                <%= link_to q.user.name.capitalize, user_path(q.user.username) %>
              </td>

              <td class="action-cell">
                <%=link_to "Edit", edit_question_path(q.id), class:"btn-block visit-button mb-1 mt-0" %>
                <%=link_to "Show", question_path(q.id), class:"btn-block show-button mt-0 mb-1" %>
                <%=link_to "Delete", { controller: :volunteer_tasks ,action: :destroy, id: vt.id }, method: :delete,
                           data: { confirm: 'Are you sure that you want to delete this question?' },
                           class:"btn-block destroy-button mb-1 mr-0"%>
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-5">
        No Questions were created yet.
      </div>
    <% end %>
  </div>
</section>
