<h2 class="text-center pt-2 mb-5 font-weight-bold">New Question</h2>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-12">
      <%= form_for @new_question, url: {controller: "questions", action: "create"}, :html => { class:"needs-validation", novalidate: 'novalidate', multipart: true } do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center">
              <%= f.text_area :description, placeholder: "Write your question here...", class: 'form-control', required: true %>
              <div class="invalid-feedback">
                Please provide the question description.
              </div>
              <br />
              Categories:
              <br />
              <div class="mt-3">
                <%= f.select :training_ids, options_from_collection_for_select(@categories, 'id', 'name'), {}, {multiple: true, :id => "questions_trainings", :class => "form-control select2"} %>
              </div>
              <br />

              <div class="form-group">
                <%= f.label 'level' %>
                <%= f.select 'level', options_for_select(@levels), {prompt: 'Select level'}, class: "form-control", required: true %><br>
              </div>
              <br />
              <br />

              <div class="text-center">
                <%= f.file_field :images, id: "pictureInput", multiple: true %>
              </div>
              <br />
              <br />

              <div id="image-target" class="mx-auto"></div>

            </div>
          </div>
          <br />

          <div class="col-md-12">
            <div class="form-group">
              <p class="text-success text-center">The <b>Answer 1</b> will be the correct answer</p>
              <% i = 1 %>
              <%= f.fields_for :answers do |af| %>
                <%= af.rich_text_area :description, placeholder: "Answer #{i}: Write the answer description here...", class: "form-control h-auto #{return_border_color(af.object)}", required: true %>
                <div class="invalid-feedback">Please provide Answers</div>
                <br />
                <% i+=1 %>
              <% end %>
            </div>
          </div>

          <div class="row col-12">
            <div class="col-4">
              <%= link_to "", new_question_path(n_answers: params[:n_answers].to_i - 1), class: 'float-left btn minus-button plus-button-large', title: 'Remove answers', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
            </div>
            <div class="col-2 text-center">
              <%= link_to "2", new_question_path(n_answers: 2), class: 'btn circle-button', title: '2 answers', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
            </div>
            <div class="col-2 text-center">
              <%= link_to "4", new_question_path(n_answers: 4), class: 'btn circle-button', title: '4 answers', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
            </div>
            <div class="col-4">
              <%= link_to "", new_question_path(n_answers: params[:n_answers].to_i + 1), class: 'float-right btn plus-button plus-button-large', title: 'Add more answers', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
            </div>
          </div>

          <div class="col-lg-12 text-center my-5">
            <%= f.submit "Create question", class: "btn btn-secondary btn-xl text-uppercase" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

