<h2 class="text-center pt-2 mb-5">Question in <strong>"<%= sanitize(@question.trainings.map(&:name).join(', ')) if @question.trainings.present? %>"</strong></h2>

<div class="text-start word-break">
  <h2><b><%= sanitize(@question.description) %></b></h2>
</div>

<div class="text-center col-12 justified-gallery">
  <% if @question.images.attached? %>
    <% @question.images.each do |img| %>
      <a href="#">
        <%= image_tag(img, alt: 'Image related question', style: 'border:1px solid #021a40;', class: 'd-inline-block mx-auto') %>
      </a>
    <% end %>
  <% end %>
</div>

<hr>

<div class="text-start">
  <% @question.answers.randomize_answers.each do |a| %>
    <% if a.correct %>
      <div class="correct-answers"><%= a.description %></div>
    <% else %>
      <div class="answers"><%= a.description %></div>
    <% end %>
  <% end %>
</div>
