<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">List of users in the Volunteer Program</h2>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
        <h5 class="text-center">All Volunteer's Emails (<%= @all_emails.count %>)</h5>
          <div id="email-1" class="text-center">
            <% @all_emails.each do |email| %>
              <%= email %> <br />
            <% end %>
          </div>
          <br />
          <div class="text-center">
            <button class="clipboard-btn btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#email-1">
              Copy All Emails
            </button>
          </div>
        </div>

        <div class="col-lg-6 mb-5">
          <h5 class="text-center">Active Volunteer's Emails (<%= @active_emails.count %>)</h5>
          <div id="email-2" class="text-center">
            <% @active_emails.each do |email| %>
              <%= email %> <br />
            <% end %>
          </div>
          <br />
          <div class="text-center">
            <button class="clipboard-btn btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#email-2">
              Copy Active Emails
            </button>
          </div>
        </div>

        <div class="col-lg-12">
          <h5 class="text-center">Unactive Emails (<%= @unactive_emails.count %>)</h5>
          <div id="email-3" class="text-center">
            <% @unactive_emails.each do |email| %>
              <%= email %> <br />
            <% end %>
          </div>
          <br />
          <div class="text-center">
            <button class="clipboard-btn btn btn-primary" data-clipboard-action="copy" data-clipboard-target="#email-3">
              Copy Unactive Emails
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

