<section class="page-contents">
  <div>

    <h2 class="text-center">Welcome to the Volunteer Area</h2>
    <br>
    <div class="links">
      <% if current_user.volunteer? %>
        <%= link_to 'Getting Started', getting_started_volunteers_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'My Stats', my_stats_volunteers_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'Volunteer Tasks', volunteer_tasks_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'My Tasks', my_tasks_volunteer_tasks_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'Requests', volunteer_task_requests_path, class: "btn btn-outline-primary btn-block border" %>
      <% else %>
        <%= link_to 'New Announcement', new_announcement_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'Announcements', announcements_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'New Task', new_volunteer_task_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'Tasks', volunteer_tasks_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'List of Emails', emails_volunteers_path, class: "btn btn-outline-primary btn-block border" %>
        <%= link_to 'List of Users in Program', volunteer_list_volunteers_path, class: "btn btn-outline-primary btn-block border" %>
      <% end %>
    </div>
  </div>
</section>

