<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">Welcome to the Volunteer Area</h2>
    <br>
    <div id="staff-buttons">
      <% if current_user.volunteer? %>
        <%= link_to ('Track your hours'), new_volunteer_hour_path, class: "staff-button"%>
        <br /> <br />
        <%= link_to 'See your hours', volunteer_hours_path, class: "staff-button"%>
        <br /> <br />
      <% else %>
        <%= link_to 'Volunteer Tasks', volunteer_tasks_path, class: "staff-button" %><br></br>
        <%= link_to 'New Volunteer Task', new_volunteer_task_path, class: "staff-button" %><br></br>
        <%= link_to 'Volunteer Hour Requests', volunteer_hour_requests_volunteer_hours_path, class: "staff-button" %><br></br>
        <%= link_to 'Volunteer Hour Per User', volunteer_hour_per_user_volunteer_hours_path, class: "staff-button" %><br></br>
      <% end %>
    </div>


  </div>
</section>

