<section class="page-contents" id="volunteers-getting-started">
  <div>

    <h2 class="text-center fw-bold">
      <%= t('volunteer_program.welcome.header') %>
    </h2> <br />

    <h4 class="text-center">
      <%= t('volunteer_program.welcome.info_header') %>
    </h4>

    <br>
    <div>
      <%= t('volunteer_program.welcome.overview') %>
    </div>
    <hr />
    <h4 class="text-center"><%= t('volunteer_program.benefits.header') %></h4>
    <div class="col-lg-8 mx-auto">
      <ul>
        <li><%= t('volunteer_program.benefits.point_1') %></li>
        <li><%= t('volunteer_program.benefits.point_2') %></li>
        <li><%= t('volunteer_program.benefits.point_3') %></li>
        <li><%= t('volunteer_program.benefits.point_4') %></li>
        <li><%= t('volunteer_program.benefits.point_5') %></li>
      </ul>
    </div>

    <hr />

    <h4 class="text-center"><%= t('volunteer_program.opportunities.header') %></h4>
    <div class="col-lg-8 mx-auto">
      <ul>
        <li><%= t('volunteer_program.opportunities.point_1') %></li>
        <li><%= t('volunteer_program.opportunities.point_2') %></li>
        <li><%= t('volunteer_program.opportunities.point_3') %></li>
        <li><%= t('volunteer_program.opportunities.point_4') %></li>
        <li><%= t('volunteer_program.opportunities.point_5') %></li>
        <li><%= t('volunteer_program.opportunities.point_6') %></li>
        <li><%= t('volunteer_program.opportunities.point_7') %></li>
        <li><%= t('volunteer_program.opportunities.point_8') %></li>
      </ul>
    </div>
    <br />
  </div>
</section>

<hr />

<section>
  <div class="col-lg-8 mx-auto">
    <br/>

    <h2 class="text-center"><%= t('volunteer_program.info.header') %></h2>
    <br>

    <p>
      <%= t('volunteer_program.info.paragraph_1') %>
    </p>

    <p>
      <%= t('volunteer_program.info.paragraph_2') %>
    </p>

    <p>
      <%= t('volunteer_program.info.paragraph_3') %>
    </p>

    <p>
      <%= t('volunteer_program.info.paragraph_4') %>
    </p>

    <div class="row">
      <div class="col-md-6">
        <%= image_tag('volunteer/skill.png', class: 'img-fluid float-end', alt: 'Diagram') %>
      </div>
      <div class="col-md-6">
        <%= image_tag('volunteer/program.png', class: 'img-fluid', alt: 'Diagram') %>
      </div>
    </div>
    <br>

    <p>
      <%= t('volunteer_program.info.paragraph_5') %>
    </p>

    <br>
    <%= image_tag('volunteer/pyramid.png', class: 'img-fluid', alt: 'Diagram') %>
    <br><br>

    <p>
      <%= t('volunteer_program.info.paragraph_6') %>
    </p>

    <p>
      <%= t('volunteer_program.info.footer').html_safe %>
    </p>

  </div>


</section>




