<section class="page-contents">
  <div class="text-center">

    <div class="container">
      <div class="row my-5">
        <div class="mx-auto col-md-4 text-center">
          <b>Total CCs:</b> <%= image_tag('cc.png', alt: 'CC', class: 'ccs') %>: <b><%= current_user.get_total_cc %></b>
          <br />
        </div>
        <div class="mx-auto col-md-4 text-center">
          <b>Total Hours Worked: <%= current_user.get_total_hours %></b>
        </div>
      </div>
      <hr class="my-5"/>

      <h2 class="fw-bold">CC and Hours</h2>

      <div class="row">
        <% if !@processed_volunteer_task_requests.blank? %>

          <input type="text" id="query-2" onkeyup="findSession('sessions-table-2', 'query-2')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

          <div class="table-responsive">
            <table class="table sessions-table-2">

              <tr>
                <th>Date Submitted <span onclick="sortTable('sessions-table-2', 0, true)"><%= fa_icon('arrow-down') %></span></th>
                <th>Date Updated <span onclick="sortTable('sessions-table-2', 1, true)"><%= fa_icon('arrow-down') %></span></th>
                <th>CC/Hours<span onclick="sortTable('sessions-table-2', 2)"><%= fa_icon('arrow-down') %></span></th>
                <th>Task<span onclick="sortTable('sessions-table-2', 3)"><%= fa_icon('arrow-down') %></span></th>
                <th>Status<span onclick="sortTable('sessions-table', 4)"><%= fa_icon('arrow-down') %></span></th>
              </tr>

              <tbody>
              <%= will_paginate @processed_volunteer_task_requests, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
              <% @processed_volunteer_task_requests.each do |vtr| %>
                <tr>
                  <td>
                    <%= vtr.created_at.strftime('%Y-%m-%d') %>
                    <br>
                    <%= vtr.created_at.strftime('%I:%M %p').downcase %>
                  </td>

                  <td>
                    <%= vtr.updated_at.strftime('%Y-%m-%d') %>
                    <br>
                    <%= vtr.updated_at.strftime('%I:%M %p').downcase %>
                  </td>

                  <td>
                    <%= image_tag('cc.png', alt: 'CC', class: 'ccs hidden', id: 'myCcBlack') %>
                    <%= vtr.volunteer_task.cc %>
                    <br />
                    <%= vtr.volunteer_task.hours %> hours
                  </td>

                  <td class = "username">
                    <%= link_to vtr.volunteer_task.title.capitalize, volunteer_task_path(vtr.volunteer_task.id) %>
                  </td>

                  <td>
                    <%= vtr.status %>
                  </td>

                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="m-5 mx-auto">
            No CC points and no hours worked.
          </div>
        <% end %>

      </div>

      <hr class="my-5"/>

      <h2 class="fw-bold">Skills</h2>



      <div class="row my-5">
        <div class="col-md-12">
          <div class="accordion">
            <% @skills.each do |skill| %>
              <div class="accordion-item" id="accordion-<%= skill.name %>">
                <div class="accordion-header accordion-button" id="header-<%= skill.name %>" type="button" data-bs-toggle="collapse" data-bs-target="#trainings-<%= skill.id %>" aria-expanded="false" aria-controls="trainings-<%= skill.id %>">
                  <h6 class="my-auto py-2  "><%= skill.name %></h6>
                </div>
                <div id="trainings-<%= skill.id %>" class="accordion-collapse collapse" aria-labelledby="header-<%= skill.name %>" data-bs-parent="#accordion-<%= skill.name %>">
                  <% skill.trainings.each do |training| %>
                    <div class="accordion" id="accordion-<%= training.name %>">
                      <div class="accordion-item">
                        <div class="accordion-header accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#training-<%= training.id %>" aria-expanded="false" aria-controls="training-<%= training.id %>">
                            <div class="col-4"></div>
                            <div class="col-4 text-center">
                              <button class="btn btn-link" type="button"><%= training.name %></button>
                            </div>
                            <div class="col-4">
                              <%= training_status(training.id, @user.id).html_safe %>
                            </div>
                        </div>

                        <div id="training-<%= training.id %>" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <% if training.description.present? %>
                              <div class="jumbotron card bg-light text-center text-wrap">
                                <%= training.description %>
                              </div>
                            <% end %>

                            <div class="row">
                              <% badge = @user.highest_badge(training) %>
                              <% unless badge.nil? %>
                                <div class="col-lg-4 text-center">
                                  <%= image_tag(badge.badge_template.image_url, alt: 'Badge', style: 'width: 150px') %>
                                </div>
                                <div class="col-lg-8 my-auto">
                                  <b><%= badge.badge_template.badge_name %>
                                    :</b> <%= badge.badge_template.badge_description %>
                                </div>
                                <div class="col-12 pt-2">
                                  <p>Skills Acquired: <b><%= badge.badge_template.list_of_skills %></b></p>
                                </div>
                              <% end %>
                            </div>
                            <p>Proficient Projects finished : <%= @proficient_projects_awarded.call(training).count %>
                              / <%= training.proficient_projects.count %></p>
                            <p>Learning Modules finished : <%= @learning_modules_completed.call(training).count %>
                              / <%= training.learning_modules.count %></p>
                            <p>Recomended hours before moving
                              on: <%= @recommended_hours.call(training, return_levels(training.id, @user.id)) %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
