<section class="text-center">
  <h1>Add a shadowing shift</h1>
  <%= form_with url: create_event_volunteers_path, method: :get do %>

    <div class="row">
      <div class="col">
        <label for="space_input">Space</label>
        <br>
        <select name="space" id="space_input" class="form-select" required>
          <option value="makerspace">Makerspace</option>
          <option value="brunsfield centre">Brunsfield Centre</option>
        </select>
      </div>
      <div class="col">
        <%= label_tag :user_id, "User" %>
        <%= select_tag(:user_id, {prompt: "Choose User..."} , {:class => "user_select form-control", :id => "user_select"}) %>
        <br>
      </div>
    </div>

      <br><br>

    <div class="input-group">
        <%= text_field_tag "datepicker_start", nil, autocomplete: 'off', class: "form-control w-25 d-inline-block" %>
        <span>&emsp;TO&emsp;</span>
        <%= text_field_tag "datepicker_end", nil, autocomplete: 'off', class: "form-control w-25 d-inline-block" %>
    </div>

    <br>

    <%= submit_tag "Add Event", class: "btn btn-primary" %>

  <% end %>
</section>
