<section class="page-contents">
  <div class="edit-column text-center">

    <h2>List of Volunteers</h2>
    <h5>Total active volunteers: <b><%= @active_volunteers.count%></b></h5>
    <h5>Total unactive volunteers: <b><%= @unactive_volunteers.count%></b></h5>

    <% if !@active_volunteers.blank? %>
      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find ..." class="form-control mx-auto">

      <br />

      <h5>Active Volunteers</h5>

      <div class="table-responsive">
        <table class="table sessions-table table-striped">

          <tr>
            <th>Name<span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Email<span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Tasks<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Year<span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
            <th>Program<span onclick="sortTable('sessions-table', 4)"><%=fa_icon('arrow-down')%></span></th>
            <th>Certifications<span onclick="sortTable('sessions-table', 5)"><%=fa_icon('arrow-down')%></span></th>
          </tr>

          <tbody>
          <% @active_volunteers.each do |v| %>
            <tr>
              <td class = "username">
                <%= link_to v.name.capitalize, user_path(v.username) %>
              </td>
              <td>
                <%= v.email %>
              </td>
              <td class="volunteer_task">
                <% v.volunteer_task_joins.active.each do |vtj| %>
                  <%= link_to vtj.volunteer_task.title, volunteer_task_path(vtj.volunteer_task.id) %>
                  <br />
                <% end %>
              </td>
              <td>
                <%= v.year_of_study %>
              </td>
              <td>
                <%= v.program %>
              </td>
              <td>
                <% v.certifications.each do |cert| %>
                  <b><%= cert.training.name %></b>
                  (<%= cert.training_session.level %>)
                  <br />
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    <% else %>
      <div class="m-5">
        There's no active volunteers.
      </div>
    <% end %>

    <% if !@unactive_volunteers.blank? %>
      <input type="text" id="query-2" onkeyup="findSession('sessions-table')" placeholder="Find ..." class="form-control mx-auto">

      <br />

      <h5>Unactive Volunteers</h5>

      <div class="table-responsive">
        <table class="table sessions-table-2 table-striped">

          <tr>
            <th>Name<span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Email<span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Tasks<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Year<span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
            <th>Program<span onclick="sortTable('sessions-table', 4)"><%=fa_icon('arrow-down')%></span></th>
            <th>Certifications<span onclick="sortTable('sessions-table', 5)"><%=fa_icon('arrow-down')%></span></th>
          </tr>

          <tbody>
          <% @unactive_volunteers.each do |v| %>
            <tr>
              <td class = "username">
                <%= link_to v.name.capitalize, user_path(v.username) %>
              </td>
              <td>
                <%= v.email %>
              </td>
              <td class="volunteer_task">
                <% v.volunteer_task_joins.each do |vtj| %>
                  <%= link_to vtj.volunteer_task.title, volunteer_task_path(vtj.volunteer_task.id) %>
                  <br />
                <% end %>
              </td>
              <td>
                <%= v.year_of_study %>
              </td>
              <td>
                <%= v.program %>
              </td>
              <td>
                <% v.certifications.each do |cert| %>
                  <b><%= cert.training.name %></b>
                  (<%= cert.training_session.level %>)
                  <br />
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    <% else %>
      <div class="m-5">
        There's no unactive volunteers.
      </div>
    <% end %>
  </div>
</section>
