<section>
  <h1 class="display-1 text-center fw-bold mt-5"> <%= t('devprog.view_badges.title_1') %> </h1>
  <h4 class="text-uppercase mt-5 fw-bold"> <%= t('devprog.view_badges.digital') %> </h2>
      <br>
    <% if @digital_certs.empty? %>
        <h5 class="text-muted"><%= t('devprog.view_badges.none_yet') %></h5>
    <% end %>
    <div class="d-flex gap-4 flex-wrap">
        <% @digital_certs.each do |cert| %>
        <a target="_blank" href="/badges/<%= cert.id %>">
            <%= render "badges/badge_icon", width: 200, height: 200, level: cert.level, name: cert.training.localized_name, skill: cert.training.skill_id %>
            <br/>
        </a>
        <% end %>
    </div>
    <br>
    <h4 class="text-uppercase mt-5 fw-bold"> <%= t('devprog.view_badges.manu') %> </h2>
        <br>
    <% if @manu_certs.empty? %>
        <h5 class="text-muted"><%= t('devprog.view_badges.none_yet') %></h5>
    <% end %>
    <div class="d-flex gap-4 flex-wrap">
        <% @manu_certs.each do |cert| %>
        <a target="_blank" href="/badges/<%= cert.id %>">
            <%= render "badges/badge_icon", width: 200, height: 200, level: cert.level, name: cert.training.localized_name, skill: cert.training.skill_id %>
            <br/>
        </a>
        <% end %>
    </div>
    <br>
    <h4 class="text-uppercase mt-5 fw-bold"> <%= t('devprog.view_badges.prof') %> </h2>
        <br>
    <% if @prof_certs.empty? %>
        <h5 class="text-muted"><%= t('devprog.view_badges.none_yet') %></h5>
    <% end %>
    <div class="d-flex gap-4 flex-wrap">
        <% @prof_certs.each do |cert| %>
        <a target="_blank" href="/badges/<%= cert.id %>">
            <%= render "badges/badge_icon", width: 200, height: 200, level: cert.level, name: cert.training.localized_name, skill: cert.training.skill_id %>
            <br/>
        </a>
        <% end %>
    </div>
    <br>
    <br>
    <h1 class="display-1 text-center fw-bold"> <%= t('devprog.view_badges.title_2') %> </h1>

    <h4 class="text-uppercase mt-5 fw-bold"> <%= t('devprog.view_badges.digital') %> </h2>
      <br>
    <% if @digital_trainings.empty? %>
        <h5 class="text-muted"><%= t('devprog.view_badges.all_acq') %></h5>
    <% end %>
    <div class="d-flex gap-4 flex-wrap">
        <% @digital_trainings.each do |cert| %>

            <%= render "badges/badge_icon", width: 200, height: 200, level: "none", name: cert.localized_name, skill: cert.skill_id %>
            <br/>
        <% end %>
    </div>
    <br>
    <h4 class="text-uppercase mt-5 fw-bold"> <%= t('devprog.view_badges.manu') %> </h2>
        <br>
    <% if @manu_trainings.empty? %>
        <h5 class="text-muted"><%= t('devprog.view_badges.all_acq') %></h5>
    <% end %>
    <div class="d-flex gap-4 flex-wrap">
        <% @manu_trainings.each do |cert| %>

            <%= render "badges/badge_icon", width: 200, height: 200, level: "none", name: cert.localized_name, skill: cert.skill_id %>
            <br/>
        <% end %>
    </div>
    <br>
    <h4 class="text-uppercase mt-5 fw-bold"> <%= t('devprog.view_badges.prof') %> </h2>
        <br>
    <% if @prof_trainings.empty? %>
        <h5 class="text-muted"><%= t('devprog.view_badges.all_acq') %></h5>
    <% end %>
    <div class="d-flex gap-4 flex-wrap">
        <% @prof_trainings.each do |cert| %>

            <%= render "badges/badge_icon", width: 200, height: 200, level: "none", name: cert.localized_name, skill: cert.skill_id %>
            <br/>
        <% end %>
    </div>
</section>
