<section id="developmentIndex">
    <div class="jumbotron developmentJumbotron">
        <h1 class="display-1">Earn officially credited certificates with <span class="text-primary">CEED</span></h1>
        <p>The development program...</p>
        <%= link_to 'Join the volunteering program', join_volunteer_program_volunteers_path, class: 'btn btn-primary' %>
    </div>
    <div class="shadow">
        <%= render partial: 'layouts/development_program_header' %>
    </div>
    <div class="p-3 my-5 container-lg">
        <div class="row">
            <div class="col-lg-6">
                <p class="fs-4 text-primary fw-bold text-uppercase">Hungry for more: What's next?</p>
                <h2 class="mb-5 display-5">Expand employment opportunities by earning certificates with <span class="text-primary">CEED</span></h2>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="header1"></div>
                <%#= image_tag 'development_program/header1.png'%>
            </div>
        </div>
        <!-- This block has awful layout, hope it works on safari :^) -->
        <div class="row g-3 my-5">
            <div class="col-lg-4">
                <div class="linkBox">
                    <h2>Learning Area</h2>
                    <p>You can learn from all these projects for free. Some of them are a pre-requisite for other projects in the Proficient Projects Area.</p>
                    <%= link_to 'New module', new_learning_area_path %>
                    <%= link_to 'All modules', learning_area_index_path %>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="linkBox">
                    <h2>Proficient Projects</h2>
                    <p>These projects are more advanced and not free. You can either purchase it with your credit card or use your CC points.</p>
                    <%= link_to 'Requests', requests_proficient_projects_path %>
                    <%= link_to 'New project', new_proficient_project_path %>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="linkBox">
                    <h2>Learning Area</h2>
                    <p>Enhance your technical skills with our development program. Unlock new challenges as you progress, and earn digital badges for completing proficiency projects.</p>
                    <%= link_to 'Skills', skills_development_programs_path %>
                    <%= link_to 'Badges', badges_path %>
                    <%= link_to 'Badges requests', admin_badges_path %>
                    <%= link_to 'Grant/Revoke badge to user', new_badge_badges_path %>
                </div>
            </div>
        </div>
        <p class="fs-3 fw-bold m-3">Our modular Development Program is designed to plan, track, and accredit your skill development effortlessly. The Development Program will make use of industry standardized certificates that are convenient to share, and electronically verifiable for your future employers.</p>
    </div>
    <!-- FIXME make this the secondary color(?) -->
    <div class="bg-body-tertiary p-3 text-center text-uppercase">
        <h2 class="text-uppercase mt-5">Digital Badges</h2>
        <p class="fs-3 fw-bold text-primary">Example of what employeers see on each badge profile</p>
        <div class="row mb-5">
            <div class="col-lg-6">
                <%= image_tag 'development_program/1.png', class: 'w-100' %>
            </div>
            <div class="col-lg-6">
                <div class="row row-cols-lg-3 g-3">
                    <div class="col">
                        <div class="linkBox">
                            <h4>Digital Technologies</h4>
                            <a class="linkPill">3D Printing</a>
                            <a class="linkPill">Laser Cutting</a>
                            <a class="linkPill">Arduino</a>
                            <a class="linkPill">Soldering</a>
                            <a class="linkPill">Virtual Reality</a>
                            <a class="linkPill" >Embroidery</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="linkBox">
                            <h4>Professional Development</h4>
                            <a class="linkPill">Design Thinking</a>
                            <a class="linkPill">Entrepreneurship basics</a>
                            <a class="linkPill">Project Management</a>
                            <a class="linkPill">Effective Communication (Written and Oral)</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="linkBox">
                            <h4>Manufacturing Technologies</h4>
                            <a class="linkPill">Shop Fundamentals</a>
                            <a class="linkPill">Lathe</a>
                            <a class="linkPill">Mill</a>
                            <a class="linkPill">CNC</a>
                            <a class="linkPill">Welding</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg mt-5">
        <div class="row row-cols-lg-2 mb-5">
            <div>
                <p class="fs-2 fw-bold text-uppercase">Volunteer</p>
                <p class="fs-5">Volunteering is a great way to gain valuable skills and boost self-confidence while making a difference. Our enhanced development program will guide volunteers through more challenging tasks, helping them grow and earn rewards along the way. Learn more about how the volunteer program works by clicking here.</p>
                <%= link_to 'More about volunteering', volunteers_path, class: 'header2' %>
            </div>
            <div>
                <h3>Volunteers can now:</h3>
                <ul class="ps-0" style="list-style-position: inside;">
                    <li class="linkBox">Unlock different tasks based on their skill level</li>
                    <li class="linkBox">Track their skill progress through their MakerRepo account.</li>
                    <li class="linkBox">Each task will reward CEED Credit (CC) to be used in our makerstore</li>
                    <li class="linkBox">Each task will have predetermined hours to be rewarded upon completion</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-body-tertiary p-3">
        <div class="container-lg">
            <p class="fs-2 fw-bold text-center text-uppercase">Employment</p>
            <p class="fs-3 fw-bold text-center text-primary">CEED development program will make you more attractive to employers. </p>
            <div class="row row-cols-lg-2 my-5">
                <div class="align-content-center">
                    <p class="fs-3 fw-bold m-3">Proficiency badges and trainings will offer you an opportunity to find employment opportunities within CEED and other organizations. CEED hires over 50 students every term in addition to 15 TAs for the courses.</p>
                </div>
                <!-- <div class="header3">
                     </div> -->
                <%= image_tag 'development_program/header3.png', class: 'img-fluid' %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box-subtext mt-5">
            <h2>Do you want to know more?</h2>
            <p>For any questions, email us at: <a href="mailto:volunteer@makerepo.com">lolmail@makerepo.com</a></p>
        </div>
    </div>
</section>
