<% provide :title, t('devprog.title') %>
<section id="developmentIndex" class="mt-n3">
    <div class="jumbotron developmentJumbotron">
        <h1 class="display-1"><%= sanitize(t('devprog.header')) %></h1>
        <%= tag.p t('devprog.subtext') %>
        <%= link_to t('devprog.join_button'), join_development_program_development_programs_path, class: 'btn btn-primary' %>
    </div>
    <div class="shadow">
        <%= render partial: 'layouts/development_program_header' %>
    </div>
    <div class="p-3 my-5 container-lg">
        <div class="row">
            <div class="col-lg-6">
                <p class="fs-4 text-primary fw-bold text-uppercase"><%= t('devprog.block1.title') %></p>
                <h2 class="mb-5 display-5"><%= sanitize(t('devprog.block1.subtext')) %></h2>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="header1"></div>
                <%#= image_tag 'development_program/header1.png'%>
            </div>
        </div>
        <!-- This block has awful layout, hope it works on safari :^) -->
        <div class="row g-3 my-5">
            <div class="col-lg-4">
                <div class="linkBox d-flex flex-column">
                    <h2><%= t('devprog.nav.learning_area') %></h2>
                    <p class="flex-grow-1"><%= t('devprog.block1.learning_area') %></p>
                    <!-- Use the navbar localizations, I think this is just the navbar in block form -->
                    <% if current_user.role == "admin" %>
                        <%= link_to t('devprog.nav.new_module'), new_learning_area_path %>
                    <% end %>
                    <%= link_to t('devprog.nav.all_modules'), learning_area_index_path %>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="linkBox d-flex flex-column">
                    <h2><%= t('devprog.nav.proficient_projects') %></h2>
                    <p class="flex-grow-1"><%= t('devprog.block1.proficient_projects') %></p>
                    <% if current_user.role == "staff" || current_user.role == "admin" %>
                        <%= link_to t('devprog.nav.requests'), requests_proficient_projects_path %>
                    <% end %>
                    <% if current_user.role == "admin" %>
                        <%= link_to t('devprog.nav.new_project'), new_proficient_project_path %>
                    <% end %>
                    <%= link_to t('devprog.nav.all_projects'), requests_proficient_projects_path %>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="linkBox d-flex flex-column">
                    <h2><%= t('devprog.nav.badges') %></h2>
                    <p class="flex-grow-1"><%= t('devprog.block1.skills_badges') %></p>
                    <div class="align-bottom">
                    <%= link_to t('devprog.nav.badges_view'), all_badges_development_programs_path %>
                    <% if current_user.role == "admin" %>
                        <%= link_to t('devprog.nav.badges_search'), badges_path %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 g-5 text-center justify-content-center sequence">
            <div class="col-lg-3">
                <%= image_tag 'development_program/seq-1.png', class: 'img-fluid' %>
                <p><%= t('devprog.block1.sequence.one') %></p>
            </div>
            <div class="col-lg-1 align-content-center">
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="col-lg-3">
                <%= image_tag 'development_program/seq-2.png', class: 'img-fluid' %>
                <p><%= t('devprog.block1.sequence.two') %></p>
            </div>
            <div class="col-lg-1 align-content-center">
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="col-lg-3">
                <%= image_tag 'development_program/seq-3.png', class: 'img-fluid' %>
                <p><%= t('devprog.block1.sequence.three') %></p>
            </div>
        </div>
        <p class="text-primary text-center fw-bold fs-3 mb-5"><%= t('devprog.block1.sequence.text') %></p>
        <p class="fs-3 fw-bold m-3"><%= t('devprog.block1.footer') %></p>
    </div>
    <div class="bg-body-tertiary py-5">
        <div class="container-lg">
            <!-- Header -->
            <div class="text-center mb-5">
                <h2 class="text-uppercase mt-3"><%= t('devprog.digital_badges.title') %></h2>
                <p class="fs-4 fw-bold text-primary"><%= t('devprog.digital_badges.subtitle') %></p>
            </div>

            <!-- Learn It / Earn It / Share It -->
            <div class="arrow-container d-flex flex-wrap justify-content-center mb-5 gap-2 gap-md-0">
                <div class="arrow-box-wrapper">
                    <div class="arrow-box"><%= t('devprog.digital_badges.learn_it') %></div>
                </div>
                <div class="arrow-box-wrapper">
                    <div class="arrow-box"><%= t('devprog.digital_badges.earn_it') %></div>
                </div>
                <div class="arrow-box-wrapper">
                    <div class="arrow-box arrow-box-last"><%= t('devprog.digital_badges.share_it') %></div>
                </div>
            </div>  

            <!-- Display Achievements Text -->
            <p class="fs-4 fw-bold text-center mb-5"><%= t('devprog.digital_badges.display_achievements') %></p>

            <!-- Badge Cards -->
            <div class="row g-4 justify-content-center">
                <!-- Digital Tech Badge -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body text-center">
                            <div class="mb-3">
                                <%= render 'badges/badge_icon', width: 120, height: 120, name: "Digital Tech", skill: 2, level: "none" %>
                            </div>
                            <h4 class="card-title"><%= t('devprog.digital_badges.categories.digital_tech.title') %></h4>
                            <ul class="list-unstyled text-start mt-3">
                                <% t('devprog.digital_badges.categories.digital_tech.items').each do |item| %>
                                    <li class="mb-2"><%= item %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Professional Development Badge -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body text-center">
                            <div class="mb-3">
                                <%= render 'badges/badge_icon', width: 120, height: 120, name: "Professional Development", skill: 3, level: "none" %>
                            </div>
                            <h4 class="card-title"><%= t('devprog.digital_badges.categories.professional_dev.title') %></h4>
                            <ul class="list-unstyled text-start mt-3">
                                <% t('devprog.digital_badges.categories.professional_dev.items').each do |item| %>
                                    <li class="mb-2"><%= item %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Manufacturing Tech Badge -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <div class="card-body text-center">
                            <div class="mb-3">
                                <%= render 'badges/badge_icon', width: 120, height: 120, name: "Manufacturing Tech", skill: 1, level: "none" %>
                            </div>
                            <h4 class="card-title"><%= t('devprog.digital_badges.categories.manufacturing_tech.title') %></h4>
                            <ul class="list-unstyled text-start mt-3">
                                <% t('devprog.digital_badges.categories.manufacturing_tech.items').each do |item| %>
                                    <li class="mb-2"><%= item %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg mt-5">
        <div class="row row-cols-lg-2 mb-5">
            <div>
                <p class="fs-2 fw-bold text-uppercase"><%= t('devprog.volunteer.title') %></p>
                <p class="fs-5"><%= t('devprog.volunteer.text') %></p>
                <%= link_to t('devprog.volunteer.more_link'), volunteers_path, class: 'header2' %>
            </div>
            <div>
                <h3><%= t('devprog.volunteer.list_header') %></h3>
                <ul class="ps-0" style="list-style-position: inside;">
                    <% t('devprog.volunteer.list').each do |l| %>
                        <li class="linkBox"><%= l %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-body-tertiary p-3">
        <div class="container-lg">
            <p class="fs-2 fw-bold text-center text-uppercase"><%= t('devprog.employment.title') %></p>
            <p class="fs-3 fw-bold text-center text-primary"><%= t('devprog.employment.subtitle') %></p>
            <div class="row row-cols-lg-2 my-5">
                <div class="align-content-center">
                    <p class="fs-3 fw-bold m-3"><%= t('devprog.employment.text') %></p>
                </div>
                <%= image_tag 'development_program/header3.png', class: 'img-fluid' %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box-subtext mt-5">
            <h2><%= t('devprog.more.header') %></h2>
            <p><%= sanitize(t('devprog.more.text')) %></p>
        </div>
    </div>
</section>