<section>
  <div class="col-lg-10 mx-auto">
    <br/>

    <h2 class="text-center"><%= t('development_program.header') %></h2>
    <br>

    <% unless not signed_in? or @user.dev_program? %>

    <div class="h-100 p-4 bg-light border rounded-3 mb-2 text-center">
      <h2><%= t('development_program.not_in_dev_program.header').html_safe %></h2>
      <p><%= t('development_program.not_in_dev_program.content').html_safe %></p>
      <p><%= t('development_program.not_in_dev_program.link').html_safe %></p>
    </div>

    <% end %>

    <h3 class="text-center text-muted"><%= t('development_program.overview.header') %></h3>
    <p>
      <%= t('development_program.overview.paragraph') %>

      <%= image_tag('development_program/ceed_volunteering.png', class: 'img-fluid', alt: 'Diagram for the steps of volunteering') %>

    </p>

    <h4 class="mt-3 text-center text-muted"><%= t('development_program.learning_area.header').html_safe %></h4>

    <p>
      <%= t('development_program.learning_area.paragraph') %>
    </p>

    <h4 class="mt-3 mt-3 text-center text-muted"><%= t('development_program.proficient_projects.header').html_safe %></h4>

    <p>
      <%= t('development_program.proficient_projects.paragraph') %>
    </p>

    <h4 class="mt-3 mt-3 text-center text-muted"><%= t('development_program.skills_badges.header').html_safe %></h4>

    <p>
      <%= t('development_program.skills_badges.paragraph') %>
    </p>
    <p><b><%= t('development_program.skills_badges.footer').html_safe %>.</b></p>

    <h3 class="mt-3 mt-3 text-center text-muted"><%= t('development_program.digital_badges.header') %></h3>
    <p class="text-center"><b>
      <%= t('development_program.digital_badges.example').html_safe %>
    </b></p>
    <div class="text-center">
    <%= image_tag('development_program/1.png', class: 'img-fluid mx-auto', alt: 'Diagram explaining the steps for the badges, Learn it, Earn it, Share it') %>
    </div>
    <br/>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <%= t('development_program.digital_badges.tables.digital_technologies.title') %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.digital_technologies.3d_printing') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.digital_technologies.laser_cutting') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.digital_technologies.arduino') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.digital_technologies.soldering') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.digital_technologies.virtual_reality') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.digital_technologies.embroidery') %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <%= t('development_program.digital_badges.tables.professional_development.title') %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.professional_development.design_thinking') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.professional_development.entrepreneurship_basics') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.professional_development.project_management') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.professional_development.effective_communication') %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <%= t('development_program.digital_badges.tables.manufacturing_technologies.title') %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.manufacturing_technologies.shop_fundamentals') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.manufacturing_technologies.lathe') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.manufacturing_technologies.mill') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.manufacturing_technologies.cnc') %></li>
            <li class="list-group-item"><%= t('development_program.digital_badges.tables.manufacturing_technologies.welding') %></li>
          </ul>
        </div>
      </div>
    </div>

    <h3 class="mt-3 mt-3 text-center text-muted"><%= t('development_program.volunteer.header') %></h3>
    <p>
      <%= t('development_program.volunteer.paragraph_1') %>
    </p>
    <p>
      <%= t('development_program.volunteer.paragraph_2') %>
    </p>
    <p><b><%= t('development_program.volunteer.list.title') %></b></p>
    <ul style="list-style-type: disc!important;">
      <li><%= t('development_program.volunteer.list.point_1') %></li>
      <li><%= t('development_program.volunteer.list.point_2') %></li>
      <li><%= t('development_program.volunteer.list.point_3') %></li>
      <li><%= t('development_program.volunteer.list.point_4') %></li>
    </ul>
    <p>
      <%= t('development_program.volunteer.paragraph_3').html_safe %>
    </p>

    <h3 class="mt-3 mt-3 text-center text-muted"><%= t('development_program.courses.header') %></h3>
    <p><%= t('development_program.courses.paragraph_1') %></p>
    <p>
      <%= t('development_program.courses.paragraph_2') %>
    </p>
    <br>
    <p><b><%= t('development_program.courses.requirement_list.title') %></b></p>
    <ul style="list-style-type: disc!important;">
      <li><%= t('development_program.courses.requirement_list.point_1') %></li>
      <li><%= t('development_program.courses.requirement_list.point_2') %></li>
      <li><%= t('development_program.courses.requirement_list.point_3') %></li>
      <li><%= t('development_program.courses.requirement_list.point_4') %></li>
    </ul>
    <br>
    <p><b><%= t('development_program.courses.on_completion_list.title') %></b></p>
    <ul style="list-style-type: disc!important;">
      <li><%= t('development_program.courses.on_completion_list.point_1') %></li>
      <li><%= t('development_program.courses.on_completion_list.point_2') %></li>
    </ul>
    <p>
      <%= t('development_program.courses.paragraph_3').html_safe %>
    </p>

    <h3 class="mt-3 mt-3 text-center text-muted"><%= t('development_program.employment.header') %></h3>
    <p>
      <%= t('development_program.employment.paragraph_1') %>
    </p>
    <p>
      <%= t('development_program.employment.paragraph_2') %>
    </p>

    <h3 class="mt-3 mt-3 text-center text-muted"><%= t('development_program.contact.header') %></h3>
    <p><%= t('development_program.contact.paragraph_1') %></p>
    <p><%= t('development_program.contact.contact_1').html_safe %></p>
    <p><%= t('development_program.contact.contact_2').html_safe %></p>
    <br>
  </div>
</section>

