<% provide :title, t('devprog.title') %>
<section id="developmentIndex">
    <div class="jumbotron developmentJumbotron">
        <h1 class="display-1"><%= t('devprog.header').html_safe %></h1>
        <%= tag.p t('devprog.subtext') %>
        <%= link_to t('devprog.join_button'), join_development_program_development_programs_path, class: 'btn btn-primary' %>
    </div>
    <div class="shadow">
        <%= render partial: 'layouts/development_program_header' %>
    </div>
    <div class="p-3 my-5 container-lg">
        <div class="row">
            <div class="col-lg-6">
                <p class="fs-4 text-primary fw-bold text-uppercase"><%= t('devprog.block1.title') %></p>
                <h2 class="mb-5 display-5"><%= t('devprog.block1.subtext').html_safe %></h2>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="header1"></div>
                <%#= image_tag 'development_program/header1.png'%>
            </div>
        </div>
        <!-- This block has awful layout, hope it works on safari :^) -->
        <div class="row g-3 my-5">
            <div class="col-lg-4">
                <div class="linkBox">
                    <h2><%= t('devprog.nav.learning_area') %></h2>
                    <p><%= t('devprog.block1.learning_area') %></p>
                    <!-- Use the navbar localizations, I think this is just the navbar in block form -->
                    <%= link_to t('devprog.nav.new_module'), new_learning_area_path %>
                    <%= link_to t('devprog.nav.all_modules'), learning_area_index_path %>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="linkBox">
                    <h2><%= t('devprog.nav.proficient_projects') %></h2>
                    <p><%= t('devprog.block1.proficient_projects') %></p>
                    <%= link_to t('devprog.nav.requests'), requests_proficient_projects_path %>
                    <%= link_to t('devprog.nav.new_project'), new_proficient_project_path %>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="linkBox">
                    <h2><%= t('devprog.nav.skills_badges') %></h2>
                    <p><%= t('devprog.block1.skills_badges') %></p>
                    <%= link_to "Badge Templates", badge_templates_development_programs_path %>
                    <%= link_to t('devprog.nav.badges'), badges_path %>
                </div>
            </div>
        </div>
        <div class="row mt-5 g-5 text-center justify-content-center sequence">
            <div class="col-lg-3">

                <%= image_tag 'development_program/seq-1.png', class: 'img-fluid' %>
                <p><%= t('devprog.block1.sequence.one') %></p>
            </div>
            <div class="col-lg-1 align-content-center">
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="col-lg-3">
                <%= image_tag 'development_program/seq-2.png', class: 'img-fluid' %>
                <p><%= t('devprog.block1.sequence.two') %></p>
            </div>
            <div class="col-lg-1 align-content-center">
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="col-lg-3">
                <%= image_tag 'development_program/seq-3.png', class: 'img-fluid' %>
                <p><%= t('devprog.block1.sequence.three') %></p>
            </div>
        </div>
        <p class="text-primary text-center fw-bold fs-3 mb-5"><%= t('devprog.block1.sequence.text') %></p>
        <p class="fs-3 fw-bold m-3"><%= t('devprog.block1.footer') %></p>
    </div>
    <div class="bg-body-tertiary p-3 text-center text-uppercase">
        <h2 class="text-uppercase mt-5"><%= t('devprog.digital_badges.title') %></h2>
        <p class="fs-3 fw-bold text-primary"><%= t('devprog.digital_badges.subtitle') %></p>
        <div class="row mb-5">
            <div class="col-lg-6">
                <%= image_tag 'development_program/1.png', class: 'w-100' %>
            </div>
            <div class="col-lg-6">
                <div class="row row-cols-lg-3 g-3">
                    <div class="col">
                        <div class="linkBox">
                            <h4>Digital Technologies</h4>
                            <ul>
                              <li>3D Printing</li>
                              <li>Laser Cutting</li>
                              <li>Arduino</li>
                              <li>Soldering</li>
                              <li>Virtual Reality</li>
                              <li>Embroidery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="linkBox">
                            <h4>Professional Development</h4>
                            <ul>
                              <li>Design Thinking</li>
                              <li>Entrepreneurship basics</li>
                              <li>Project Management</li>
                              <li>Effective Communication (Written and Oral)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="linkBox">
                            <h4>Manufacturing Technologies</h4>
                            <ul>
                              <li>Shop Fundamentals</li>
                              <li>Lathe</li>
                              <li>Mill</li>
                              <li>CNC</li>
                              <li>Welding</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg mt-5">
        <div class="row row-cols-lg-2 mb-5">
            <div>
                <p class="fs-2 fw-bold text-uppercase"><%= t('devprog.volunteer.title') %></p>
                <p class="fs-5"><%= t('devprog.volunteer.text') %></p>
                <%= link_to 'More about volunteering', volunteers_path, class: 'header2' %>
            </div>
            <div>
                <h3><%= t('devprog.volunteer.list_header') %></h3>
                <ul class="ps-0" style="list-style-position: inside;">
                    <% t('devprog.volunteer.list').each do |l| %>
                        <li class="linkBox"><%= l %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-body-tertiary p-3">
        <div class="container-lg">
            <p class="fs-2 fw-bold text-center text-uppercase"><%= t('devprog.employment.title') %></p>
            <p class="fs-3 fw-bold text-center text-primary"><%= t('devprog.employment.subtitle') %></p>
            <div class="row row-cols-lg-2 my-5">
                <div class="align-content-center">
                    <p class="fs-3 fw-bold m-3"><%= t('devprog.employment.text') %></p>
                </div>
                <%= image_tag 'development_program/header3.png', class: 'img-fluid' %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box-subtext mt-5">
            <h2><%= t('devprog.more.header') %></h2>
            <p><%= t('devprog.more.text').html_safe %></p>
        </div>
    </div>
</section>
