<section>
  <div class="text-center">
    <h2 class="pt-3"><b>Skills</b></h2>
    <div class="row mx-auto">

      <div class="col-md-12">
        <% @skills.each do |skill| %>

          <h2 class="mt-4"><%= skill.name %></h2>

          <% skill.trainings.each do |training| %>

              <div class="accordion">
                <div class="card">
                  <div class="card-header" type="button" data-toggle="collapse" data-target="#training-<%= training.id %>">
                    <div class="row">
                      <div class="col-4 float-right"></div>
                      <div class="col-4">
                        <button class="btn btn-link" type="button"><%= training.name %></button>
                      </div>
                      <div class="col-4">
                        <%= training_status(training.id, current_user.id).html_safe %>
                      </div>
                    </div>
                  </div>

                  <div id="training-<%= training.id %>" class="collapse">
                    <div class="card-body">
                      <% if training.description.present? %>
                        <div class="jumbotron text-center text-wrap">
                          <%= training.description %>
                        </div>
                      <% end %>
                      <div class="row">
                        <%# pp = @proficient_projects_awarded.call(training).joins(:badge_template).where(level: ProficientProject.training_status(training.id, current_user.id)).order(created_at: :desc)&.last %>
                        <%# badge = current_user.badges.joins(:certification => :training_session).where(training_sessions: {training_id: training.id, level: ProficientProject.training_status(training.id, current_user.id)})&.last %>
                        <% badge = current_user.highest_badge(training) %>
                        <% unless badge.nil? %>
                          <div class="col-md-3">
                            <%= image_tag(badge.badge_template.image_url, :style => "width: 200px") %>
                          </div>
                          <div class="col-md-9 my-auto">
                            <b><%= badge.badge_template.badge_name %>:</b> <%= badge.badge_template.badge_description %>
                          </div>
                          <div class="col-12">
                            <b>Skills Acquired:</b> <%= badge.badge_template.list_of_skills %>
                          </div>
                        <% end %>
                      </div>
                      <p>Proficient Projects finished : <%= @proficient_projects_awarded.call(training).count %> / <%= training.proficient_projects.count %></p>
                      <p>Learning Modules finished : <%= @learning_modules_completed.call(training).count %> / <%= training.learning_modules.count %></p>
                      <p>Recomended hours before moving on: <%= @recomended_hours.call(training, return_levels(training.id, current_user.id)) %></p>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>

      <% @certifications.each do |cert| %>
        <div class="col-md-3 text-center my-3">
          <b><%= cert.training.name %> </b> <br/>
          <%= image_tag(cert.get_badge_path, class: "skills-badges") %>
          <br/>
          <%= cert.training_session.level %>
        </div>
        <br/>
        <br/>
        <br/>
      <% end %>

      <% @remaining_trainings.each do |training| %>
        <div class="col-md-3 text-center my-3">
          <b><%= training.name %> </b> <br/>
          <%= image_tag("badges/none.png", class: "skills-badges") %>
          <br/>
          None
        </div>
      <% end %>
    </div>
  </div>
</section>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>