<section class="p-5">
  <div class="container text-center">
    <h2>Skills</h2>
    <div class="row my-5 mx-auto">

      <div class="col-md-12">
        <% @skills.each do |skill| %>

          <h2><%= skill.name %></h2>

          <% unless skill.trainings.present? %>
            <p>No trainings for this skill</p>
          <% end %>

          <% skill.trainings.each do |training| %>

              <div class="accordion">
                <div class="card m-3">
                  <div class="card-header">
                    <p style="float: right"><%= get_lower_level(training.id).html_safe %></p>
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#training-<%= training.id %>">
                        <%= training.name %>
                      </button>
                    </h2>
                  </div>

                  <div id="training-<%= training.id %>" class="collapse">
                    <div class="card-body">

                      <h3><b>Proficient Projects</b></h3>

                      <% if training.description.present? %>
                        <div class="jumbotron text-center text-wrap">
                          <%= training.description %>
                        </div>
                      <% end %>

                      <div class="row mx-auto">
                        <div class="col-md-6">
                          <h5><b>Badges Awarded:</b></h5>
                          <div class="d-inline">
                            <% @proficient_projects_awarded.call(training).each do |pp| %>
                              <%= image_tag(pp.badge_template.image_url, :style => "width: 100px") %>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <h5><b>Badges Missing:</b></h5>
                          <div class="d-inline">
                            <% @proficient_projects_missing.call(training).each do |pp| %>
                              <%= image_tag(pp.badge_template.image_url, :style => "width: 100px") if pp.badge_template.present? %>
                            <% end %>
                          </div>
                        </div>
                      </div>

                      <p>Modules finished : <%= @proficient_projects_awarded.call(training).count %> / <%= training.proficient_projects.count %></p>
                      <p>Next modules to complete :</p>
                      <ul>
                        <% get_next_pp(training.id).each do |next_module| %>
                          <li><%= link_to next_module.title, proficient_projects_path(search: next_module.title)%></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

          <% end %>

        <% end %>
      </div>

      <% @certifications.each do |cert| %>
        <div class="col-md-3 text-center my-3">
          <b><%= cert.training.name %> </b> <br/>
          <%= image_tag(cert.get_badge_path, class: "skills-badges") %>
          <br/>
          <%= cert.training_session.level %>
        </div>
        <br/>
        <br/>
        <br/>
      <% end %>

      <% @remaining_trainings.each do |training| %>
        <div class="col-md-3 text-center my-3">
          <b><%= training.name %> </b> <br/>
          <%= image_tag("badges/none.png", class: "skills-badges") %>
          <br/>
          None
        </div>
      <% end %>
    </div>
  </div>
</section>