<section>
  <div class="text-center">
    <h2 class="pt-3"><b>Skills</b></h2>
    <div class="row mx-auto">
      <div class="col-md-12">
        <% @skills.each do |skill| %>
          <div class="accordion" id="accordion-skill-<%= skill.id %>">
            <div class="accordion-item">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel-<%= skill.id %>" aria-expanded="false" aria-controls="panel-<%= skill.id %>">
                <h6 class="accordion-header" id="header-skill-<%= skill.id %>">
                    <%= skill.name %>
                  </h6>
                </button>
              <div id="panel-<%= skill.id %>" class="accordion-collapse collapse p-3" aria-labelledby="header-skill-<%= skill.id %>" data-bs-parent="accordion-skill-<%= skill.id %>">
                  <% skill.trainings.each do |training| %>
                    <div class="accordion" id="accordion-training-<%= training.id %>">
                      <div class="accordion-item">
                        <div class="accordion-header" id="header-training-<%= training.id %>">
                          <div class="accordion-button collapsed px-5" type="button" data-bs-toggle="collapse" data-bs-target="#training-<%= training.id %>" aria-expanded="false" aria-controls="training-<%= training.id %>">
                            <div class="col-4 float-end"></div>
                            <div class="col-4 text-center">
                              <button class="btn btn-link" type="button"><%= training.name %></button>
                            </div>
                            <div class="col-4 pe-3">
                              <%= training_status(training.id, current_user.id).html_safe %>
                            </div>
                          </div>
                        </div>
                        <div id="training-<%= training.id %>" class="accordion-collapse collapse" aria-labelledby="header-training-<%= training.id %>" data-bs-parent="accordion-training-<%= training.id %>">
                        <div class="accordion-body">
                          <% if training.description.present? %>
                            <div class="jumbotron card bg-light text-center text-wrap">
                              <%= training.description %>
                            </div>
                          <% end %>
                          <div class="row">
                            <% badge = current_user.highest_badge(training) %>
                            <% unless badge.nil? %>
                              <div class="col-md-3">
                                <%= image_tag(badge.badge_template.image_url, style: 'width: 200px', alt: 'Badge Picture') %>
                              </div>
                              <div class="col-md-9 my-auto">
                                <b><%= badge.badge_template.badge_name %>:</b> <%= badge.badge_template.badge_description %>
                              </div>
                              <div class="col-12">
                                <b>Skills Acquired:</b> <%= badge.badge_template.list_of_skills %>
                              </div>
                            <% end %>
                          </div>
                          <p>Proficient Projects finished : <%= @proficient_projects_awarded.call(training).count %> / <%= training.proficient_projects.count %></p>
                          <p>Learning Modules finished : <%= @learning_modules_completed.call(training).count %> / <%= training.learning_modules.count %></p>
                          <p>Recomended hours before moving on: <%= @recomended_hours.call(training, return_levels(training.id, current_user.id)) %></p>
                        </div>
                      </div>
                    </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mt-3 row row-cols-5">
        <% @certifications.each do |cert| %>
          <div class="col">
            <b><%= cert.training.name %> </b> <br/>
            <%= image_tag(cert.get_badge_path, class: 'skills-badges', alt: 'Medal image') %>
            <br/>
            <%= cert.training_session.level %>
          </div>
        <% end %>

        <% @remaining_trainings.each do |training| %>
          <div class="col">
            <b><%= training.name %> </b> <br/>
            <%= image_tag('badges/none.png', class: 'skills-badges', alt: 'No medal picture') %>
            <br/>
            None
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
