<div class="card home-card" id="home-userinfo">
    <% if signed_in? %>
    <div class="row">
        <div class="col gy-5 text-center">
            <%= image_tag @user.display_avatar, alt: 'Avatar' %>
            <%# why the '@', this isn't twitter%>
                                      <p class="subtext">@<%= @user.username %></p>
                                      <a class="btn btn-primary w-100">Edit Profile</a>
                                      <br />
                                      <a class="btn btn-link">Sign out</a>
        </div>
        <div class="col gy-5">
            <p class="full-name"><%= @user.name %></p>
            <p class="subtext"><%= @user.email %></p>
            <br />
            <p class="subtext"><%= @user.identity_readable %></p>
            <% if @user.student? %>
            <p><i class="fa fa-circle text-primary"></i> Student</p>
            <% end %>
            <% if @user.staff? %>
            <p><i class="fa fa-circle" style="color: blue;"></i> Staff</p>
            <% end %>
            <% if @user.admin? %>
            <p><i class="fa fa-circle" style="color: red;"></i> Admin</p>
            <% end %>
        </div>
    </div>
    <% else %>
    <div class="row my-5 text-center">
        <div class="col align-middle">
            <%= image_tag @user.display_avatar, alt: 'Avatar' %>
        </div>
        <div class="col d-flex flex-column justify-content-center text-start">
            <p class="full-name"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#popUpWindow" href=""><%= t('home.userinfo.sign_in') %></a></p>
            <p class="subtext"><%= t('home.userinfo.not_signed_in') %></p>
        </div>
    </div>
    <% end %>
</div>
