<div class="card home-card hide-on-mobile" id="home-userinfo">
    <% if signed_in? %>
    <div class="row">
        <div class="col gy-3 text-center">
            <%= image_tag @user.display_avatar, alt: 'Avatar', loading: 'lazy' %>
            <%# why the '@', this isn't twitter%>
            <p class="subtext">@<%= @user.username %></p>
            <%= link_to t('home.userinfo.edit_profile'), settings_profile_path, class: 'btn btn-primary w-100' %>
            <%= link_to t('home.userinfo.sign_out'), logout_path, class: 'btn btn-link' %>
        </div>
        <div class="col gy-3">
            <p class="full-name"><%= @user.name %></p>
            <p class="subtext"><%= @user.email %></p>
            <br />
            <p class="subtext"><%= @user.identity_readable %></p>
            <% if @user.student? %>
                <% ending = case @user.gender[0] when 'M' then 'm' when 'F' then 'f' else 'o' end %>
            <p><i class="fa fa-circle text-primary"></i> <%= t("home.userinfo.student.#{ending}") %></p>
            <% end %>
            <% if @user.staff? %>
            <p><i class="fa fa-circle" style="color: blue;"></i> <%= t('home.userinfo.staff') %></p>
            <% end %>
            <% if @user.admin? %>
            <p><i class="fa fa-circle" style="color: red;"></i> <%= t('home.userinfo.admin') %></p>
            <% end %>
        </div>
    </div>
    <% else %>
    <div class="row my-5 text-center">
        <div class="col align-middle">
            <%= image_tag @user.display_avatar, alt: 'Avatar' %>
        </div>
        <div class="col d-flex flex-column justify-content-center text-start">
            <p class="full-name"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" href="<%= login_path %>"><%= t('home.userinfo.sign_in') %></a></p>
            <p class="subtext"><%= t('home.userinfo.not_signed_in') %></p>
        </div>
    </div>
    <% end %>
</div>
