<div class="card home-card">
    <div class="card-body">
        <h2><%= t('home.development_program.header') %></h2>
        <% unless @user_tracks.empty? %>
        <ul class="list-unstyled list-box volunteer-task-list">
            <% @user_tracks.each do |track, completion, full| %>
            <li>
                <i class="fa fa-circle"></i> <span class="list-header"><%= track %></span> <%= completion %>
            </li>
            <% end %>
        </ul>
        <% else %>
        <p><%= t('home.development_program.no_devs') %></p>
        <% end %>
        <%= link_to t('home.show_more'), development_programs_path %>
    </div>
</div>
