<div class="card home-card">
    <div class="card-body">
        <h2>
            <b>Explore</b>
            <small class="text-muted" style="font-size: 0.6em;">
                <a href="/explore">Show all</a>
            </small>
        </h2>
        <p>Browse completed student projects.</p>
        <% if @recent_projects.present? %>
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% @recent_projects.each_slice(3).with_index do |projects, index| %>
                        <div class="carousel-item <%= 'active' if index == 0 %>">
                            <div style="display: flex; justify-content: center;">
                                <% projects.each do |project| %>
                                    <div style="margin: 0 10px; border: 1px solid #ddd; border-radius: 5px; padding: 10px; width: 200px;">
                                        <%= link_to repository_path(project.user_username, project.slug), style: 'text-decoration: none; color: inherit;' do %>
                                            <%= image_tag project.photos.first.image, alt: project.title, style: 'max-height: 225px; max-width: 100%; width: auto; height: auto; display: block; margin: 0 auto;' if project.photos.first.present? %>
                                            <div style="text-align: center; margin-top: 10px;">
                                                <h5 style="font-size: 1.1em; margin-bottom: 5px;"><%= project.title %></h5>
                                                <p style="color: #888; font-size: 0.9em;">by <%= project.user_username %></p>
                                            </div>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        <% else %>
            <p>No recent projects available.</p>
        <% end %>
    </div>
</div>
