<div class="card home-card">
    <div class="card-body">
        <h2 class="d-inline"><%= t('home.explore.header') %></h2>
        <%= link_to t('home.show_all'), explore_path %>
        <p><%= t('home.explore.subtext') %></p>
        <div class="row flex-nowrap">
            <button class="col-auto btn btn-link text-secondary fs-1" onclick="document.getElementById('exploreCarousel').scrollBy({left: -250, behavior: 'smooth'})"><i class="fa fa-angle-left"></i></button>
            <div class="col carouselCardPack" id="exploreCarousel">
                <div class="card-group d-flex flex-nowrap">
                    <% @recent_projects.take(8).each do |project| %>
                        <%= link_to repository_path(project.user_username, project.slug), class: 'card link-dark', target: '_blank', rel: 'noopener' do %>
                            <% if project.photos.empty? %>
                                <%= image_tag 'C_square.png', alt: project.title, class: 'card-img-top', loading: 'lazy' %>
                            <% else %>
                                <%= image_tag project.photos.first.image, alt: project.title, class: 'card-img-top object-fit-cover', loading: 'lazy' %>
                            <% end %>
                            <div class="card-body">
                                <p class="fs-5 card-title"><%= project.title.squish %></p>
                                <p class="card-text">by <%= project.user_username %></p>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <button class="col-auto btn btn-link text-secondary fs-1" onclick="document.getElementById('exploreCarousel').scrollBy({left: 250, behavior: 'smooth'})"><i class="fa fa-angle-right"></i></button>
        </div>
    </div>
</div>
