<div class="card home-card" id="home-hours">
    <div class="card-body px-0">
        <h2 class="my-3">
            <%= t('home.welcome.welcome_to') %>
            <% if signed_in? %>
                <span class="fw-semibold"><%= @user.name %></span>
            <% end %>
        </h2>

        <%= image_tag('redesign/site.jpg',
            alt: 'People watching a project demonstration in SITE',
            loading: 'lazy',
            class: 'w-100 rounded-top') %>

        <h3 class="text-center mt-4"><%= t('home.welcome.hour_header') %></h3>

        <div id="calendar"></div>
    </div>
</div>

<%= vite_javascript_tag 'fullcalendar_setup_homepage' %>