<div class="card home-card" id="home-hours">
    <div class="card-body">
        <h2 class="mb-3"> <%= t('home.welcome.welcome_to') %>
            <% if signed_in? %>
                <span class="text-secondary"><%= @user.name %></span>
            <% end %>
        </h2>
        <div class="row g-3">
            <div class="col-lg-4 overflow-clip hide-on-mobile">
                <%= image_tag('redesign/site.jpg', alt: 'People watching a project demonstration in SITE', loading: 'lazy') %>
            </div>
            <div class="col-lg-8 text-start align-self-start">
                    <h3 class="fw-bold"><%= link_to t('home.welcome.hour_header'), hours_url %></h3>
                <div class="row g-2">
                    <% @contact_info.each do |space| %>
                        <div class="col-lg">
                            <div class="border rounded p-3">
                            <h4><%= space.name %></h4>
                            <%= render partial: 'hours_embed', locals: { space: } %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
