<div class="card home-card hide-on-mobile">
    <div class="card-body">
        <h2 class="d-inline me-2"><%= t('home.badges.header') %></h2><%= link_to t('home.show_all'), "#{user_path(@user.username)}#badges-manager" %>
        <div class="text-nowrap overflow-auto">
            <% if @user.certifications.empty? %>
                <p><%= t('home.badges.no_badges') %></p>
                <p><%= link_to t('home.badges.no_badges_anchor'), development_programs_path %></p>
            <% else %>
            <% @user.certifications.each do |badge| %>
                <a style="width: 50px;" class="mx-auto w-100!important d-block" target="_blank" href="./badges/<%= badge.id %>">
                    <%= render "badges/badge_icon", width: 75, height: 75, margin: "auto", display: "block", level: badge.training_session.training.training_level, name_en: badge.training_session.training.name_en, name_fr: badge.training_session.training.name_fr, skill: badge.training_session.training.skill_id %>
                </a>
            <% end end %>
        </div>
    </div>
</div>
