<div class="card home-card home-shortcuts">
    <div class="card-body">
        <% if signed_in? %>
            <!-- User's Own Repositories Section -->
            <h2><%= t('home.shortcuts.my_repositories') %></h2>
            <% if current_user.repositories.any? %>
                <ul class="list-unstyled mb-4">
                    <% current_user.repositories.limit(5).each do |repository| %>
                        <li>
                            <a href="<%= repository_path(user_username: current_user.username, id: repository) %>">
                                <i class="fa fa-folder text-primary"></i> <%= repository.title %>
                            </a>
                        </li>
                    <% end %>
                </ul>
                <% if current_user.repositories.count > 5 %>
                    <%= link_to t('home.shortcuts.view_all_repos'), user_path(current_user), class: 'mb-3 d-block' %>
                <% end %>
            <% else %>
                <p><%= t('home.shortcuts.no_repositories') %></p>
                <%= link_to t('home.shortcuts.create_first_repo'), new_repository_path(user_username: current_user.username), class: 'btn btn-primary btn-sm mb-3' %>
            <% end %>

            <!-- Recently Opened Section -->
            <h2><%= t('home.shortcuts.recently_opened') %></h2>
            <ul class="list-unstyled mb-0">
                <% begin %>
                    <% JSON.parse(cookies[:recently_viewed]).each do |link, proj_name| %>
                        <li><a href="<%= link %>"><i class="fa fa-square text-secondary"></i> <%= proj_name %></a></li>
                    <% end %>
                <% rescue %>
                    <p><%= t('home.shortcuts.no_recently_opened') %></p>
                    <%= link_to t('home.shortcuts.explore_more'), explore_path %>
                <% end %>
            </ul>
        <% else %>
            <p class="guest-shortcuts"><%= t('home.shortcuts.ask_for_sign_in') %></p>
        <% end %>
        <% unless current_user.volunteer? %>
            <h3><%= t('home.shortcuts.volunteer_program_header') %></h3>
            <ul class="explanation-list">
                <% t('home.shortcuts.volunteer_program_desc').each do |line| %>
                    <li><%= line %></li>
                <% end %>
            </ul>
            <%= link_to t('home.show_more'), volunteers_path, class: 'mb-3 d-block' %>
        <% end %>
        <% unless current_user.dev_program? %>
            <h3><%= t('home.shortcuts.development_program_header') %></h3>
            <ul class="explanation-list">
                <% t('home.shortcuts.development_program_desc').each do |line| %>
                    <li><%= line %></li>
                <% end %>
            </ul>
            <%= link_to t('home.show_more'), development_programs_path %>
        <% end %>
    </div>
</div>