<% grouped = Space.find(space.space_id).weekly_open_hours.group_by { |e| e.dtstart.to_date.wday } %>

<% if grouped.blank? %>
  <div class="alert alert-warning my-3">
    <%= t("home.hours.no_hours", default: "No open hours available this week.") %>
  </div>
<% else %>
  <% Date::DAYNAMES.each_with_index do |day, i| %>
    <div class="row py-2 <%= 'bg-light' if i.even? %>">
      <div class="col-5 col-md-4">
        <%= day %>
      </div>
      <div class="col-7 col-md-8 text-nowrap">
        <% if grouped[i] %>
          <% grouped[i].each do |event| %>
            <%= event.dtstart.to_time.strftime("%I:%M %p") %> - <%= event.dtend.to_time.strftime("%I:%M %p") %><br>
          <% end %>
        <% else %>
          <%= t("home.hours.closed") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% space.opening_hours.each do |opening_hour| %>
  <div class="border-start border-3 ps-3 fst-italic text-muted mt-4">
    <%= opening_hour.notes&.html_safe %>
  </div>
<% end %>

