<div class="modal fade" id="popUpWindow">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="text-center"><%= t('sessions.login.sign_in') %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <%= form_tag login_authentication_path do %>
          <div class="mb-3 attach">
            <%= text_field_tag :username_email, params[:username_email], placeholder: t('sessions.login.username_or_email'), class: 'form-control', autofocus: true %>
            <%= password_field_tag :password, nil, placeholder: t('sessions.login.password'), class: 'form-control' %>
          </div>
          <%= submit_tag t('sessions.login.sign_in'), class: 'btn btn-primary w-100' %>
        <% end %>
      <%= link_to t('navbar.create_account'), new_user_path, class: 'btn btn-secondary w-100 my-2' %>
      </div>



      <div class="modal-footer">
        <%= link_to t('sessions.login.forgot_password'), forgot_password_path, class: 'btn btn-link w-100' %>
      </div>

    </div>
  </div>
</div>
