<% provide(:title, "Contact") %>

<section id="contact-us">

  <div class="title">Contact Us</div>
  <div class="container">

    <div class="column">
      <div class="space"><a href="https://engineering.uottawa.ca/entrepreneurship/ceed/brunsfield-center" target="_blank" >Brunsfield Center</a></div>
        <ul class="fa-ul">
          <li><%= fa_icon("envelope-o li", text: 'brunsfield@uottawa.ca') %></li>
          <li><%= fa_icon("map-marker li", text: '200 Lees, Room A139') %></li>
          <li><%= fa_icon("phone li", text: '613-562-5800 x7076') %></li>
        </ul>
    </div>
    <div class="column">
      <div class="space"><a href="https://engineering.uottawa.ca/entrepreneurship/ceed/mtc" target="_blank" >Manufacturing Training Centre</a></div>
        <ul class="fa-ul">
          <li><%= fa_icon("envelope-o li", text: 'MTC@uottawa.ca') %></li>
          <li><%= fa_icon("map-marker li", text: '200 Lees, Room A141') %></li>
          <li><%= fa_icon("phone li", text: '613-562-5800 x7078') %></li>
        </ul>
    </div>
    <div class="column">
      <div class="space"><a href="https://engineering.uottawa.ca/entrepreneurship/ceed/pits" target="_blank" >PITS</a></div>
        <ul class="fa-ul">
          <li><%= fa_icon("envelope-o li", text: 'pits@uottawa.ca') %></li>
          <li><%= fa_icon("map-marker li", text: '200 Lees, Room A136') %></li>
        </ul>
    </div>
  </div>
<div class="container">
    <div class="column">
      <div class="space"><a href="https://engineering.uottawa.ca/makerspace" target="_blank" >Richard L’Abbé Makerspace</a></div>
        <ul class="fa-ul">
          <li><%= fa_icon("envelope-o li", text: 'makerspace@uottawa.ca') %></li>
          <li><%= fa_icon("map-marker li", text: 'Colonel By building (CBY), 161 Louis Pasteur, Room B109A') %></li>
          <li><%= fa_icon("phone li", text: '613-562-5800 x1559') %></li>
        </ul>
    </div>
    <div class="column">
      <div class="space"><a href="https://engineering.uottawa.ca/entrepreneurship/ceed/makerlab" target="_blank" >MakerLab</a></div>
        <ul class="fa-ul">
          <li><%= fa_icon("envelope-o li", text: 'makerlab@uottawa.ca') %></li>
          <li><%= fa_icon("map-marker li", text: 'Colonel By building (CBY), 161 Louis Pasteur, Room B109C') %></li>
        </ul>
    </div>
    <div class="column">
      <div class="space"><a href="https://engineering.uottawa.ca/entrepreneurship/ceed/sandbox" target="_blank" >Sandbox</a></div>
        <ul class="fa-ul">
          <li><%= fa_icon("envelope-o li", text: 'sandbox@uottawa.ca') %></li>
          <li><%= fa_icon("map-marker li", text: 'SITE building, 800 King Edward Ave., Room 3041') %></li>
        </ul>
    </div>
  </div>

  <div class="title">Follow Us</div>
    <div class="column">
      <div id="links">
        <a href="https://www.facebook.com/uOmakerspace/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> @uOMakerspace</a><br>
        <a href="https://www.instagram.com/uomakerspace/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> @uOMakerspace</a><br>
        <a href="https://twitter.com/uomakerspace?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @uOMakerspace</a>
      </div>
    </div>
    <div class="column">
      <div id="links">
        <a href="https://www.facebook.com/uobrunsfield/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> @uobrunsfield</a><br>
        <a href="https://www.instagram.com/brunsfieldcentre/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> @brunsfieldcentre</a><br>
        <a href="https://twitter.com/ceedbrunsfield" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @CEEDBrunsfield</a>
      </div>
    </div>
</section>
