<% provide(:title, "Reset Password") %>
<section id="forgot-password">

  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>

  <div class="container page">
    <div class="row">
      <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
        <h1 class="text-center"><%= t('static_pages.forgot_password.title') %></h1>

        <%= form_tag url_for(controller: 'static_pages', action: 'reset_password'), method: :patch do %>

          <div class="form-group">
            <%= email_field_tag :email, params[:email], placeholder: t('static_pages.forgot_password.email'), class: 'form-control' %>
          </div>

          <%= submit_tag t('static_pages.forgot_password.submit'), class: 'btn btn-primary w-100' %>

        <% end %>
      </div>
    </div>
  </div>

</section>