<%= provide :title, t('all_get_involved.info.header') %>
<section id="getInvolved">
  <!-- Header Section -->
  <div id="jumbotron" class="jumbotron-get-involved">
    <h1 class="display-1"><%= t('all_get_involved.info.header') %></h1>
    <p class="display-6"><%= t('all_get_involved.info.overview') %></p>
  </div>

  <div class="container-fluid">
    <!-- Workshops Section -->
    <div class="row my-5">
      <div class="col-lg-6 section-image section-workshops">
        <h2><%= t('all_get_involved.workshops.banner') %></h2>
      </div>
      <div class="col-lg-4 align-content-center">
        <p class="fw-bold fs-3"><%= t('all_get_involved.workshops.header') %></p>
        <p><%= t('all_get_involved.workshops.overview') %></p>
      </div>
    </div>
    <div class="row g-lg-3 justify-content-around">
      <div class="col-lg-3">
        <div class="link-card">
          <div class="row py-3">
            <div class="col-lg-6">
              <%= image_tag('get_involved/makerlab.png', alt: 'Student using a soldering station', class: 'img-fluid') %>
            </div>
            <div class="col-lg-6">
              <div class="link-card-text">
                <h5><%= t('all_get_involved.workshops.sections.workshop_1.header') %></h5>
                <p><%= t('all_get_involved.workshops.sections.workshop_1.overview') %></p>
                <a class="btn btn-primary" href="https://simpli.events/u/uottawaceed"><%= t('all_get_involved.sign_up') %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="link-card">
          <div class="row py-3">
            <div class="col-lg-6">
              <%= image_tag('get_involved/workshop.png', alt: 'Students using woodworking machines', class: 'img-fluid') %>
            </div>
            <div class="col-lg-6">
              <div class="link-card-text">
                <h5><%= t('all_get_involved.workshops.sections.workshop_2.header') %></h5>
                <p><%= t('all_get_involved.workshops.sections.workshop_2.overview') %></p>
                <a class="btn btn-primary" href="https://simpli.events/u/uottawaceed"><%= t('all_get_involved.sign_up') %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Programs Section -->
    <div class="row my-5">
      <div class="col-lg-6 section-image section-workshops">
        <h2><%= t('all_get_involved.programs.banner') %></h2>
      </div>
      <div class="col-lg-4 align-content-center">
        <p class="fw-bold fs-3"><%= t('all_get_involved.programs.header') %></p>
        <p><%= t('all_get_involved.programs.overview') %></p>
      </div>
    </div>

    <div class="row g-lg-3 justify-content-around">
      <div class="col-lg-3">
        <div class="link-card">
          <div class="row">
            <div class="col-lg-6">
              <%= image_tag('get_involved/volunteer.png', alt: 'Students attending a lecture', class: 'img-fluid') %>
            </div>
            <div class="col-lg-6">
              <div class="link-card-text">
                <h5><%= t('all_get_involved.programs.sections.program_1.header') %></h5>
                <p><%= t('all_get_involved.programs.sections.program_1.overview') %></p>
                <%= link_to t('all_get_involved.sign_up'), volunteers_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="link-card">
          <div class="row">
            <div class="col-lg-6">
              <%= image_tag('get_involved/devprog.png', alt: 'CEED Employee using a drill press', class: 'img-fluid') %>
            </div>
            <div class="col-lg-6">
              <div class="link-card-text">
                <h5><%= t('all_get_involved.programs.sections.program_2.header') %></h5>
                <p><%= t('all_get_involved.programs.sections.program_2.overview') %></p>
                <%= link_to t('all_get_involved.sign_up'), development_programs_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="me-0 mt-5">
      <div class="row">
        <div class="col-lg-6 order-lg-last gx-0 section-image whats-next-banner">
          <h2 class="text-start"><%= t('all_get_involved.next.title_html') %></h2>
          <p><%= t('all_get_involved.next.overview') %></p>
        </div>
        <div class="col-lg-2 offset-lg-1">
          <div class="link-card d-flex flex-column">
            <%= image_tag('get_involved/makerlaunch.png', class: 'img-fluid', alt: 'Students attending a Makerlaunch seminar') %>
            <div class="link-card-text">
              <h5 class="fw-bold"><%= t('all_get_involved.programs.sections.program_3.header') %></h5>
              <p><%= t('all_get_involved.programs.sections.program_3.overview') %></p>
              <%= link_to t('all_get_involved.sign_up'), t('all_get_involved.programs.sections.program_3.link'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <div class="col-lg-2 me-auto">
          <div class="link-card d-flex flex-column">
            <%= image_tag('get_involved/simonnehme.png', class: 'img-fluid', alt: 'Group photo of students') %>
            <div class="link-card-text">
              <h5 class="fw-bold"><%= t('all_get_involved.programs.sections.program_4.header') %></h5>
              <p><%= t('all_get_involved.programs.sections.program_4.overview') %></p>
              <%= link_to t('all_get_involved.sign_up'), t('all_get_involved.programs.sections.program_4.link'), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Space Section -->
  <div class="section-image team-space mt-5">
    <h2 class="fw-bold"><%= t('all_get_involved.team.title') %></h1>
      <p><%= t('all_get_involved.team.overview') %></p>
  </div>
  <div class="container">
    <div class="row m-5">
      <div class="col-lg-4 align-content-center">
        <p class="fs-1 fw-bold"><%= t('all_get_involved.bottom.quote') %></p>
      </div>
      <div class="col-lg-8">
        <p class="fs-3"><%= t('all_get_involved.bottom.overview') %></p>
        <div class="row">
          <a href="https://www.uottawa.ca/faculty-engineering/spaces/john-mcentrye-team-space" class="col-lg-4 text-center">
            <%= image_tag 'get_involved/aboutteams.png', class: 'img-fluid', alt: 'uOttawa Rocketry team posing with a sounding rocket' %>
            <p class="fs-4"><%= t('all_get_involved.bottom.about_teams') %></p>
          </a>
          <div class="col-lg-4 text-center">
            <%= image_tag 'get_involved/followsocials.png', class: 'img-fluid', alt: 'UORover team posing with the rover' %>
            <p class="fs-4"><%= t('all_get_involved.bottom.follow_socials') %><br />
              <a class="me-4" href="https://www.facebook.com/uOCEED"><i class="fa fa-facebook"></i></a>
              <a class="me-4" href="https://www.instagram.com/uottawaceed/"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/the-centre-for-entrepreneurship-and-engineering-design/"><i class="fa fa-linkedin"></i></a>
            </p>
          </div>
          <a href="https://www.uottawa.ca/faculty-engineering/student-experience/competitive-teams" class="col-lg-4 text-center">
            <%= image_tag 'get_involved/joinateam.png', class: 'img-fluid', alt: 'Formula uOttawa team working on their car' %>
            <p class="fs-4"><%= t('all_get_involved.bottom.join_a_team') %></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
