<section id="home-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron text-center">
          <h1 class="title"><%= t('home.welcome_html') %></h1>

          <%= render :partial => 'partials/announcements' %>

          <p class="lead mb-4"><%= t('home.welcome_desc_html') %></p>
          <% if signed_in? %>
            <p><%= link_to t('home.my_profile'), user_path(current_user.username), class: "btn btn-primary btn-lg" %></p>
            <hr class="my-5"/>
            <%= render :partial => 'programs', locals: {status: current_user.return_program_status} %>

          <% else  %>
            <p><%= link_to t('home.sign_up'), user_path('new'), class: "btn btn-primary btn-lg" %></p>
            <hr class="my-5"/>
            <%= render :partial => 'interested_volunteer' %>
            <hr />
            <%= render :partial => 'interested_dev_program' %>

        <% end %>

        </div>
      </div>
    </div>
  </div>

  <a class="down-indicator" href="#under-top">
    <i class="fa fa-chevron-down fa-5x chevron"></i>
  </a>
</section>

<div id="under-top"></div>

<section id="home-categories">
  <div class="row items">
    <div class="col-12 text-center mt-3">
      <h1><%= t('home.categories_title') %></h1>
    </div>
    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "wearables_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.wearables"), category_path(slug: "wearable"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "motherboard_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.mobile_development"), category_path(slug: "mobile-development"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "2101_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.gng_2101"), category_path(slug: "gng2101/gng2501"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "bio-medical_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.health_sciences"), category_path(slug: "health-sciences"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "iot_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.iot"), category_path(slug: "internet-of-things"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "1103_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.gng_1103"), category_path(slug: "gng1103/gng1503"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "vr_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.vr"), category_path(slug: "virtual-reality"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "uoteams_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.team_projects"), category_path(slug: "uottawa-team-projects"), class: "overlay" %>
    </div>
    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "other_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.other_projects"), category_path(slug: "other-projects"), class: "overlay" %>
    </div>
  </div>
</section>