<section id="home">
    <div class="container-fluid">
        <div class="row row-cols g-0">
            <!--Left column -->
            <div class="col-xl  order-xl-0 order-1">
                <!-- Staff Resources -->
                <% if @user.staff? %>
                <div class="card home-card">
                  <div class="card-body">
                    <h2><%= t('home.staff_resources.header') %></h2>
                    <ul class="list-unstyled">
                      <% if @user.admin? %>
                        <li><%= link_to t('home.staff_resources.admin_area'), admin_settings_path %></li>
                      <% end %>
                      <li><%= link_to t('home.staff_resources.staff_area'), staff_dashboard_index_path %></li>
                      <li><%= link_to t('home.staff_resources.shifts'), shifts_admin_shifts_path %></li>
                      <li><%= link_to t('home.staff_resources.job_order_admin'), admin_job_orders_path %></li>
                    </ul>
                  </div>
                </div>
                <% end %>
                <!-- General Resources -->
                <div class="card home-card">
                    <div class="card-body">
                        <h2><%= t('home.general_resources.header') %></h2>
                        <ul class="list-unstyled">
                            <li><a href=""><%= t('home.general_resources.makeroom') %></a></li>
                            <li><%= link_to t('home.general_resources.job_orders'), job_orders_path %></li>
                        </ul>
                    </div>
                </div>
                <%= render 'static_pages/home_shortcuts' %>
                <%= render 'static_pages/home_volunteer' if signed_in? %>
                <%= render 'static_pages/home_development' if signed_in? %>
            </div>
            
            <!--Middle column -->
            <div class="col-xl-6 order-xl-1 order-0">
              <div class="card home-card">
                <div class="card-body d-flex">
                  <div class="w-50">
                    <!--ADD USERNAME HERE -->
                    <h2>Welcome to <b>CEED</b>Repo, <span style="color: red;">John</span></h2>
                    <p>This is <b>CEED's</b> repository website</p>
                    <%= image_tag('redesign/site.png', alt: 'SITE', class: 'img-fluid') %>
                  </div>
                  <div class="w-50 text-center">
                    <h3>Space hours this week</h3>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Makerspace</th>
                          <th>Brunsfield</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Monday - 10am - 6pm </td>
                          <td>Monday - 12pm - 8pm</td>
                        </tr>
                        <tr>
                          <td>Tuesday - 10am - 6pm </td>
                          <td>Tuesday - CLOSED</td>
                        </tr>
                        <tr>
                          <td>Wednesday - 10am - 6pm </td>
                          <td>Wednesday - 12pm - 8pm</td>
                        </tr>
                        <tr>
                          <td>Thursday - 10 am - 6 pm </td>
                          <td>Thursday - CLOSED</td>
                        </tr>
                        <tr>
                          <td>Friday - 10am - 6pm </td>
                          <td>Friday - 12pm - 8pm</td>
                        </tr>
                        <tr>
                          <td>Saturday - 10am - 6pm</td>
                          <td>Saturday - 12pm - 6pm</td>
                        </tr>
                        <tr>
                          <td>Sunday - 11am - 5pm</td>
                          <td>Sunday - CLOSED</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Instagram Section -->
              <div class="card home-card mt-5">
                <div class="card-body">
               <h2>
              <b>Instagram</b>
              <small class="text-muted" style="font-size: 0.6em;">
                <a href="https://www.instagram.com/uoceed/" target="_blank">Follow us</a>
              </small>
            </h2>
                  <p>Stay up to date with our socials</p>
                  
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                      
                      </div>
                      <div class="carousel-item">
                       
                      </div>
                      <div class="carousel-item">
                    
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>

            <!-- Explore Section -->
            <div class="card home-card mt-5">
              <div class="card-body">
                <h2>
                  <b>Explore</b>
                  <small class="text-muted" style="font-size: 0.6em;">
                    <a href="/explore">Show all</a>
                  </small>
                </h2>

                <% if @recent_projects.present? %>
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <% @recent_projects.each_with_index do |project, index| %>
                        <div class="carousel-item <%= 'active' if index == 0 %>">
                          <%= image_tag project.photos.first.image, class: 'd-block w-100', alt: project.title if project.photos.first.present? %>
                          <div class="carousel-caption d-none d-md-block">
                            <h5><%= project.title %></h5>
                            <p><%= project.user_username %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                <% else %>
                  <p>No recent projects available.</p>
                <% end %>
              </div>
            </div>



                </div>
              </div>
            </div>
            
            <!--Right column -->
            <!-- Set a fixed column size to prevent Badges from expanding more -->
            <div class="col-xl-3 order-xl-2 order-1">
                <%= render partial: 'home_userinfo' %>
                <%= render partial: 'home_badges' if signed_in? %>
                <%= render partial: 'home_skills' if signed_in? %>
                <div class="card home-card" id="home-big-newsletter">
                    <div class="card-body">
                        <h2>Want to know when our next big event is happening?</h2>
                        <%= form_with do |form| %>
                            <%= form.email_field :signUpEmail, class: 'form-control email-input mb-2', placeholder: 'Enter email' %>
                            <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
                        <% end %>
                    </div>
                </div>
                <!-- Hidden for now :^) -->
                <div class="card home-card" hidden>
                    <div class="card-body">
                        <h2>Workshops this week</h2>
                        <div class="d-flex workshop-card">
                            <div class="text-center workshop-date">
                                <p style="font-size: 2rem;">22<br /> <span style="font-size: 1.5rem">Dec</span></p>
                            </div>
                            <div class="workshop-desc">
                                <p class="workshop-title">Easter Themed 3D Printing Workshop - Beginner</p>
                                <p class="workshop-date-side">Thu, Mar 28, 2:30 PM</p>
                                <p class="workshop-cost">Free</p>
                            </div>
                        </div>
                        <!-- <p> No workshops... yet</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
