<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<section id="home-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron text-center">
          <h1 class="title"><%= t('home.welcome_html') %></h1>
          <% if current_user.admin? %>
            <% Announcement.active.admins.find_each do |a| %>
              <div class="alert alert-secondary text-center" role="alert">
                <b>To Admins:</b> <%= a.description %>
              </div>
            <% end %>
          <% end %>

          <% if current_user.staff? %>
            <% Announcement.active.staff.find_each do |a| %>
              <div class="alert alert-info text-center" role="alert">
                <b>To Staff:</b> <%= a.description %>
              </div>
            <% end %>
          <% end %>

          <% if !Announcement.active.all_users.blank? && signed_in? %>
            <% Announcement.active.all_users.find_each do |a| %>
              <div class="alert alert-primary text-center" role="alert">
                <b>To All Users: </b><%= a.description %>
              </div>
            <% end %>
          <% end %>

          <% if current_user.volunteer? || current_user.staff? %>
            <% Announcement.active.volunteers.find_each do |a| %>
              <div class="alert alert-warning text-center" role="alert">
                <b>To Volunteers:</b> <%= a.description %>
              </div>
            <% end %>
          <% end %>
          <p class="lead mb-4"><%= t('home.welcome_desc_html') %></p>
          <% if signed_in? %>
            <p><%= link_to t('home.my_profile'), user_path(current_user.username), class: "btn btn-primary btn-lg" %></p>
            <hr class="my-5"/>
            <h1><%= t('home.become_volunteer.want') %></h1>
            <p>
              <strong>
                <%= t('home.become_volunteer.few_clicks') %>
              </strong>
            </p>
            <%= form_for @request, url: {controller: "volunteer_requests", action: "create"} do |f| %>
              <div class="tab mx-auto col-md-6" >
                <p>Interests:</p>
                <%= f.text_area :interests, placeholder: t('home.become_volunteer.placeholder_text'), class: 'form-control form-element' %>
              </div>

              <div class="col-12 tab">
                <p>In what space are you interested to become a volunteer?</p>
                <div class="d-inline-block text-left">
                  <%= f.radio_button :space_id, Space.find_by_name("Makerspace").id, :style => 'display:inline !important', checked: true %>
                  <%= f.label :space_id, 'Makerspace', :style => 'display:inline !important' %>
                  <br />
                  <%= f.radio_button :space_id, Space.find_by_name("Brunsfield Centre").id, :style => 'display:inline' %>
                  <%= f.label :space_id, 'Brunsfield Centre', :style => 'display:inline' %>
                  <br />
                </div>
              </div>

              <div class="tab">
                <p class="text-center">Please inform us your level of expertise</p>
                <div class="row">
                  <div class="mx-auto col-md-4">
                    <b>3D Printing</b> <br />
                    <div class="d-inline-block text-left">
                      <%= f.radio_button :printing, 'Beginner', :style => 'display:inline' %>
                      <%= f.label :printing, 'Beginner', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :printing, 'Intermediate', :style => 'display:inline' %>
                      <%= f.label :printing, 'Intermediate', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :printing, 'Advanced', :style => 'display:inline' %>
                      <%= f.label :printing, 'Advanced', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :printing, 'No Experience', :style => 'display:inline' %>
                      <%= f.label :printing, 'No Experience', :style => 'display:inline' %>
                      <br />
                    </div>
                  </div>

                  <div class="max-auto col-md-4">
                    <b>Laser Cutting</b> <br />
                    <div class="d-inline-block text-left">
                      <%= f.radio_button :laser_cutting, 'Beginner', :style => 'display:inline' %>
                      <%= f.label :laser_cutting, 'Beginner', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :laser_cutting, 'Intermediate', :style => 'display:inline' %>
                      <%= f.label :laser_cutting, 'Intermediate', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :laser_cutting, 'Advanced', :style => 'display:inline' %>
                      <%= f.label :laser_cutting, 'Advanced', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :laser_cutting, 'No Experience', :style => 'display:inline' %>
                      <%= f.label :laser_cutting, 'No Experience', :style => 'display:inline' %>
                      <br />
                    </div>
                  </div>

                  <div class="mx-auto col-md-4">
                    <b>Virtual Reality (VR)</b> <br />
                    <div class="d-inline-block text-left">
                      <%= f.radio_button :virtual_reality, 'Beginner', :style => 'display:inline' %>
                      <%= f.label :virtual_reality, 'Beginner', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :virtual_reality, 'Intermediate', :style => 'display:inline' %>
                      <%= f.label :virtual_reality, 'Intermediate', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :virtual_reality, 'Advanced', :style => 'display:inline' %>
                      <%= f.label :virtual_reality, 'Advanced', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :virtual_reality, 'No Experience', :style => 'display:inline' %>
                      <%= f.label :virtual_reality, 'No Experience', :style => 'display:inline' %>
                      <br />
                    </div>
                  </div>

                  <div class="mx-auto col-md-4">
                    <b>Arduino</b> <br />
                    <div class="d-inline-block text-left">
                      <%= f.radio_button :arduino, 'Beginner', :style => 'display:inline' %>
                      <%= f.label :arduino, 'Beginner', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :arduino, 'Intermediate', :style => 'display:inline' %>
                      <%= f.label :arduino, 'Intermediate', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :arduino, 'Advanced', :style => 'display:inline' %>
                      <%= f.label :arduino, 'Advanced', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :arduino, 'No Experience', :style => 'display:inline' %>
                      <%= f.label :arduino, 'No Experience', :style => 'display:inline' %>
                      <br />
                    </div>
                  </div>

                  <div class="mx-auto col-md-4">
                    <b>Embroidery</b> <br />
                    <div class="d-inline-block text-left">
                      <%= f.radio_button :embroidery, 'Beginner', :style => 'display:inline' %>
                      <%= f.label :embroidery, 'Beginner', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :embroidery, 'Intermediate', :style => 'display:inline' %>
                      <%= f.label :embroidery, 'Intermediate', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :embroidery, 'Advanced', :style => 'display:inline' %>
                      <%= f.label :embroidery, 'Advanced', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :embroidery, 'No Experience', :style => 'display:inline' %>
                      <%= f.label :embroidery, 'No Experience', :style => 'display:inline' %>
                      <br />
                    </div>
                  </div>

                  <div class="mx-auto col-md-4">
                    <b>Soldering</b> <br />
                    <div class="d-inline-block text-left">
                      <%= f.radio_button :soldering, 'Beginner', :style => 'display:inline' %>
                      <%= f.label :soldering, 'Beginner', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :soldering, 'Intermediate', :style => 'display:inline' %>
                      <%= f.label :soldering, 'Intermediate', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :soldering, 'Advanced', :style => 'display:inline' %>
                      <%= f.label :soldering, 'Advanced', :style => 'display:inline' %>
                      <br />
                      <%= f.radio_button :soldering, 'No Experience', :style => 'display:inline' %>
                      <%= f.label :soldering, 'No Experience', :style => 'display:inline' %>
                      <br />
                      <br />
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="text-center">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                <% state = true if VolunteerRequest.find_by(user_id: current_user.id) %>
                <%= f.submit t('home.become_volunteer.button'), class: "btn btn-success btn-lg", disabled: state, id: "finalBtn", style: "display: none;" %>
              </div>
              <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div>
            <% end %>
          <% else  %>
            <p><%= link_to t('home.sign_up'), user_path('new'), class: "btn btn-primary btn-lg" %></p>
            <hr class="my-5"/>
            <h1><%= t('home.become_volunteer.want') %></h1>
            <p>
              <strong>
                <%= t('home.become_volunteer.make') %>
              </strong>
            </p>
            <p>
              <%= t('home.become_volunteer.request_1') %> <br />
              <%= t('home.become_volunteer.request_2') %> <br />
              <%= t('home.become_volunteer.request_3') %>
            </p>
            <p><%= link_to t('home.become_volunteer.find_more'), 'https://volunteer.makerepo.com/', class: "btn btn-success btn-lg", target: "_blank" %></p>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <a class="down-indicator" href="#under-top">
    <i class="fa fa-chevron-down fa-5x chevron"></i>
  </a>
</section>

<div id="under-top"></div>

<section id="home-categories">
  <div class="row items">
    <div class="col-12 text-center mt-3">
      <h1><%= t('home.categories_title') %></h1>
    </div>
    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "wearables_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.wearables"), category_path(slug: "wearable"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "motherboard_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.mobile_development"), category_path(slug: "mobile-development"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "2101_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.gng_2101"), category_path(slug: "gng2101/gng2501"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "bio-medical_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.health_sciences"), category_path(slug: "health-sciences"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "iot_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.iot"), category_path(slug: "internet-of-things"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "1103_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.gng_1103"), category_path(slug: "gng1103/gng1503"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "vr_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.vr"), category_path(slug: "virtual-reality"), class: "overlay" %>
    </div>

    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "uoteams_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.team_projects"), category_path(slug: "uottawa-team-projects"), class: "overlay" %>
    </div>
    <div class="col-xl-4 col-sm-6 platform-item">
      <%= image_tag "other_optimized.jpg", class: "background" %>
      <%= link_to t("home.categories.other_projects"), category_path(slug: "other-projects"), class: "overlay" %>
    </div>
  </div>
</section>

