<section id="home">
  <div class="container-fluid">
    <div class="row row-cols-3 g-0">
      <!--Left column -->
      <div class="col-auto col-xl-3 order-xl-0 order-1">
        <!-- Staff Resources -->
        <% if @user.staff? %>
        <div class="card home-card">
          <div class="card-body">
            <h2><%= t('home.staff_resources.header') %></h2>
            <ul class="list-unstyled">
              <% if @user.admin? %>
              <li><%= link_to t('home.staff_resources.admin_area'), admin_settings_path %></li>
              <% end %>
              <li><%= link_to t('home.staff_resources.staff_area'), staff_dashboard_index_path %></li>
              <li><%= link_to t('home.staff_resources.shifts'), shifts_admin_shifts_path %></li>
              <li><%= link_to t('home.staff_resources.job_order_admin'), admin_job_orders_path %></li>
            </ul>
          </div>
        </div>
        <% end %>
        <!-- General Resources -->
        <div class="card home-card">
          <div class="card-body">
            <h2><%= t('home.general_resources.header') %></h2>
            <ul class="list-unstyled">
              <li><a href=""><%= t('home.general_resources.makeroom') %></a></li>
              <li><%= link_to t('home.general_resources.job_orders'), job_orders_path %></li>
            </ul>
          </div>
        </div>
        <%= render 'static_pages/home_shortcuts' %>
        <%= render 'static_pages/home_volunteer' if signed_in? %>
        <%= render 'static_pages/home_development' if signed_in? %>
      </div>
      <!--Middle column -->
      <div class="col-auto col-xl-6 order-xl-1 order-0">
        <div class="card home-card">
          <div class="card-body">
            <% if signed_in? %>
              <h2> <%= t('home.welcome.welcome_to') %>, <span class="text-primary"> <%= @user.name %></span></h2>
            <% else %>
              <h2> <%= t('home.welcome.welcome_to') %></h2>
            <% end %>
            <div class="row">
              <div class="col-auto">
                <p><%= t('home.welcome.welcome_subheader').html_safe %></p>
                <%= image_tag('redesign/site.png', alt: 'SITE', class: 'img-fluid') %>
              </div>
              <div class="col text-start align-self-center">
                <h3 class="fw-bold"><%= t('home.welcome.hour_header') %></h3>
                <div class="row border rounded">
                  <% @contact_info.each do |space| %>
                    <div class="w-auto">
                      <h4><%= space.name %></h4>
                      <p><%= space.opening_hour.students.html_safe %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Instagram Section -->
        <div class="card home-card mt-5">
          <div class="card-body">
            <h2>
              <b>Instagram</b>
              <small class="text-muted" style="font-size: 0.6em;">
                <a href="https://www.instagram.com/uoceed/" target="_blank"><%= t('home.follow_us') %></a>
              </small>
            </h2>
            <p>Stay up to date with our socials</p>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">

                </div>
                <div class="carousel-item">

                </div>
                <div class="carousel-item">

                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
<!-- Explore Section -->
<div class="card home-card mt-5">
  <div class="card-body">
    <h2>
      <b>Explore</b>
      <small class="text-muted" style="font-size: 0.6em;">
        <a href="/explore">Show all</a>
      </small>
    </h2>
    <p>Browse completed student projects.</p>
    <% if @recent_projects.present? %>
      <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @recent_projects.each_slice(3).with_index do |projects, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div style="display: flex; justify-content: center;">
                <% projects.each do |project| %>
                  <div style="margin: 0 10px; border: 1px solid #ddd; border-radius: 5px; padding: 10px; width: 200px;">
                    <%= link_to repository_path(project.user_username, project.slug), style: 'text-decoration: none; color: inherit;' do %>
                      <%= image_tag project.photos.first.image, alt: project.title, style: 'max-height: 225px; max-width: 100%; width: auto; height: auto; display: block; margin: 0 auto;' if project.photos.first.present? %>
                      <div style="text-align: center; margin-top: 10px;">
                        <h5 style="font-size: 1.1em; margin-bottom: 5px;"><%= project.title %></h5>
                        <p style="color: #888; font-size: 0.9em;">by <%= project.user_username %></p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% else %>
      <p>No recent projects available.</p>
    <% end %>
  </div>
</div>
</div>


      <!--Right column -->
      <!-- Set a fixed column size to prevent Badges from expanding more -->
      <div class="col-auto col-xl-3 order-xl-2 order-1">
        <%= render partial: 'home_userinfo' %>
        <%= render partial: 'home_badges' if signed_in? %>
        <%= render partial: 'home_skills' if signed_in? %>
        <div class="card home-card" id="home-big-newsletter">
          <div class="card-body">
            <h2><%= t('home.newsletter.header') %></h2>
            <form target="_blank" action="https://uottawa.us15.list-manage.com/subscribe/post" method="POST">
              <input type="hidden" name="u" value="42154e6ef1a0a78237b7bc641">
              <% if I18n.locale == :en %>
                <!-- English mailing list -->
                <input type="hidden" name="id" value="4831770962">
              <% else %>
                <!-- French mailing list -->
                <input type="hidden" name="id" value="e9f400f571">
              <% end %>
              <input type="email" autocapitalize="none" autocorrect="off"
                     name="MERGE0" id="MERGE0" size="25" value=""
                     class="form-control email-input mb-2" placeholder="mail@mail.com">
              <%= submit_tag t('home.newsletter.sign_up'), class: 'btn btn-primary' %>
            </form>
          </div>
        </div>
        <!-- Hidden for now :^) -->
        <div class="card home-card" hidden>
          <div class="card-body">
            <h2>Workshops this week</h2>
            <div class="d-flex workshop-card">
              <div class="text-center workshop-date">
                <p style="font-size: 2rem;">22<br /> <span style="font-size: 1.5rem">Dec</span></p>
              </div>
              <div class="workshop-desc">
                <p class="workshop-title">Easter Themed 3D Printing Workshop - Beginner</p>
                <p class="workshop-date-side">Thu, Mar 28, 2:30 PM</p>
                <p class="workshop-cost">Free</p>
              </div>
            </div>
            <!-- <p> No workshops... yet</p> -->
          </div>
        </div>
</section>
