<section id="home-1">
	<div>uOttawa MakerSpaceRepo</div>
</section>

<section class="platform-title">Platforms</section>

<section id="home-2">
	<div class="col">
		<span class="platform-item">
			<%= link_to(image_tag("three-d.jpg"), "#", class: 'platform-link' )%>
			<div><div>3-D MODELLING</div></div>
		</span>
		<span class="platform-item">
			<%= link_to(image_tag("bio-medical.jpg"), "#", class: 'platform-link' )%>
			<div><div>Bio-Medical</div></div>
		</span>
		<span class="platform-item">
			<%= link_to(image_tag("iot.png"), "#", class: 'platform-link' )%>
			<div><div>Internet of Things</div></div>
		</span>
	</div>
	<div class="col">
		<span class="platform-item">
			<%= link_to(image_tag("vr.jpg"), "#", class: 'platform-link' )%>
			<div><div>Virtual Reality</div></div>
		</span>
		<span class="platform-item">
			<%= link_to(image_tag("wearables.jpg"), "#", class: 'platform-link' )%>
			<div><div>Wearables</div></div>
		</span>
		<span class="platform-item">
			<%= link_to(image_tag("motherboard.jpg"), "#", class: 'platform-link' )%>
			<div><div>Mobile</div></div>
		</span>
	</div>
</section>