<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<section id="home-1">
  <div id="makerrepo">
	   MakerRepo
  </div>
  <div id="ceed">
    <%= image_tag("ceed.svg") %>
  </div>
</section>

<section id="home-2">
	<div class="col">
    <span class="platform-item">
      <%= image_tag("wearables.jpg") %>
      <div><%= link_to("Wearable<br>Technologie Portable".html_safe, category_path(slug: 'wearable'))%></div>
		</span>
		<span class="platform-item">
			<%= image_tag("motherboard.jpg") %>
      <div><%= link_to("Mobile Development<br>Développement Mobile".html_safe, category_path(slug: 'mobile-development'))%></div>
		</span>
    <span class="platform-item">
			<%= image_tag("uoteams.jpg") %>
      <div><%= link_to("uOttawa Team Projects<br>Projets d'Équipe uOttawa".html_safe, category_path(slug: 'uottawa-team-projects'))%></div>
		</span>
	</div>
	<div class="col">
		<span class="platform-item">
      <%= image_tag("bio-medical.jpg") %>
      <div><%= link_to("Health Sciences<br>Sciences de la Santé".html_safe, category_path(slug: 'health-sciences'))%></div>
		</span>
    <span class="platform-item">
			<%= image_tag("iot.jpg") %>
      <div><%= link_to("Internet of Things<br>Internet des Objets".html_safe, category_path(slug: 'internet-of-things'))%></div>
		</span>
    <span class="platform-item">
			<%= image_tag("other.jpg") %>
      <div><%= link_to("Other Projects<br>Autres Projets".html_safe, category_path(slug: 'other-projects'))%></div>
		</span>
	</div>
  <div class="col">
    <span class="platform-item">
			<%= image_tag("vr.jpg") %>
      <div><%= link_to("Virtual Reality<br>Réalité Virtuelle".html_safe, category_path(slug: 'virtual-reality'))%></div>
		</span>
    <span class="platform-item">
			<%= image_tag("three-d.jpg") %>
      <div><%= link_to("Course-related Projects<br>Projets Liés à un Cours".html_safe, category_path(slug: 'course-related-projects'))%></div>
		</span>
  </div>
</section>
