<section id="home">
  <button class="d-xl-none" id="ShortcutButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-shortcuts" aria-controls="offcanvas-shortcuts">
    Shortcuts
  </button>
  <div class="container-fluid shrink-screen-size">
    <%= render 'partials/announcements' %>
    <div class="row g-0">
      <!--Left column -->
      <div class="col-xl-3  order-xl-0 order-1 offcanvas-lg offcanvas-start" id="offcanvas-shortcuts" aria-labelledby="shortcutsOffcanvasLabel">
        <div class="offcanvas-header pb-0">
          <h2 class="offcanvas-title" id="shortcutsOffcanvasLabel">Shortcuts</h2>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvas-shortcuts" aria-label="Close"></button>
        </div>
        <!-- Staff Resources -->
        <% if @user.staff? %>
          <div class="card home-card">
            <div class="card-body">
              <h2><%= t('home.staff_resources.header') %></h2>
              <ul class="list-unstyled">
                <% if @user.admin? %>
                  <li><%= link_to t('home.staff_resources.admin_area'), admin_settings_path %></li>
                <% end %>
                <li><%= link_to t('home.staff_resources.staff_area'), staff_dashboard_index_path %></li>
                <li><%= link_to t('home.staff_resources.shifts'), shifts_admin_shifts_path %></li>
                <li><%= link_to t('home.staff_resources.job_order_admin'), admin_job_orders_path %></li>
              </ul>
            </div>
          </div>
        <% end %>
        <!-- General Resources -->
        <div class="card home-card">
          <div class="card-body">
            <h2><%= t('home.general_resources.header') %></h2>
            <ul class="list-unstyled">
              <li><a href=""><%= t('home.general_resources.makeroom') %></a></li>
              <li><%= link_to t('home.general_resources.job_orders'), job_orders_path %></li>
            </ul>
          </div>
        </div>
        <%= render 'static_pages/home_shortcuts' %>
        <%= render 'static_pages/home_volunteer' if signed_in? %>
        <%= render 'static_pages/home_development' if signed_in? %>
      </div>
      <!--Middle column -->
      <div class="col-xl-6 order-xl-1 order-0">
        <%= render 'static_pages/home_hours' %>
        <!-- Instagram Section -->
        <%= render 'static_pages/home_socials' %>
        <!-- Explore Section -->
        <%= render 'static_pages/home_explore' %>
        <!-- Makerstore Section -->
        <%= render 'static_pages/home_makerstore' %>
      </div>

      <!--Right column -->
      <!-- Set a fixed column size to prevent Badges from expanding more -->
      <div class="col-xl-3 order-xl-2 order-1">
        <%= render partial: 'home_userinfo' %>
        <%= render partial: 'home_badges' if signed_in? %>
        <%= render partial: 'home_skills' if signed_in? %>
        <div class="card home-card" id="home-big-newsletter">
          <div class="card-body">
            <h2><%= t('home.newsletter.header') %></h2>
            <p><%= t('home.newsletter.subtext') %></p>
            <form target="_blank" action="https://uottawa.us15.list-manage.com/subscribe/post" method="POST">
              <input type="hidden" name="u" value="42154e6ef1a0a78237b7bc641">
              <% if I18n.locale == :en %>
                <!-- English mailing list -->
                <input type="hidden" name="id" value="4831770962">
              <% else %>
                <!-- French mailing list -->
                <input type="hidden" name="id" value="e9f400f571">
              <% end %>
              <input type="email" autocapitalize="none" autocorrect="off"
                     name="MERGE0" id="MERGE0" size="25" value=""
                     class="form-control email-input mb-2" placeholder="mail@mail.com">
              <%= submit_tag t('home.newsletter.sign_up'), class: 'btn btn-primary' %>
            </form>
          </div>
        </div>
        <!-- Hidden for now :^) -->
        <div class="card home-card">
          <div class="card-body">
            <h2><%= t('home.workshops.header') %></h2>
            <a href="https://simpli.events/u/uottawaceed"><%= t('home.workshops.link') %></a>
            <% 5.times do next %>
              <a class="d-flex workshop-card" href="#">
                <div class="text-center workshop-date">
                  <p style="font-size: 2rem;">22<br /> <span style="font-size: 1.5rem">Dec</span></p>
                </div>
                <div class="workshop-desc">
                  <p class="workshop-title">Easter Themed 3D Printing Workshop - Beginner</p>
                  <p class="workshop-date-side">Thu, Mar 28, 2:30 PM</p>
                  <p class="workshop-cost">Free</p>
                </div>
              </a>
            <% end %>
          </div>
        </div>
</section>
