<% provide(:title, t('hours.title')) %>
<section id="hours-of-operation">
  <div class="container">
    <h1 class="text-center text-primary"><%= t('hours.title') %></h1>
    <div class="row justify-content-center">
      <% @contact_info.each do |space| %>
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title mb-4"><%= space.name %></h4>
              <p><b>Registered students and faculty members</b></p>
              <%= space.opening_hour.formatted(:students).html_safe %>
              <p><b>General Public</b></p>
              <%= space.opening_hour.formatted(:public).html_safe %>
              <p><b>Summer Hours</b></p>
              <%= space.opening_hour.formatted(:summer).html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="container">
      <p><i class="fa fa-asterisk li" aria-hidden="true"></i> <%= t('hours.disclaimer') %></p>
      <%= link_to 'Edit Contact Infos', admin_contact_infos_path if current_user.admin? %>
    </div>
  </div>
</section>
