<section class="page-contents" id="all-resources">
  <div class="d-flex flex-column gap-5">
    
<!-- Header Section -->
<div class="p-0">
  <div class="text-center header-background margin-spacing-bottom">
    <div class="background-overlay">
      <div class="centered-content">
        <h1 class="fw-bold header-title">
          <%= t('all_resources.info.header') %>
        </h1>
        <p class="overview-text">
          <%= t('all_resources.info.overview') %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-row justify-content-center mx-4 align-items-center margin-spacing-bottom">
  <div class="card mb-4 shadow-lg p-3 px-4 py-4 custom-card-size">
    <div class="logo-container">
      <div class="vertical-underline"></div>
      <div class="logo-text-container">
        <img src="<%= asset_path('redesign/all_resources/image 31.png') %>" alt="CEED Logo" class="img-fluid" />
        <h3 class="mt-3 fw-bold text-center">CEED Wiki</h3>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center ms-5"> 
    <h3 class="text-black mb-3 fw-bold"><%= t('all_resources.wiki.header') %></h3>
       <div class="underline mb-3"></div>

    <p class="mb-1 text-black fs-5">
      <strong><%= t('all_resources.wiki.point_1.title') %></strong>
      <span class="fw-normal"><%= t('all_resources.wiki.point_1.overview') %></span>
    </p>
    <p class="mb-1 text-black fs-5">
      <strong><%= t('all_resources.wiki.point_2.title') %></strong>
      <span class="fw-normal"><%= t('all_resources.wiki.point_2.overview') %></span>
    </p>
    <p class="mb-1 text-black fs-5">
      <strong><%= t('all_resources.wiki.point_3.title') %></strong>
      <span class="fw-normal"><%= t('all_resources.wiki.point_3.overview') %></span>
    </p>
    <p class="mb-1 text-black fs-5">
      <strong><%= t('all_resources.wiki.point_4.title') %></strong>
      <span class="fw-normal"><%= t('all_resources.wiki.point_4.overview') %></span>
    </p>
    <p class="mb-0 text-black fs-5">
      <strong><%= t('all_resources.wiki.point_5.title') %></strong>
      <span class="fw-normal"><%= t('all_resources.wiki.point_5.overview') %></span>
    </p>
  </div>
</div>

  </div>

  <% if signed_in? %>

      <div class="d-flex flex-column justify-content-center align-items-center ms-5 mb-5">
        <h4 class="fw-bold mb-4">Book a Room</h4>
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-3 text-nowrap ">
              <a href="/sub_space_booking?room=9">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">Brunsfield Centre</button>
                </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=1">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">MTC</button>
              </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=2">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">Makerlab 121</button>
              </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=11">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">STEM 126</button>
              </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=10">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">STEM 124</button>
              </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=7">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">Makerspace</button>
              </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=5">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">JMTS</button>
              </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=8">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">Makerlab 119</button>
              </a>
            </div>
            <div class="col-md-4 mb-3 text-nowrap">
              <a href="/sub_space_booking?room=3">
                <button class="btn btn-dark-orange w-100 rounded-pill px-4 py-4">Sandbox</button>
              </a>
            </div>
            <div class="margin-spacing-bottom"></div>
          </div>
        </div>
      </div>
      <% else %>
  <div class="d-flex flex-col justify-content-center align-items-center ms-5 margin-spacing-bottom">
   <div class="card mb-4 shadow-lg p-3 px-4 py-4 justify-content-center">
    <h4 class="fw-bold mb-4 m-auto">Want to book a room?</h4>
    <p class="text-muted">You need to be signed in to book a room. Please sign in or create an account to continue.</p>
    </div>
  </div>
      <% end %>
    </div>
  

  <div class="d-flex flex-row justify-content-center mx-4 align-items-center">
    <div class="card mb-4 shadow-lg custom-card-size">
      <%= image_tag('redesign/all_resources/wood transparent.png', class: 'card-img-top', alt: 'Program 4') %>
    </div>
    <div class="d-flex flex-column ms-5 makerstore-content">
      <h3 class="fw-bold mb-2 "><%= t('all_resources.makerstore.title') %></h3>
      <div class="underline mb-3"></div>
 <p class="mb-1 text-black fs-5">
      <span class="fw-normal"><%= t('all_resources.makerstore.overview') %></span>
    </p>

    


      <a href="https://makerstore.ca/" target="_blank">
        <button class="btn btn-darker-orange rounded-pill py-2 mt-3 btn-shop-now">Shop now</button>
      </a>
    </div>
  </div>




</section>

