<% provide(:title, t('terms_of_service.title')) %>
<section id="terms-of-service">

  <h1 class="title"><%= t('terms_of_service.license_title') %></h1>

  <div class="container">
    <div class="col-md-8 mx-auto">
      <h2 class="category"><%= t('terms_of_service.repo_license') %></h2>
      <ul class="fa-ul">
        <li><%= link_to fa_icon('angle-double-right li', text: " #{t('terms_of_service.licenses.cca')}"), licenses_cca_path %></li>
        <li><%= link_to fa_icon('angle-double-right li', text: " #{t('terms_of_service.licenses.ccasa')}"), licenses_ccasa_path %></li>
        <li><%= link_to fa_icon('angle-double-right li', text: " #{t('terms_of_service.licenses.ccand')}"), licenses_ccand_path %></li>
        <li><%= link_to fa_icon('angle-double-right li', text: " #{t('terms_of_service.licenses.ccanc')}"), licenses_ccanc_path %></li>
        <li><%= link_to fa_icon('angle-double-right li', text: " #{t('terms_of_service.licenses.ancsa')}"), licenses_ancsa_path %></li>
        <li><%= link_to fa_icon('angle-double-right li', text: " #{t('terms_of_service.licenses.ancnd')}"), licenses_ancnd_path %></li>
      </ul>

      <h1 class="title"><%= t('terms_of_service.terms_and_conditions') %></h1>
      <div class="container">
        <h2 class="heading"><%= t('terms_of_service.section1.heading') %></h2>
        <ul class="terms">
          <p id="paragraph"><%= t('terms_of_service.section1.content') %></p>
        </ul>

        <h2 class="heading"><%= t('terms_of_service.section2.heading') %></h2>
        <ol class="terms">
          <p id="paragraph"><%= t('terms_of_service.section2.intro') %></p>
          <ol class="terms">
            <li><%= t('terms_of_service.section2.items.item1') %></li>
            <li><%= t('terms_of_service.section2.items.item2') %></li>
            <li><%= t('terms_of_service.section2.items.item3') %></li>
            <li><%= t('terms_of_service.section2.items.item4') %></li>
            <li><%= t('terms_of_service.section2.items.item5') %></li>
            <ol class="sub-terms">
              <% t('terms_of_service.section2.sub_items').each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ol>
            <li><%= t('terms_of_service.section2.items.item6') %></li>
          </ol>
        </ol>

        <h2 class="heading"><%= t('terms_of_service.section3.heading') %></h2>
        <ol class="terms">
          <li><%= t('terms_of_service.section3.items.item1') %></li>
          <ol class="sub-terms">
            <% t('terms_of_service.section3.sub_items').each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ol>
          <li><%= t('terms_of_service.section3.items.item2') %></li>
        </ol>

        <h2 class="heading"><%= t('terms_of_service.section4.heading') %></h2>
        <ol class="terms">
          <li><%= t('terms_of_service.section4.items.item1') %></li>
          <li><%= t('terms_of_service.section4.items.item2') %></li>
        </ol>

        <h2 class="heading"><%= t('terms_of_service.section5.heading') %></h2>
        <p id="paragraph"><%= t('terms_of_service.section5.content') %></p>

        <h2 class="heading"><%= t('terms_of_service.section6.heading') %></h2>
        <p id="paragraph"><%= t('terms_of_service.section6.content') %></p>

        <h2 class="heading"><%= t('terms_of_service.section7.heading') %></h2>
        <p id="paragraph"><%= t('terms_of_service.section7.content') %></p>

        <h2 class="heading"><%= t('terms_of_service.section8.heading') %></h2>
        <p id="paragraph"><%= t('terms_of_service.section8.content') %></p>
      </div>
    </div>
  </div>

</section>