<% provide(:title, "Terms of Service") %>
<section id="terms-of-service">

  <div class="title">License</div>

  <div class="container">

    <div class="col-md-12">
      <div class="category">Repo License</div>
        <ul class="fa-ul">
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution'), licenses_cca_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution - Share Alike'), licenses_ccasa_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution - No Derivatives'), licenses_ccand_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Common Creative - Attribution - Non-Commercial'), licenses_ccanc_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Attribution - Non-commercial - Share Alike'), licenses_ancsa_path %></li>
          <li><%= link_to fa_icon("angle-double-right li", text: ' Attribution - Non-Commercial - No Derivatives'), licenses_ancnd_path %></li>
        </ul>
    </div>

  </div>

  <div class="title">Terms and Conditions</div>
  <div class="container">
    <div class="heading">1. Terms </div>
    <ul id="terms">
      <p id="paragraph">By accessing the website at www.makerepo.com, you are agreeing to be bound by these terms of service,
         all applicable laws and regulations, and agree that you are responsible for compliance with any
         applicable local laws. If you do not agree with any of these terms, you are prohibited from using or
         accessing this site. The materials contained in this website are protected by applicable copyright and
         trademark law.</p>
    </ul>
    <div class="heading">2. User comments, feedback and other submissions</div>
    <ul id="terms">
      <p id="paragraph">The Site may offer you the opportunity to submit, post or display content and materials, including, without limitation,
        photographs, text, files, comments, suggestions or personally identifiable information.
        You retain ownership of any intellectual property rights that you hold in the Content.</p>
        <ul id="terms">
        <li>a.	Your Content must be your own and must not be invading any third-party’s rights. MakerRepo reserves the right to
            remove any of Your Content from this Website at any time without notice.</li>
        <li>b.	For the avoidance of any doubt, you acknowledge and agree that we may:</li>
        <li>c.	remove your Content at our sole discretion (even if you have not breached these Terms)</li>
        <li>d.	use all or part of your Content in promoting our products and services;</li>
        <li>e.	You warrant and represent that your Content will not be inappropriate. Without limitation,
          Content will be considered inappropriate if:</li>
          <ul id="sub-terms">
            <li>i.	It is defamatory, plagiarised, abusive, malicious, threatening, false, misleading, offensive, insulting,
              discriminatory, profane, harassing, racist, sexist, indecent, obscene, pornographic or hateful;</li>
            <li>ii.	It is in breach of confidentiality or another person’s privacy,</li>
            <li>iii.	It contains accusations of impropriety or personal criticism of our staff;</li>
            <li>iv.	It is technically harmful (including without limitation computer viruses, logic bombs, trojan horses, worms,
              harmful components, corrupted data or other malicious software, harmful data or conduct);</li>
            <li>v.	It advertises or promotes any product or service or makes any requests for donations or financial support;</li>
            <li>vi.	It is spam or junk content;</li>
            <li>vii.	It impersonates another person or otherwise misrepresents your identity, affiliation or status;</li>
            <li>viii.	It would be considered a criminal offence, or gives rise to civil liability, or is otherwise unlawful; and/or</li>
            <li>ix.	is in breach of these Terms</li>
          </ul>
        <li>f.	For your safety, never include your phone number, email,
          address or other personal information in a post. Your comments are visible to all.</li>
      </ul>
    </ul>

    <div class="heading">3. Use License </div>
    <ul id="terms">
      <li>a.	Permission is granted to temporarily download one copy of the materials (information or software)
        on MakerRepo's website for personal, non-commercial transitory viewing only. This is the grant of a license,
        not a transfer of title, and under this license you may not:</li>

        <ul id="sub-terms">
          <li>i.	modify or copy the materials;</li>
          <li>ii.	use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
          <li>iii.	attempt to decompile or reverse engineer any software contained on MakerRepo's website;</li>
          <li>iv.	remove any copyright or other proprietary notations from the materials; or</li>
          <li>v.	transfer the materials to another person or "mirror" the materials on any other server.</li>
        </ul>

      <li>b.	This license shall automatically terminate if you violate any of these restrictions and may be terminated by MakerRepo
         at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any
         downloaded materials in your possession whether in electronic or printed format.</li>
    </ul>

    <div class="heading">4. Disclaimer </div>
    <ul id="terms">
      <li>a.	The materials on MakerRepo's website are provided on an 'as is' basis. MakerRepo makes no warranties, expressed or implied,
        and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability,
        fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>

      <li>b.	Further, MakerRepo does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use
        of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
    </ul>

    <div class="heading">5. Limitations </div>
      <p id="paragraph">In no event shall MakerRepo or its suppliers be liable for any damages (including, without limitation, damages for loss of data
         or profit, or due to business interruption) arising out of the use or inability to use the materials on MakerRepo's website,
         even if MakerRepo or a MakerRepo authorized representative has been notified orally or in writing of the possibility of such damage.
         Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental
         damages, these limitations may not apply to you.</p>

    <div class="heading">6. Accuracy of materials </div>
      <p id="paragraph">The materials appearing on MakerRepo website could include technical, typographical, or photographic errors. MakerRepo does not warrant
        that any of the materials on its website are accurate, complete or current. MakerRepo may make changes to the materials contained on its
        website at any time without notice. However MakerRepo does not make any commitment to update the materials.</p>

    <div class="heading">7. Links </div>
      <p id="paragraph">MakerRepo has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site.
        The inclusion of any link does not imply endorsement by MakerRepo of the site. Use of any such linked website is at the user's own risk.</p>

    <div class="heading">8. Modifications </div>
      <p id="paragraph">MakerRepo may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be
        bound by the then current version of these terms of service.</p>
  </div>

</section>
