<%= link_to 'Back', announcements_path, class: 'float-end' %>

<div class="padding-10">
  <h2 class="text-center pt-2 mb-5 fw-bold">Edit Announcement</h2>
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-12">
        <%= form_for @announcement, url: { controller: 'announcements', action: 'update' }, html: { id: 'volunteerForm', class: 'needs-validation', novalidate: 'novalidate' } do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3 text-center">
                <%= f.label :description, 'Announcement', class: 'form-label' %>
                <%= f.text_field :description, placeholder: 'Write your announcement here', class: 'form-control', required: true %>
                <div class="invalid-feedback">
                  Please provide a title.
                </div>
              </div>
            </div>
            <div class="mx-auto col-md-6 text-center">
              <b>Select to what public you want this to appear</b> <br />
              <div class="d-inline-block text-start form-check">
                <%= f.radio_button :public_goal, 'volunteer', style: 'display:inline', class: 'form-check-input' %>
                <%= f.label :public_goal, 'Volunteers', style: 'display:inline', class: 'form-label' %>
                <br />
                <%= f.radio_button :public_goal, 'staff', style: 'display:inline', class: 'form-check-input' %>
                <%= f.label :public_goal, 'Staff', style: 'display:inline', class: 'form-label' %>
                <br />
              </div>
            </div>
            <div class="mx-auto col-md-6 text-center">
              <b>Select if this announcements is active</b> <br />
              <div class="d-inline-block text-start form-check">
                <%= f.radio_button :active, true, style: 'display:inline', class: 'form-check-input' %>
                <%= f.label :active, 'Yes', style: 'display:inline', class: 'form-label' %>
                <br />
                <%= f.radio_button :active, false, style: 'display:inline', class: 'form-check-input' %>
                <%= f.label :active, 'No', style: 'display:inline', class: 'form-label' %>
                <br />
              </div>
            </div>
            <div class="mb-3 col-md-4"></div>
            <div class="mb-3 col-md-4 text-center">
              <%= f.label :end_time, 'End Date (Optional)', class: 'form-label' %>
              <%= f.text_field 'end_date', autocomplete: 'off', class: 'form-control mb-3', id: 'end_date' %>
              <button class="btn btn-danger btn-sm" type="button" onclick="clearEndDate();">Clear End Date</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-lg-12 text-center">
              <%= f.submit 'Update Announcement', class: 'btn btn-secondary btn-xl text-uppercase' %>
            </div>
            <br><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    jQuery('#end_date').flatpickr();
</script>