<section class="page-contents">
  <div class="padding-10 text-center">
    <br>
    <h2>Announcements</h2>

    <%= link_to "New Announcement", new_announcement_path, :class=>"btn btn-primary m-5" %>

    <% if !@announcements.blank? %>
      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

      <br />

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Description <span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Public<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Active?<span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
            <th>Created By<span onclick="sortTable('sessions-table', 4)"><%=fa_icon('arrow-down')%></span></th>
            <th class="action-header">Action</th>
          </tr>

          <tbody>
          <% @announcements.each do |a| %>
            <tr>
              <td>
                <%= a.created_at.strftime("%m/%e/%Y (%b)") %>
                <br>
                <%= a.created_at.strftime("%I:%M %p").downcase() %>
              </td>

              <td>
                <%= a.description %>
              </td>

              <td>
                <%= return_public(a.public_goal) %>
              </td>

              <td>
                <%= return_active(a.active) %>
              </td>

              <td class = "username">
                <%= link_to a.user.name.capitalize, user_path(a.user.username) %>
                <br />
              </td>

              <td class="action-cell">
                <%=link_to "Edit", edit_announcement_path(a.id), class:"btn btn-primary btn-block btn-sm mb-1 mt-0" if current_user.staff?%>
                <%=link_to "Show", announcement_path(a.id), class:"btn btn-info btn-block btn-sm mt-0 mb-1" %>
                <%=link_to "Delete", { controller: :announcements ,action: :destroy, id: a.id }, method: :delete,
                           data: { confirm: 'Are you sure that you want to delete this announcement?' },
                           class:"btn btn-danger btn-sm btn-block mb-1 mr-0" %>
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-5">
        No Announcements were created yet.
      </div>
    <% end %>
  </div>
</section>
