<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">Create Announcements</h2>

    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @announcement, url: {controller: "announcements", action: "create"}, :html => { :id => "volunteerForm", class:"needs-validation", novalidate: 'novalidate' } do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <%= f.label :description, "Announcement" %>
                  <%= f.text_field :description, placeholder: "Write your announcement here", class: 'form-control', required: true %>
                  <div class="invalid-feedback">
                    Please write your announcement
                  </div>
                </div>
              </div>
              <div class="mx-auto col-md-12 text-center">
                <b>Select to what public you want this to appear</b> <br />
                <div class="d-inline-block text-left">
                  <%= f.radio_button :public, 'volunteer', :style => 'display:inline' %>
                  <%= f.label :public, 'Volunteers', :style => 'display:inline' %>
                  <br />
                  <%= f.radio_button :public, 'regular_user', :style => 'display:inline' %>
                  <%= f.label :public, 'Regular Users', :style => 'display:inline' %>
                  <br />
                  <%= f.radio_button :public, 'staff', :style => 'display:inline' %>
                  <%= f.label :public, 'Staff', :style => 'display:inline' %>
                  <br />
                  <%= f.radio_button :public, 'admin', :style => 'display:inline' %>
                  <%= f.label :public, 'Admins', :style => 'display:inline' %>
                  <br />
                  <br />
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <%= f.submit "Create Announcement", class: "btn btn-secondary btn-xl text-uppercase" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
