<% provide :title, t('memberships.index.title') %>

<section class="mt-n3">
  <div class="position-relative text-white text-center d-flex flex-column justify-content-center" style="min-height: 90vh;">
    <div style="background: url(<%= asset_path('memberships/jumbotron.jpg') %>) center center / cover no-repeat; filter: brightness(40%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0;"></div>

    <div class="container position-relative z-1">
      <p class="lead text-white fs-2"><%= t('memberships.index.sub_header') %></p>
      <h1 class="display-1 text-white fw-bold"><%= t('memberships.index.title') %></h1>
      
      <div class="mt-4 pb-5 d-flex justify-content-center flex-wrap gap-3">
        <%= link_to t('memberships.index.purchase_btn'), your_memberships_memberships_path, class: 'btn btn-primary btn-lg px-5 py-3' %>
      </div>
    </div>
  </div>
  


  <div class="container-lg my-5">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <p class="fs-4 text-primary fw-bold text-uppercase"><%= t('memberships.index.subtitle_1') %></p>
        <h2 class="mb-4 fs-2 display-5"><%= t('memberships.index.text_1') %></h2>
      </div>

      <div class="col-lg-5 text-center">
        <%= image_tag 'memberships/text1.jpg', class: 'img-fluid rounded shadow' %>
      </div>
    </div>
  </div>


  <div class="container-lg mx-auto row g-4 my-5">
    <div class="col-lg-6">
      <div class="border border-2 rounded-3 p-4 h-100">
        <a class="h2 text-primary" href="<%= t('memberships.index.subtitle_2_link') %>"><%= t('memberships.index.subtitle_2') %></a>
        <p class="fs-4"><%= t('memberships.index.text_2') %></p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="border border-2 rounded-3 p-4 h-100">
        <h2><%= t('memberships.index.subtitle_3') %></h2>
        <p class="fs-4"><%= t('memberships.index.text_3') %></p>
      </div>
    </div>

    <div class="col-12">
      <div class="border border-3 border-primary rounded-4 p-4 bg-body shadow-sm h-100">
        <div class="row align-items-stretch">
          <div class="col-md-4 mb-4 mb-md-0 d-flex align-items-center">
            <div class="w-100 h-100 d-flex align-items-center" style="overflow: hidden;">
              <%= image_tag 'memberships/text3.jpg', class: 'img-fluid w-100 h-100 rounded', style: 'object-fit: cover;' %>
            </div>
          </div>

          <div class="col-md-8 d-flex flex-column">
            <div class="d-flex align-items-center mb-3">
              <h2 class="mb-0 text-primary"><%= fa_icon "star-half-o" %><%= t('memberships.index.subtitle_4') %></h2>
            </div>

            <p class="lead fs-3"><%= t('memberships.index.text_4') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" style="margin-top: 5rem;">
      <h3 class="fs-2 text-primary fw-bold text-uppercase"><%= t('memberships.index.prices') %></h3>
    <table class="table fs-2" style="margin-top: 2rem;">
      <thead>
        <tr>
          <th scope="col"><%= t('memberships.index.row1') %></th>
          <th scope="col"><%= t('memberships.index.col1') %></th>
          <th scope="col"><%= t('memberships.index.col2') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%= t('memberships.index.row2') %></th>
          <td colspan="2"><%= t('memberships.index.row_faculty') %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('memberships.index.row4') %></th>
          <td>$<%= @membership_day.internal_price %>0</td>
          <td>$<%= @membership_sem.internal_price %>0</td>
        </tr>
        <tr>
          <th scope="row"><%= t('memberships.index.row5') %></th>
          <td>$<%= @membership_day.external_price %>0</td>
          <td>$<%= @membership_sem.external_price %>0</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="text-center" style="margin-top: 5rem; margin-bottom: 1rem;">
      <h3 class="fs-2 text-primary fw-bold text-uppercase"><%= t('memberships.index.more_info') %></h3>
      <a class='fs-4' href=<%= t('memberships.index.link.makerspace') %>><%= t('memberships.index.makerspace') %></a>
      <br>
      <a class='fs-4' href=<%= t('memberships.index.link.bruns') %>><%= t('memberships.index.brunsfield') %></a>
      <br>
      <a class='fs-4' href=<%= t('memberships.index.link.fees') %>><%= t('memberships.index.ancillary') %></a>
      <br>
    </div>
  </div>
</section>
