<section id="login">
  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>

  <div class="container page">
    <div class="row">
      <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <h1 class="text-center"><%= t('sessions.login.sign_in') %></h1>

        <%= form_tag login_authentication_path do %>

          <div class="form-group attach">
            <%= text_field_tag :username_email, params[:username_email], placeholder: t('sessions.login.username_or_email'), class: 'form-control' %>
            <%= password_field_tag :password, nil, placeholder: t('sessions.login.password'), class: 'form-control' %>
          </div>

          <%= submit_tag t('sessions.login.sign_in'), class: 'btn btn-primary w-100', 'tab-index': "3" %>
        <% end %>

        <hr/>

        <%= link_to t('sessions.login.forgot_password'), forgot_password_path, class: "btn btn-link w-100" %>
      </div>
    </div>
  </div>

</section>
