<section id="setting" style="width:100%">
<div class="setting-grid">
<section>
  <h2 class="mb-3 fw-bold py-3 text-center">Access Key Form - Safety questionnaire</h2>

  <%= form_for(@key_request, url: { controller: 'key_requests', action: 'steps' }, html: { multipart: true }) do |f| %>
    <%= hidden_field_tag :step, 4 %>
    <div class="row">
      <div>
        <% (1..KeyRequest::NUMBER_OF_QUESTIONS).each do |i| %>
          <div class="mb-5">
            <%= f.label "question_#{i}", "Question #{i}: #{KeyRequest::QUESTIONS[i - 1]}", class: 'form-label' %>
            <%= f.text_field "question_#{i}", required: true, class: 'form-control' %>
          </div>
        <% end %>

        <div class="text-center">
          <%= link_to 'Previous Step', key_request_steps_path(key_request_id: @key_request.id, step: 2), class: 'btn btn-primary' %>
          <%= f.submit 'Next Step', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</section>
</div>
</section>