<% provide :title, t('faq.header') %>

<section id="faq" class="mt-n3">
    <div class="jumbotron" id="faqJumbotron">
        <h1 class="display-1"><%= t('faq.header') %></h1>
        <p><%= t('faq.subtext') %></p>
    </div>
    <div class="container mt-5">
        <% if current_user.admin? %>
            <div class="d-flex align-items-baseline justify-content-between mb-3">
                <div class="form-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" role="switch" id="reorderSwitch" autocomplete="off">
                    <label class="form-check-label" for="reorderSwitch">Edit Order</label>
                </div>
                <%= link_to 'New Entry', new_faq_path, class: 'btn btn-success' %>
            </div>
        <% end %>
        <div id="faqAccordion">
            <% @faqs.each do |faq| %>
                <%# Just use the accordion for styling, people aren't going to click on every single header%>
                <div data-faq-id="<%= faq.id %>" class="mb-3">
                    <div class="mb-3">
                        <h2 class="d-inline"><%= faq.localized_title %></h2>
                        <%= link_to('Edit', edit_faq_path(faq), class: 'float-end fs-2') if current_user.admin? %>
                    </div>
                    <%# faq.localized_body.html_safe is a div element, and browsers dont allow div inside p %>
                    <div class="mb-3 faqBody"><%= sanitize faq.localized_body %></div>
                </div>
            <% end %>
        </div>
    </div>
</section>
