<div class="card h-100 shadow">
    <%= link_to repository_path(repository.user_username, repository.slug), class: 'card-img-top bg-dark', style: 'height: 16rem' do %>
        <%= image_tag(url_for(repository.photos.first.image.variant(:repo_display_wrapper)), class: 'w-100 h-100 object-fit-cover') if repository.photos.first.present? %>
    <% end %>

    <%#= link_to repository.title, repository_path(user_username: repository.user_username, id: repository.slug) %>
    <div class="card-body py-2 d-flex flex-column">
        <p class="fw-bolder fs-5 line-clamp-3 mb-0"><%= repository.title %></p>
        <p class="line-clamp-3 mb-auto"><%= strip_tags(sanitize(repository.description.truncate(250).split('<br>').first)) %></p>
        <hr class="mx-n3 my-2" />
        <div class="mb-1">
            <span class="fw-bolder">by <%= link_to repository.user_username, user_path(repository.user_username) %></span>
            <span class="text-primary"><%= fa_icon 'heart' %> <%= repository.like %></span>
            <span><%= repository.created_at.to_date.to_fs :rfc822 %></span>
        </div>
    </div>
</div>
