<section id="new-repo">
  <div class="title">Edit Project</div>
  <%= link_to fa_icon("search", text: 'View project'), repository_path(@repository.user_username, @repository.slug), class: 'edit-repo-link', id: 'view-repo-link' %>
  <%= form_for @repository, url: {controller: "repositories", action: "update"}, html: { multipart: true } do |f| %>
    
    <br>
    <%= f.label :title, "Title" %>
    <div>Great project titles are short and memorable.</div>
    <%= f.text_field :title, class: 'repo' %>
  
    <br>
    <%= f.label :description %>
    <div style="width: 420px;">
      <%= f.text_area :description, class: 'repo', id: 'redactor' %>
    </div>

    <%= label_tag :file, "Project files" %>
    <label class="custom-instructable-upload">
      <%= file_field_tag 'files[]', type: :files, multiple: true %>
      Choose files...
    </label>

    <div id="file-container">
    <% @files.each do |f| %>
      <div class="file-item">
        <u><%= fa_icon "file-text-o" %> <%= link_to f.file_file_name, f.file.url(:original, false) %></u>
        <span id="<%= f.file_file_name %>" class="file-remove">remove file</span>
      </div> 
    <% end %>
    <%= hidden_field_tag 'deletefiles' %>
    </div>
    <br>
    <%= label_tag :photo, "Gallery" %>
    <div>A maximum of five photos can be uploaded per repository.</div>
    <div class="repo-image">
      <div id="dragndrop">
        <%= fa_icon 'cloud-upload'%>
        <p>Drag &amp; Drop</p>
      </div>
      <label class="custom-image-upload">
        <%= file_field_tag 'images[]', type: :files, multiple: true %>
        or choose an image...
      </label>
    </div>

    <div id="image-container">

    <% @photos.each do |img| %>
      <div class="image-item">
        <span class="image-remove"></span>
        <%= image_tag img.image.url, crossOrigin: "Anonymous", data: { name: img.image_file_name, width: img.width, height: img.height } %>
      </div> 
    <% end %>
    
    </div>

    <br>
    <%= f.label :categories %> 
    <div>Choose at most 5 categories that fit your project.</div>
    <%= f.select :categories, options_from_collection_for_select(CategoryOption.show_options, :id, :name), class: "profile-text", include_blank: "Select a category..." %>
    
    <div id="category-container">
      <% @categories.each do |category| %>
        <span class="category"><%= category.name %></span>
      <% end %>
    </div>
  
    <br>
    <%= f.label :equipment %> 
    <div>Choose at most 5 pieces of equipment that are related to your project.</div>
    <%= f.select :equipments, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: "profile-text", include_blank: "Select a piece of equipment..." %>
    
    <div id="equipment-container">
    <% @equipments.each do |equipment| %>
      <span class="equipment"><%= equipment.name %></span>
    <% end %>
    </div>
    
    <br>
    <%= f.label :license %> 
    <div>Choose how you want your project to be used by others.</div>
    <%= f.select :license, @repository.class.license_options %>

    <br>
    <br>
    <br>
  
    <%= f.submit "Update Project", class: "save-button", id: "waiting-save-button" %>
    <span id="status-save"></span>

  <% end %>
</section>