<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>
<section id="new-repo">
  <div class="title">Edit Project</div>
  <%= link_to fa_icon("search", text: 'View project'), repository_path(@repository.user_username, @repository.slug), class: 'edit-repo-link', id: 'view-repo-link' %>
  <%= form_for @repository, url: {controller: "repositories", action: "update"}, html: { multipart: true } do |f| %>

    <br>
    <div class="form-group">
    <%= f.label :title, "Title" %>
    <div>Great project titles are short and memorable.</div>
    <%= f.text_field :title, class: 'repo form-control' %>
    </div>
    <div class="form-group">
    <br>
    <%= f.label :description %>
    <div style="width: 420px;">
      <%= f.trix_editor :description, class: 'repo form-control' %>
    </div>

    </div>
    <%= label_tag :file, "Project files" %>
    <label class="custom-instructable-upload">
      <%= file_field_tag 'files[]', type: :files, multiple: true %>
      Choose files...
    </label>

    <div id="file-container">
      <% @files.each do |f| %>
        <table>
          <tr class="file-item">
            <td><%= fa_icon "file-text-o" %> <%= f.file.filename %></td>
            <td><span><%= f.file.byte_size/1000 %> KB</span></td>
            <td><span id="<%= f.file.id %>" class="file-remove">remove</span></td>
          </tr>
        </table>
      <% end %>
      <%= hidden_field_tag 'deletefiles' %>
    </div>
    <br>
    <%= label_tag :photo, "Gallery" %>
    <div>A maximum of five photos can be uploaded per repository.</div>
    <div class="repo-image">
      <div id="dragndrop"></div>
        <%= fa_icon 'cloud-upload'%>
        <p>Drag &amp; Drop</p>
      </div>
      <label class="custom-image-upload">
        <%= file_field_tag 'images[]', type: :files, multiple: true %>
        or choose an image...
      </label>
    </div>

    <div id="image-container">

    <% @photos.each do |img| %>
      <div class="image-item">
        <span id="<%= img.image.filename %>" class="image-remove"></span>
        <%= image_tag img.image %>
      </div>
    <% end %>
    <%= hidden_field_tag 'deleteimages' %>
    </div>
    <div class="form-group">
    <%= f.label :youtube_link, "Youtube Link" %>
    <div>Your project will be better understood with a 1 min Youtube video.<br>Votre projet sera mieux compris avec une vidéo Youtube de 1 minute</div>
    <%= f.text_field :youtube_link, class: 'repo form-control' %>
    </div>
    <br>
    <%= f.label :categories %>
    <div>Choose at most 5 categories that fit your project.</div>
    <%= f.select :categories, options_from_collection_for_select(CategoryOption.show_options, :id, :name), include_blank: "Select a category..." %>

    <div id="category-container">
      <% @categories.each do |category| %>
        <span class="category"><%= category.name %></span>
      <% end %>
    </div>

    <br>
    <%= f.label :equipment %>
    <div>Choose at most 5 pieces of equipment that are related to your project.</div>
    <%= f.select :equipments, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: "profile-text", include_blank: "Select a piece of equipment..." %>

    <div id="equipment-container">
    <% @equipments.each do |equipment| %>
      <span class="equipment"><%= equipment.name %></span>
    <% end %>
    </div>

    <br>
    <%= f.label :license %>
    <div>Choose how you want your project to be used by others.</div>
    <%= f.select :license, @repository.class.license_options %>

    <div id= "share_option">
        <%= f.label :share_type, "Your project is..." %>
        <%= fa_icon('globe') %>
        <%= f.radio_button(:share_type, "public", :class => "show_extra", :style => "display:inline",:onclick => "hidePass();")%><%= f.label(:share_type, "Public", :id =>"type", :style => "display:inline")  %>
        <div id= "description"> Anyone can see this repository </div>
        <%= fa_icon('lock') %>
        <%= f.radio_button(:share_type, "private", :class => "show_extra", :style => "display:inline", :onclick => "showPass();") %><%= f.label(:share_type, "Private", :id =>"type", :style => "display:inline")  %>
        <div id= "description"> Only those with the url and password can view this repository </div>
        <% if @repository.share_type.eql?("private")%>
          <div id = "change_pass"><input type="checkbox" , id= "change", onclick= "togglePass();">Change Password</div>
        <% end %>

        <div id="pass" class="form-group">
          <br>
          <%= password_field :password, nil, placeholder: 'Password', id: 'password', style: "display: none;", class: "form-control" %>
        </div>

    </div>


    <br>
    <br>
    <br>
    <% content_tag "repository[slug]", @repository.slug%>
    <%= f.submit "Update Project", class: "btn btn-primary", id: "waiting-save-button" %>
    <span id="status-save"></span>
    <% if flash[:alert] %>
      <div id="alert"><%= flash[:alert] %></div>
    <% end %>

  <% end %>
</section>
