<section id="repositories-index">
  <section id="repository-filter">
    <div class="sort">sort by</div>
    <nav>
      <div id="filter-header">Newest <%= fa_icon 'caret-down' %> </div>
      <ul class="filter">
        <li>Newest</li>
        <li>Featured</li>
        <li>Platform</li>
        <li>Popular</li>
        <li>Makes</li>
        <li>Random</li>
      </ul>
    </nav>
  </section>

  <section id="repositories-container">
  <% @repositories.each do |repository| %>
    <div class="repository-container">

      <div class="repo-display-wrapper" <%= "style=background-image:url('#{url_for(repository.image)}')"  %> >
        <%= link_to "", repository_path(repository.user_username, repository.title) %>
      </div>

      <div class="repo-info">
        <div class="left">
          <div class="title"><%= link_to repository.title, repository_path(repository.user_username, repository.title) %></div> 
          <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div> 
          <div><%= time_ago_in_words(repository.created_at) << " ago" %></div>
        </div>
        <div class="likes"><%= fa_icon 'heart' %><br><%= repository.like %></div>
      </div>
    </div>
  <% end %>
  </section>
</section>