<% provide(:title, 'New Project') %>
<div class="container">
  <section class="card mt-4">
    <div class="col-lg-7 mx-auto">
      <section id="new-repo" class="mx-auto p-0">
        <div class="title border-0 mt-4"><b><%= t('explore.new.header') %></b></div>

        <%= form_for @repository, url: { controller: 'repositories', action: 'create' }, html: { multipart: true } do |f| %>
          <%= text_field_tag :username_dont_autofill, {}, { hidden: true } %>
          <div class="mb-5 required">
          <%= f.label :title, t('explore.new.title'), class: 'form-label' %>
          <div><%= t('explore.new.title_msg') %></div>
          <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="mb-5">
          <%= f.label :description, class: 'form-label' %>
          <div>
            <%= f.trix_editor :description, class: 'form-control', style: 'height: auto!important;' %>
          </div>
          </div>

          <%= label_tag :file, t('explore.new.proj_files') .html_safe, class: 'form-label mb-2' %>
          <div class="mb-5">
            <div class="input-group mb-3">
              <%= file_field_tag 'files[]', type: :files, multiple: true, class: 'form-control', aria_label: 'Project Files / Fichiers du projet' %>
              <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-file-input">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

          <div id="file-container"></div>
          <div class="mb-5 required">
            <%= label_tag :photo, t('explore.new.gallery') , class: 'form-label' %>
            <div> <%= t('explore.new.gal_msg') %>
            </div>
            <div>
              <div class="input-group mb-3">
                <%= file_field_tag 'images[]', type: :files, multiple: true, class: 'form-control image-upload', aria_label: 'Select Pictures / Selectionner des images' %>
                <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-photo-input">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="repo-image mx-auto">
              <div id="dragndrop" ondrop="dragndrop(event);" ondragover="dragover(event);">
                <%= fa_icon 'cloud-upload' %>
                <p><%= t('explore.new.drag_drop') %></p>
              </div>
            </div>
          </div>

          <div id="image-container"></div>
          <div class="mb-5">
          <%= f.label :youtube_link, t('explore.new.youtube') , class: 'form-label' %>
          <div><%= t('explore.new.youtube_msg') =%>
          </div>
          <%= f.text_field :youtube_link, class: 'form-control' %>
          </div>
          <div class="mb-5 required">
          <%= f.label :categories, t('explore.new.cat') , class: 'form-label' %>

          <div><%= t('explore.new.cat_msg') %>
          </div>



          <%= f.select :categories, options_from_collection_for_select(CategoryOption.show_options, :name, :name), { include_blank: t('explore.new.sel_cat'), include_hidden: false }, { class: 'profile-text form-control form-select', multiple: true } %>

          </div>

          <div class="mb-5">
          <%= f.label :equipment, t('explore.new.equip') , class: 'form-label' %>

          <div><%= t('explore.new.equip_msg') %>
          </div>

          <%= f.select :equipments, options_from_collection_for_select(EquipmentOption.show_options, :name, :name), { include_blank: t('explore.new.sel_cat'), include_hidden: false }, { class: 'profile-text form-control form-select', multiple: true } %>

          </div>


          <div class="mb-5">
          <%= f.label :license, t('explore.new.license') , class: 'form-label' %>

          <div><%= t('explore.new.lic_msg') %>
          </div>

          <%= f.select :license, @repository.class.license_options, {}, { class: 'form-control form-select' } %>
          </div>

          <div class="mb-5">
            <% if params[:project_proposal_id].present? %>
              <%= f.hidden_field :project_proposal_id, value: params[:project_proposal_id] %>
            <% else %>
              <%= f.label :license, t('explore.new.reason') , class: 'form-label' %>
              <%= f.select(:project_proposal_id, options_for_select(@project_proposals), { include_blank: true }, { class: 'form-control form-select' }) %>
            <% end %>
          </div>

          <div class="mb-5">
            <%= label_tag(:owner, t('explore.new.new_owner') , class: 'form-label') %>
            <%= select_tag(:owner, '', prompt: t('explore.new.search_user'), class: 'owner_select form-control', id: 'owner_select', multiple: true) %>
          </div>


          <div id="share_option" class="mb-5">
            <%= f.label :share_type, t('explore.new.proj_is') , class: 'form-label' %>

            <%= f.radio_button(:share_type, 'public', class: 'show_extra form-check-input', style: 'margin-right: 4px;  height:16px;width:16px', onclick: 'hidePass();') %><%= label_tag('share_type_public', style: 'display:inline') do %><%= fa_icon('globe') %> Public<% end %>
            <div id="description"> <%= t('explore.new.pub_msg') %></div>
            <%= f.radio_button(:share_type, 'private' , class: 'show_extra form-check-input', style: 'margin-right: 4px; height:16px;width:16px', onclick: 'showPass();') %><%= label_tag('share_type_private', style: 'display:inline') do %><%= fa_icon('lock') %> <%= t('explore.new.private') %> <% end %>
            <div id="description"> <%= t('explore.new.priv_msg') %></div>
              

            <div id="pass" class="mb-3" style="display: none;">
              <%= f.label :password, 'Set repository password', class: 'form-label' %>
              <%= password_field :password, nil, placeholder: 'Password', id: 'password_repo_field', 'aria-label': 'Password / Mot de Passe', class: 'form-control' %>
            </div>
            <div class="invalid-feedback">
              Please Select a Share TypeCréer ton Projet
            </div>
          </div>

          <div class="text-center">
            <%= f.submit t('explore.new.create') , class: 'btn btn-primary', id: 'waiting-save-button' %>
          </div>
          <span id="status-save"></span>
          <div id="form-error-span"></div>

        <% end %>

      </section>
    </div>
  </section>
</div>
