<section id="new-repo">

  <%= form_for @repository, url: {controller: "repositories", action: "create"}, html: { multipart: true } do |f| %>
    <div class="title">Create a Repository</div>
    <%= f.label :title, "Name" %>
    <div>Great repository names are short and memorable.</div>
    <%= f.text_field :title, class: 'repo' %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'repo' %>

    <% if github? %>
      <%= f.label :github, fa_icon('github', text: 'Github Repository Name', style: 'padding-right: 0px;') %>
      <div>Github will replaces spaces in repository names with dashes.</div>
      <span class="autocomplete-wrapper">
        <%= f.text_field :github, class: 'repo repo-autocomplete' %>
        <span class="loader"></span> 
      </span>

      <label class="custom-instructable-upload">
        <%= file_field_tag 'files[]', type: :files, multiple: true %>
        Upload Files to Github
      </label>
    
    <% end %>

    <div id="file-container"></div>

    <%= label_tag :photo, "Gallery" %>
    <div>A maximum of five photos can be uploaded per repository.</div>
    <div class="repo-image">
      <div id="dragndrop">
        <%= fa_icon 'cloud-upload'%>
        <p>Drag &amp; Drop</p>
      </div>
      <label class="custom-image-upload">
        <%= file_field_tag 'images[]', type: :files, multiple: true %>
        or choose an image...
      </label>
    </div>

    <div id="image-container"></div>

    <%= f.label :category %> 
    <div>Choose a category that best fits your project.</div>
    <%= f.select :category, @repository.class.category_options, prompt: "Select a category..." %>

    <%= label_tag :tag %> 
    <div>A maximum of five tags per repository</div>
    <%= text_field_tag :tag, nil, placeholder: 'Type a tag, then hit enter' %>

    <div id="tag-container"></div>

    <%= f.label :license %> 
    <div>Choose how you want your project to be used by others.</div>
    <%= f.select :license, @repository.class.license_options %>

    <br>
    <br>
    
    <%= f.submit "Create Repository", class: "save-button" %>

  <% end %>
</section>

<%= javascript_tag "directories();" %>
