<section id="new-repo">
  <%= form_for @repository, url: {controller: "repositories", action: "create"}, :html => { :multipart => true } do |f| %>
    <%= f.label :title, "Name" %>
    <div>Great repository names are short and memorable.</div>
    <span class="autocomplete-wrapper">
      <%= f.text_field :title, class: 'repo repo-autocomplete' %>
      <span class="loader"></span> 
    </span>

    <%= f.label :github, fa_icon('github', text: 'Github Repository Name', style: 'padding-right: 0px;') %>
    <span class="autocomplete-wrapper">
      <%= f.text_field :github, class: 'repo repo-autocomplete' %>
      <span class="loader"></span> 
    </span>
    
    <%= f.label :description %>
    <div>A description is optional.</div>
    <%= f.text_area :description, class: 'repo' %>

    <%= f.fields_for :photos do |photo| %>
      <%= photo.label :photo, "Gallery" %>
      <div>A maximum of six photos can be uploaded per repository.</div>
      <div class="repo-image">
        <div id="dragndrop">
          <%= fa_icon 'cloud-upload'%>
          <p>Drag &amp; Drop</p>
        </div>
        <label class="custom-image-upload">
          <%= photo.file_field :image, multiple: true %>
          or choose an image...
        </label>
      </div>
      <div id="image-container">
      <div class="col">
        <span class="image-item">
          <%= image_tag "bio-medical.jpg", class: "one" %>
        </span>
        <span class="image-item">
          <%= image_tag "biomedical.jpg", class: "three" %>
        </span>
        <span class="image-item">
          <%= image_tag "motherboard.jpg", class: "five" %>
        </span>
      </div>
      <div class="col">
        <span class="image-item">
          <%= image_tag "vr.jpg", class: "two" %>
        </span>
        <span class="image-item">
          <%= image_tag "wearables.jpg", class: "four" %>
        </span>
        <span class="image-item">
          <%= image_tag "three-d.jpg", class: "six" %>
        </span>
      </div>
      </div>
    <% end %>

   <%= f.label :category %> 
    <div>Choose a category that best fits your project.</div>
    <%= f.select :category, @repository.class.category_options, prompt: "Select a category..." %>

   <%= f.label :license %> 
    <div>Choose how you want your project to be used by others.</div>
    <%= f.select :license, @repository.class.license_options %>

  <%= f.submit "Create Repository", class: "save-button" %>

  <% end %>
</section>

<%= render 'photoswipe'%>