<% provide(:title, "New Project") %>
<section id="new-repo">
    <div class="title">New Project</div>

  <%= form_for @repository, url: {controller: "repositories", action: "create"}, html: { multipart: true } do |f| %>
  <br>
  <%= f.label :title, "Title" %>
    <div>Great project titles are short and memorable.</div>
    <%= f.text_field :title, class: 'repo' %>
    <br>
    <%= f.label :description %>
      <div style="width: 420px;">
        <%= f.text_area :description, class: 'repo', id: 'redactor' %>
      </div>
    <% if github? %>
      <%= f.label :github, fa_icon('github', text: 'Github Repository Name', style: 'padding-right: 0px;') %>
      <div>Github will replace spaces in repository names with dashes.</div>
      <span class="autocomplete-wrapper">
        <%= f.text_field :github, class: 'repo repo-autocomplete' %>
        <span class="loader"></span> 
      </span>

      <label class="custom-instructable-upload">
        <%= file_field_tag 'files[]', type: :files, multiple: true %>
        Upload Files to Github
      </label>
    
    <% end %>

    <div id="file-container"></div>

    <%= label_tag :photo, "Gallery" %>
    <div>A maximum of five photos can be uploaded per repository.</div>
    <div class="repo-image">
      <div id="dragndrop">
        <%= fa_icon 'cloud-upload'%>
        <p>Drag &amp; Drop</p>
      </div>
      <label class="custom-image-upload">
        <%= file_field_tag 'images[]', type: :files, multiple: true %>
        or choose an image...
      </label>
    </div>

    <div id="image-container"></div>
    
    <br>
    <%= f.label :categories %> 
    <div>Choose at most 5 categories that fit your project.</div>
    <%= f.select :categories, options_from_collection_for_select(CategoryOption.order("lower(name) ASC").all, :id, :name), class: "profile-text", include_blank: "Select a category..." %>
    
    <div id="category-container"></div>
  
    <br>
    <%= f.label :equipment %> 
    <div>Choose at most 5 pieces of equipment that are related to your project.</div>
    <%= f.select :equipments, options_from_collection_for_select(EquipmentOption.order("lower(name) ASC").all, :id, :name), class: "profile-text", include_blank: "Select a piece of equipment..." %>
  
    <div id="equipment-container"></div>
  
    <br>
    <%= f.label :license %> 
    <div>Choose how you want your project to be used by others.</div>
    <%= f.select :license, @repository.class.license_options %>

    <br>
    <br>
    <br>
    <%= f.submit "Create Project", class: "save-button" %>

  <% end %>

</section>

<% if github? %>
  <%= javascript_tag "directories();" %>
<% end %>