<% provide(:title, @repository.title.to_s) %>

<section class="row container mx-auto mt-3">
  <section id="repository-photos" class="col-lg-8 order-lg-first order-last">
    <% if @repository.youtube_link.present? %>
      <%= youtube_video(@repository.youtube_link) %>
    <% end %>
      <div id="show-photo">
        <% if @photos.present? and @photos.first.image.attached? %>
          <%= image_tag @photos.first.image, alt: 'Repository Main image', data: { width: @photos.first.try(:width), height: @photos.first.try(:height) } %>
        <% end %>
      </div>
    <div id="photo-slide">
      <% @photos.each do |p| %>
        <%= image_tag p.image, alt: 'Repository Image', data: { width: p.width, height: p.height } %>
      <% end %>
    </div>

    <br></br>
    <% if @user.admin? %>
        Currently Featured: <%= @repository.featured.to_s.upcase %>
        <% featured_text = @repository.featured? ? 'Unfeature' : 'Feature' %>
        <%= button_to featured_text, pin_unpin_repository_admin_settings_path(repository_id: @repository.id), method: :patch,
                                                                                                              class: 'btn btn-primary my-3' %>

        <%= button_to 'Delete', delete_repository_admin_users_path(id: @repository.id), method: :delete,
                                                                                        class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
    <% end %>


      <% if @repository.description.present? %>
      <div class="repo-desc">
        <div class="title">DESCRIPTION</div>
        <div style="word-break: break-word;" class="description"><%= @repository.description.html_safe %></div>
      </div>
    <% end %>
  </section>

  <section id="info" class="col-lg-4">
    <div id="repo-title" class="mb-2">
      <%= @repository.title %>
    </div>
    <% if @repository.users.pluck(:email).include?(@user.email) || @user.role.eql?("admin") %>
      <%= link_to fa_icon('pencil', text: 'Edit project'),
                  edit_repository_path(@repository.user_username, @repository.id), class: 'btn btn-sm btn-secondary' %>
    <% end %>
    <div id="misc">
      <span class="misc-item"><%= fa_icon 'heart' %><span class="like-count"><%= @repository.like %></span></span>
      <span class="misc-item"><%= fa_icon 'code-fork', text: @repository.makes.count %></span>
      <span class="misc-item"><%= link_to fa_icon('comments'), '#repo-comments' %>
        <span class="comment-count"><%= link_to @repository.comments.count, '#repo-comments' %></span>
      </span>
    </div>
    <div id="repo-info">
      <div class="repo-info-item">
        <div class="title">PROJECT BY</div>
        <% @repository.users.find_each do |u| %>
            <% if u.id == @repository.user_id %>
              <div class="name"><i class="fa fa-solid fa-star"></i><%= link_to u.username, user_path(u.username) %></div>
            <% else %>
              <div class="name"><%= link_to u.username, user_path(u.username) %></div>
            <% end %>
        <% end %>
      </div>
      <div class="repo-info-item">
        <div class="title">PUBLISHED ON</div>
        <div class="date"><%= @repository.created_at.strftime('%b %e %Y') %></div>
      </div>
      <% if @files.present? %>
      <div class="repo-info-item">
        <table><tr><td class="title">PROJECT FILES</td><td><span id="download-zip" class="bg-download"><%= link_to fa_icon('download', text: 'Download'), download_files_repositories_path(@repository.user_username, @repository.id), id: 'download-zip-link' %></span></td></tr></table>
        <div class="files-show">
        <% @files.each do |f| %>
          <div class="file-item-show">
            <u><%= fa_icon 'file-text-o' %> <%= link_to f.file.filename, rails_blob_path(f.file), target: '_blank', rel: 'noopener' %></u><span><%= f.file.byte_size / 1000 %> KB</span>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>

      <% if @categories.present? %>
      <div class="repo-info-item">
        <div class="title">CATEGORIES</div>
        <% @categories.each do |t| %>
          <span class="tags"><%= link_to t.name, category_path(slug: t.name.gsub(' ', '-').downcase) %></span>
        <% end %>
      </div>
      <% end %>
      <% if @equipments.present? %>
      <div class="repo-info-item">
        <div class="title">EQUIPMENT</div>
        <% @equipments.each do |t| %>
          <span class="tags"><%= link_to t.name, equipment_path(slug: t.name.gsub(' ', '-').downcase) %></span>
        <% end %>
      </div>
      <% end %>

      <div class="repo-info-item">
        <span class="like<%= @liked ? ' liked' : '' %>" style="color: white;">
          <% like_text = @liked ? 'Unlike' : 'Like' %>
          <%= button_to(fa_icon('heart', text: like_text),
                        add_like_repository_path, class: 'like border-0 bg-transparent', remote: true, method: :post, style: 'color: inherit !important; padding: inherit !important;') %>
        </span>
        <span class="make" style="color: white;">
          <%= link_to fa_icon('code-fork', text: 'Make'), makes_new_path(@repository.user_username, @repository.id), class: 'make' %>
        </span>
      </div>
      <div class="repo-info-item">
        <div class="report">
          <%= link_to fa_icon('flag', text: 'Report inapropriate'), report_repository_path(@repository.id), class: 'repository_report' %>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>
      <% if @repository.license.present? %>
      <div class="repo-info-item">
        <div class="title">LICENSE</div>
        <span class="license"><%= link_to @repository.license, license_url[@repository.license] %></span>
      </div>
      <% end %>

      <div class="repo-info-item">
        <div class="title">Linked to Project Proposal:</div>
        <div class="name">
        <% if @repository.project_proposal %>
              <%= link_to @repository.project_proposal.title, project_proposal_path(@repository.project_proposal) %>
        <% else %>
              None
        <% end %>
        </div>
      </div>

      <% if @repository.users.pluck(:email).include?(@user.email) || @user.admin? || @user.staff? %>
        <div class="repo-info-item">
          <div class="title">Link to Project Proposal:</div>
          <%= form_for :repo, url: { controller: 'repositories', action: 'link_to_pp' }, method: :patch do |f| %>
            <div class="mb-3 input-group">
              <%= f.hidden_field :repository_id, value: @repository.id %>
              <%= f.select(:project_proposal_id, @project_proposals, { prompt: 'Choose...' }, { class: 'form-control', id: 'search_project_proposals' }) %>
              <br> </br>
              <%= f.submit 'Link', class: 'btn btn-primary' %>
            </div>
          <% end %>
          </div>
        </div>

        <div class="repo-info-item">
          <div class="title">Add a member:</div>
          <%= form_for :repo_owner, url: { controller: 'repositories', action: 'add_member' }, method: :patch do |f| %>
              <div class="mb-3 input-group">
                <%= f.hidden_field :repository_id, value: @repository.id %>
                <%= f.select(:owner_id, '', { prompt: 'Choose...' }, { class: 'search_users_add form-control', id: 'search_users_add' }) %>
                <br> </br>
                <%= f.submit 'Add', class: 'btn btn-success' %>
              </div>
          <% end %>
          </div>
        </div>

          <div class="repo-info-item">
            <div class="title">Remove a member:</div>
            <%= form_for :repo_owner, url: { controller: 'repositories', action: 'remove_member' }, method: :patch do |f| %>
                <div class="mb-3 input-group">
                  <%= f.hidden_field :repository_id, value: @repository.id %>
                  <%= f.select(:owner_id, @members.pluck(:username, :id), { prompt: 'Choose...' }, { class: 'search_users_remove form-control', id: 'search_users_remove' }) %>
                  <br> </br>
                  <%= f.submit 'Remove', class: 'btn btn-danger' %>
                </div>
            <% end %>
          </div>

        <% if @user.id == @repository.user_id || @user.admin? %>
          <div class="repo-info-item">
            <div class="title">Transfer ownership:</div>
            <%= form_for :repo_owner, url: { controller: 'repositories', action: 'transfer_owner' }, method: :patch do |f| %>
                <div class="mb-3 input-group required">
                  <%= f.hidden_field :repository_id, value: @repository.id %>
                  <%= f.select(:owner_id, @members.pluck(:username, :id), { prompt: 'Choose...' }, { class: 'form-control', id: 'search_users_transfer' }) %>
                  <br> </br>
                  <%= f.submit 'Transfer', class: 'btn btn-warning' %>
                </div>
            <% end %>
          </div>
        <% end %>

          </div>
      <% end %>
  </section>

  <section id="repo-comments" class="order-last col-12">
    <div class="title">Comments</div>
    <%= form_for('Comments', url: comments_create_path, id: 'comment', remote: true) do %>
      <div class="mb-3">
        <%= hidden_field_tag :content %>
        <trix-editor input="content"></trix-editor>
      </div>
      <%= submit_tag 'Post comment', class: 'btn btn-primary' %>
    <% end %>

    <div id="comment-filters">
      <% bold = if params['comment_filter'].eql?('newest')
        then %w[font-weight:700 font-weight:400]
                else
                  %w[font-weight:400 font-weight:700]
                end %>
      <%= link_to 'Top votes', "#{repository_path(comment_filter: :top)}#repo-comments", style: bold.last %>
      <%= link_to 'Newest', "#{repository_path(comment_filter: :newest)}#repo-comments", style: bold.first %>
    </div>
    <div id="comment-container">
      <% @comments.each do |comment| %>
      <div class="comment">
        <div class="comment-upvote">
          <% color = @vote.include?([comment.id, false]) ? '#19c1a5' : '#999' %>
          <%= button_to fa_icon('angle-up'), comments_vote_path(comment_id: comment.id, downvote: 'f'),
                        class: 'vote upvote border-0 bg-transparent', remote: true, method: :post, style: "color: #{color}"
          %>
          <div class="upvote upvote-<%= comment.id %>"><%= comment.upvote %></div>
            <% color = @vote.include?([comment.id, true]) ? '#19c1a5' : '#999' %>
            <%= button_to fa_icon('angle-down'), comments_vote_path(comment_id: comment.id, downvote: 't'),
                          class: 'vote upvote border-0 bg-transparent', remote: true, method: :post, style: "color: #{color}"
            %>
        </div>
        <div class="comment-header">
          <%= link_to user_path(comment.username) do %>
            <div><%= comment.username %><%= tag.div(comment.user.reputation, class: 'rep') %> </div>
           <% end %>
          <%= content_tag :div, time_ago_in_words(comment.created_at) << ' ago', class: 'time' %><br>
          <% if ((@user.admin?) || (@user.id.equal? comment.user_id)) %>
            <%= button_to fa_icon('times'), { controller: :comments, action: :destroy, id: comment.id }, method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, class: 'text-danger float-end' %>
          <% end %>
        </div>
        <div class="comment-content">
          <%= comment.content.html_safe %>
        </div>
      </div>
      <% end %>
      <%= paginate @comments %>
    </div>
  </section>
</section>


<%#%= render 'layouts/photoswipe' %>
