<section id="show-repository">
  <section id="repository-photos">

    <div id="show-photo">
      <%= image_tag @photos.first.image.url, data: { width: @photos.first.width, height: @photos.first.height} %>
    </div>
    <div id="photo-slide">
      <% @photos.each do |p| %> 
        <%= image_tag p.image.url, data: { width: p.width, height: p.height} %>
      <% end %>
    </div>
  </section>

  <section id="info">
    <div id="repo-title">
      <%= @repository.title %>
    </div>
    <div id="misc">
      <span class="misc-item"><%= fa_icon "heart" %><span class="like-count"><%= @repository.like %></span></span>
      <span class="misc-item"><%= fa_icon "code-fork", text: '50' %></span>
      <span class="misc-item"><%= fa_icon "comments", text: '41' %></span>
    </div>
    <div id="repo-info">
      <div class="repo-info-item">
        <div class="title">PROJECT BY</div>
        <div class="name"><%= link_to @repository.user.username, user_path(id: @repository.user.id) %></div>
        <div class="reputation">1530 pts</div>
      </div>
      <div class="repo-info-item">
        <div class="title">PUBLISHED</div>
        <div class="date"><%= @repository.created_at.strftime("%b %e %Y") %></div>
      </div>
      <div class="repo-info-item">
        <div class="title">GITHUB</div>
        <div class="name"><%= link_to(fa_icon('github-alt', text: @repository.github), @repository.github_url )%></div>
      </div>
      <div class="repo-info-item">
        <div class="title">DESCRIPTION</div>
        <div class="description"><%= @repository.description %></div>
      </div>
      <div class="repo-info-item">
        <div class="title">PLATFORM</div>
        <span class="platform"><%= @repository.category%></span>
      </div>
      <div class="repo-info-item">
        <div class="title">TAGS</div>
        <% @tags.each do |t| %>
          <span class="tags"><%= t.name %></span>
        <% end %>
      </div>
      <div class="repo-info-item">
        <span class="like">
          <%= link_to(fa_icon('heart', text: 'Like'), 
            add_like_user_repository_path, class: 'like', remote: true, method: :post) %>
        </span>
        <span class="make">
          <%= link_to(fa_icon('code-fork', text: 'Make'), "#") %>
        </span>
      </div>
      <div class="repo-info-item">
      <div class="report"><%= fa_icon 'flag', text: 'Report inapropriate'%></div>
      </div>
    </div>

  </section>

  <section id="repo-comments">
    <div class="title">Comments</div>
    <%= form_tag user_repository_comments_path(repository_id: @repository.id), id: 'comment', remote: true do %>
      <%= text_area_tag 'content', nil, rows: 5, placeholder: 'Add a new comment' %>
      <%= submit_tag 'Post comment' %>
    <% end %>

    <div id="comment-filters">
      <%= link_to "Newest", "#" %>
      <%= link_to "Top votes", "#" %>
    </div>
    <div id="comment-container">
      <% @comments.each do |comment|%>
      <div class="comment">
        <div class="comment-upvote">
          <%= link_to fa_icon('angle-up'), 
            add_upvote_user_path(id: comment.user.id, comment_id: comment.id), class: 'upvote', remote: true, method: :post %>
          <div class="upvote upvote-<%= comment.id %>"><%= comment.upvote %></div>
          <%= fa_icon 'angle-down' %>
        </div>
        <div class="comment-header">
          <%= link_to comment.user.username, user_path(id: comment.user.id)%>
          <div class="rep">1530pts</div>
          <%= time_ago_in_words(comment.created_at) << " ago" %>
        </div>
        <div class="comment-content">
          <%= comment.content %>
        </div>
      </div> 
      <% end %>
    </div>
  </section>
</section>

<%= render 'layouts/photoswipe' %>