<% provide(:title, @repository.title.to_s) %>

<section class="row container mx-auto mt-3">
    <section id="repository-photos" class="col-lg-8 order-lg-first order-last">
        <div class="mb-3">
            <% if @repository.youtube_link.present? %>
                <%= youtube_video(@repository.youtube_link) %>
            <% elsif @repository.photos.present? and @repository.photos.first.image.attached? %>
                <div id="show-photo">
                    <%= image_tag @repository.photos.first.image.variant(:photo_slide_first),
                                  alt: 'Repository Main image',
                                  data: {
                                      width: @repository.photos.first.try(:width),
                                      height: @repository.photos.first.try(:height)
                                  } %>
                </div>
            <% end %>
            <div id="photo-slide">
                <% @repository.photos.find_each do |p| %>
                    <%= image_tag p.image.variant(:photo_slide),
                                  alt: 'Repository Image',
                                  data: {
                                      src: url_for(p.image),
                                      width: p.image.metadata['width'],
                                      height: p.image.metadata['height']
                                  } %>
                <% end %>
            </div>
        </div>

        <% if @user.admin? %>
            <div class="d-flex justify-content-between">
                <%= button_to @repository.featured? ? t('repository.unfeat') : t('repository.feat'),
                              pin_unpin_repository_admin_settings_path(repository_id: @repository.id), method: :patch,
                              class: 'btn btn-primary' %>
                <%= button_to t('repository.del'), delete_repository_admin_users_path(id: @repository.id), method: :delete,
                              class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this repository?' } %>
            </div>
        <% end %>
        <hr />

        <% if @repository.description.present? %>
            <div class="mb-5">
                <p style="word-break: break-word;"><%= sanitize @repository.description %></p>
            </div>
        <% end %>
    </section>

    <section class="col-lg-4">
        <h1><%= @repository.title %></h1>
        <hr />
        <div class="d-flex justify-content-around text-primary fs-4">
            <div><%= fa_icon 'heart', text: @repository.like %></div>
            <div><%= fa_icon 'code-fork', text: @repository.makes.count %></div>
            <div><%= link_to fa_icon('comments', text:  @repository.comments.count), '#repo-comments' %></div>
        </div>
        <% if @repository.featured? %>
            <p class="text-center text-primary">
                <%= fa_icon :trophy, text: 'This is a featured project!' %>
            </p>
        <% end %>
        <hr />
        <div>
            <div>
                <div class="d-inline-block">
                    <b><%= t('repository.proj_by') %></b>
                    <% @repository.users.find_each do |u| %>
                        <div>
                            <% if u.id == @repository.user_id %>
                                <%= fa_icon :star %>
                            <% end %>
                            <%= link_to u.username, user_path(u.username) %>
                        </div>
                    <% end %>
                </div>
                <% if @repository.users.include?(@user) || @user.role.eql?("admin") %>
                    <%= link_to fa_icon('pencil', text: t('repository.edit_proj')),
                                edit_repository_path(@repository.user_username, @repository.id),
                                class: 'btn btn-sm btn-secondary align-top float-end' %>
                <% end %>
            </div>
            <p><b><%= t('repository.published') %></b> <%= @repository.created_at.strftime('%b %e %Y') %></p>
            <% if @repository.repo_files.any? %>
                <div class="clearfix">
                    <b> <%= t('repository.proj_files') %> </b>
                    <div class="files-show">
                        <% @repository.repo_files.find_each do |f| %>
                            <ul class="file-item-show">
                                <li>
                                    <%= fa_icon 'file-text-o' %>
                                    <%= link_to f.file.filename, rails_blob_path(f.file), target: '_blank', rel: 'noopener' %>
                                    <span><%= f.file.byte_size / 1000 %> KB</span>
                                </li>
                            </ul>
                        <% end %>
                    </div>
                    <%= link_to fa_icon('download', text: t('repository.download')),
                                download_files_repositories_path(@repository.user_username, @repository.id),
                                class: 'btn btn-primary btn-sm float-end' %>
                </div>
            <% end %>

            <% if @repository.license.present? %>
                <div class="mb-3">
                    <b> <%= t('repository.license_proj') %></b><br />
                    <%= link_to @repository.license, license_url[@repository.license] %>
                </div>
            <% end %>

            <div class="mb-3">
                <b><%= t('repository.categories') %></b>
                <ul class="list-group mb-3">
                    <% @repository.categories.find_each do |category| %>
                        <%= link_to category.name, category_path(slug: category.name.gsub(' ', '-').downcase),
                                    class: "list-group-item list-group-item-action text-primary" %>
                    <% end %>
                </ul>
            </div>

            <div class="mb-3">
                <b><%= t('repository.equipment') %></b>
                <ul class="list-group">
                    <% @repository.equipments.find_each do |equipment| %>
                        <%= link_to equipment.name, equipment_path(slug: equipment.name.gsub(' ', '-').downcase),
                                    class: "list-group-item list-group-item-action text-primary" %>
                    <% end %>
                </ul>
            </div>

            <div class="repo-info-item mb-3">
                <span class="like<%= @liked ? ' liked' : '' %>" style="color: white;">
                    <% like_text = @liked ? t('repository.unlike_button') : t('repository.like_button') %>
                    <%= button_to(fa_icon('heart', text: like_text),
                                  add_like_repository_path, class: 'like border-0 bg-transparent', remote: true, method: :post, style: 'color: inherit !important; padding: inherit !important;') %>
                </span>
                <span class="make" style="color: white;">
                    <%= link_to fa_icon('code-fork', text: t('repository.make_button')), makes_new_path(@repository.user_username, @repository.id), class: 'make' %>
                </span>
            </div>
            <div class="report mb-3">
                <%= link_to fa_icon('flag', text: t('repository.report_in')), report_repository_path(@repository.id), class: 'repository_report', rel: 'nofollow' %>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>

            <% if @repository.project_proposal %>
                <p>
                    <b><%= t('repository.link_to_prop') %></b> <br />
                    <%= link_to @repository.project_proposal.title, project_proposal_path(@repository.project_proposal) %>
                </p>
            <% end %>

            <% if @repository.users.include?(@user) || @user.admin? || @user.staff? %>
                <div class="repo-info-item">
                    <div class="title"><%= t('repository.link_to_prop') %> </div>
                    <%= form_for :repo, url: { controller: 'repositories', action: 'link_to_pp' }, method: :patch do |f| %>
                        <div class="mb-3 input-group">
                            <%= f.hidden_field :repository_id, value: @repository.id %>
                            <%= f.select(:project_proposal_id, @project_proposals, { prompt: t('repository.choose_proposal') }, { class: 'form-control', id: 'search_project_proposals' }) %>
                            <br> </br>
                            <%= f.submit t('repository.link_proj'), class: 'btn btn-primary' %>
                        </div>
                    <% end %>
                </div>
        </div>

        <hr />

        <div class="repo-info-item">
            <%= form_for :repo_owner, url: { controller: 'repositories', action: 'add_member' }, method: :patch do |f| %>
                <%= f.label t('repository.add_member'), class: 'form-label' %>
                <div class="mb-3 input-group">
                    <%= f.hidden_field :repository_id, value: @repository.id %>
                    <%= f.select(:owner_username, '', { prompt: t('repository.search_user') }, { class: 'form-control', data: {user_search_bar: ''} }) %>
                    <%= f.submit t('repository.add'), class: 'btn btn-success' %>
                </div>
            <% end %>

            <%= form_for :repo_owner, url: { controller: 'repositories', action: 'remove_member' }, method: :patch do |f| %>
                <%= f.label t('repository.rem_mem'), class: 'form-label' %>
                <div class="mb-3 input-group">
                    <%= f.hidden_field :repository_id, value: @repository.id %>
                    <%= f.select(:owner_id, @repository.users.pluck(:username, :id), { prompt: t('repository.search_user') }, { class: 'search_users_remove form-control', id: 'search_users_remove' }) %>
                    <%= f.submit t('repository.remove'), class: 'btn btn-danger' %>
                </div>
            <% end %>

            <% if @user.id == @repository.user_id || @user.admin? %>
                <%= form_for :repo_owner, url: { controller: 'repositories', action: 'transfer_owner' }, method: :patch do |f| %>
                    <%= f.label t('repository.trans_own'), class: 'form-label' %>
                    <div class="mb-3 input-group required">
                        <%= f.hidden_field :repository_id, value: @repository.id %>
                        <%= f.collection_select :owner_id, @repository.users, :id, :username,
                                     { prompt: t('repository.search_user') },
                                     { class: 'form-control', id: 'search_users_transfer' } %>
                        <br> </br>
                        <%= f.submit t('repository.transfer'), class: 'btn btn-warning' %>
                    </div>
                <% end %>
        </div>
            <% end %>

        </div>
            <% end %>
    </section>

    <section id="repo-comments" class="order-last col-12">
        <hr />
        <div class="title"><%= t('repository.comments') %></div>
        <%= form_for('Comments', url: comments_create_path, id: 'comment', remote: true) do %>
            <div class="mb-3">
                <%= hidden_field_tag :content %>
                <trix-editor input="content"></trix-editor>
            </div>
            <%= submit_tag t('repository.post_com'), class: 'btn btn-primary' %>
        <% end %>

        <div id="comment-filters">
            <% bold = if params['comment_filter'].eql?('newest')
            then %w[font-weight:700 font-weight:400]
            else
                %w[font-weight:400 font-weight:700]
            end %>
            <%= link_to t('repository.top_votes'), "#{repository_path(comment_filter: :top)}#repo-comments", style: bold.last %>
            <%= link_to t('repository.newest'), "#{repository_path(comment_filter: :newest)}#repo-comments", style: bold.first %>
        </div>
        <div id="comment-container">
            <% @comments.find_each do |comment| %>
                <div class="comment">
                    <div class="comment-upvote">
                        <% color = @vote.include?([comment.id, false]) ? '#19c1a5' : '#999' %>
                        <%= button_to fa_icon('angle-up'), comments_vote_path(comment_id: comment.id, downvote: 'f'),
                                      class: 'vote upvote border-0 bg-transparent', remote: true, method: :post, style: "color: #{color}"
                        %>
                        <div class="upvote upvote-<%= comment.id %>"><%= comment.upvote %></div>
                        <% color = @vote.include?([comment.id, true]) ? '#19c1a5' : '#999' %>
                        <%= button_to fa_icon('angle-down'), comments_vote_path(comment_id: comment.id, downvote: 't'),
                                      class: 'vote upvote border-0 bg-transparent', remote: true, method: :post, style: "color: #{color}"
                        %>
                    </div>
                    <div class="comment-header">
                        <%= link_to user_path(comment.username) do %>
                            <div><%= comment.username %><%= tag.div(comment.user.reputation, class: 'rep') %> </div>
                        <% end %>
                        <%= content_tag :div, "#{time_ago_in_words(comment.created_at)} ago", class: 'time' %><br>
                        <% if ((@user.admin?) || (@user.id.equal? comment.user_id)) %>
                            <%= button_to fa_icon('times'), { controller: :comments, action: :destroy, id: comment.id }, method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, class: 'text-danger float-end' %>
                        <% end %>
                    </div>
                    <div class="comment-content">
                        <%= sanitize comment.content %>
                    </div>
                </div>
            <% end %>
            <%= paginate @comments %>
        </div>
    </section>
</section>

<%= vite_javascript_tag 'staff_dashboard_search', 'data-turbo-track': 'reload' %>
<%#%= render 'layouts/photoswipe' %>
