<% provide(:title, "#{@repository.title}") %>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
<% end %>

<section id="show-repository">


  <section id="repository-photos">
    <% if @repository.youtube_link.present? %>
      <%= youtube_video(@repository.youtube_link) %>
    <% end%>
      <div id="show-photo">
        <%= image_tag @photos.first.try(:image).try(:url), data: { width: @photos.first.try(:width), height: @photos.first.try(:height)} %>
      </div>
    <div id="photo-slide">
      <% @photos.each do |p| %>
          <%= image_tag p.image.url, data: { width: p.width, height: p.height} %>
      <% end %>
    </div>

    <br></br>
    <% if @user.admin?%>
        Currently Featured: <%=  @repository.featured.to_s.upcase %><br></br>
        <%= link_to "Feature / Unfeature", pin_unpin_repository_admin_settings_path(repository_id: @repository.id), method: :get,
            class: "btn btn-primary" %>
        <br></br>
        <%= link_to "Delete", delete_repository_admin_users_path(id: @repository.id), method: :delete,
            class: "btn btn-danger", data: {confirm: 'Are you sure?'} %>
    <% end %>


      <% if @repository.description.present? %>
      <div class="repo-desc">
        <div class="title">DESCRIPTION</div>
        <div class="description"><%= @repository.description.html_safe %></div>
      </div>
    <% end %>
  </section>

  <section id="info">

  <% if @repository.users.pluck(:email).include?(@user.email) || @user.role.eql?("admin") %>
    <%= link_to fa_icon("pencil", text: 'Edit project'),
      edit_repository_path(@repository.user_username, @repository.slug), class: 'edit-repo-link' %>
  <% end %>

    <div id="repo-title">
      <%= @repository.title %>
    </div>
    <div id="misc">
      <span class="misc-item"><%= fa_icon "heart" %><span class="like-count"><%= @repository.like %></span></span>
      <span class="misc-item"><%= fa_icon "code-fork", text: @repository.makes.count %></span>
      <span class="misc-item"><%= link_to fa_icon("comments"), "#repo-comments" %>
        <span class="comment-count"><%= link_to @repository.comments.count, "#repo-comments" %></span>
      </span>
    </div>
    <div id="repo-info">
      <div class="repo-info-item">
        <div class="title">PROJECT BY</div>
        <% @repository.users.find_each do |u| %>
            <div class="name"><%= link_to u.username, user_path(u.username) %></div>
        <% end %>
      </div>
      <div class="repo-info-item">
        <div class="title">PUBLISHED ON</div>
        <div class="date"><%= @repository.created_at.strftime("%b %e %Y") %></div>
      </div>
      <% if @files.present? %>
      <div class="repo-info-item">
        <table><tr><td class="title">PROJECT FILES</td><td><span id="download-zip" class="bg-download"><%= link_to fa_icon("download", text: "Download"), download_files_repositories_path(@repository.user_username, @repository.slug), :id => "download-zip-link" %></span></td></tr></table>
        <div class="files-show">
        <% @files.each do |f| %>
          <div class="file-item-show">
            <u><%= fa_icon "file-text-o" %> <%= link_to f.file.original_filename, :action => 'download', :file => f.file.path %></u><span><%= f.file.size/1000 %> KB</span>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>

      <% if @categories.present? %>
      <div class="repo-info-item">
        <div class="title">CATEGORIES</div>
        <% @categories.each do |t| %>
          <span class="tags"><%= link_to t.name, category_path(slug: t.name.gsub(' ', '-').downcase) %></span>
        <% end %>
      </div>
      <% end %>
      <% if @equipments.present? %>
      <div class="repo-info-item">
        <div class="title">EQUIPMENT</div>
        <% @equipments.each do |t| %>
          <span class="tags"><%= link_to t.name, equipment_path(slug: t.name.gsub(' ', '-').downcase) %></span>
        <% end %>
      </div>
      <% end %>

      <div class="repo-info-item">
        <span class="like">
          <%= link_to(fa_icon('heart', text: 'Like'),
            add_like_repository_path, class: 'like', remote: true, method: :post) %>
        </span>
        <span class="make">
          <%= link_to(fa_icon('code-fork', text: 'Make'),
            makes_new_path(@repository.user_username, @repository.slug)) %>
        </span>
      </div>
      <div class="repo-info-item">
        <div class="report">
          <%= link_to fa_icon('flag', text: 'Report inapropriate'), report_repository_path(@repository.id), class: 'repository_report' %>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>
      <% if @repository.license.present? %>
      <div class="repo-info-item">
        <div class="title">LICENSE</div>
        <span class="license"><%= link_to @repository.license, license_url[@repository.license] %></span>
      </div>
      <% end %>

      <div class="repo-info-item">
        <div class="title">Linked to Project Proposal:</div>
        <div class="name">
        <% if @repository.project_proposal %>
              <%= link_to @repository.project_proposal.title, project_proposal_path(@repository.project_proposal) %>
        <% else %>
              None
        <% end %>
        </div>
      </div>

      <% if @repository.users.pluck(:email).include?(@user.email) || @user.admin? || @user.staff? %>
        <div class="repo-info-item">
          <div class="title">Link to Project Proposal:</div>
          <%= form_for :repo, url: {controller: "repositories", action: "link_to_pp"}, method: :patch do |f| %>
            <div class="form-group">
              <%= f.hidden_field :repository_id, value: @repository.id %>
              <%= f.select(:project_proposal_id, @project_proposals , {prompt: "Choose..."} , {:class => "form-control", :id => "options"}) %>
              <br> </br>
              <%= f.submit "Link", class: "btn btn-primary" %>
            </div>
          <% end %>
          </div>
        </div>

        <div class="repo-info-item">
          <div class="title">Add an owner:</div>
          <%= form_for :repo_owner, url: {controller: "repositories", action: "add_owner"}, method: :patch do |f| %>
              <div class="form-group">
                <%= f.hidden_field :repository_id, value: @repository.id %>
                <%= f.select(:owner_id, @all_users , {prompt: "Choose..."} , {:class => "search_users form-control", :id => "options"}) %>
                <br> </br>
                <%= f.submit "Add", class: "btn btn-success" %>
              </div>
          <% end %>
          </div>
        </div>

          <div class="repo-info-item">
            <div class="title">Remove an owner:</div>
            <%= form_for :repo_owner, url: {controller: "repositories", action: "remove_owner"}, method: :patch do |f| %>
                <div class="form-group">
                  <%= f.hidden_field :repository_id, value: @repository.id %>
                  <%= f.select(:owner_id, @owners.pluck(:name, :id) , {prompt: "Choose..."} , {:class => "search_users form-control", :id => "options"}) %>
                  <br> </br>
                  <%= f.submit "Remove", class: "btn btn-danger" %>
                </div>
            <% end %>
          </div>
          </div>
      <% end %>

  </section>

  <section id="repo-comments">
    <div class="title">Comments</div>
    <%= form_tag comments_create_path, id: 'comment', remote: true do %>
      <div style="max-width: 50rem" class="form-group">
        <%= text_area_tag 'content', nil, rows: 5, id: 'comment-redactor', class: "form-control" %>
      </div>
      <%= submit_tag 'Post comment', class: "btn btn-primary" %>
    <% end %>

    <div id="comment-filters">
      <% if params['comment_filter'].eql?('newest')
        then bold = %w(font-weight:700 font-weight:400)
        else bold = %w(font-weight:400 font-weight:700)
        end %>
      <%= link_to "Top votes", repository_path(comment_filter: :top) + "#repo-comments", style: bold.last %>
      <%= link_to "Newest", repository_path(comment_filter: :newest) + "#repo-comments", style: bold.first %>
    </div>
    <div id="comment-container">
      <% @comments.each do |comment|%>
      <div class="comment">
        <div class="comment-upvote">
          <%=
            vote = @vote.flatten.include?(comment.id)
            color = @vote.include?([comment.id, false]) ? '#19c1a5' : '#999'
            link_to fa_icon('angle-up'), vote_path(comment_id: comment.id,
            voted: vote, downvote: 'f'), class: 'vote upvote', remote: true, method: :post, style: "color: #{color}"
          %>
          <div class="upvote upvote-<%= comment.id %>"><%= comment.upvote %></div>
          <%=
            color = @vote.include?([comment.id, true]) ? '#19c1a5' : '#999'
            link_to fa_icon('angle-down'), vote_path(comment_id: comment.id,
            voted: vote, downvote: 't'), class: 'vote downvote', remote: true, method: :post, style: "color: #{color}"
          %>
        </div>
        <div class="comment-header">
          <%= link_to user_path(comment.username) do %>
            <div><%= comment.username %><%= content_tag :div, comment.user.reputation, class: 'rep' %> </div>
           <% end %>
          <%= content_tag :div, time_ago_in_words(comment.created_at) << " ago", class: 'time' %><br>
          <% if ((@user.admin?) || (@user.id.equal? comment.user_id))%>
            <%= link_to (fa_icon('times')), {controller: :comments, action: :destroy, id: comment.id}, method: :delete, data: { confirm: "Are you sure?" },  class: 'x-comment-button' %>
          <% end %>
        </div>
        <div class="comment-content">
          <%= comment.content.html_safe %>
        </div>
      </div>
      <% end %>
      <%= paginate @comments %>
    </div>
  </section>
</section>

<%= render 'layouts/photoswipe' %>

<script>
    $(document).ready(function() {
        $(".search_users").select2({});
    });
</script>
