<div class="table-responsive">
  <table class="table text-center m-0">
    <thead class="table-primary">
    <tr>
      <th>Key</th>
      <th>User</th>
      <th>Supervisor</th>
      <th>Key given on</th>
      <th>Deposit Amount</th>
      <th>Return Date</th>
      <th>Deposit Return Date</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% key_transactions.each do |kt| %>
      <tr>
        <td><%= link_to kt.key.get_keycode, admin_key_path(kt.key.id) %></td>
        <td><%= link_to kt.user.name, user_path(kt.user.username) %></td>
        <td><%= link_to kt.key.supervisor.name, user_path(kt.key.supervisor.username) %></td>
        <td><%= kt.created_at.strftime('%Y-%m-%d') %></td>
        <td>$<%= kt.deposit_amount %></td>
        <td><%= kt.return_date.nil? ? 'Not Returned' : kt.return_date %></td>
        <td><%= kt.deposit_return_date.nil? ? 'Not Returned' : kt.deposit_return_date %></td>
        <td>
          <%= link_to 'Show', admin_key_transaction_path(id: kt.id), class: 'w-100 py-1 btn btn-primary' %>
          <%= link_to 'Return Deposit', edit_admin_key_transaction_path(id: kt.id), class: 'w-100 py-1 btn btn-primary' if show_edit %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>