<h2>Nouveau message</h2>
<p>Vous avez reçu un nouveau message concernant la commande #<%= @job_order.id %>.</p>
<p><strong>De:</strong> <%= @sender.name %></p>
<p><%= @chat_message.message %></p>

<hr>

<h2>New message</h2>
<p>You have received a new message regarding job order #<%= @job_order.id %>.</p>
<p><strong>From:</strong> <%= @sender.name %></p>
<p><%= @chat_message.message %></p>