<% provide(:title, 'Explore') %>
<section id="repositories-index">
  <div class="row">
    <div class="col my-2">
      <section class="repository-filter">
        <div id="sort-header" class="dropdown text-center">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sort-dropdown-menu" data-bs-toggle="dropdown">
            <%= t('home.sort.by') %>
            <%= t("home.sort.#{params[:sort]}") if params[:sort].present? %>
          </button>
          <ul id="sort-filter" class="dropdown-menu">
            <li><%= link_to t('home.sort.newest'), explore_path(sort: :newest, category: params[:category]), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.sort.most_likes'), explore_path(sort: :most_likes, category: params[:category]), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.sort.most_makes'), explore_path(sort: :most_makes, category: params[:category]), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.sort.recently_updated'), explore_path(sort: :recently_updated, category: params[:category]), class: 'dropdown-item' %></li>
          </ul>
        </div>
        <% sort_type = params[:sort].present? ? params[:sort].gsub('_', ' ').titleize : 'Newest/Plus récent' %>
      </section>
    </div>
    <div class="col my-2">
      <section class="repository-filter">
          <div id="category-header" class="dropdown text-center">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="category-dropdown-menu" data-bs-toggle="dropdown">
            <%= t('home.categories.filter') %>
            <%= t("home.categories.#{params[:category]}") if params[:category].present? %>
          </button>
          <ul id="category-filter" class="dropdown-menu">
            <li><%= link_to 'All / Tous', explore_path(category: nil), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.wearables'), explore_path(category: 'wearable'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.mobile_development'), explore_path(category: 'mobile-development'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.gng_2101'), explore_path(category: 'gng2101/gng2501'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.health_sciences'), explore_path(category: 'health-sciences'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.iot'), explore_path(category: 'internet-of-things'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.gng_1103'), explore_path(category: 'gng1103/gng1503'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.vr'), explore_path(category: 'virtual-reality'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.team_projects'), explore_path(category: 'uottawa-team-projects'), class: 'dropdown-item' %></li>
            <li><%= link_to t('home.categories.other_projects'), explore_path(category: 'other-projects'), class: 'dropdown-item' %></li>
          </ul>
          </div>
      </section>
    </div>
  </div>


  <section id="repositories-container">

    <div>
      <%= will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <br />

  <% @repositories.each do |repository| %>
    <div class="repository-container">

      <div class="repo-display-wrapper" <%= "style=background-image:url('#{url_for(repository.photos.first.image) if repository.photos.first.present?}')" %> >
        <%= link_to '', repository_path(repository.user_username, repository.slug), class: 'link' %>
      </div>

      <div class="repo-info">
        <div class="start">
          <div class="likes<%= repository.likes.find_by(user_id: @user.id).nil? ? '' : ' text-info' %>"><%= fa_icon 'heart' %><br><%= repository.like %></div>
          <div class="title">
            <%= link_to repository.title, repository_path(user_username: repository.user_username, id: repository.slug) %>
          </div>
          <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div>
          <div><%= time_ago_in_words(repository.created_at) << t('datetime.distance_in_words.ago') %></div>
        </div>
      </div>
    </div>
  <% end %>
  </section>

  <br />

  <div>
    <%= will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</section>
