<% provide(:title, "Explore") %>
<section id="repositories-index">
  <section id="repository-filter">
    <div class="sort">sort by/classer par</div>
    <nav>
      <% sort_type = params[:sort].present? ? params[:sort].gsub('_', ' ').titleize : 'Newest/Plus récent' %>
      <div id="filter-header"><%= fa_icon 'caret-down', text: sort_type, right: true %> </div>
      <ul class="filter">
        <li><%= link_to 'Newest/Plus récent', explore_path(sort: :newest) %></li>
        <li><%= link_to 'Most Likes/Plus d\'Aimes', explore_path(sort: :most_likes) %></li>
        <li><%= link_to 'Most Makes/Plus de fabrications', explore_path(sort: :most_makes) %></li>
        <li><%= link_to 'Recently Updated/Récemment mis à jour', explore_path(sort: :recently_updated) %></li>
      </ul>
    </nav>
  </section>

  <section id="repositories-container">

    <div>
      <%= will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
    <br />

  <% @repositories.each do |repository| %>
    <div class="repository-container">

        <div class="repo-display-wrapper" <%= "style=background-image:url('#{url_for(repository.photos.first.image) if repository.photos.present?}')"  %> >
          <%= link_to "", repository_path(repository.user_username, repository.slug), class: 'link' %>
        </div>

      <div class="repo-info">
        <div class="left">
          <div class="title">
            <%= link_to repository.title, repository_path(user_username: repository.user_username, slug: repository.slug) %>
          </div>
          <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div>
          <div><%= time_ago_in_words(repository.created_at) << " ago" %></div>
        </div>
        <div class="likes"><%= fa_icon 'heart' %><br><%= repository.like %></div>
      </div>
    </div>
  <% end %>
  </section>

  <br />

  <div>
    <%= will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</section>
