<section id="repositories-index">
  <section id="repository-filter">
    <div class="sort">sort by</div>
    <nav>
      <% sort_type = params[:sort].present? ? params[:sort].gsub('_', ' ').titleize : 'Newest' %>
      <div id="filter-header"><%= fa_icon 'caret-down', text: sort_type, right: true %> </div>
      <ul class="filter">
        <li><%= link_to 'Newest', explore_path(sort: :newest) %></li>
        <li><%= link_to 'Most Likes', explore_path(sort: :most_likes) %></li>
        <li><%= link_to 'Most Makes', explore_path(sort: :most_makes) %></li>
        <li><%= link_to 'Recently Updated', explore_path(sort: :recently_updated) %></li>
      </ul>
    </nav>
  </section>

  <section id="repositories-container">
  <% @repositories.each do |repository| %>
    <div class="repository-container">

      <div class="repo-display-wrapper" <%= "style=background-image:url('#{@photos[repository.id].image.url}')"  %> >
        <%= link_to "", repository_path(repository.user_username, repository.slug) %>
      </div>

      <div class="repo-info">
        <div class="left">
          <div class="title">
            <%= link_to repository.title, repository_path(repository.user_username, repository.slug) %>
          </div> 
          <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div> 
          <div><%= time_ago_in_words(repository.created_at) << " ago" %></div>
        </div>
        <div class="likes"><%= fa_icon 'heart' %><br><%= repository.like %></div> 
      </div>
    </div>
  <% end %>
  </section>
  <%= paginate @repositories %>
</section>