<% provide(:title, "Search results for \"#{params[:q]}\"") %>
<section id="repositories-index">
  <div class="row">
    <div class="col">
      <section class="repository-filter">
        <div id="sort-header" class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sort-dropdown-menu" data-bs-toggle="dropdown">
            <%=t("home.sort.by") %>
            <%= t("home.sort." + params[:sort]) unless params[:sort].blank? %>
          </button>
          <ul id="sort-filter" class="dropdown-menu">
            <li><%= link_to t("home.sort.newest"), search_path(sort: :newest, category: params[:category],q:params[:q]), class:"dropdown-item" %></li>
            <li><%= link_to t("home.sort.most_likes"), search_path(sort: :most_likes, category: params[:category],q:params[:q]), class:"dropdown-item" %></li>
            <li><%= link_to t("home.sort.most_makes"), search_path(sort: :most_makes, category: params[:category],q:params[:q]), class:"dropdown-item" %></li>
            <li><%= link_to t("home.sort.recently_updated"), search_path(sort: :recently_updated, category: params[:category],q:params[:q]), class:"dropdown-item" %></li>
          </ul>
        </div>
        <% sort_type = params[:sort].present? ? params[:sort].gsub('_', ' ').titleize : 'Newest/Plus récent' %>
      </section>
    </div>
    <div class="col my-2">
      <section class="repository-filter">
        <div id="category-header" class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="category-dropdown-menu" data-bs-toggle="dropdown">
            <%= t("home.categories.filter") %>
            <%= t("home.categories." + params[:category]) unless params[:category].blank? %>
          </button>
          <ul id="category-filter" class="dropdown-menu">
            <li><%= link_to 'All / Tous', search_path(category: nil,q:params[:q]), class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.wearables"), search_path(category: "wearable",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.mobile_development"), search_path(category: "mobile-development",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.gng_2101"), search_path(category: "gng2101/gng2501",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.health_sciences"), search_path(category: "health-sciences",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.iot"), search_path(category: "internet-of-things",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.gng_1103"), search_path(category: "gng1103/gng1503",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.vr"), search_path(category: "virtual-reality",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.team_projects"), search_path(category: "uottawa-team-projects",q:params[:q]),class:"dropdown-item" %></li>
            <li><%= link_to t("home.categories.other_projects"), search_path(category: "other-projects",q:params[:q]),class:"dropdown-item" %></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <span class='found text-center'>
    <%= "#{@repositories.count} repositories were found" %>
  </span>
  <section id="repositories-container">
    <div class="pagination"><%= will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></div><br>
  <% @repositories.each_with_index do |repository, i| %>
    <div class="repository-container">

      <div class="repo-display-wrapper" <%= "style=background-image:url('#{url_for(repository.photos.first.image) if repository.photos.first.present?}')"  %> >
        <%= link_to "", repository_path(repository.user_username, repository.slug), class: 'link' %>
      </div>

      <div class="repo-info">
        <div class="start">
          <div class="likes"><%= fa_icon 'heart' %><br><%= repository.like %></div>
          <div class="title"><%= link_to repository.title, repository_path(repository.user_username, repository.slug) %></div>
          <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div>
          <div><%= time_ago_in_words(repository.created_at) << t("datetime.distance_in_words.ago") %></div>
        </div>
      </div>
    </div>
  <% end %>
  <br></br>
  </section>

</section>
