<% provide(:title, "Settings") %>

<section>

  <br />

  <div class="list-group text-center">
    <li><%= link_to 'General Settings', admin_settings_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Announcements', admin_announcements_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Reports', admin_report_generator_index_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Skill Types', admin_skills_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Popular Hours', admin_report_generator_popular_hours_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Manage Trainings', admin_trainings_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Manage Courses', admin_course_names_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Training Sessions', admin_training_sessions_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Manage Spaces', admin_spaces_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Manage Roles', manage_roles_admin_users_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Manage Badges', admin_manage_badges_path, class: "list-group-item list-group-item-action" %></li>
    <li><%= link_to 'Contact Info', admin_contact_infos_path, class: "list-group-item list-group-item-action" %></li>
  </div>
  <br />
</section>
