<% provide(:title, "Settings") %>

  <div class="edit-column">
    <div class="setting-title">Admin Area</div>
    <div class="section-desc">
      <ul class="fa-ul" id="admin-paths">
        <li><%= link_to fa_icon("angle-double-right li", text: 'General Settings'), admin_settings_path %></li><br>
        <li><%= link_to fa_icon("angle-double-right li", text: 'Reports'), admin_report_generator_index_path %></li><br>
        <li><%= link_to fa_icon("angle-double-right li", text: 'Trainings'), admin_trainings_path %></li><br>
        <li><%= link_to fa_icon("angle-double-right li", text: 'Training Sessions'), admin_training_sessions_path %></li><br>
        <li><%= link_to fa_icon("angle-double-right li", text: 'Manage Spaces'), admin_spaces_path %></li><br>
        <li><%= link_to fa_icon("angle-double-right li", text: 'Manage Roles'), manage_roles_admin_users_path %></li><br>
        <li><%= link_to fa_icon("angle-double-right li", text: 'Manage Badges'), admin_manage_badges_path %></li>
      </ul>
    </div>
  </div>
</div>
