<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% provide(:title, "Settings") %>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>


  <div class="edit-column">
    <div class="setting-title">Admin Area</div>
    <div class="section-desc">
		<%= link_to fa_icon("angle-double-right li", text: 'General Settings'), admin_settings_path %><br><br>
		<%= link_to fa_icon("angle-double-right li", text: 'Manage Users'), admin_users_path %><br><br>
		<%= link_to fa_icon("angle-double-right li", text: 'Reports'), admin_report_generator_index_path %>
 
    </div>
  </div>
</div>