<h1 class="fw-bold text-danger text-upper text-center">INFORMED CONSENT</h1>

<div>
    <p class="fw-bold text-danger text-upper text-center fs-2">
        Access to the MTC and Brunsfield Centre at the Centre for
        Entrepreneurship and Engineering Design (CEED), Faculty of Engineering,
        University of Ottawa
    </p>
</div>

<p>
    To ensure students and/or staff members and/or volunteers (to be known as Participants) are aware of
    the risks and hazards present in the activities contemplated, the following information is provided on
    related risk, and health & safety concerns.
</p>

<p>The research and/or volunteer work and associated activities: <strong>"Access and use of CEED MTC and Brunsfield Centre."</strong>
    (to be known as the "Activity") occurring at The University of Ottawa, <strong>IS NOT
    REQUIRED</strong> on the Participant’s behalf to obtain course credit.</p>

<p>By signing this document, the Participant agrees that the Participant will:</p>

<ul>
    <li>Acknowledge the rules for safe operation of the tools and equipment offered by CEED were explained to me, and will keep up to date on these rules.</li>
    <li>Report any incidents witnessed, and respect health and safety requirements in the areas visited.</li>
    <li>Participate in any hazard awareness training offered, and respect emergency situation directions.</li>
    <li>Not undertake any activity that was not discussed or reviewed with the Activity Supervisor without first obtaining permission.</li>
    <li>Agrees that it is the responsibility of the Participant to familiarise themselves with health and safety requirements applicable to the Activity.</li>
    <li>Understands and fully accepts that if the Participant fails to observe any conditions or rules established during the Activity, that the Participant may be asked to leave the Understand.</li>
    <li>Activity and fully accepts that if the Participant chooses to participate in any other activity that is not part of the planned Activity that they are fully responsible for any injuries, losses or property damage that may result.</li>
</ul>

<%= agree_check_box :one, f do %>
    <p><strong>
        I will comply with all instructions of the Activity instructor(s) respecting the Activity, and
        understand that my failure to do so may result in my immediate dismissal from the Activity;
    </strong></p>
<% end %>

<p class="fw-bold text-upper text-center text-danger fs-3">INFORMED CONSENT AND ASSUMPTION OF RISKS</p>

<p>
    Risks, dangers and hazards are inherent in the Activity and may include, but are not limited to the
    following: Any manner of bodily injury, loss or property damage that may arise because of:
</p>

<ul>
    <li>Handling or use of lab tools, instruments, or machinery</li>
    <li>Presence or use of power generation including electricity</li>
    <li>Presence in and around a teaching lab environment</li>
</ul>

<%= agree_check_box :two, f do %>
    <p><strong>
        I freely accept and fully assume all such risks, dangers and hazards and the possibility of
        personal injury, illness, death, property damage or loss, resulting therefrom.
    </strong></p>
<% end %>

<%= agree_check_box :three, f do %>
    <p><strong>
        The Participant acknowledges and further accepts the responsibility of discussing their
        participation in the Activity with their physician and obtaining adequate medical, health, dental,
        travel and all other forms of insurance that may apply. The Participant agrees to inform the
        University if a pre-existing medical condition can increase the risks normally associated with any
        Activity being undertaken.
    </strong></p>
<% end %>

<%= agree_check_box :four, f do %>
    <p><strong>
        I am in good health and physical condition, such that I will not be overtaxed by the physical
        demands of the Activity. If I suffer from allergies and/or medical conditions and/or disabilities that
        could in any way affect my full participation in the Activity or pose risks to myself and/or others, it
        is my responsibility to inform the Activity instructor(s) fully about them well in advance of the
        Activity;
    </strong></p>
<% end %>

<%= agree_check_box :five, f do %>
    <p><strong>
        In the event of any illness or injury or other form of incapacity that I may suffer during the
        Activity, or of my unexplained or otherwise suspicious disappearance from the Activity, I hereby
        authorize the University and/or Supervisor(s) to (a) secure such advice and services, including
        medical and/or emergency advice and services, as they in their sole discretion may deem
        necessary for my health and safety and I shall be financially responsible for such advice and
        services; and (b) collect, use, and disclose all my personal information, including my personal
        health information, that they in their sole discretion may deem necessary under the
        circumstances for my health and safety;
    </strong></p>
<% end %>

<%= agree_check_box :six, f do %>
    <p><strong>
        The Activity instructor(s) and/or the University may make visual and/or audio recordings of me
        and may use these recordings solely for educational or promotional purposes in relation to the
        University, and/or any unit of the University in perpetuity without compensation.
    </strong></p>
<% end %>
