<h1 class="fw-bold text-danger text-upper text-center">Consentement Éclairé</h1>

<div>
    <p class="fw-bold text-danger text-upper text-center fs-2">
        Accès aux ateliers d'usinage du CFF et Centre Brunsfield au Centre en génie
        entrepreneurial de la conception (CGEC), Faculté de génie de l'Université
        d'Ottawa
    </p>
</div>

<p>
    Les informations suivantes sont fournies afin de s’assurer que l’étudiant ou l’étudiante ou bénévole ou
    membre du personnel (ci-après le « Participant ») est au courant des risques et dangers que peut
    comporter l’activité.
</p>

<p>
    L’Activité, «<strong>Accès et utilisation des ateliers d'usinage du CGEC CFF et Brunsfield Centre</strong>» (ci-après l’«
    Activité ») se déroulant à l’Université d’Ottawa <strong>N’EST PAS REQUIS</strong> du Participant pour l’obtention des
    crédits d’un cours
</p>

<p>En signant le présent document, le Participant :</p>

<ul>
    <li>Reconnais que les règlements d’utilisation sécuritaire des outils et équipements offerts par CGEC m’ont été expliquées et je me tiendrai au courant de ces règles.</li>
    <li>De signaler tout incident dont il est témoin et de respecter les exigences en matière de santé-sécurité.</li>
    <li>Accepte de suivre toute formation de sensibilisation aux dangers offerte et de respecter les directives concernant les situations d’urgence;</li>
    <li>Accepte de ne pas entreprendre d’activités n’ayant pas été discutées ou passées en revue avec le superviseur de l’Activité;</li>
    <li>Comprend qu’il doit se familiariser avec les exigences en matière de santé-sécurité applicables à l’Activité;</li>
    <li>Comprend et accepte entièrement que s’il n’observe pas l’une des conditions ou règles établies au cours de l’Activité, on peut lui demander de quitter l’Activité;</li>
    <li>Comprend et accepte pleinement que s’il se livre à toute autre activité qui ne fait pas partie de l’Activité prévue, il est entièrement responsable de tout dommage matériel, blessure ou perte pouvant en résulter.</li>
</ul>

<%= agree_check_box :one, f do %>
    <p><strong>
        Je me conformerai à toutes les directives des moniteurs de l’Activité en ce qui concerne l’Activité.
        Le non-respect de ces directives pourrait entraîner mon retrait immédiat de l’Activité, et ce, sans
        compensation.
    </strong></p>
<% end %>

<p class="fw-bold text-upper text-center text-danger fs-3">Consentement Éclairé Et Acceptation Des Risques</p>

<p>
    Les risques, les dangers et les aléas inhérents à l’Activité peuvent inclure, sans s’y limiter, les suivants:
    toute blessure corporelle, tout dommage matériel ou toute perte pouvant découler de ce qui suit :
</p>

<ul>
    <li>La manipulation d’outils, d’instruments ou d’équipement mécanique;</li>
    <li>Présence ou utilisation de moyens de production d’énergie, y compris l’électricité</li>
    <li>Présence dans et autour d'un environnement de laboratoire d'enseignement</li>
</ul>

<%= agree_check_box :two, f do %>
    <p>
        <strong>
            J’accepte librement et j’assume pleinement tous les risques, dangers et aléas de l’Activité ainsi
            que les possibilités de blessure corporelle, de maladie, de décès ou de perte matérielle pouvant en résulter
        </strong>
    </p>
<% end %>

<%= agree_check_box :three, f do %>
    <p>
        <strong>
            Le Participant reconnaît qu’il est responsable de discuter avec son médecin de sa participation à
            l’Activité et d’obtenir toute assurance nécessaire (santé, dentaire, de voyage, etc.), et s’engage à
            le faire. Le Participant accepte d’informer l’Université si un problème de santé préexistant peut
            accroître les risques normalement associés aux activités qui seront entreprises.
        </strong>
    </p>
<% end %>

<%= agree_check_box :four, f do %>
    <p>
        <strong>
            Je suis en bonne santé et condition physique et je ne devrais pas être épuisé par les exigences
            physiques de l’Activité.
            Je comprends qu’il est de ma responsabilité d’informer pleinement les moniteurs de l’Activité de
            toute allergie, toute maladie ou tout handicap qui pourraient influer sur ma participation à
            l’Activité ou comporter des risques pour moi ou pour les autres, et ce, bien avant le déroulement
            de l’Activité
        </strong>
    </p>
<% end %>

<%= agree_check_box :five, f do %>
    <p>
        <strong>
            Dans le cas d’une maladie, d’une blessure ou de toute autre forme d’incapacité pendant l’Activité,
            ou si je disparaissais de façon inexpliquée ou suspecte pendant l’Activité, j’autorise par la
            présente l’Université et le(s) moniteur(s) à : a) obtenir, à leur seule discrétion et à mes frais, les
            conseils et les services médicaux ou d’urgence qu’ils estiment nécessaires pour ma santé et ma
            sécurité; et à b) recueillir, utiliser et communiquer tous mes renseignements personnels, y
            compris mes renseignements personnels sur la santé, qu’ils pourraient, à leur seule discrétion,
            estimer nécessaires selon les circonstances pour ma santé et ma sécurité.
        </strong>
    </p>
<% end %>

<%= agree_check_box :six, f do %>
    <p>
        <strong>
            Le(s) moniteur(s) de l’Activité et l’Université peuvent me filmer et m’enregistrer et utiliser ces
            enregistrements uniquement à des fins éducatives ou promotionnelles de l’Université et de toute
            unité de l’Université, et ce, indéfiniment et sans contrepartie.
        </strong>
    </p>
<% end %>
