<h1 class="fw-bold text-danger text-upper text-center">INFORMED CONSENT</h1>

<div>
    <p class="fw-bold text-danger text-upper text-center fs-2">
        Access to the Brunsfield Centre Machine Shops at the Centre for
        Entrepreneurship and Engineering Design (CEED), Faculty of Engineering,
        University of Ottawa
    </p>
</div>

<p>
    To ensure students and/or staff members and/or volunteers (to be known as Participants) are aware of
    the risks and hazards present in the activities contemplated, the following information is provided on
    related risk, and health & safety concerns.
</p>

<p>The research and/or volunteer work and associated activities: <strong>“Access and use of CEED Brunsfield
    Centre Machine Shops.”</strong> (to be known as the “Activity”) occurring at The University of Ottawa, <strong>IS NOT
    REQUIRED</strong> on the Participant’s behalf to obtain course credit.</p>

<p>By signing this document, the Participant agrees that the Participant will:</p>

<ul>
    <li>Acknowledge the rules for safe operation of the tools and equipment offered by CEED were explained to me, and will keep up to date on these rules.</li>
    <li>Report any incidents witnessed, and respect health and safety requirements in the areas visited.</li>
    <li>Participate in any hazard awareness training offered, and respect emergency situation directions.</li>
    <li>Not undertake any activity that was not discussed or reviewed with the Activity Supervisor without first obtaining permission.</li>
    <li>Agrees that it is the responsibility of the Participant to familiarise themselves with health and safety requirements applicable to the Activity.</li>
    <li>Understands and fully accepts that if the Participant fails to observe any conditions or rules established during the Activity, that the Participant may be asked to leave the Understand.</li>
    <li>Activity and fully accepts that if the Participant chooses to participate in any other activity that is not part of the planned Activity that they are fully responsible for any injuries, losses or property damage that may result.</li>
</ul>

<%= agree_check_box :one, f do %>
    <p><strong>
        I will comply with all instructions of the Activity instructor(s) respecting the Activity, and
        understand that my failure to do so may result in my immediate dismissal from the Activity;
    </strong></p>
<% end %>

<p class="fw-bold text-upper text-center text-danger fs-3">INFORMED CONSENT AND ASSUMPTION OF RISKS</p>

<p>
    Risks, dangers and hazards are inherent in the Activity and may include, but are not limited to the
    following: Any manner of bodily injury, loss or property damage that may arise because of:
</p>

<ul>
    <li>Handling or use of lab tools, instruments, or machinery</li>
    <li>Presence or use of power generation including electricity</li>
    <li>Presence in and around a teaching lab environment</li>
</ul>

<%= agree_check_box :two, f do %>
    <p><strong>
        I freely accept and fully assume all such risks, dangers and hazards and the possibility of
        personal injury, illness, death, property damage or loss, resulting therefrom.
    </strong></p>
<% end %>

<%= agree_check_box :three, f do %>
    <p><strong>
        The Participant acknowledges and further accepts the responsibility of discussing their
        participation in the Activity with their physician and obtaining adequate medical, health, dental,
        travel and all other forms of insurance that may apply. The Participant agrees to inform the
        University if a pre-existing medical condition can increase the risks normally associated with any
        Activity being undertaken.
    </strong></p>
<% end %>

<%= agree_check_box :four, f do %>
    <p><strong>
        I am in good health and physical condition, such that I will not be overtaxed by the physical
        demands of the Activity. If I suffer from allergies and/or medical conditions and/or disabilities that
        could in any way affect my full participation in the Activity or pose risks to myself and/or others, it
        is my responsibility to inform the Activity instructor(s) fully about them well in advance of the
        Activity;
    </strong></p>
<% end %>

<%= agree_check_box :five, f do %>
    <p><strong>
        In the event of any illness or injury or other form of incapacity that I may suffer during the
        Activity, or of my unexplained or otherwise suspicious disappearance from the Activity, I hereby
        authorize the University and/or Supervisor(s) to (a) secure such advice and services, including
        medical and/or emergency advice and services, as they in their sole discretion may deem
        necessary for my health and safety and I shall be financially responsible for such advice and
        services; and (b) collect, use, and disclose all my personal information, including my personal
        health information, that they in their sole discretion may deem necessary under the
        circumstances for my health and safety;
    </strong></p>
<% end %>

<%= agree_check_box :six, f do %>
    <p><strong>
        The Activity instructor(s) and/or the University may make visual and/or audio recordings of me
        and may use these recordings solely for educational or promotional purposes in relation to the
        University, and/or any unit of the University in perpetuity without compensation.
    </strong></p>
<% end %>

<hr />

<div class="row">
    <div class="mb-3 col-lg-6 d-flex flex-column justify-content-between">
        <div class="mb-5">
            <p class="text-center"><strong>Persons over 18 years of age</strong></p>
            <p><strong>I ACCEPT AND FULLY ASSUME</strong> all such health and safety
                risks, dangers and hazards which may be associated with my participation.</p>
            <p>Upon the University’s request, <strong>I AGREE</strong> to leave the Activity
                should I fail to follow the University’s instructions or directions or
                if there is any health and safety infraction.</p>
        </div>

        <fieldset>
            <%= f.fields_for :adult_contact do |f| %>

                <div class="mb-3">
                    <%= f.label :participant_student_number, "Student number of participant", class: 'form-label' %>
                    <%= f.text_field :participant_student_number, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    <%= f.label :signature, "Signature of Participant", class: 'form-label' %>
                    <%= f.text_field :signature, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    <%= f.label :print_name_of_participant, "Print name of Participant", class: 'form-label' %>
                    <%= f.text_field :print_name_of_participant, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    <%= f.label :telephone_at_home, "Telephone at home/cellular phone", class: 'form-label' %>
                    <%= f.telephone_field :telephone_at_home, class: 'form-control' %>
                </div>
            <% end %>
        </fieldset>
    </div>

    <div class="mb-3 col-lg-6 d-flex flex-column justify-content-between">
        <div class="mb-5">
            <p class="text-center"><strong> Children under 18 years of age</strong></p>
            <p><strong>I CONSENT</strong> to the Participant’s presence at the University of
                Ottawa and <strong>I ACCEPT AND FULLY ASSUME</strong> all such health
                and safety risks, dangers and hazards which may be associated
                with his or her participation.</p>

            <p>Upon the University’s request, <strong>I AGREE</strong> to pick up the Participant
                should he or she fail to follow the University’s instructions or
                directions or if there is any health and safety infraction.
                I the undersigned declare that I am the parent or legal guardian
                Participant about the guidelines of this program and the
                of the Participant identified below. I agree to inform the
                University of Ottawa requirements.</p>
        </div>

        <fieldset>
            <%# These aren't being set as required, up to supervisor to enforce %>
            <%# Model would validate complete pairs however %>

            <%= f.fields_for :minor_contact do |f| %>
                <div class="mb-3">
                    <%= f.label :legal_guardian_name, "Print name of Parent/Legal Guardian (Children under 18 years of age)", class: 'form-label' %>
                    <%= f.text_field :legal_guardian_name, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    <%= f.label :legal_guardian_signature, "Signature of Parent/Legal Guardian (Children under 18 years of age)", class: 'form-label' %>
                    <%= f.text_field :legal_guardian_signature, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    <%= f.label :name_of_participant, "Print name of Participant", class: 'form-label' %>
                    <%= f.text_field :name_of_participant, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    <%= f.label :guardian_telephone_at_work, "Telephone number at work", class: 'form-label' %>
                    <%= f.telephone_field :guardian_telephone_at_work, class: 'form-control' %>
                </div>

                <div class="mb-3">
                    Telephone at home/cellular phone
                </div>
            <% end %>
        </fieldset>
    </div>
</div>
<div class="mb-3">
    <p><strong>Important For All Participants</strong></p>
    <div class="row row-cols-lg-2">

        <div>
            <%= %>
            Name of other emergency contact
        </div>
        <div>
            Telephone number
        </div>
        <div>
            Name of University Employee Supervising Participant
        </div>
        <div>
            Telephone number
        </div>
    </div>
</div>

<div class="d-flex">
    <%= f.submit 'Sign', class: 'btn btn-primary mx-auto' %>
</div>
