<section class="page-contents">
  <div class="edit-column">

    <h2><%= link_to "Welcome to " %> <spacetag style="font-weight:bold"><%=@space.name.capitalize %></spacetag> </h2>
    <br>
    <div id="staff-buttons">
      <%= link_to ('Go To ' + @space.name.capitalize + ' Kiosk'), staff_dashboard_index_path, class: "staff-button"%>
        <%= link_to fa_icon('desktop'), staff_dashboard_index_path, class: "staff-button", style:"border:none;"%><br></br>
      <%= link_to 'New Training Session', new_staff_training_session_path, class: "staff-button"%>
        <%=link_to fa_icon('edit'), new_staff_training_session_path, class: "staff-button", style:"border:none;"%><br></br>
      <%= link_to 'My Training Sessions', staff_training_sessions_path, class: "staff-button"%>
        <%=link_to fa_icon('database'), staff_training_sessions_path, class: "staff-button", style:"border:none;"%><br></br>
      <%= link_to 'Questions', questions_path, class: "staff-button"%>
    <br></br>
    <br></br>
    </div>



    <div>
      <%= form_tag(staff_dashboard_change_space_path, method: "put", action: "change_space") do %>
        <div class="form-group">
        <% label_tag 'space_name' %>
        <%= select_tag 'space_name', options_from_collection_for_select(Space.all, 'name', 'name'), prompt: 'choose different space', class: "form-control" %><br></br>
      <%= submit_tag "update", class: "btn btn-primary" %>
        </div>
      <%end%>
    </div>


  </div>
</section>
