<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">Edit Volunteer Task</h2>

    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @volunteer_task, url: {controller: "volunteer_tasks", action: "update"}, :html => { :id => "volunteerForm", class:"needs-validation", novalidate: 'novalidate' } do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <%= f.label :title, "Title" %>
                  <%= f.text_field :title, class: 'form-control', required: true %>
                  <div class="invalid-feedback">
                    Please provide a title.
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group text-center">
                  <%= f.label :description, "Task Description" %>
                  <%= f.text_area :description ,class: 'form-control', required: true %>
                  <div class="invalid-feedback">
                    Please provide a description.
                  </div>
                </div>
              </div>
              <div class="mx-auto col-md-4 text-center">
                <b>Status:</b> <br />
                <div class="d-inline-block text-left">
                  <%= f.radio_button :status, 'open', :style => 'display:inline' %>
                  <%= f.label :status, 'Open', :style => 'display:inline' %>
                  <br />
                  <%#= f.radio_button :status, 'in progress', :style => 'display:inline' %>
                  <%#= f.label :status, 'In Progress', :style => 'display:inline' %>
<!--                  <br />-->
                  <%= f.radio_button :status, 'completed', :style => 'display:inline' %>
                  <%= f.label :status, 'Completed', :style => 'display:inline' %>
                  <br />
                  <br />
                </div>
              </div>
              <div class="mx-auto col-md-4 text-center">
                <b>Space:</b> <br />
                <div class="d-inline-block text-left">
                  <% Space.all.order(name: :asc).each do |s| %>
                    <%= f.radio_button :space_id, s.id, checked: true, :style => 'display:inline' %>
                    <%= f.label :space_id, s.name.capitalize, :style => 'display:inline' %>
                    <br />
                  <% end %>
                  <%#= f.radio_button :space_id, Space.find_by(name: "Makerspace").id, checked: true, :style => 'display:inline' %>
                  <%#= f.label :space_id, 'Makerspace', :style => 'display:inline' %>
                  <!--                  <br />-->
                  <%#= f.radio_button :space_id, Space.find_by(name: "Brunsfield Centre").id, :style => 'display:inline' %>
                  <%#= f.label :space_id, 'Brunsfield Centre', :style => 'display:inline' %>
                  <br />
                  <br />
                </div>
              </div>
              <div class="mx-auto col-md-4 text-center">
                <b>How many can join this task?</b> <br />
                <div class="d-inline-block text-center">
                  <%= f.number_field :joins, class: "form-control" %>
                  <br />
                  <br />
                </div>
              </div>

              <div class="mx-auto col-md-4 text-center">
                <b>Choose a category:</b> <br />
                <div class="d-inline-block text-center">
                  <%= f.select(:category, @tasks_categories, {prompt: "Category..."} , {:class => "form-control", :selected => @tasks_categories[2]}) %>
                  <br />
                  <br />
                </div>
              </div>
              <div class="mx-auto col-md-4 text-center">
                <b>CCs:</b> <br />
                <div class="d-inline-block text-center">
                  <%= f.number_field :cc, class: "form-control" %>
                  <br />
                  <br />
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <%= f.submit "Update Volunteer Task", class: "btn btn-secondary btn-xl text-uppercase" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>