<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Volunteer Tasks</h2>

    <% if !@volunteer_tasks.blank? %>
      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

      <br />

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Title <span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Description<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Created by <span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
            <th>Active<span onclick="sortTable('sessions-table', 4)"><%=fa_icon('arrow-down')%></span></th>
            <th class="action-header">Action</th>
          </tr>

          <tbody>
          <%= will_paginate @volunteer_tasks %>
          <% @volunteer_tasks.each do |vt| %>
            <tr>
              <td>
                <%= vt.created_at.strftime("%b %e %Y") %>
                <br>
                <%= vt.created_at.strftime("%I:%M %p").downcase() %>
              </td>

              <td>
                <%= vt.title %>
              </td>

              <td>
                <%= vt.description %>
              </td>

              <td class = "username">
                <%= link_to vt.user.name.capitalize, user_path(vt.user.username) %>
              </td>

              <td>
                <%= return_active(vt.active) %>
              </td>

              <td class="action-cell">
                <%=link_to "Edit", edit_volunteer_task_path(vt.id), class:"btn-block visit-button mb-1 mt-0" if current_user.staff?%>
                <%=link_to "Show", volunteer_task_path(vt.id), class:"btn-block show-button mt-0 mb-1" %>
                <%=link_to "Delete", { controller: :volunteer_tasks ,action: :destroy, id: vt.id }, method: :delete,
                           data: { confirm: 'Are you sure that you want to delete this volunteer task?' },
                           class:"btn-block destroy-button mb-1 mr-0" if current_user.staff?%>
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-5">
        No Tasks were created yet.
      </div>
    <% end %>
  </div>
</section>
