<section class="page-contents">
  <div class="text-center">

    <h2>My Tasks</h2>

    <% if !@your_volunteer_tasks.blank? %>
      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

      <br />

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th class="action-header">Action</th>
            <th>CC/Hours<span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Title <span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Status<span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
<!--            <th>Responsable Staff<span onclick="sortTable('sessions-table', 4)"><%#=fa_icon('arrow-down')%></span></th>-->
<!--            <th>Users<span onclick="sortTable('sessions-table', 5)"><%#=fa_icon('arrow-down')%></span></th>-->
            <th>Certifications Needed<span onclick="sortTable('sessions-table', 4)"><%=fa_icon('arrow-down')%></span></th>
            <th>Space<span onclick="sortTable('sessions-table', 5)"><%=fa_icon('arrow-down')%></span></th>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 6)"><%=fa_icon('arrow-down')%></span></th>
            <% if current_user.staff? %>
              <th>Created by <span onclick="sortTable('sessions-table', 7)"><%=fa_icon('arrow-down')%></span></th>
            <% end %>
          </tr>

          <tbody>
          <% @your_volunteer_tasks.each do |vt| %>
            <tr>
              <td class="action-cell">
                <%=link_to "Edit", edit_volunteer_task_path(vt.id), class:"btn-block btn btn-primary btn-sm" if current_user.staff?%>
                <%=link_to "Show", volunteer_task_path(vt.id), class:"btn-block btn btn-info btn-sm" %>
                <%=link_to "Delete", { controller: :volunteer_tasks ,action: :destroy, id: vt.id }, method: :delete,
                           data: { confirm: 'Are you sure that you want to delete this volunteer task? If you delete it, it will also delete all the volunteers hours related to it.' },
                           class:"btn-block btn btn-danger btn-sm" if current_user.staff?%>
              </td>

              <td>
                <%= image_tag("cc.png", alt: "CC", class: "ccs hidden", id: "myCcBlack") %>
                <%= vt.cc %>
                <br />
                <%= vt.hours%> hours
              </td>

              <td>
                <%= vt.title %>
              </td>

              <td>
                <%= vt.status.capitalize %>
              </td>

<!--              <td class = "username">-->
                <%# vt.volunteer_task_joins.where("volunteer_task_joins.user_type = ? OR volunteer_task_joins.user_type = ?","Staff", "Admin").find_each do |staff_joins| %>
                  <%#= link_to staff_joins.user.name.capitalize, user_path(staff_joins.user.username) %>
<!--                  <br />-->
                <%# end %>
<!--              </td>-->

<!--              <td class = "username">-->
                <%# if !vt.volunteer_task_joins.blank? %>
                  <%# vt.volunteer_task_joins.where(user_type: "Volunteer").find_each do |volunteer_joins| %>
                    <%#= link_to volunteer_joins.user.name.capitalize, user_path(volunteer_joins.user.username) %>
<!--                    <br />-->
                  <%# end %>
                <%# else %>
<!--                  --->
                <%# end %>
<!--              </td>-->

              <td>
                <% if !vt.require_trainings.blank? %>
                  <% vt.require_trainings.find_each do |rt| %>
                    <%= rt.training.name.capitalize %>
                    <br />
                  <% end %>
                <% else %>
                  None
                <% end  %>
              </td>

              <td>
                <%= vt.space.name.capitalize %>
              </td>

              <td>
                <%= vt.created_at.strftime("%m/%e/%Y") %>
                <br>
                <%= vt.created_at.strftime("%I:%M %p").downcase() %>
              </td>

              <% if current_user.staff? %>
                <td class = "username">
                  <%= link_to vt.user.name.capitalize, user_path(vt.user.username) %>
                </td>
              <% end %>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-5">
        No Tasks were created yet.
      </div>
    <% end %>
  </div>
</section>
