<section class="page-contents">
  <div>

    <h2 class="text-center fw-bold">New Volunteer Task</h2>

    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @new_volunteer_task, url: { controller: 'volunteer_tasks', action: 'create' }, html: { id: 'volunteerForm', class: 'needs-validation', novalidate: 'novalidate', multipart: true } do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3 text-center">
                  <%= f.label :title, 'Title', class: 'form-label' %>
                  <%= f.text_field :title, placeholder: 'Volunteer Task title', class: 'form-control', required: true %>
                  <div class="invalid-feedback">
                    Please provide a title.
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 text-center">
                  <%= f.label :description, 'Task Description', class: 'form-label' %>
                  <%= f.text_area :description, placeholder: 'Volunteer Task description', class: 'form-control', required: true %>
                  <div class="invalid-feedback">
                    Please provide a description.
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="mb-3 text-center">
                  <%= label_tag :photo, 'Images', class: 'form-label' %>
                  <%= file_field_tag 'images[]', type: :files, multiple: true, class: 'form-control image-upload', aria_label: 'Select Pictures / Selectionner des images' %>
                  <div class="text-muted mb-2">Allowed file types: JPEG, PNG, GIF, SVG, ICO</div>
                </div>
              </div>

              <div class="mx-auto col-md-4 text-center">
                <b>Status:</b> <br />
                <div class="d-inline-block text-start form-check">
                  <%= f.radio_button :status, 'open', style: 'display:inline', class: 'form-check-input' %>
                  <%= f.label :status, 'Open', style: 'display:inline', class: 'form-label' %>
                  <br />
                  <%= f.radio_button :status, 'completed', style: 'display:inline', class: 'form-check-input' %>
                  <%= f.label :status, 'Completed', style: 'display:inline', class: 'form-label' %>
                  <br />
                  <br />
                </div>
              </div>

              <div class="mx-auto col-md-4 text-center">
                <b>Space:</b> <br />
                <div class="d-inline-block text-start form-check">
                  <% @spaces.each do |s| %>
                    <%= f.radio_button :space_id, s.id, checked: true, style: 'display:inline', class: 'form-check-input' %>
                    <%= f.label :space_id, s.name.capitalize, style: 'display:inline', class: 'form-label' %>
                    <br />
                  <% end %>
                  <br />
                  <br />
                </div>
              </div>

              <div class="mx-auto col-md-4 text-center">
                <b>How many can join this task?</b> <br />
                <div class="d-inline-block text-center">
                  <%= f.number_field :joins, class: 'form-control' %>
                  <br />
                  <br />
                </div>
              </div>

              <div class="mx-auto col-md-4 text-center">
                <b>Choose a category:</b> <br />
                <div class="d-inline-block text-center">
                  <%= f.select(:category, @tasks_categories, { prompt: 'Category...' }, { class: 'form-control form-select', selected: @tasks_categories[2] }) %>
                  <br />
                  <br />
                </div>
              </div>

              <div class="mx-auto col-md-4 text-center">
                <b>CCs:</b> <br />
                <div class="d-inline-block text-center">
                  <%= f.number_field :cc, class: 'form-control' %>
                  <br />
                  <br />
                </div>
              </div>

              <div class="mx-auto col-md-4 text-center">
                <b>Hours:</b> <br />
                <div class="d-inline-block text-center">
                  <%= f.number_field :hours, step: 0.01, class: 'form-control' %>
                  <br />
                  <br />
                </div>
              </div>
              <div class="col-md-12 text-center">
                <%= label :certifications_id, 'Certifications Required for this Task', class: 'form-label fw-bold' %>
                <%= select_tag :certifications_id, options_from_collection_for_select(@certifications, 'id', 'name'), { multiple: true, id: 'task_certifications', class: 'form-control task_certifications form-select' } %>
                <br><br>
              </div>
              <div class="col-md-6">
                <%= label_tag :staff_id, 'Add Staff Responsible for the Task:', class: 'form-label fw-bold' %>
                <%= select_tag :staff_id, options_from_collection_for_select(User.all.staff, 'id', 'name'), { prompt: 'Choose Staff', class: 'form-control form-select', 'data-live-search': 'true' } %>
              </div>

              <div class="col-md-6">
                  <%= label_tag :volunteer_id, 'Add Volunteer to this Task:', class: 'form-label fw-bold' %>
                  <%= select_tag :volunteer_id, options_from_collection_for_select(User.all.volunteers, 'id', 'name'), { prompt: 'Choose Volunteer', class: 'form-control form-select', 'data-live-search': 'true' } %>
              </div>


              <div class="col-lg-12 text-center">
                <br>
                <%= f.submit 'Create task', class: 'btn btn-secondary btn-xl text-uppercase' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
