<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Volunteer Task: <%= @volunteer_task.title.capitalize %></h2>
    <br />

    <div class="jumbotron text-center">
      <b>Description:</b>
      <%= @volunteer_task.description %>
    </div>

    <div>
      <p>Join this project:</p>
      <%= form_for @new_volunteer_join, url: {controller: "volunteer_task_joins", action: "create"} do |f| %>
        <div>
          <%= f.hidden_field :volunteer_task_id, value: @volunteer_task.id %>
          <%= f.submit "Join", class: "btn btn-primary" %>
        </div>
        <br />
      <% end %>

    </div>

    <div class="row">
      <div class="col-6">
        <h5>Responsable Staff:</h5>
        <% @volunteer_task.volunteer_task_joins.where(user_type: "Staff").find_each do |staff_join| %>
            <%= staff_join.user.name.capitalize %>
        <% end %>
      </div>

      <div class="col-6">
        <h5>Responsable Volunteers:</h5>
        <% @volunteer_task.volunteer_task_joins.where(user_type: "Volunteer").find_each do |volunteer_join| %>
          <%= volunteer_join.user.name.capitalize %>
        <% end %>
      </div>
    </div>
  </div>
</section>