<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Volunteer Task: <%= @volunteer_task.title.capitalize %></h2>
    <br />

    <div class="jumbotron text-center">
      <b>Description:</b>
      <%= @volunteer_task.description %>
    </div>

    <% if @volunteer_task.volunteer_task_joins.pluck(:user_id).include?(current_user.id) %>
      <p><b>You've joined this volunteer task.</b></p>
      <br />
    <% else %>
      <div>
        <p>Join this project:</p>
        <%= form_for @new_volunteer_join, url: {controller: "volunteer_task_joins", action: "create"} do |f| %>
          <div>
            <%= f.hidden_field :volunteer_task_id, value: @volunteer_task.id %>
            <%= f.submit "Join", class: "btn btn-primary" %>
          </div>
          <br />
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-6">
        <h5>Responsable Staff:</h5>
        <% @volunteer_task.volunteer_task_joins.where("volunteer_task_joins.user_type = ? OR volunteer_task_joins.user_type = ?", "Staff", "Admin").find_each do |staff_join| %>
          <%= link_to staff_join.user.name.capitalize, user_path(staff_join.user.username), class: "username" %>
        <% end %>
      </div>

      <div class="col-6">
        <h5>Responsable Volunteers:</h5>
        <% @volunteer_task.volunteer_task_joins.where(user_type: "Volunteer").find_each do |volunteer_join| %>
          <%= link_to volunteer_join.user.name.capitalize, user_path(volunteer_join.user.username), class: "username" %>
        <% end %>
      </div>
    </div>
  </div>
</section>