<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mb-4">
      <h2>Badge Requests</h2>
      <div class="apple_pagination">
        <%= page_entries_info @order_items, :model => 'badge' %>
        <%= will_paginate @order_items, :container => false %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Badge</th>
        <th>Project</th>
        <th>Certify</th>
        <th>Revoke</th>
      </tr>
      <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= link_to User.find_by_username(order_item.order.user.username).name, user_path(order_item.order.user.username) %></td>
          <td><%= BadgeTemplate.get_badge_name(order_item.proficient_project.badge_id) %></td>
          <td><%= order_item.proficient_project.title %></td>
          <% if order_item.proficient_project.badge_id.present? %>
            <td>
              <%= link_to "Certify", certify_badges_path(order_item.order.user.id, order_item.id, order_item.proficient_project.badge_id), {data: {confirm: 'Are you sure?'}, remote: true, class: "btn btn-primary"} %>
            </td>
          <% else %>
            <td>Not related to a badge</td>
          <% end %>
          <td>
            <%= link_to "Revoke", order_item_revoke_path(order_item.id), {data: {confirm: 'Are you sure?'}, remote: true, class: "btn btn-danger"} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>