<% begin %>
  <br>
  <h2 style="text-align: center"><b>Badges</b></h2>

  <div class="apple_pagination">
  <%= page_entries_info @badge_data, model: 'badges' %>
  <%= will_paginate @badge_data, container: false %>
</div>
<br>
<div style="width: 100%;" class="row">

  <% @badge_data.each do |badges| %>

    <div class="col-md-3">
      <p style="text-align: center">
        <% if badges.training_session.training.has_badge %>
          <% if badges.user_id.present? %>
            <%= link_to(badges.user.name, user_path(User.find(badges.user_id).username)) %>
          <% else %>
            <%= badges.user.name %>
          <% end %>
          </p>

          <a style="width: 150px;" class="mx-auto w-100!important d-block" target="_blank" href="./badges/<%= badges.id %>">
            <%= render "badge_icon", width: 150, height: 150, margin: "auto", display: "block", level: badges.training_session.level, name_en: badges.training_session.training.name_en, name_fr: badges.training_session.training.name_fr, skill: badges.training_session.training.skill_id %>
          </a>
        <% end %>
    </div>

  <% end %>
</div>
<br>
<div class="apple_pagination">
  <%= page_entries_info @badge_data, model: 'badges' %>
  <%= will_paginate @badge_data, container: false %>
</div>

<% rescue %>
<div class="alert alert-danger" style="width: 100%; text-align: center">
  An error has occurred while getting the badges, try again later or contact technical support. Sorry for the
  inconvenience.
</div>
<% end %>