<div class="container">
  <div class="col-lg-12 text-center mb-4">
    <br>
    <h2>New Badge to user</h2>
    <p>You can only grant badges that the user can normally get through a proficient project.</p>
  </div>
  <%= text_field(:user_search_grant, :title, class: "user_search_grant form-control") %>
  <div class="grant">
      <%= render "new_badge_grant" %>
    </div>
  <div class="col-lg-12 text-center mb-4">
    <h2>Revoke Badge to user</h2>
  </div>
  <%= form_for(@badges, url: {controller: "badges", action: "revoke_badge"}, :html => {:method => :get}) do |f| %>
    <div class="form-group">
      <%= label :user_id, "User" %>
      <%= f.select(:user_id, User.all.pluck(:name, :id) , {prompt: "Choose User..."} , {:class => "link_pp form-control", :id => "user_select"}) %>
      <br>
      <%= f.label :acclaim_badge_id, "Badge that will be revoked" %>
      <%= f.select(:acclaim_badge_id, options_for_select(BadgeTemplate.all.collect {|badge| [ badge.badge_name, badge.acclaim_template_id ] }), {:include_blank => true}, {:class => "form-control", :id => "badge_select"}) %>
      <br>
      <div class="text-center">
        <%= f.submit "Revoke badge to user", class: "btn btn-danger" %>
        <br />
      </div>
    </div>
  <% end %>
  <br>
</div>

<script type="text/javascript" charset="utf-8">
    $('.user_search_grant').on('keyup', debounce(function (e) {
        $.ajax({
            url: '/badges/new_badge',
            data: {search: $(this).serialize()},
            format: 'js'
        });
    }, 100));
</script>