<td style="vertical-align: middle" class="px-1">
  <% if jo.expedited? %>
    <i class='fa fa-exclamation-circle fa-2x text-success'></i>
    <%# span so that datatables can sort it! %>
    <span class="d-none">Expedited</span>
  <% end %>
</td>
<td>
  <% if jo.chat_messages.count_unread_by_admin(jo) > 0 %>
    <div class="mx-auto position-relative" style="width: min-content;">
      <i class="fa fa-bell text-danger" style="scale: 1.7;"></i>
      <span class="position-absolute translate-middle badge rounded-pill bg-danger">
        <%= jo.chat_messages.count_unread_by_admin(jo) %>
        <span class="visually-hidden">unread messages</span>
      </span>
    </div>
  <% end %>
</td>
<td>
  <% if !jo.user.nil? %>
    <%= link_to jo.user.name, user_path(jo.user.username) %>
    <%= jo.user.email %>
  <% else %>
    [DELETED USER]
  <% end %>
</td>
<td><%= jo.id %></td>
<td data-sort="<%= jo.created_at %>"><%= l(jo.created_at, format: :long) %></td>
</td>
<td>
  <%= jo.job_type.name %>
  <%= jo.job_service_group.name if jo.job_service_group.present? %>
</td>
<td><%= jo.job_order_statuses.last.job_status.name %></td>
<td>
  <% if jo.assigned_staff.present? %>
    <%= link_to jo.assigned_staff.name, user_path(jo.assigned_staff.username) %>
  <% else %>
    <% if current_user.admin? %>
      <button type="button" class="btn btn-link fw-bold" style="font-size: 0.9rem !important;" data-bs-toggle="modal" data-bs-target="#assignStaffModal">
        Assign Staff
      </button>

      <div class="modal fade" id="assignStaffModal" tabindex="-1" aria-labelledby="assignStaffModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="assignStaffModalLabel">Assign Staff</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render "assign_staff", jo: jo, staff: @staff %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= button_to 'Assign Me', job_order_assign_staff_path(jo.id), method: :patch, class: 'btn btn-link fw-bold', style: "font-size: 0.9rem !important", params: { staff_id: current_user.id } %>
    <% end %>
  <% end %>
</td>
<td>
  <%= 
    link_to 'View', job_order_path(jo.id), class: 'btn btn-primary btn-sm'
  %>
</td>
