<td style="vertical-align: middle" class="px-1">
  <% if jo.expedited? %>
    <i class='fa fa-exclamation-circle fa-2x text-success'></i>
    <%# span so that datatables can sort it! %>
    <span class="d-none">Expedited</span>
  <% end %>
</td>
<td>
  <% if !jo.user.nil? %>
    <%= link_to jo.user.name, user_path(jo.user.username) %>
    <%= jo.user.email %>
  <% else %>
    [DELETED USER]
  <% end %>
</td>
<td><%= jo.id %></td>
<td data-sort="<%= jo.created_at %>"><%= jo.created_at.to_formatted_s(:long_ordinal) %></td>
</td>
<td>
  <%= jo.job_type.name %>
  <%= jo.job_service_group.name if jo.job_service_group.present? %>
</td>
<td><%= jo.job_order_statuses.last.job_status.name %></td>
<td>
  <%= 
    link_to 'View', job_order_path(jo.id), class: 'btn btn-primary btn-sm'
  %>
</td>
