<div class="card mb-3">
  <div class="d-flex justify-content-between align-items-center card-header">
    <strong><%= t("job_orders.order.timeline") %></strong>
  </div>
  <div class="card-body">
    <ul class="timeline">
      <% jo.job_order_statuses.order(created_at: :desc).each do |jos| %>
        <li>
          <div class="d-flex justify-content-between">
            <p><%= jos.job_status.t_name %></p>
            <p class="float-right"><%= l(jos.created_at, format: :long) %></p>
          </div>
          <p><%= jos.job_status.t_description %></p>
          <% if jo.job_order_statuses.last == jos %>
            <% if [JobStatus::USER_APPROVAL, JobStatus::SENT_REMINDER, JobStatus::COMPLETED].include?(jos.job_status) %>
              <div class="alert alert-warning">
                <p><b><%= t('job_orders.public_page.action_required_total_quote') %> <%= number_to_currency(jo.total_price) %></b></p>
                <%# Only the client can pay/approve/deny from here %>
                <% if current_user.id == jo.user_id %>
                  <div class="d-flex justify-content-between">
                    <% if jos.job_status === JobStatus::COMPLETED %>
                      <%= link_to t('job_orders.public_page.pay_online'), pay_job_orders_path(token: Rails.application.message_verifier(:job_order_id).generate(jo.id)), class: 'btn btn-primary' %>
                      <a href="https://en.wiki.makerepo.com/wiki/How_to_pay_for_an_Order" class="btn btn-primary"><%= t('job_orders.public_page.pay_in_store') %></a>
                    <% else %>
                      <%= form_tag job_order_user_approval_path(job_order_id: jo.id, approved: true), method: :patch do %>
                        <%= submit_tag t('job_orders.public_page.approve'), class: 'btn btn-primary' %>
                      <% end %>
                      <%= form_tag job_order_user_approval_path(job_order_id: jo.id, approved: false), method: :patch do %>
                        <%= submit_tag t('job_orders.public_page.deny'), class: 'btn btn-danger' %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>