<div class="col-md-6 my-3">
  <div class="card">
    <div class="card-header">
      <div class="card-title m-0 d-flex justify-content-md-between flex-md-row flex-column">
        <div>
          <h5><%= t('job_orders.public_page.order') %> #<%= jo.id %> - <%= jo.job_order_statuses.last.job_status.t_name %></h5>
          <p class="mb-0"><%= jo.user_files.map(&:filename).join(', ') %></p>
        </div>
        <div class="pt-2 pt-md-0">
          <% if jo.allow_edit? %>
            <%= link_to t('job_orders.public_page.edit'), job_order_steps_path(job_order_id: jo.id), class: 'btn btn-outline-dark mb-1' %>
          <% else %>
            <span class="d-inline-block mb-1" tabindex="0" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="<%= t('job_orders.public_page.cannot_edit_this_order') %>">
              <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled><%= t('job_orders.public_page.edit') %></button>
            </span>
          <% end %>
          <%= button_to "<i class='fa fa-download'></i> Invoice".html_safe, job_order_invoice_path(job_order_id: jo.id), method: :get, target: '_blank', class: 'btn btn-secondary' if jo.job_order_quote.present? %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="timeline">
        <% jo.job_order_statuses.order(created_at: :desc).each do |jos| %>
          <li>
            <div class="d-flex justify-content-between">
              <p><%= jos.job_status.t_name %></p>
              <p class="float-right"><%= jos.created_at.strftime('%b %e %Y at %H:%M') %></p>
            </div>
            <p><%= jos.job_status.t_description %></p>
            <% if jo.job_order_statuses.last == jos %>
              <% if [JobStatus::USER_APPROVAL, JobStatus::SENT_REMINDER, JobStatus::COMPLETED].include?(jos.job_status) %>
                <div class="alert alert-warning">
                  <p><b><%= t('job_orders.public_page.action_required_total_quote') %> <%= number_to_currency(jo.total_price) %></b></p>
                  <div class="d-flex justify-content-between">
                    <% if jos.job_status === JobStatus::COMPLETED %>
                      <%= link_to t('job_orders.public_page.pay_online'), pay_job_orders_path(token: Rails.application.message_verifier(:job_order_id).generate(jo.id)), class: 'btn btn-primary' %>
                      <a href="https://en.wiki.makerepo.com/wiki/How_to_pay_for_an_Order" class="btn btn-primary"><%= t('job_orders.public_page.pay_in_store') %></a>
                    <% else %>
                      <%= form_tag job_order_user_approval_path(job_order_id: jo.id, approved: true), method: :patch do %>
                        <%= submit_tag t('job_orders.public_page.approve'), class: 'btn btn-primary' %>
                      <% end %>
                      <%= form_tag job_order_user_approval_path(job_order_id: jo.id, approved: false), method: :patch do %>
                        <%= submit_tag t('job_orders.public_page.deny'), class: 'btn btn-danger' %>
                      <% end %>
                  <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
