<div class="px-2" data-controller="launch-modal">
  <h1 class="text-center">List of Job Orders</h1>
  <div class="text-center">
    <%= link_to "New Job Order", new_job_orders_path, {class: 'btn btn-primary mb-1'} %>
    <%= link_to "Client Page", job_orders_path, {class: 'btn btn-primary mb-1'} %>
    <%= link_to "Settings Page", settings_job_orders_path, {class: 'btn btn-primary mb-1'} %>
    <%= link_to "Old Admin Page", print_orders_path, {class: 'btn btn-primary mb-1'} %>
  </div>

  <div class="py-1">
    <%= form_with(url: admin_job_orders_path, method: "get", class: "form-inline") do %>
      <label class="my-1 mr-1" for="start_date">Filter by date</label>
      <%= select_tag(:query_date, options_for_select([['All', 0], ['1 Month', 30], ['3 Months', 90], ['6 Months', 180], ['12 Months', 365]], :selected => session[:query_date]), { :class => 'form-select mr-1' }) %>
      <%= submit_tag("Search", class: "btn btn-primary mt-1 mt-md-0") %>
    <% end %>
  </div>

  <div class="accordion">
    <% @statuses.each_with_index do |status, i| %>
      <% if @job_orders.last_status(status[:status]).present? %>
        <div class="card">
          <div class="card-header" data-bs-toggle="collapse" data-bs-target="#accordion-job-order-<%= i %>" aria-expanded="true">
            <h2 class="mb-0 text-center">
              <button class="btn btn-link" type="button">
                <%= status[:name] %>
              </button>
            </h2>
          </div>
          <div id="accordion-job-order-<%= i %>" class="collapse" aria-labelledby="#job-order-<%= i %>">
            <div class="table-responsive">
              <table class="table table-striped job-order-table">
                <thead class="table-primary">
                  <tr class="text-center">
                    <th></th>
                    <th>User</th>
                    <th>Identity</th>
                    <th>ID</th>
                    <th>Submitted on</th>
                    <th>Type</th>
                    <th>Options</th>
                    <th>Comments</th>
                    <th>User's Files</th>
                    <th>Staff Files</th>
                    <th>Current Status</th>
                    <th>Extra Info</th>
                    <th>Action</th>
                    <th>Quote</th>
                    <th>Invoice</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                <% @job_orders.last_status(status[:status]).each do |jo| %>
                  <tr id="job-order-row-<%= jo.id %>">
                    <%= render 'admin_row', jo: jo %>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Comments Modal -->
  <div class="modal" tabindex="-1" data-controller="comments-modal" data-launch-modal-target="commentsModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Comments for Job Order #<span data-comments-modal-target="id"></span></h5>
          <button type="button" class="btn-close" data-action="click->comments-modal#close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><span data-comments-modal-target="comments"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="click->comments-modal#close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Decline Modal -->
  <div class="modal" tabindex="-1" data-controller="decline-modal" data-launch-modal-target="declineModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Decline Comments for #<span data-decline-modal-target="id"></span></h5>
          <button type="button" class="btn-close" data-action="click->decline-modal#close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="decline-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="click->decline-modal#close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Quote Modal -->
  <div class="modal" tabindex="-1" data-controller="quote-modal" data-launch-modal-target="quoteModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quote for Job Order #<span data-quote-modal-target="id"></span></h5>
          <button type="button" class="btn-close" data-action="click->quote-modal#close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="quote-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="click->quote-modal#close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Timeline Modal -->
  <div class="modal" tabindex="-1" data-controller="timeline-modal" data-launch-modal-target="timelineModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Status Timeline for Job Order #<span data-timeline-modal-target="id"></span></h5>
          <button type="button" class="btn-close" data-action="click->timeline-modal#close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="timeline-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="click->timeline-modal#close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" data-controller="completed-email-modal" data-launch-modal-target="completedEmailModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Processed Email for Job Order #<span data-completed-email-modal-target="id"></span></h5>
          <button type="button" class="btn-close" data-action="click->completed-email-modal#close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="completed-email-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="click->completed-email-modal#close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
