<div class="px-2" data-controller="launch-modal launch-custom-modal">
  <h1 class="text-center fw-bold my-1">All Job Orders</h1>
  <div class="text-center">
    <%= link_to 'Client View', job_orders_path, { class: 'btn btn-primary mb-1' } %>
    <%= link_to 'Settings', settings_job_orders_path, { class: 'btn btn-outline-primary mb-1' } %>
  </div>

  <div class="container px-4">
    <!-- Filter Button -->
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterPanel" aria-controls="filterPanel">
      Filter Jobs
    </button>
    <!-- Filter Summary -->
    <div id="active-filters" class="mt-2 d-none">
      <span class="fw-bold me-2">Active Filters:</span>
      <span id="filter-tags" class="me-3"></span>
      <br>
      <button id="clear-filters" class="btn btn-sm btn-outline-danger mt-1">Clear All Filters</button>
    </div>
  </div>

  <div class="container table-responsive">
    <table class="table table-striped job-order-table">
      <thead class="table-primary">
        <tr class="text-center">
          <th style="width: min-content;"></th>
          <th style="width: min-content;"></th>
          <th>User</th>
          <th>ID</th>
          <th>Submitted</th>
          <th>Type</th>
          <th>Status</th>
          <th>Staff</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <% @job_orders.each do |jo| %>
          <tr id="job-order-row-<%= jo.id %>">
            <%= render 'admin_row', jo: %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="filterPanel" aria-labelledby="filterPanelLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="filterPanelLabel">Filters</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-4">
        <strong>Date Range</strong>
        <fieldset id="date_range" class="form-check">
          <label>
            <input type="radio" name="date_range" value="all" class="form-check-input" id="default_date" checked>
            All time
          </label><br>
          <label>
            <input type="radio" name="date_range" value="7" class="form-check-input">
            Past 7 days
          </label><br>
          <label>
            <input type="radio" name="date_range" value="30" class="form-check-input">
            Past 30 days
          </label><br>
          <label>
            <input type="radio" name="date_range" value="semester" class="form-check-input">
            Semester to date
          </label><br>
          <label>
            <input type="radio" name="date_range" value="365" class="form-check-input">
            Past 1 year
          </label>
        </fieldset>
        <input type="hidden" id="computed_days" name="computed_days" value="1000000" />
      </div>

      <div class="mb-4">
        <strong>Job Types</strong>
        <% @job_types.each do |type| %>
          <div class="form-check">
            <%= check_box_tag "job_type_filter[]", type.name, false, class: "form-check-input", id: "job_type_#{type.id}" %>
            <%= label_tag "job_type_#{type.id}", type.name, class: "form-check-label" %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <strong>Job Statuses</strong>
        <% @statuses.each do |status| %>
          <div class="form-check">
            <%= check_box_tag "job_status_filter[]", status.name, false, class: "form-check-input", id: "job_status_#{status.id}" %>
            <%= label_tag "job_status_#{status.id}", status.name, class: "form-check-label" %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <strong>Assigned To</strong>
        <div class="form-check">
          <%= check_box_tag "assigned_to_filter[]", "Assign", false, class: "form-check-input", id: "assigned_to_unassigned" %>
          <%= label_tag "assigned_to_unassigned", "Unassigned", class: "form-check-label" %>
        </div>
        <div class="form-check">
          <%= check_box_tag "assigned_to_filter[]", current_user.name, false, class: "form-check-input", id: "assigned_to_#{current_user.id}" %>
          <%= label_tag "assigned_to_#{current_user.id}", "Me", class: "form-check-label" %>
        </div>
      </div>
    </form>
  </div>
</div>