<% provide :title, t('job_orders.title') %>

<section class="mt-n3">
  <div class="position-relative text-white text-center d-flex flex-column justify-content-center" style="min-height: 90vh;">
    <div style="background: url(<%= asset_path('job_orders/header.png') %>) center center / cover no-repeat; filter: brightness(40%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0;"></div>

    <div class="container position-relative z-1">
      <h1 class="display-1 text-white"><%= t('job_orders.header').html_safe %></h1>
      <p class="lead text-white"><%= t('job_orders.subtext') %></p>
      <div class="mt-4 pb-5 d-flex justify-content-center flex-wrap gap-3">
        <%= link_to t('job_orders.request_button'), new_job_order_path, class: 'btn btn-primary btn-lg px-5 py-3' %>
        <%= link_to t('job_orders.view_orders_button'), job_orders_path, class: 'btn btn-outline-primary btn-lg px-5 py-3' %>
      </div>
    </div>
  </div>
  <%= render partial: 'layouts/job_orders_header' %>


  <div class="container-lg my-5">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <p class="fs-4 text-primary fw-bold text-uppercase"><%= t('job_orders.intro.title') %></p>
        <h2 class="mb-4 display-5"><%= t('job_orders.intro.text').html_safe %></h2>
      </div>

      <div class="col-lg-5 text-center">
        <%= image_tag 'job_orders/laser.png', class: 'img-fluid rounded shadow' %>
      </div>
    </div>
  </div>


  <div class="container-lg mx-auto row g-4 my-5">
    <div class="col-lg-6">
      <div class="border border-2 rounded-3 p-4 h-100">
        <h2><%= t('job_orders.sections.services') %></h2>
        <p><%= t('job_orders.sections.services_text') %></p>
        <ul>
          <% t('job_orders.sections.services_list').each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="border border-2 rounded-3 p-4 h-100">
        <h2><%= t('job_orders.sections.makerspace') %></h2>
        <p><%= t('job_orders.sections.makerspace_text') %></p>
        <ul>
          <% t('job_orders.sections.makerspace_list').each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-12">
      <div class="border border-3 border-primary rounded-4 p-4 bg-body shadow-sm h-100">
        <div class="row align-items-stretch">
          <div class="col-md-4 mb-4 mb-md-0 d-flex align-items-center">
            <div class="w-100 h-100 d-flex align-items-center" style="overflow: hidden;">
              <%= image_tag 'job_orders/3dprint.png', class: 'img-fluid w-100 h-100 rounded', style: 'object-fit: cover;' %>
            </div>
          </div>

          <div class="col-md-8 d-flex flex-column">
            <div class="d-flex align-items-center mb-3">
              <h2 class="mb-0 text-primary"><%= fa_icon "lightbulb-o" %>&nbsp;&nbsp;<%= t('job_orders.sections.design_consultation.title') %></h2>
            </div>

            <p class="lead"><%= t('job_orders.sections.design_consultation.subtitle') %></p>
            <p><%= t('job_orders.sections.design_consultation.description') %></p>

            <ul class="flex-grow-1">
              <% t('job_orders.sections.design_consultation.services').each do |service| %>
                <li class="mb-2"><%= service %></li>
              <% end %>
            </ul>

            <%= link_to t('job_orders.sections.design_consultation.call_to_action'), new_job_order_path, class: 'btn btn-primary btn-md px-4 py-2 mt-2 align-self-start' %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center" style="margin-top: 5rem;">
      <h3 class="fs-2 text-primary fw-bold text-uppercase"><%= t('job_orders.pricing.title') %></h3>
      <p><%= t('job_orders.pricing.text') %></p>
    </div>
  </div>
</section>
