<section x-data="{job_type_id: <%= @job_order.job_type_id.presence || JobType.first.id %>}">
  <%= form_for(@job_order, url: { controller: 'job_orders', action: 'create' }) do |f| %>

    <div class="text-center">

      <h2><%= t('job_orders.wizard.title', step: 1) %></h2>

      <div class="form-group col-lg-6 mx-auto">
        <%= f.label :job_type_id, t('job_orders.wizard.step_1.job_type'), { class: 'form-label' } %>
        <%= f.select :job_type_id, options_from_collection_for_select(JobType.all, :id, :name), {}, { class: 'form-control form-select', 'x-model': 'job_type_id' } %>
      </div>

      <% JobType.all.find_each do |jt| %>
        <template x-if="job_type_id == <%= jt.id %>">
          <% if jt.description.present? %>
            <div class="alert alert-secondary my-2 col-lg-6 mx-auto">
              <%= jt.description %>
            </div>
          <% end %>
        </template>
      <% end %>

      <%= f.submit t('job_orders.wizard.next_step'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>
