<section class="padding-responsive">
  <div class="text-center pb-4">
    <h2 class="font-weight-bold">Job Order Admin Settings</h2>

    <div class="pb-3">
      <%= link_to 'Admin Page', admin_job_orders_path, class: 'btn btn-primary mb-1' %>
    </div>

    <h3>Job Service Group</h3>

    <p class="text-center"><%= link_to 'New Service Group', new_admin_job_service_group_path, class: 'btn btn-secondary' %></p>
    <div class="table-responsive">
      <table class="table table-striped">
         <thead class="table-primary"><tr class="text-center">
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Text Field?</th>
          <th>Multiple choices?</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr></thead>

        <% @service_groups.each do |sg| %>
          <tr>
            <td><%= sg.name %></td>
            <td><%= sg.job_type.name %></td>
            <td><%= sg.description %></td>
            </td>
            <td>
              <% if sg.text_field_false? %>
                No
              <% elsif sg.text_field_true? %>
                Yes
              <% else %>
                Optional
              <% end %>
            </td>
            <td><%= sg.multiple ? 'Yes' : 'No' %></td>
            <td><%= link_to 'Edit', edit_admin_job_service_group_path(sg.id), class: 'btn btn-primary' %></td>
            <td><%= button_to 'Delete', admin_job_service_group_path(sg.id), method: :delete, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <br>

    <h3>Job Service</h3>

    <p class="text-center"><%= link_to 'New Service', new_admin_job_service_path, class: 'btn btn-secondary' %></p>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr class="text-center">
          <th>Name</th>
          <th>Description</th>
          <th>Required</th>
          <th>Job Service Group</th>
          <th>Unit</th>
          <th>Internal Pricing</th>
          <th>External Pricing</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <% @services.each do |s| %>
          <tr>
            <td><%= s.name %></td>
            <td><%= s.description %></td>
            <td><%= s.required ? 'Yes' : 'No' %></td>
            </td>
            <td><%= s.job_service_group.name %></td>
            <td><%= s.unit %></td>
            <td><%= number_to_currency(s.internal_price) %></td>
            <td><%= number_to_currency(s.external_price) %></td>
            <td><%= link_to 'Edit', edit_admin_job_service_path(s.id), class: 'btn btn-primary' %></td>
            <td><%= button_to 'Delete', admin_job_service_path(s.id), method: :delete, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <br>

    <h3>Job Options</h3>

    <p class="text-center"><%= link_to 'New Option', new_admin_job_option_path, class: 'btn btn-secondary' %></p>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr class="text-center">
          <th>Name</th>
          <th>Description</th>
          <th>Type(s)</th>
          <th>Fee</th>
          <th>Need Files?</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <% @options.each do |o| %>
          <tr>
            <td><%= o.name %></td>
            <td><%= o.description %></td>
            <td>
              <ul>
                <% o.job_types.each do |jt| %>
                  <li><%= jt.name %></li>
                <% end %>
              </ul>
            </td>
            <td><%= number_to_currency(o.fee) %></td>
            <td><%= o.need_files ? 'Yes' : 'No' %></td>
            </td>
            <td><%= link_to 'Edit', edit_admin_job_option_path(o.id), class: 'btn btn-primary' %></td>
            <td><%= button_to 'Delete', admin_job_option_path(o.id), method: :delete, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <br>

    <h3>Job Types</h3>

    <p class="text-center"><%= link_to 'New Job Type', new_admin_job_type_path, class: 'btn btn-secondary' %></p>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr class="text-center">
          <th>Name</th>
          <th>Comments</th>
          <th>Service Fee</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <% @job_types.each do |t| %>
          <tr>
            <td><%= t.name %></td>
            <td><%= sanitize t.comments %></td>
            <td><%= number_to_currency(t.service_fee) %></td>
            <td><%= link_to 'Edit', edit_admin_job_type_path(t.id), class: 'btn btn-primary' %></td>
            <td>
            <span class="d-inline-block" tabindex="0" data-toggle="popover" data-trigger="focus" data-content="Cannot delete a Job Type. Please contact Admins." data-placement="bottom">
              <button class="btn btn-danger" style="pointer-events: none;" type="button" disabled>Delete</button>
            </span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
