<%= form_for(@price_rule) do |f| %>
  <% if @price_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_rule.errors.count, "error") %> prohibited this price_rule from being saved:</h2>

      <ul>
      <% @price_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="form-group">
      <%= f.label :title, 'Title of the price rule' %>
      <%= f.text_field :title, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :value, 'Value of the price rule (In $)' %>
      <%= f.number_field :value, class: "form-control",  min: 0, required: true %>
    </div>
    <div class="form-group">
      <%= f.label :cc, 'Value of the price rule (In CC Points)' %>
      <%= f.number_field :cc, class: "form-control", min: 0, required: true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
