<% provide(:title, 'Reports') %>
<section id="reports">
  <br>
  <h1 class="text-center fw-bold d-print-none">Reports</h1>

  <%= form_tag admin_report_generator_generate_path, method: :post, class: 'd-print-none' do %>
    <div class="row align-items-center">
      <div class="mb-3 col-md-4">
        <div class="form-check">
          <%= radio_button_tag(:range_type, :semester, params[:range_type] == 'semester', class: 'form-check-input', id: 'semester_radio') %>
          <%= label_tag(:range_type_semester, 'Semester', class: 'form-check-label') %>
        </div>
      </div>
      
      <div id="semester_fields" class="col-md-8">
        <div class="row">
          <div class="mb-3 col-md-6">
            <%= label_tag(:term, 'Term', class: 'form-label') %>
            <%= select_tag(:term, options_for_select([['Winter', :winter], ['Spring/Summer', :summer], ['Fall', :fall]], params[:term]), class: %w[form-control form-select]) %>
          </div>

          <div class="mb-3 col-md-6">
            <%= label_tag(:year, 'Year', class: 'form-label') %>
            <%= number_field_tag(:year, params[:range_type] == 'semester' ? params[:year].to_i : DateTime.now.year, class: %w[form-control]) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="mb-3 col-md-4">
        <div class="form-check">
          <%= radio_button_tag(:range_type, :date_range, params[:range_type] == 'date_range', class: 'form-check-input', id: 'date_range_radio') %>
          <%= label_tag(:range_type_date_range, 'Date Range', class: 'form-check-label') %>
        </div>
      </div>

      <div id="date_range_fields" class="col-md-8" style="display: none;">
        <div class="row">
          <div class="mb-3 col-md-6">
            <%= label_tag(:from_date, 'From', class: 'form-label') %>
            <%= date_field_tag(:from_date, params[:start_date] ? params[:start_date].to_date : 1.week.ago.beginning_of_week.strftime('%Y-%m-%d'), class: %w[form-control]) %>
          </div>

          <div class="mb-3 col-md-6">
            <%= label_tag(:to_date, 'To', class: 'form-label') %>
            <%= date_field_tag(:to_date, params[:end_date] ? params[:end_date].to_date : 1.week.ago.end_of_week.strftime('%Y-%m-%d'), class: %w[form-control]) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="mb-3 col-md-4">
        <div class="form-check">
          <%= radio_button_tag(:range_type, :all_time, params[:range_type] == 'all_time', class: 'form-check-input', data: { 'radio-enable': '.range-type-date-range-fields' }) %>
          <%= label_tag(:range_type_all_time, 'All Time', class: 'form-check-label') %>
        </div>
      </div>
    </div>

    <%= label_tag(:type, 'Report Type', class: 'form-label') %>
    <% @report_types.each_index do |report| %>
      <div class="form-check">
        <%= radio_button_tag(:type, @report_types[report][1], (true if report == @report_parameter.index(params[:report_type])), class: 'form-check-input') %>
        <%= label_tag(:type, @report_types[report][0], class: 'form-check-label', style: 'font-size: 16px;') %>
        <br>
      </div>
    <% end %>
    <br>

    <%= button_tag('Generate', { class: 'btn btn-primary' }) %>
    <p>Generating reports could take a while, please wait for the reports to generate.</p>
  <% end %>

  <% if params[:report_type].present? %>
    <hr />
    <div id="report">
      <%= render params[:report_type] %>
    </div>
  <% end %>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    function toggleFields() {
      var isSemester = document.getElementById('semester_radio').checked;
      document.getElementById('semester_fields').style.display = isSemester ? 'block' : 'none';
      document.getElementById('date_range_fields').style.display = isSemester ? 'none' : 'block';
    }

    document.getElementById('semester_radio').addEventListener('change', toggleFields);
    document.getElementById('date_range_radio').addEventListener('change', toggleFields);

    toggleFields();
  });
</script>
