<% provide(:title, "Reports") %>
<section id="report">
  <div class="edit-column">
    <h1>Reports</h1>

    <%= form_tag admin_report_generator_generate_path, method: :post do %>
      <div class="form-row align-items-center">
        <div class="form-group col-md-4">
          <div class="custom-control custom-radio">
            <%= radio_button_tag(:range_type, :semester, true, class: "custom-control-input") %>
            <%= label_tag(:range_type_semester, "Semester", class: "custom-control-label") %>
          </div>
        </div>

        <div class="form-group col-md-4">
          <%= label_tag(:term, "Term") %>
          <%= select_tag(:term, options_for_select([["Winter", :winter], ["Spring/Summer", :summer], ["Fall", :fall]]), { class: "form-control" }) %>
        </div>

        <div class="form-group col-md-4">
          <%= label_tag(:year, "Year") %>
          <%= number_field_tag(:year, DateTime.now.year, { class: "form-control" }) %>
        </div>
      </div>

      <div class="form-row align-items-center">
        <div class="form-group col-md-4">
          <div class="custom-control custom-radio">
            <%= radio_button_tag(:range_type, :date_range, false, class: "custom-control-input") %>
            <%= label_tag(:range_type_date_range, "Date Range", class: "custom-control-label") %>
          </div>
        </div>

        <div class="form-group col-md-4">
          <%= label_tag(:from_date, "From") %>
          <%= date_field_tag(:from_date, 1.week.ago.beginning_of_week.strftime("%Y-%m-%d"), class: "form-control", ) %>
        </div>

        <div class="form-group col-md-4">
          <%= label_tag(:to_date, "To") %>
          <%= date_field_tag(:to_date, 1.week.ago.end_of_week.strftime("%Y-%m-%d"), class: "form-control") %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag(:type, "Report Type") %>
        <%= select_tag(:type, options_for_select(@report_types), { class: "form-control" }) %>
      </div>

      <%= submit_tag("Generate", { class: "btn btn-primary" }) %>
    <% end %>
  </div>
</section>