<section id="report">
<div class="edit-column">

<h1>Report Generator</h1>
<p>Select the date range below and download your reports.</p><br><br>

<div class="date_selection">
  <%= form_tag select_date_range_admin_report_generator_index_path, method: :put do %>

      <div style="display:inline-block;"><%= label_tag('Start Date:  ') %> </div>
      <%= select_date @start_date, :prefix => 'start', end_year: Time.current.year %> <br>

      <div style="display:inline-block;"><%= label_tag('End Date:  ') %> </div>
      <%= select_date @end_date, :prefix => 'end', end_year: Time.current.year %>
      <p style="display: inline-block; max-width: 250px; "><%= @start_date.strftime("%B %d, %Y") %>  -  <%= @end_date.strftime("%B %d, %Y") %></p>
      <%= submit_tag("Update",  class:"update_button") %>
      <br>
  <% end %>

</div>

<br><br>
<div id="report">
  <p> New users in the past month </p>
  <%= link_to '<button type="button">Download</button>'.html_safe, new_users_admin_report_generator_index_path(format: "csv") %><br><br>
</div>
<div id="report">
<p> Total visits in the past month </p>
<%= link_to '<button type="button">Download</button>'.html_safe, total_visits_admin_report_generator_index_path(format: "csv") %><br><br>
</div>

<div id="report">
<p> Unique visitors in the past month </p>
<%= link_to '<button type="button">Download</button>'.html_safe, unique_visits_admin_report_generator_index_path(format: "csv") %><br><br>
</div>

<div id="report">
<p> Diversity of users based on faculty </p>
<%= link_to '<button type="button">Download</button>'.html_safe, faculty_frequency_admin_report_generator_index_path(format: "csv") %><br><br>
</div>
<div id="report">
<p> Diversity of users based on gender </p>
<%= link_to '<button type="button">Download</button>'.html_safe, gender_frequency_admin_report_generator_index_path(format: "csv") %><br><br>
</div>
<div id="report">
<p> <strong> Trainings Reports </strong> </p>
<%= link_to '<button type="button">Download</button>'.html_safe, training_admin_report_generator_index_path(format: "csv")%> <br><br>

<p> ** Pending reports ** </p> <br>
<p id="brunsfield"> Brunsfield Centre </p>
<%= link_to '<button type="button">Download</button>'.html_safe%> <br><br>

<p id="brunsfield"> Makerspace </p>
<%= link_to '<button type="button">Download</button>'.html_safe%> <br><br>
</div>

<div id="report">
<p> Repositories </p>
<%= link_to '<button type="button">Download</button>'.html_safe, repository_admin_report_generator_index_path(format: "csv")%> <br><br>
</div>
<br>
</div>
</section>
