<% content_for :preheader do %>
  MakerRepo - Proficient Project Submitted
<% end %>

<% content_for :team_name do %>
  The MakerRepo Team
<% end %>

<% content_for :why_received do %>
  You have received this email because you submitted a proficient project on <a href="https://makerepo.com" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">makerepo.com</a>.
<% end %>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">Hello <%= @user.name %>,</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  The proficient project (<%= @pp.title %>) has been submitted successfully.
  <br>
  <% if @pp.drop_off_location.present? %>
    Please <b>drop off</b> your project <b>here</b>: <%= @pp.drop_off_location.name %>
  <% else %>
    This project has no drop-off locations. If you think this is an error or you have any questions about it,
    please contact <%= @email %>.
  <% end %>
  <br /><br />
  After the drop-off (if your project needs to be dropped-off), we will review it and get back to you within 5 business days. <br />
  If you have any questions, feel free to contact us at <%= @email %>.
</p>