<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Hi <%= @user.name %>,
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Your print "<%= @print_order.file.filename %>" has been approved!
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Pricing: <br>
  Service charges: <%= number_to_currency(@print_order.service_charge) %> <br>
  <% if @print_order.order_type == 1 %>
    Material cost: $<%= @print_order.material_cost %> <br>
    Price: <%= @print_order.price_per_hour.number_to_currency %>
  <% elsif @print_order.order_type == 0 and (@print_order.sst == true) %>
    Time: <%= @print_order.hours %> hours<br>
    Price: <%= number_to_currency(@print_order.price_per_hour) %>/h
  <% else %>
    Weight: <%= @print_order.grams %> grams<br>
    Price: <%= number_to_currency(@print_order.price_per_gram) %>/g
  <% end %>
  <br>
  <% if @print_order.expedited == true %>
    Expedited service charge: <%= number_to_currency(@expedited_price) %><br>
  <% end %>
  <strong>Grand Total:</strong> <%= number_to_currency(@print_order.quote) %>
</p>

<% if @comments.present? %>
  <p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
    Comments from staff:<br/>
    <span style="font-style: italic"><%= @comments %></span>
  </p>
<% end %>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  You can accept or decline the quote by visiting the <a href="https://makerepo.com/print_orders">print orders page</a>.
</p>

<p style="font: 400 1.0em 'Raleway', sans-serif; color: #555;">
  Best regards,<br>
  The Makerspace Team
</p>

