<p>MAKERSPACE(Makerstore) TRANSFER:</p>
<p>
  Here is the information for the latest transfer: <br>
  TransferID: <%= @transfer_id %> <br>
  Date: <%= @date %> <br>
  Amount: $<%= @amount %> <br>
  Bank: <%= @bank %> <br>
  Routing Number: <%= @routing_number %>< <br>
  Transfer to Faculty of Engineering(2016): <%= @faculty_of_eng_number %>
<p>
  --<br>
  Stripe
</p>