<hr />
<div>
    <%# Set child index to something we can replace with JS regex quickly %>
    <%= f.fields_for :opening_hours, child_index: local_assigns[:child_index], models: local_assigns[:models] do |h| %>
        <%= h.hidden_field(:id) %>
        <div class="row">
            <div class="col-lg-8">
                <fieldset class="input-group mb-3" data-toggled-by="#<%= h.field_id :_destroy, index: nil %>">
                    <%= h.label :target_en, 'English table header: ', class: 'input-group-text' %>
                    <%= h.text_field :target_en, class: 'form-control fw-bold' %>
                    <%= h.label :target_fr, 'French table header: ', class: 'input-group-text' %>
                    <%= h.text_field :target_fr, class: 'form-control fw-bold' %>
                </fieldset>
            </div>
            <fieldset class="col-lg-2" data-toggled-by="#<%= h.field_id :_destroy, index: nil %>">
                <%= h.label :closed_all_week, 'Display week?', class: 'form-label' %>
                <%= h.select :closed_all_week, OpeningHour.closed_all_weeks.keys, {}, { class: 'form-select' } %>
            </fieldset>
            <div class="col-lg-2">
                <%= h.check_box :_destroy, class: 'btn-check' %>
                <%= h.label :_destroy, 'Mark for deletion?', class: 'btn btn-outline-danger' %>
            </div>
        </div>
        <fieldset data-toggled-by="#<%= h.field_id :closed_all_week, index: nil %> #<%= h.field_id :_destroy, index: nil %>">
            <div>
                <% %i[sunday monday tuesday wednesday thursday friday saturday].each do |day| %>
                    <div class="row">
                        <%# To remove the seconds and milliseconds option%>
                        <div class="col-2">
                            <%#%= h.label "#{day}_closed_all_day", 'Closed all day?'.humanize, class: 'form-label' %>
                            <%= h.select "#{day}_closed_all_day", OpeningHour.defined_enums["#{day}_closed_all_day"].keys, {}, { class: 'form-select w-auto' } %>
                        </div>
                        <%= h.label "#{day}_opening", day.to_s.humanize, class: 'form-label col-3' %>
                        <fieldset class="col-7 row row-cols-3" data-toggled-by="#<%= h.field_id("#{day}_closed_all_day", index: nil) %>">
                            <div>
                                <%= h.time_field "#{day}_opening", class: 'form-control', value: h.object["#{day}_opening"]&.to_formatted_s(:time) %>
                            </div>
                            <div>
                                <%= h.label "#{day}_closing", 'to', class: 'form-label' %>
                            </div>
                            <div>
                                <%= h.time_field "#{day}_closing".to_s, class: 'form-control', value: h.object["#{day}_closing"]&.to_formatted_s(:time) %>
                            </div>
                        </fieldset>
                    </div>
                <% end %>
            </div>
        </fieldset>
        <div class="row row-cols-lg-2 my-3">
            <div>
                <%= h.label :notes_en, 'English footer notes', class: 'form-label' %>
                <%= h.trix_editor :notes_en, class: 'form-control' %>
            </div>
            <div>
                <%= h.label :notes_fr, 'French footer notes', class: 'form-label' %>
                <%= h.trix_editor :notes_fr, class: 'form-control' %>
            </div>
        </div>
    <% end %>
</div>
