<% opening_hours.each do |hour| %>
    <%= f.fields_for :opening_hours, hour do |h| %>
        <%= h.hidden_field :id %>
        <div class="input-group mb-3">
            <%= h.label :target_en, 'English table header: ', class: 'input-group-text' %>
            <%= h.text_field :target_en, class: 'form-control fw-bold' %>
        </div>
        <div class="input-group mb-3">
            <%= h.label :target_fr, 'French table header: ', class: 'input-group-text' %>
            <%= h.text_field :target_fr, class: 'form-control fw-bold' %>
        </div>
        <div>
            <% %i[sunday monday tuesday wednesday thursday friday saturday].each do |day| %>
                <div class="row row-cols-5">
                    <%# To remove the seconds and milliseconds option%>
                    <%= h.label "#{day}_opening", day.to_s.humanize, class: 'form-label' %>
                    <div class="form-check">
                        <%= h.check_box "#{day}_closed_all_day", class: 'form-check-input' %>
                        <%= h.label "#{day}_closed_all_day", 'Closed all day?'.humanize, class: 'form-check-label' %>
                    </div>
                    <%= h.time_field "#{day}_opening", class: 'form-control w-auto', value: hour["#{day}_opening"]&.to_formatted_s(:time) %>
                    <%= h.label "#{day}_closing", 'to', class: 'form-label' %>
                    <%= h.time_field "#{day}_closing".to_s, class: 'form-control w-auto', value: hour["#{day}_closing"]&.to_formatted_s(:time) %>
                </div>
            <% end %>
            <div class="col">
                <%= h.check_box :_destroy, class: 'btn-check' %>
                <%= h.label :_destroy, 'Mark for deletion?', class: 'btn btn-outline-danger' %>
            </div>
        </div>
        <div class="row row-cols-lg-2 mt-3">
            <div>
                <%= h.label :notes_en, 'English footer notes', class: 'form-label' %>
                <%= h.trix_editor :notes_en, class: 'form-control' %>
            </div>
            <div>
                <%= h.label :notes_fr, 'French footer notes', class: 'form-label' %>
                <%= h.trix_editor :notes_fr, class: 'form-control' %>
            </div>
        </div>
    <% end %>
<% end %>
