<section>
  <h2 class="text-center py-3 fw-bold">Edit Contact Info</h2>
  <div class="container my-3">
    <div class="row">
      <div class="col-lg-12">
        <%= form_for @contact_info, url: { controller: 'contact_infos', action: 'update', local: true }, html: { class: 'needs-validation', novalidate: 'novalidate' } do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3 text-center form-floating">
                <%= f.text_field :name, placeholder: "Write the space's name here", class: 'form-control', required: true %>
                <%= f.label :name, 'Name of the Space', class: 'form-label' %>
              </div>

              <div class="mb-3 text-center">
                <%= f.label :space_id, 'Assosciated Space', class: 'form-label' %>
                <%= f.select :space_id, options_from_collection_for_select(Space.all, :id, :name, selected: @contact_info.space_id.nil? ? nil : @contact_info.space_id), {}, { class: 'form-select form-control', required: true } %>
              </div>

              <div class="mb-3 text-center">
                <%= f.label :url, 'URL of the Space', class: 'form-label' %>
                <%= f.text_field :url, placeholder: 'Write the url for the space', class: 'form-control' %>
                <%= f.label :url, 'URL of the Space', class: 'form-label' %>
              </div>

              <div class="mb-3 text-center form-floating">
                <%= f.email_field :email, placeholder: "Write the space's email here", class: 'form-control', required: true %>
                <%= f.label :email, 'Email', class: 'form-label' %>
              </div>

              <div class="mb-3 text-center form-floating">
                <%= f.text_field :address, placeholder: "Write the space's address here", class: 'form-control' %>
                <%= f.label :address, 'Address', class: 'form-label' %>
              </div>

              <div class="mb-3 text-center form-floating">
                <%= f.text_field :phone_number, placeholder: "Write the space's phone number", class: 'form-control' %>
                <%= f.label :phone_number, 'Phone Number', class: 'form-label' %>
              </div>

              <hr />
              <div class="mb-3">
                <%= f.label :show_hours, 'Show Hours', class: 'form-check-label' %>
                <%= f.check_box(:show_hours, class: 'form-check-input') %>
              </div>

              <div class="mb-3">
                <%= render partial: 'opening_hour_form', locals: { f:, opening_hours: @contact_info.opening_hours } %>
              </div>
              <hr />
              <div class="accordion" id="newOpeningHourAccordion">
              </div>
              <h3>New Opening Hour</h3>
              <%= render partial: 'opening_hour_form', locals: { f:, opening_hours: [OpeningHour.new] } %>
            </div>

            <div class="col-lg-12 text-center">
              <%= f.submit 'Edit Contact Info', class: 'btn btn-secondary btn-xl' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
