<section>
  <h2 class="text-center py-3 fw-bold">Create a new Contact Info</h2>
  <div class="container my-3">
    <div class="row">
      <div class="col-lg-12">
        <%= form_for @contact_info, url: { controller: 'contact_infos', action: 'create' }, html: { class: 'needs-validation form-floating', novalidate: 'novalidate' } do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <%= f.label :name, 'Select a Space or enter a custom name', class: 'form-label' %>
                <%= f.select :space_id, options_from_collection_for_select(Space.all, :id, :name), {}, class: 'form-select form-control' %>
              </div>

              <div class="mb-3 form-floating">
                <%= f.text_field :url, placeholder: 'Write the url for the space', class: 'form-control' %>
                <%= f.label :url, 'URL of the Space', class: 'form-label' %>
              </div>

              <div class="mb-3 form-floating">
                <%= f.email_field :email, placeholder: "Write the space's email here", class: 'form-control', required: true %>
                <%= f.label :email, 'Email', class: 'form-label' %>
              </div>

              <div class="mb-3 form-floating">
                <%= f.text_field :address, placeholder: "Write the space's address here", class: 'form-control' %>
                <%= f.label :address, 'Address', class: 'form-label' %>
              </div>

              <div class="mb-3 form-floating">
                <%= f.text_field :phone_number, placeholder: "Write the space's phone number", class: 'form-control' %>
                <%= f.label :phone_number, 'Phone Number', class: 'form-label' %>
              </div>

              <div class="mb-3">
                <%= f.check_box(:show_hours, checked: true) %>
                <%= f.label :show_hours, 'Show Hours', class: 'form-label' %>
              </div>

              <div class="mb-3">
                <%= f.fields_for :opening_hour do |h| %>
                  <%= h.label :students, 'Opening Hours for Students', class: 'form-label' %>
                  <%= h.trix_editor :students, class: 'repo form-control', style: 'height: auto!important;' %>
                  <%= h.label :public, 'Opening Hours for the public', class: 'form-label' %>
                  <%= h.trix_editor :public, class: 'repo form-control', style: 'height: auto!important;' %>
                  <%= h.label :summer, 'Opening Hours for Summer', class: 'form-label' %>
                  <%= h.trix_editor :summer, class: 'repo form-control', style: 'height: auto!important;' %>
                <% end %>
              </div>

            </div>
            <div class="col-lg-12 text-center">
              <%= f.submit 'Create Contact Info', class: 'btn btn-secondary btn-xl' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= vite_javascript_tag 'contact_infos' %>
