<section class="page-contents">
  <div class="edit-column">

    <h2 class="text-center">Create a new Contact Info</h2>

    <div class="container my-3">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @contact_info, url: {controller: "contact_infos", action: "create"}, :html => { class:"needs-validation", novalidate: 'novalidate' } do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <%= f.label :name, "Name of the Space" %>
                  <%= f.text_field :name, placeholder: "Write the space's name here", class: 'form-control', required: true %>
                </div>

                <div class="form-group text-center">
                  <%= f.label :url, "URL of the Space" %>
                  <%= f.text_field :url, placeholder: "Write the url for the space", class: 'form-control' %>
                </div>

                <div class="form-group text-center">
                  <%= f.label :email, "Email" %>
                  <%= f.email_field :email, placeholder: "Write the space's email here", class: 'form-control', required: true %>
                </div>

                <div class="form-group text-center">
                  <%= f.label :address, "Address" %>
                  <%= f.text_field :address, placeholder: "Write the space's address here", class: 'form-control' %>
                </div>

                <div class="form-group text-center">
                  <%= f.label :phone_number, "Phone Number" %>
                  <%= f.text_field :phone_number, placeholder: "Write the space's phone number", class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :show_hours, "Show Hours" %>
                  <%= f.check_box(:show_hours) %>
                </div>

                <div class="form-group">
                  <%= f.fields_for :opening_hour do |h| %>
                    <%= h.label :students, "Opening Hours for Students" %>
                    <%= h.text_field :students, class: 'repo form-control', style: "height: auto!important;" %>
                    <%= h.label :public, "Opening Hours for the public" %>
                    <%= h.text_field :public, class: 'repo form-control', style: "height: auto!important;" %>
                    <%= h.label :summer, "Opening Hours for Summer" %>
                    <%= h.text_field :summer, class: 'repo form-control', style: "height: auto!important;" %>
                  <% end %>
                </div>

              </div>
              <div class="col-lg-12 text-center">
                <%= f.submit "Create Contact Info", class: "btn btn-secondary btn-xl" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
