<% if params[:show] == 'repositories' && @repositories.empty? %>
    <%= tag.div("#{@repo_user.username} doesn't have any repositories yet.", class: 'empty-repo') %>
<% elsif params[:show] == 'makes' && @makes.empty? %>
    <%= tag.div("#{@repo_user.username} doesn't have any makes yet.", class: 'empty-repo') %>
<% elsif params[:show] == 'projects_assigned' && @joined_projects.empty? %>
    <%= tag.div("#{@repo_user.username} doesn't have any joined projects yet.", class: 'empty-repo') %>
<% else %>
    <div class="apple_pagination">
        <%= page_entries_info @repositories, model: 'Repository' %>
        <%= will_paginate @repositories, container: false %>
    </div>
<% end %>
<% if params[:show] == 'makes' %>
    <% repos = @makes %>
<% else %>
    <% repos = (params[:show] == 'projects_assigned' ? @joined_projects : @repositories) %>
<% end %>
<% if repos !=@joined_projects %>
    <div class="row">
        <% repos.each do |repository| %>
            <div class="col-md-4 col-lg-4">
                <%= render 'repositories/repository_card', repository: %>
            </div>
        <% end %>
    </div>
<% else %>
    <% repos.each do |joined_project| %>
        <% project_proposal = joined_project.project_proposal %>
        <div class="repository-container">
            <div class="repo-display-wrapper" <%= "style=background-image:url('#{url_for(project_proposal.photos.first.image) if project_proposal.photos.present? && project_proposal.photos.first.present? && project_proposal.photos.first.image.attached?}')" %> >
                <%= link_to '', project_proposal_path(project_proposal.slug), class: 'link' %>
            </div>
            <div class="repo-info">
                <div class="start">
                    <div class="title">
                        <%= link_to project_proposal.title, project_proposal_path(project_proposal.slug) %>
                    </div>
                    <div>
                        <% if project_proposal.has_user %>
                            by <%= link_to project_proposal.user.username, user_path(project_proposal.user.username) %>
                        <% else %>
                            by [Deleted User]
                        <% end %>
                    </div>
                    <div>
                        <%= time_ago_in_words(project_proposal.created_at) %> ago
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
