<% provide(:title, "Sign Up") %>
<section id="signup">
 
  <div class="signup-breadcrumb">
     <div>
         Create Account
     </div> 
     <div style="background-color:#eee;">
         Additional Information
     </div>
  </div> 
  <div class="additional-info">All information given is used for analytical purposes. 
  Information given here will not be displayed or connected to your account in any way.</div>

  <%= form_for @user, url: additional_info_user_path(@user.username), method: :patch do |f| %>

    <%= f.label :gender %>
    <%= f.text_field :gender, autofocus: true %>

    <%= f.label :faculty %>
    <u>If you are not a member of the University, please place the organization you are apart of.</u>
    <%= f.text_field :faculty %>     

    <%= f.label :use, "What do you plan on using MakerRepo for?", style: 'margin-bottom: 0.5rem; display: block;' %>
    <%= f.select :use, ["Course", "Personal Project", "Business", "Other"] , prompt: "Select a use case..." %>

    <%= content_tag :span, text_area_tag(:use), class: 'other' %>

    <%= f.submit "Finish", class: 'signup-button' %>
  
  <% end %>

</section>