<section id="signup">

  <div class="signup-breadcrumb">
     <div style="background-color:#eee;">
         Create Account
     </div>
     <div>
         Additional Information
     </div>
  </div>
  <div class="signup-title">Create your personal account</div>

  <%= form_for @new_user do |f| %>

    <%= f.label :username %>
    <%= content_tag :span, @new_user.errors[:username][0], class: 'form-error' %>
    <%= content_tag :span, @new_user.errors[:username][1], class: 'form-error',
        style: 'display: block;' if @new_user.errors[:username][1] %>
    <%= f.text_field :username, autofocus: true %>

    <%= f.label :email %>
    <%= content_tag :span, @new_user.errors[:email].first, class: 'form-error' %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= content_tag :span, @new_user.errors[:password][0], class: 'form-error' %>
    <%= content_tag :span, @new_user.errors[:password][1], class: 'form-error',
        style: 'display: block;' if @new_user.errors[:password][1] %>
    <u>Use at least one uppercase letter, one lowercase letter,
      one number and be eight characters long.</u>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= content_tag :span, @new_user.errors[:password_confirmation][0], class: 'form-error' %>
    <%= content_tag :span, @new_user.errors[:password][1], class: 'form-error',
        style: 'display: block;' if @new_user.errors[:password][1] %>
    <%= f.password_field :password_confirmation %>

    <div id="terms_and_conditions_box" >
      <%= f.check_box :terms_and_conditions, :style => "float:right;" %>
      <%= f.label :terms_and_conditions, :class => "checkbox inline" do "I agree to the #{link_to "terms and condition", "terms_and_conditions.pdf", target: "blank"}".html_safe end %>
      <%= content_tag :span, @new_user.errors[:terms_and_conditions].first, class: 'form-error' %>
    </div>

    <%= f.submit "Create Account", class: 'signup-button' %>

  <% end %>

</section>
