<% provide(:title, "Reset Password") %>
<section id="forgot-password">

  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>

  <div class="container page">
    <div class="row">
      <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
        <h1 class="text-center"><%= t('users.reset_password') %></h1>

        <%= form_tag url_for(controller: 'users', action: 'reset_password_confirmation'), method: :patch do %>

          <div class="mb-3">
            <%= label_tag :password, t('users.new.form.password'), class: 'form-label required' %>
            <%= password_field_tag :password, {}, class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= label_tag :password_confirmation, t('users.new.form.password_confirmation'), class: 'form-label required' %>
            <%= password_field_tag :password_confirmation, {}, class: 'form-control' %>
          </div>

          <%= hidden_field_tag :user_token, params[:user_token] %>
          <%= hidden_field_tag :expiry_date_token, params[:expiry_date_token] %>

          <%= submit_tag t('static_pages.forgot_password.submit'), class: 'btn btn-primary w-100' %>
        <% end %>
      </div>
    </div>
  </div>

</section>