<% provide(:title, "#{@repo_user.username}\'s Profile") %>

<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <% if @repo_user.eql?(@user) %>
          <%= link_to settings_profile_path do %>
            <%= image_tag @repo_user.display_avatar %>
<!--              <div class="file btn btn-lg btn-primary">-->
<!--                Change Photo-->
<!--              </div>-->
          <% end %>
        <% else %>
          <%= image_tag @repo_user.display_avatar %>
<!--            <div class="file btn btn-lg btn-primary">-->
<!--              Change Photo-->
<!--            </div>-->
        <% end %>

      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h3><%= @repo_user.name %></h3>
        <h6><%= @repo_user.username %></h6>
        <%= image_tag("cc.png", alt: "CC", class: "ccs") %>: <b><%= @repo_user.get_total_cc %></b>
        <p class="proile-rating">REPUTATION : <span><%= @repo_user.reputation %></span></p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-skills" role="tab" aria-controls="profile" aria-selected="false">Skills</a>
          </li>
          <% if @user.staff? %>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#certifications-manager" role="tab" aria-controls="profile" aria-selected="false">Certifications</a>
            </li>
          <% end %>
          <% if @user.admin? %>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#role-manager" role="tab" aria-controls="profile" aria-selected="false">Role Manager</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
      <%= link_to fa_icon("cog", text: 'Edit Profile'), settings_profile_path, class: 'edit-user-profile profile-edit-btn' if @repo_user.eql?(@user) %>
      <br />
      <br />
      <% if @user.staff? %>
        <%= render 'users/flag' %>
        <b>Flagged: <%= @repo_user.flagged? ? "Yes" : "No"%></b><br>
        <% if !@repo_user.flagged? %>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#flag_user">
            Flag
          </button>
        <% else %>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#flag_message">
            See flag
          </button>
        <% end %>
      <% end %><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p>MORE INFO</p>
        <%= fa_icon "location-arrow", text: @repo_user.location if @repo_user.location.present? %><br />
        <%= fa_icon "clock-o", text: "Joined on #{@repo_user.created_at.strftime("%B %d %Y")}" %><br />
        <% if @github_username.present? %>
          <%= fa_icon "github-alt" %>
          <%= link_to @github_username, "https://github.com/#{@github_username}" %><br />
        <% end %>
        <% if @repo_user.url.present? %>
          <%= fa_icon("link") %>
          <%= link_to "#{@repo_user.url.gsub(/\Ahttps?:\/\//, '')}", @repo_user.url %> <br />
        <% end %>
        <% if @user.staff? %>
          <div class="user-info" id="rfid-thing">
            <% if @repo_user.rfid.present? %>
              <div class="rfid-status">
                <%= fa_icon "check", text: "RFID Card Set" %>
                <div id="rfid-details">
                  <span>
                    <%= link_to 'unregister', staff_dashboard_unlink_rfid_path(card_number: @repo_user.rfid.card_number), action: :link_rfid, method: :put, class: 'btn btn-danger', style: "color: #fff;" %>
                  </span>
                </div>
              </div>
            <% else %>
              <div class="rfid-status">
                <%= fa_icon "ban", text: "RFID Card Not Set" %>
                <div id="rfid-details">
                  <label class="unregistered-label">
                    <b>Unregistered Cards</b>
                  </label>
                  <br><i style="font-size:0.8em;">&ensp;&ensp;&ensp;&ensp;&ensp;
                  (click on one to link it to this user)</i><br>
                  <% Rfid.recent_unset.first(5).each do |rfid| %>
                    <div class="unregistered-card">
                      <% space = PiReader.find_by(pi_mac_address: rfid.mac_address).space.name rescue "unknown" %>
                      <%=
                        link_to ("Tapped at #{space} " + time_ago_in_words(rfid.updated_at) + " ago"),
                                staff_dashboard_link_rfid_path(user_id: @repo_user.id, card_number: rfid.card_number), action: :link_rfid, method: :put
                      %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="user-info">
            -
          </div>
        <% end %>
        <p>SKILLS</p>
        <% @certifications.each do |certification| %>
          <div class="row">
            <div class="col-md-6">
              <% if current_user.staff? %>
                <%= link_to certification.training.name, staff_training_session_path(certification.training_session) %>
              <% else %>
                <%= certification.training.name %>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= certification_status(certification.training_session.level).html_safe %> <br />
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-md-6">
              <label>Username</label>
            </div>
            <div class="col-md-6">
              <p><%= @repo_user.username %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-6">
              <p><%= @repo_user.name %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p><%= @repo_user.email %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Faculty</label>
            </div>
            <div class="col-md-6">
              <p><%= @repo_user.faculty.present? ? @repo_user.faculty : "-" %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Program</label>
            </div>
            <div class="col-md-6">
              <p><%= @repo_user.program.present? ? @repo_user.program : "-" %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Year of study</label>
            </div>
            <div class="col-md-6">
              <p><%= @repo_user.year_of_study.present? ? @repo_user.year_of_study : "-" %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Identity</label>
            </div>
            <div class="col-md-6">
              <p><%= @repo_user.identity.present? ? @repo_user.identity.capitalize : "-" %></p>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="profile-skills" role="tabpanel" aria-labelledby="profile-tab">
          <div class="col-md-12">
            <% @skills.each do |skill| %>
              <% next unless skill.trainings.present? %>
              <div class="accordion">
                <div class="card">
                  <div class="card-header" type="button" data-toggle="collapse" data-target="#trainings-<%= skill.id %>">
                    <h6 class="my-auto py-2"><%= skill.name %></h6>
                  </div>
                  <div id="trainings-<%= skill.id %>" class="collapse">
                    <% skill.trainings.each do |training| %>
                      <% next unless training.learning_modules.present? || training.proficient_projects.present?%>

                      <div class="accordion">
                        <div class="card">
                          <div class="card-header" type="button" data-toggle="collapse" data-target="#training-<%= training.id %>">
                            <div class="row">
                              <div class="col-4 float-right"></div>
                              <div class="col-4">
                                <button class="btn btn-link" type="button"><%= training.name %></button>
                              </div>
                              <div class="col-4">
                                <%= training_status(training.id).html_safe %>
                              </div>
                            </div>
                          </div>

                          <div id="training-<%= training.id %>" class="collapse">
                            <div class="card-body">
                              <% if training.description.present? %>
                                <div class="jumbotron text-center text-wrap">
                                  <%= training.description %>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% if @user.staff? %>
          <div class="tab-pane fade" id="certifications-manager" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-striped text-center">
              <tr>
                <th>TRAINING</th>
                <th>TRAINER</th>
                <th>CREATED ON</th>
                <% if current_user.admin? %>
                  <th>ACTION</th>
                <% end %>
              </tr>
              <% @repo_user.certifications.highest_certifications(@repo_user.id).each do |certification| %>
                <td>
                  <% if current_user.admin? %>
                    <%= link_to certification.training.name, staff_training_session_path(certification.training_session) %>
                  <% else %>
                    <%= certification.training.name %>
                  <% end %>
                  <br/>
                  <%= certification_status(certification.training_session.level).html_safe %>
                </td>
                <td><%= certification.trainer %></td>
                <td>
                  <%= if (@user.admin? || (@user.name == certification.trainer))
                        link_to certification.created_at.strftime("%B %d, %Y"), staff_training_session_path(id: certification.training_session.id), style: "text-decoration:underline;"
                      else
                        certification.created_at.strftime("%B %d, %Y")
                      end
                  %>
                </td>
                <% if @user.admin? || (@user == certification.training_session.user) %>
                  <td class="action-cell">
                    <a data-toggle="modal" data-target="#modal-window" data-remote="true" href="<%= open_modal_admin_certifications_path(id: certification.id) %>" class="btn btn-danger btn-block btn-sm">Demote</a>
                  </td>
                <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>

        <% if @user.admin? %>
          <div class="tab-pane fade" id="role-manager" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Current role</label>
              </div>
              <div class="col-md-6">
                <p><%= @repo_user.role.gsub("_", " ").capitalize %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Update Role</label>
              </div>
              <div class="col-md-6 float-right">
                <%= form_tag set_role_admin_users_path(@user, id: @repo_user.id), method: :patch do %>
                  <%= radio_button_tag :role, "admin" %>
                  <%= label_tag "Admin" %> <br />
                  <%= radio_button_tag :role, "staff" %>
                  <%= label_tag "Staff" %> <br />
                  <%= radio_button_tag :role, "regular_user" %>
                  <%= label_tag "Regular" %> <br />
                  <%= submit_tag "Update", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>

<section id="user-show-links" class="m-5" style="margin-bottom: 20px!important;">
  <% active = params[:show].eql?("makes") ? ["#eee", "#5f9ea0", "#eee"] : params[:show].eql?("projects_assigned") ? ["#eee", "#eee", "#5f9ea0"] : ["#5f9ea0", "#eee", "#eee"] %>
  <%= link_to "#{user_path(show: :repositories)}#user-show-links", style: 'border-color:' << active[0] do %>
    <span class="number"><%= @repositories.count %></span> REPOS
  <% end %>
  <%= link_to "#{user_path(show: :makes)}#user-show-links", style: 'border-color:' << active[1] do %>
    <span class="number"><%= @makes.count %></span> MAKES
  <% end %>
  <%= link_to "#{user_path(show: :projects_assigned)}#user-show-links", style: 'border-color:' << active[2] do %>
    <span class="number"><%= @joined_projects.count %></span> JOINED PROJECTS
  <% end %>
</section>

<section id="repositories-container" class="m-5">
  <% if @repositories.empty? or params[:show].eql?('makes') and @makes.empty? %>
    <%= content_tag :div, "#{@repo_user.username} doesn't have any repositories yet.", class: "empty-repo" %>
  <% else %>
    <div class="apple_pagination">
      <%= page_entries_info @repositories, :model => 'Repository' %>
      <%= will_paginate @repositories, :container => false %>
    </div>
    <br>
  <% end %>
  <% repos = params[:show].eql?('makes') ? @makes : params[:show].eql?('projects_assigned') ? @joined_projects : @repositories %>
  <% if repos != @joined_projects %>
    <% repos.each do |repository| %>
      <div class="repository-container">
        <div class="repo-display-wrapper" <%= "style=background-image:url('#{url_for(repository.photos.first.image) if (repository.photos.present? and repository.photos.first.present? and repository.photos.first.image.attached?)}')" %> >
          <% if repository.user_username.eql?(@user.username) %>
            <%= link_to "Delete", repository_path(repository.user_username, repository.slug),
                        method: :delete, data: {confirm: "Are you sure? Once you delete the repository there is no coming back!"}, class: 'delete-repo' %>
            <%= link_to "Edit", edit_repository_path(repository.user_username, repository.slug), class: 'edit-repo' %>
          <% end %>
          <%= link_to "", repository_path(repository.user_username, repository.slug), class: 'link' %>
        </div>

        <div class="repo-info">
          <div class="left">
            <div class="title"><%= link_to repository.title, repository_path(repository.user_username, repository.slug) %></div>
            <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div>
            <div><%= time_ago_in_words(repository.created_at) << " ago" %></div>
          </div>
          <div class="likes"><%= fa_icon 'heart' %><br><%= repository.like %></div>
        </div>
      </div>

    <% end %>

  <% else %>
    <% repos.each do |joined_project| %>
      <table class="spacing_table">
        <thead>
        <tr>
          <th>Project Proposal</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td class="titlepp"><%= joined_project.project_proposal.title %></td>
          <td><%= link_to 'Show', joined_project.project_proposal, class: "green-button" %></td>
        </tr>
    <% end %>
    </tbody>
    </table>
  <% end %>
</section>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>