<% provide(:title, "#{@repo_user.username}\'s Profile") %>

<div class="emp-profile">
  <div class="row">
    <div class="col-md-4">
      <!--      User's Avatar-->
      <div class="profile-img">
        <% if @repo_user.eql?(@user) %>
          <%= link_to settings_profile_path do %>
            <%= image_tag @repo_user.display_avatar, alt: 'Avatar' %>
          <% end %>
        <% else %>
          <%= image_tag @repo_user.display_avatar, alt: 'Avatar' %>
        <% end %>
      </div>
      <!--      MORE INFO Section-->
      <div class="profile-work">
        <p>MORE INFO</p>
        <%= fa_icon 'location-arrow', text: @repo_user.location if @repo_user.location.present? %><br />
          <%= fa_icon 'clock-o', text: "Joined on #{@repo_user.created_at.strftime('%B %d %Y')}" %><br />
          <% if @github_username.present? %>
            <%= fa_icon 'github-alt' %>
            <%= link_to @github_username, "https://github.com/#{@github_username}" %><br />
          <% end %>
          <% if @repo_user.url.present? %>
            <%= fa_icon('link') %>
            <%= link_to @repo_user.url.gsub(%r{\Ahttps?://}, '').to_s, @repo_user.url %> <br />
          <% end %>
          <p>SKILLS</p>
          <% @certifications.each do |certification| %>
            <div class="row">
              <div class="col-md-6">
                <% if current_user.staff? %>
                  <%= link_to certification.training.name, staff_training_session_path(certification.training_session) %>
                <% else %>
                  <%= certification.training.name %>
                <% end %>
              </div>
              <div class="col-md-6">
                <span style="font-size: 15px;">
                  <%= certification_status(certification.training_session.level).html_safe %>
                </span>
                <br />
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <!--      PROFILE HEADER Section-->
    <div class="col-md-8">
      <!--      PROFILE HEADER Section-->
      <div class="profile-head">
        <div class="row">
          <div class="col-md-9">
            <h3>
              <%= @repo_user.name %>
            </h3>
            <h6>
              <%= @repo_user.username %>
            </h6>
            <%= image_tag('cc.png', alt: 'CC', class: 'ccs') %>: <b>
                <%= @repo_user.get_total_cc %>
              </b>
              <p class="proile-rating">REPUTATION : <span>
                  <%= @repo_user.reputation %>
                </span></p>
          </div>
          <div class="col-md-3">
            <!--      EDIT PROFILE Section-->
            <div>
              <%= if @repo_user.eql?(@user)
                    link_to fa_icon('cog', text: 'Edit Profile'), settings_profile_path,
                            class: 'btn btn-secondary rounded-pill mb-2'
                  end %>
              <% if @user.staff? %>
                <%= render 'users/flag' %>
                <div class="row mx-auto mb-2">
                  <% if @repo_user.flagged? %>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                      data-bs-target="#flag_message">
                      Flagged
                    </button>
                  <% else %>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#flag_message">
                        Add Flag
                    </button>
                  <% end %>
                </div>
                <div class="mb-2">
                  <% if @repo_user.rfid.present? %>
                    <div class="dropdown">
                      <button class="btn btn-outline-success dropdown-toggle" type="button"
                        id="rfidUnregisterMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <%= fa_icon 'check', text: 'RFID Card Set' %>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="rfidUnregisterMenu">
                        <h5 class="dropdown-header">RFID Card Set</h5>
                        <%= link_to 'Un-Register RFID', staff_dashboard_unlink_rfid_path(card_number:
                          @repo_user.rfid.card_number), action: :link_rfid, method: :put,
                                                        class: 'dropdown-item text-danger' %>
                      </div>
                    </div>
                  <% else %>
                    <div class="dropdown">
                      <button class="btn btn-outline-danger dropdown-toggle" type="button"
                        id="rfidUnregisterMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <%= fa_icon 'ban', text: 'RFID Card Not Set' %>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="rfidUnregisterMenu">
                        <h5 class="dropdown-header text-center">Un-Registered Cards</h5>
                        <% Rfid.recent_unset.first(5).each do |rfid| %>
                          <% space = begin
                                       PiReader.find_by(pi_mac_address: rfid.mac_address).space.name
                                     rescue StandardError
                                       'unknown'
                                     end %>
link_to ("Tapped at #{space} " + time_ago_in_words(rfid.updated_at) + ' ago'),
                                    staff_dashboard_link_rfid_path(user_id: @repo_user.id, card_number: rfid.card_number),
                                    action: :link_rfid, method: :put, class: 'dropdown-item' %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <%= render partial: 'users/tablist', locals: { user: @user, repo_user: @repo_user } %>
        </ul>
      </div>
      <!--      PROFILE CONTENT Section-->
      <div class="tab-content profile-tab bg-light border-black" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= render partial: 'users/tabs/home', locals: { user: @user, repo_user: @repo_user } %>
        </div>
        <% if !@repo_user.deleted? %>
          <div class="tab-pane fade" id="badges-manager" role="tabpanel" aria-labelledby="badges-tab">
            <%= render partial: 'users/tabs/badges', locals: { acclaim_data: @acclaim_data } %>
          </div>
          <div class="tab-pane fade" id="quick-access-manager" role="tabpanel" aria-labelledby="quick-access-tab">
            <%= render partial: 'users/tabs/quick_access', locals: { user: @user, repo_user: @repo_user } %>
          </div>
          <div class="tab-pane fade" id="programs-manager" role="tabpanel" aria-labelledby="badges-tab">
            <%= render partial: 'users/tabs/programs', locals: { user: @user, repo_user: @repo_user } %>
          </div>
          <div class="tab-pane fade" id="unavailabilities-manager" role="tabpanel"
            aria-labelledby="unavailabilities-tab">
            <%= link_to 'See Staff Unavailabilities', staff_availabilities_path, class: 'btn btn-primary' %>
          </div>
          <div class="tab-pane fade" id="profile-skills" role="tabpanel" aria-labelledby="profile-tab">
           <%= render partial: 'users/tabs/skills', locals: { skills: @skills } %>
          </div>
          <% if @user.staff? %>
            <div class="tab-pane fade" id="certifications-manager" role="tabpanel" aria-labelledby="profile-tab">
              <%= render partial: 'users/tabs/certifications', locals: { user: @user, repo_user: @repo_user } %>
            </div>
          <% end %>
          <% if @user.admin? %>
            <div class="tab-pane fade" id="role-manager" role="tabpanel" aria-labelledby="profile-tab">
                <%= render partial: 'users/tabs/roles', locals: { user: @user, repo_user: @repo_user } %>
            </div>
          <% end %>
          <% if @repo_user.staff? %>
            <div class="tab-pane fade" id="staff-manager" role="tabpanel" aria-labelledby="profile-tab">
              <%= render partial: 'users/tabs/staff', locals: { space_list: @space_list, repo_user: @repo_user } %>
            </div>
          <% end %>
          <% if @user.admin? %>
            <div class="tab-pane fade" id="user-delete" role="tabpanel" aria-labelledby="profile-tab">
              <%= render partial: 'users/tabs/delete' %>
            </div>
          <% end %>
        <% else %>
          <div class="tab-pane fade" id="user-restore" role="tabpanel"
            aria-labelledby="profile-tab">
            <%= render partial: 'users/tabs/restore', locals: { repo_user: @repo_user } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--      FOOTER Section-->
  <section id="user-show-links" class="m-5" style="margin-bottom: 20px!important;">
    <% active = if params[:show].eql?('makes')
                  ['#eee', '#5f9ea0', '#eee']
                else
                  params[:show].eql?('projects_assigned') ? ['#eee', '#eee', '#5f9ea0'] : ['#5f9ea0', '#eee', '#eee']
                end %>
    <%= link_to "#{user_path(show: :repositories)}#user-show-links", style: 'border-color:' << active[0] do %>
      <span class="number"><%= @repositories.count %></span> REPOS
    <% end %>
    <%= link_to "#{user_path(show: :makes)}#user-show-links", style: 'border-color:' << active[1] do %>
      <span class="number"><%= @makes.count %></span> MAKES
    <% end %>
    <%= link_to "#{user_path(show: :projects_assigned)}#user-show-links", style: 'border-color:' << active[2] do %>
      <span class="number"><%= @joined_projects.count %></span> JOINED PROJECTS
    <% end %>
  </section>
  <section id="repositories-container" class="m-5">
    <%= render partial: 'users/repositories', locals: { repositories: @repositories } %>
  </section>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" id="cert-modal"></div>
    </div>
  </div>
  <div class="modal fade" id="pending_modal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Badge pending</h4>
        </div>
        <div class="modal-body">
          <p>To accept your badge, please look into your emails (it could be in the spam folder), you should have
            received an email from Acclaim or CEED with a link to accept the badge!</p>
          <p>Congratulations!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">Confirm Identity</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 attach">
            <%= form_tag(delete_user_admin_users_path(id: @repo_user.id), method: :delete) do %>
              <span> Please re-enter your password to confirm your identity.</span>
            <%= hidden_field_tag 'id', @repo_user.id %>
            <%= label_tag :delete_user, 'Are you sure you want to delete this user?', class: 'form-label mb-3' %>
            <%= password_field_tag :password, nil, placeholder: t('sessions.login.password'), class: 'form-control mb-3' %>
            <%= submit_tag 'Delete', class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
