<% provide(:title, "#{@repo_user.username}\'s Profile") %>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<section id="user-show">

  <% if @repo_user.eql?(@user) %>
    <%= link_to fa_icon("cog", text: ' Edit Profile'), settings_profile_path, class: 'edit-user-profile' %>

  <%= link_to settings_profile_path do %>
    <div class="user-avatar">
      <%= image_tag @repo_user.avatar.url %>
      <div class="edit-avatar">
        Change avatar
      </div>
    </div>
  <% end %>

  <% else %>
    <div class="user-avatar">
      <%= image_tag @repo_user.avatar.url %>
    </div>
  <% end %>

  <div id="user-info">
    <div class="fullname">
      <%= "#{@repo_user.name}"%>
    </div>
    <div class="username">
      <%= @repo_user.username %>
    </div>
    <% if @github_username.present? %>
    <div class="user-info">
      <%= fa_icon "github-alt" %>
      <%= link_to @github_username, "https://github.com/#{@github_username}" %>
    </div>
    <% end %>
    <% if @repo_user.url.present? %>
    <div class="user-info">
      <%= fa_icon("link") %>
      <%= link_to "#{@repo_user.url.gsub(/\Ahttps?:\/\//,'')}", @repo_user.url %>
    </div>
    <% end %>
    <% if @repo_user.location.present? %>
    <div class="user-info">
      <%= fa_icon "location-arrow", text: @repo_user.location %>
    </div>
    <% end %>
    <div class="user-info">
      <%= content_tag :span, @repo_user.reputation %> REPUTATION
    </div>
    <div class="user-info">
      <%= fa_icon "clock-o", text: "Joined on #{@repo_user.created_at.strftime("%B %d %Y")}"%>
    </div>


    <% if @user.staff?%>
      <br></br>
      <div class="user-certifications" style="padding-top: 200px;">This user has the following certifications:
        <br></br>
        <div class="user-certifications-container">
            <table class=staff-table>
              <tr>
                <th>TRAINING</th>
                <th>TRAINER</th>
                <th>TIME</th>
                <th>ACTION</th>
              </tr>
              <% @repo_user.certifications.each do |certification| %>
                <tr>
                  <td>
                    <%=
                      certification.training
                    %>
                  </td>
                  <td>
                    <%=
                      certification.trainer
                    %>
                  </td>
                  <td>
                    <%=
                      certification.created_at.strftime("%B %d, %Y")
                    %>
                  </td>
                  <% if @user.admin? %>
                    <td>
                      <%=
                        link_to "revoke", revoke_certification_admin_users_path(id: certification.id), method: :delete,
                        class: 'revoke-button'
                      %>
                      <%=
                        link_to "renew", renew_certification_admin_users_path(id: certification.id), method: :patch,
                        class: 'renew-button'
                      %>
                    </td>
                  <%end%>
                </tr>
                <% end %>
            </table>
            <br><br>
            <% if @user.admin? %>
              <div id="role-container" > Current role: <%= @repo_user.role.gsub("_", " ") %>
                <div id="change-to"> Change to:
                <%= form_tag set_role_admin_users_path(@user, id: @repo_user.id), method: :patch do %>
                  <%= radio_button_tag :role, "admin" %>
                  <%= label_tag :admin %>
                  <%= radio_button_tag :role, "staff" %>
                  <%= label_tag :staff %>
                  <%= radio_button_tag :role, "regular_user" %>
                  <%= label_tag :regular %><br>
                <%= submit_tag "update role", class: "update-button" %>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>

  <section id="user-show-links">
    <% active = params[:show].eql?("makes") ? ["#eee", "#5f9ea0"] : ["#5f9ea0", "#eee"] %>
    <%= link_to "#{user_path(show: :repositories)}#user-show-links", style: 'border-color:'<< active.first do %>
      <span class="number"><%= @repositories.count %></span> REPOS
    <% end %>
    <%= link_to "#{user_path(show: :makes)}#user-show-links", style: 'border-color:'<< active.last  do %>
      <span class="number"><%= @makes.count %></span> MAKES
    <% end %>
  </section>

  <section id="repositories-container">

  <% if @repositories.empty? or params[:show].eql?('makes') and @makes.empty? %>
    <%= content_tag :div, "#{@repo_user.username} doesn't have any repositories yet.", class: "empty-repo" %>
  <% end %>
  <% repos = params[:show].eql?('makes') ? @makes : @repositories %>
  <% repos.each do |repository| %>
    <div class="repository-container">

      <div class="repo-display-wrapper" <%= "style=background-image:url('#{@photos[repository.id].image.url}')"  %> >
        <% if repository.user_username.eql?(@user.username) %>
          <%= link_to "Delete", repository_path(repository.user_username, repository.slug),
                method: :delete, data: { confirm: "Are you sure? Once you delete the repository there is no coming back!" }, class: 'delete-repo' %>
          <%= link_to "Edit", edit_repository_path(repository.user_username, repository.slug), class: 'edit-repo' %>
        <% end %>
        <%= link_to "", repository_path(repository.user_username, repository.slug), class: 'link' %>
      </div>

      <div class="repo-info">
        <div class="left">
          <div class="title"><%= link_to repository.title, repository_path(repository.user_username, repository.slug)%></div>
          <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div>
          <div><%= time_ago_in_words(repository.created_at) << " ago" %></div>
        </div>
        <div class="likes"><%= fa_icon 'heart' %><br><%= repository.like %></div>
      </div>
    </div>
  <% end %>
  </section>
  <%= paginate repos %>
</section>
