<div class="text-center">
  <br />
  <h2 class="fw-bold">Badge Templates</h2>
  <br />
  <br />
  <% if @badge_template.present? %>
    <div class="table-responsive">
      <table class="table sessions-table table-striped">
      <thead class="table-primary">
        <tr>
          <th>Badge Name</th>
          <th>Related training</th>
          <th>Training level</th>
          <th>Created on</th>
          <th>Last updated</th>
          <th>Badges awarded</th>
          <th>Template ID</th>
          <th class="action-header">Action</th>
        </tr>
      </thead>
        <tbody>
          <% @badge_template.each do |bt| %>
            <tr>
              <td><%= bt.badge_name %></td>
              <td><%= bt.training.present? ? bt.training.name : 'No related trainings' %></td>
              <td><%= bt.training_level.presence || 'No training level' %></td>
              <td><%= bt.created_at.to_fs :db %></td>
              <td><%= bt.updated_at.to_fs :db %></td>
              <td><%= @template_usage[bt.id] || 'none' %></td>
              <td><%= bt.acclaim_template_id %></td>
              <td class="action-cell"><%= link_to 'Edit', edit_admin_badge_template_path(bt.id), class: 'btn btn-primary d-block w-100 btn-sm mb-1 mt-0' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="m-5">
      No Badge Templates were created yet.
    </div>
    <br />
  <% end %>
</div>
