<section>
  <%= form_for(@job_order, url: {controller: "job_orders", action: "steps"}, html: { :multipart => true }) do |f| %>

    <div class="text-center">

      <h2>New Job Order (Step 3/4)</h2>

      <div class="form-group col-lg-6 mx-auto">
        <% @options.each do |o| %>
          <div class="custom-control custom-checkbox">
            <%= check_box_tag "options_id_#{o.id}", o.id, @job_order.job_order_options.pluck(:job_option_id).include?(o.id), {multiple: true, class: 'custom-control-input'} %>
            <%= label_tag "options_id_#{o.id}", "#{o.name} (#{number_to_currency(o.fee)})", class: 'custom-control-label' %>
            <% if o.description.present? %>
              <p><%= o.description %></p>
            <% end %>
          </div>

          <% if o.need_files %>
            <div class="custom-file">
              <%= file_field_tag "options_file_#{o.id}", class: "custom-file-input" %>
              <%= label_tag "options_file_#{o.id}", "File", class: 'custom-file-label' %>
            </div>

            <% if @job_order.job_order_options.where(job_option_id: o.id).present? && @job_order.job_order_options.where(job_option_id: o.id).first.option_file.attached? %>
              <div class="text-left pt-2">
                <ul class="list-group">
                  <li class="list-group-item text-center text-muted">
                    (By Un-Checking, you will delete this file)
                  </li>
                  <li class="list-group-item me-1 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <%= check_box_tag "options_keep_file_#{o.id}", true, true, {class: 'form-check-input'} %>
                      <%= label_tag "options_keep_file_#{o.id}", @job_order.job_order_options.where(job_option_id: o.id).first.option_file.filename, class: "form-check-label" %>
                    </div>

                    <div class="text-right">
                      <%= link_to "<i class='fa fa-download'></i>".html_safe, rails_blob_path(@job_order.job_order_options.where(job_option_id: o.id).first.option_file, disposition: 'attachment') %>
                    </div>
                  </li>
                </ul>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if @options.count == 0 %>
          <div class="alert alert-warning">
            There are no options available to you right now. Please continue to the next step.
          </div>
        <% end %>
      </div>

      <%= hidden_field_tag :step, 4 %>
      <%= link_to "Previous Step", job_order_steps_path(step: 2), class: "btn btn-primary" %>
      <%= link_to "Delete Current Order", new_job_orders_path(step: 1), class: "btn btn-secondary", data: {confirm: 'Are you sure you want to delete the current order?'} %>
      <%= f.submit "Next Step", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>