<section x-data="{job_type_id: <%= @job_order.job_type_id.presence || JobType.first.id %>}">
  <%= form_for(@job_order, url: { controller: 'job_orders', action: 'steps' }) do |f| %>

    <div class="text-center">

      <h2><%= t('job_orders.wizard.title', step: 1) %></h2>

      <div class="col-lg-6 mx-auto">
        <%= f.label :job_type_id, t('job_orders.wizard.step_1.job_type') %>
        <%= f.select :job_type_id, options_from_collection_for_select(JobType.all, :id, :name, @job_order.job_type_id.presence || ''), {}, { class: 'form-control form-select', 'x-model': 'job_type_id' } %>
      </div>

      <% JobType.all.each do |jo| %>
        <template x-if="job_type_id == <%= jo.id %>">
          <div class="alert alert-info my-2 col-lg-6 mx-auto">
            <%= jo.description %>
          </div>
        </template>
      <% end %>

      <%= hidden_field_tag :step, 2 %>
      <div class="text-center">
        <%= link_to(t('job_orders.wizard.delete_current_order'), job_order_path(@job_order), method: :delete, data: { confirm: t('job_orders.are_you_sure_you_want_to_delete') }, class: 'btn btn-danger mb-1') %>
        <%= f.submit t('job_orders.wizard.next_step'), class: 'btn btn-primary mb-1' %>
      </div>
    </div>
  <% end %>
</section>