<section x-data="{service_group_id: <%= @job_order.job_service_group_id.present? ? @job_order.job_service_group_id : "''" %>}">
  <%= form_for(@job_order, url: { controller: "job_orders", action: "steps" }) do |f| %>

    <div class="text-center">

      <h2>New Job Order (Step 2/4)</h2>

      <div class="form-group col-lg-6 mx-auto">
        <div class="custom-file">
          <p><%= @job_type.file_description %></p>
          <%= f.file_field :user_files, multiple: @job_type.multiple_files, class: "custom-file-input", required: !@job_order.user_files.attached?, name: 'job_order[user_files][]' %>
          <%= f.label :user_files, @job_type.file_label, class: 'custom-file-label' %>
        </div>

        <% if @job_order.user_files.attached? %>
          <br><br>
          <h4>Current Uploaded Files</h4>
          <p class="mt-0">Un-Check to delete the file</p>
          <div class="text-left">
            <ul class="list-group">
              <% @job_order.user_files.each do |file| %>
                <li class="list-group-item me-1 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <%= check_box_tag 'keep_files[]', file.id, true, {multiple: true, class: 'form-check-input'} %>
                    <%= label_tag 'keep_files[]', file.filename, class: "form-check-label" %>
                  </div>

                  <div class="text-right">
                    <%= link_to "<i class='fa fa-download'></i>".html_safe, rails_blob_path(file, disposition: 'attachment') %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <h4>Services</h4>
      <div class="form-group col-lg-6 mx-auto">
        <div class="text-left">
          <% @service_groups.each do |sg| %>
            <div class="custom-control custom-radio">
              <%= f.radio_button :job_service_group_id, sg.id, class: 'custom-control-input', 'x-model': 'service_group_id', required: true, selected: @job_order.job_service_group_id %>
              <%= f.label :job_service_group_id, "#{sg.name} #{"(#{sg.description})" if sg.description.present?}", class: 'custom-control-label', value: sg.id %>
            </div>

            <template x-if="service_group_id == <%= sg.id %>">
              <div class="card">
                <div class="card-body">
                  <% if sg.text_field %>
                    <div class="form-group">
                      <%= label_tag :job_service_name, "Enter the material name " %>
                      <%= text_field_tag :job_service_name, @job_order.job_services.where(user_created: true).present? ? @job_order.job_services.where(user_created: true).first.name : "", class: 'form-control' %>
                    </div>
                  <% elsif sg.multiple %>
                    <% sg.job_services.where(required: true).each do |r| %>
                      <%= f.hidden_field :job_service_ids, value: r.id, multiple: true %>
                    <% end %>
                    <%= f.collection_check_boxes :job_service_ids, sg.job_services, :id, :name, disabled: sg.job_services.where(required: true).pluck(:id), checked: (sg.job_services.where(required: true).pluck(:id) + @job_order.job_services.pluck(:id)) do |b| %>
                      <div class="custom-control custom-checkbox">
                        <%= b.check_box class: 'custom-control-input' %>
                        <%= b.label class: 'custom-control-label' %>
                      </div>
                    <% end %>
                  <% else %>
                    <% sg.job_services.each do |s| %>
                      <div class="custom-control custom-radio">
                        <%= f.radio_button :job_service_ids, s.id, class: 'custom-control-input', checked: @job_order.job_services.present? ? @job_order.job_services.pluck(:id).include?(s.id) : false %>
                        <%= f.label :job_service_ids, s.name, class: 'custom-control-label', value: s.id %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </template>
          <% end %>
        </div>
      </div>

      <%= hidden_field_tag :step, 3 %>
      <%= link_to "Previous Step", job_order_steps_path(step: 1), class: "btn btn-primary" %>
      <%= link_to "Delete Current Order", new_job_orders_path(step: 1), class: "btn btn-secondary", data: {confirm: 'Are you sure you want to delete the current order?'} %>
      <%= f.submit "Next Step", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>
