<section x-data="{service_group_id: <%= @job_order.job_service_group_id.presence || "''" %>}">
  <%= form_for(@job_order, url: { controller: 'job_orders', action: 'steps' }) do |f| %>

    <div class="text-center">

      <% if @job_order.job_type.name == "Design Services" %>
        <h2>Create Job Order</h2>
        <%= hidden_field_tag :step, 5 %>
      <% else %>
        <h2><%= t('job_orders.wizard.title', step: 2) %></h2>
        <%= hidden_field_tag :step, 3 %>
      <% end %>

      <% if @job_order.job_type.name == "Design Services" %>
        <div class="form-group col-lg-6 mx-auto mb-3">
          <%= f.label :comments, t('job_orders.wizard.step_2.design_description'), class: "h4" %>
          <%= f.text_area :comments, class: 'form-control', rows: 4, required: true, placeholder: t('job_orders.wizard.step_2.design_description_placeholder') %>
        </div>
      <% end %>

      <div class="col-lg-6 mx-auto">
        <div class="custom-file">
          <p><%= @job_type.file_description %></p>

          <%= f.label :user_files, @job_order.user_files.attached? ? t('job_orders.wizard.step_2.upload_additional_files_here') : t('job_orders.wizard.step_2.upload_files_here') %>.
          <% if @job_type.multiple_files %>
            <i>(<%= t('job_orders.wizard.step_2.you_can_upload_x_files', x_files: t('job_orders.wizard.step_2.multiple_files')) %>)</i>
          <% else %>
            <i>(<%= t('job_orders.wizard.step_2.you_can_upload_x_files', x_files: t('job_orders.wizard.step_2.one_file')) %>)</i>
          <% end %>

          <div id="file-input-container">
            <% is_required = !@job_order.user_files.attached? %>
            <div class="d-flex upload-file-input mb-2 gap-2">
              <%= f.file_field :user_files, required: is_required, multiple: false, name: 'job_order[user_files][]', class: 'form-control' %>
              <% unless is_required %>
                <button class="btn btn-danger delete-file-button" type="button">
                  <i class="fa fa-trash"></i>
                </button>
              <% end %>
            </div>
          </div>

          <button type="button" class="btn btn-outline-primary mt-2" id="add-file-button">
            <i class="fa fa-plus"></i> Add Another File
          </button>
        </div>

        <% if @job_order.user_files.attached? %>
          <h4 class="mt-4"><%= t('job_orders.wizard.step_2.current_uploaded_files') %></h4>
          <p class="mt-0"><%= t('job_orders.wizard.step_2.uncheck_to_delete_file') %></p>
          <div class="text-start">
            <ul class="list-group">
              <% @job_order.user_files.each do |file| %>
                <li class="list-group-item me-1 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <%= check_box_tag 'keep_files[]', file.id, true, { multiple: true, class: 'form-check-input' } %>
                    <%= label_tag 'keep_files[]', file.filename, class: '' %>
                  </div>
                  <div class="text-end">
                    <%= link_to "<i class='fa fa-download'></i>".html_safe, rails_blob_path(file, disposition: 'attachment') %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <% if @job_type.service_fee.present? %>
        <h4 class="mt-4">Fees</h4>
        <div class="col-lg-6 mx-auto">
          <div class="table-responsive">
            <table class="table notDataTable sessions-table job-order-table table-striped">
              <thead class="table-primary">
                <th><%= t('job_orders.wizard.step_2.name') %></th>
                <th><%= t('job_orders.wizard.step_2.fee') %></th>
              </thead>
              <tbody>
                <tr>
                  <td><%= t('job_orders.wizard.step_2.service_fee') %></td>
                  <td><%= number_to_currency(@job_type.service_fee) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

      <% if @service_groups.count > 0 %>
        <h4><%= t('job_orders.wizard.step_2.services') %></h4>
        <div class="form-group col-lg-6 mx-auto">
          <div class="text-start">
            <% @service_groups.each do |sg| %>
              <div class="form-check">
                <%= f.radio_button :job_service_group_id, sg.id, class: 'form-check-input', 'x-model': 'service_group_id', required: true %>
                <%= f.label :job_service_group_id, "#{sg.name} #{"(#{sg.description})" if sg.description.present?}", class: 'form-check-label', value: sg.id %>
              </div>

              <template x-if="service_group_id == <%= sg.id %>">
                <div class="card">
                  <div class="card-body">
                    <% if sg.text_field_true? %>
                      <div class="form-group">
                        <%= label_tag :job_service_name, t('job_orders.wizard.step_2.enter_material_name') %>
                        <%= text_field_tag :job_service_name, @job_order.job_services.where(user_created: true).first&.name, class: 'form-control', required: true %>
                      </div>
                    <% elsif sg.multiple %>
                      <% sg.job_services.order(created_at: :asc).where(required: true).each do |r| %>
                        <%= f.hidden_field :job_service_ids, value: r.id, multiple: true %>
                      <% end %>
                      <%= f.collection_check_boxes :job_service_ids, sg.job_services, :id, (@user.internal? ? :name_with_internal_price : :name_with_external_price), disabled: sg.job_services.where(required: true).pluck(:id), checked: (sg.job_services.where(required: true).pluck(:id) + @job_order.job_services.pluck(:id)) do |b| %>
                        <div class="custom-checkbox">
                          <%= b.check_box class: 'form-check-input' %>
                          <%= b.label class: 'form-check-label' %>
                          <%= label_tag sg.job_services.find(b.value).description %>
                        </div>
                      <% end %>
                    <% else %>
                      <% sg.job_services.where(user_created: false).order(created_at: :asc).each do |s| %>
                        <div class="form-check">
                          <%= f.radio_button :job_service_ids, s.id, class: 'form-check-input', checked: @job_order.job_services.pluck(:id).include?(s.id), required: true %>
                          <%= f.label :job_service_ids, (@user.internal? ? s.name_with_internal_price : s.name_with_external_price), class: 'form-check-label', value: s.id %>
                          <%= f.label :job_service_ids, s.description if s.description %>
                        </div>
                      <% end %>
                      <% if sg.text_field_option? %>
                        <div class="form-check">
                          <%= f.radio_button :job_service_ids, 'custom', class: 'form-check-input custom-service-radio', checked: @job_order.job_services.where(user_created: true).present?, required: true %>
                          <%= f.label :job_service_ids, t('job_orders.wizard.step_2.enter_custom_settings'), class: 'form-check-label', value: 'custom' %>
                          <%= text_field_tag :job_service_name, @job_order.job_services.where(user_created: true).first&.name, class: 'form-control inanimate', id: 'custom-settings-field', '@change': 'handleCustomQualityChange()' %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </template>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @job_type.comments.present? %>
        <div class="form-group col-lg-6 mx-auto">
          <br>
          <div class="alert alert-warning">
            <i class="fa fa-warning"></i> <%= sanitize @job_type.comments %>
          </div>
        </div>
      <% end %>

      <div class="text-center">
        <% if @job_order.job_type.name == "Design Services" %>
          <%= f.submit t('static_pages.forgot_password.submit'), class: 'btn btn-primary mb-1' %>
        <% else %>
          <%= link_to t('job_orders.wizard.previous_step'), job_order_steps_path(step: 1), class: 'btn btn-primary mb-1' %>
          <%= f.submit t('job_orders.wizard.next_step'), class: 'btn btn-primary mb-1' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="text-center mt-2">
    <%= button_to(t('job_orders.wizard.delete_current_order'), job_order_path(@job_order), method: :delete, data: { confirm: t('job_orders.are_you_sure_you_want_to_delete') }, class: 'btn btn-danger mb-1') %>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
  const handleCustomQualityChange = () => {
      const el = document.getElementsByClassName('custom-service-radio')[0];
      el.checked = !el.checked;
  }
</script>

<%# template %>
<div class="upload-file-input mb-2 gap-2" id="new-file-input" style="display: none;">
  <input type="file" name="job_order[user_files][]" class="form-control" />
  <button class="btn btn-danger delete-file-button" type="button">
    <i class="fa fa-trash"></i>
  </button>
</div>

<%= vite_javascript_tag 'file_input_form' %>

<%= vite_javascript_tag 'job_orders_wizard' %>
