<section class="container mt-5">
  <%= form_for([@job_order, @job_task], url: job_order_job_task_path(@job_order, @job_task, step: 2)) do |f| %>
    <div class="text-center">
      <% if @job_task.job_type.name == "Design Services" %>
        <h2>Create Job Order</h2>
        <%= hidden_field_tag :step, 5 %>
      <% else %>
        <h2><%= t('job_orders.wizard.title', step: 2) %></h2>
        <%= hidden_field_tag :step, 3 %>
      <% end %>

      <% if @job_task.job_type.name == "Design Services" %>
        <div class="form-group col-lg-6 mx-auto mb-3">
          <%= label_tag :comments, t('job_orders.wizard.step_2.design_description'), class: "h4" %>
          <%= text_area_tag :comments, nil, class: 'form-control', rows: 4, required: true, placeholder: t('job_orders.wizard.step_2.design_description_placeholder') %>
        </div>
      <% end %>

      <div class="col-lg-6 mx-auto">
        <div class="custom-file">
          <p><%= @job_type.file_description %></p>

          <%= f.label :user_files, @job_task.user_files.attached? ? t('job_orders.wizard.step_2.upload_additional_files_here') : t('job_orders.wizard.step_2.upload_files_here') %>.
          <% if @job_type.multiple_files %>
            <i>(<%= t('job_orders.wizard.step_2.you_can_upload_x_files', x_files: t('job_orders.wizard.step_2.multiple_files')) %>)</i>
          <% else %>
            <i>(<%= t('job_orders.wizard.step_2.you_can_upload_x_files', x_files: t('job_orders.wizard.step_2.one_file')) %>)</i>
          <% end %>

          <div id="file-input-container">
            <% is_required = !@job_task.user_files.attached? %>
            <div class="d-flex upload-file-input mb-2 gap-2">
              <%= f.file_field :user_files, required: is_required, multiple: false, name: 'job_task[user_files][]', class: 'form-control' %>
              <% unless is_required %>
                <button class="btn btn-danger delete-file-button" type="button">
                  <i class="fa fa-trash"></i>
                </button>
              <% end %>
            </div>
          </div>

          <button type="button" class="btn btn-outline-primary mt-2" id="add-file-button">
            <i class="fa fa-plus"></i> Add Another File
          </button>
        </div>

        <% if @job_task.user_files.attached? %>
          <h4 class="mt-4"><%= t('job_orders.wizard.step_2.current_uploaded_files') %></h4>
          <p class="mt-0"><%= t('job_orders.wizard.step_2.uncheck_to_delete_file') %></p>
          <div class="text-start">
            <ul class="list-group">
              <% @job_task.user_files.each do |file| %>
                <li class="list-group-item me-1 d-flex justify-content-between" style="min-width: 0;">
                  <div class="form-check d-flex flex-grow-1" style="min-width: 0; align-items: center;">
                    <%= check_box_tag 'job_task[user_files][]', file.signed_id, true, { multiple: true, class: 'form-check-input me-2' } %>
                    <%= label_tag nil, file.filename, class: 'form-check-label text-truncate flex-grow-1 m-0', style: 'min-width: 0;' %>
                  </div>
                  <div class="flex-shrink-0 ps-2">
                    <%= link_to "<i class='fa fa-download'></i>".html_safe, rails_blob_path(file, disposition: 'attachment'), class: 'text-decoration-none' %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>

      <% if @job_type.service_fee.present? %>
        <h4 class="mt-4">Fees</h4>
        <div class="col-lg-6 mx-auto">
          <div class="table-responsive">
            <table class="table notDataTable sessions-table job-order-table table-striped">
              <thead class="table-primary">
                <th><%= t('job_orders.wizard.step_2.name') %></th>
                <th><%= t('job_orders.wizard.step_2.fee') %></th>
              </thead>
              <tbody>
                <tr>
                  <td><%= t('job_orders.wizard.step_2.service_fee') %></td>
                  <td><%= number_to_currency(@job_type.service_fee) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

      <% if @service_groups.any? %>
        <h4><%= t('job_orders.wizard.step_2.services') %></h4>
        <div class="accordion col-lg-6 mx-auto mb-4" id="serviceGroupsAccordion">
          <% @service_groups.each_with_index do |sg, index| %>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-<%= sg.id %>">
                <button class="accordion-button collapsed" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapse-<%= sg.id %>" 
                        aria-expanded="false"
                        aria-controls="collapse-<%= sg.id %>"
                        data-service-group="<%= sg.id %>">
                  <div>
                    <strong><%= sg.name %></strong>
                    <% if sg.description.present? %>
                      <p class="text-muted small mt-1 mb-0"><%= sg.description %></p>
                    <% end %>
                  </div>
                </button>
              </h2>
              <div id="collapse-<%= sg.id %>" 
                  class="accordion-collapse collapse" 
                  aria-labelledby="heading-<%= sg.id %>" 
                  data-bs-parent="#serviceGroupsAccordion">
                <div class="accordion-body text-start">
                  <% if sg.text_field_true? %>
                    <div class="form-check mb-2">
                      <%= f.radio_button :job_service_id, 'custom', 
                          class: 'form-check-input service-radio', 
                          id: "custom_service_radio_#{sg.id}",
                          data: { service_group: sg.id } %>
                      <%= f.label :job_service_id, t('job_orders.wizard.step_2.enter_custom_settings'), 
                          value: 'custom', class: 'form-check-label', for: "custom_service_radio_#{sg.id}" %>
                      <%= text_field_tag "job_service_name_#{sg.id}", @job_task.job_service&.user_created? ? @job_task.job_service.name : nil, class: 'form-control mt-2 service-name-field', data: { service_group: sg.id } %>
                    </div>
                  <% else %>
                    <% sg.job_services.not_user_created.not_deleted.order(created_at: :asc).each do |service| %>
                      <div class="form-check mb-2">
                        <%= f.radio_button :job_service_id, service.id, checked: @job_task.job_service_id == service.id, 
                            class: "form-check-input service-radio", 
                            id: "service_#{service.id}",
                            data: { service_group: sg.id } %>
                        <%= f.label :job_service_id, (@user.internal? ? service.name_with_internal_price : service.name_with_external_price), 
                            value: service.id, class: "form-check-label", for: "service_#{service.id}" %>
                        <% if service.description.present? %>
                          <p class="text-muted small mb-1"><%= service.description %></p>
                        <% end %>
                      </div>
                    <% end %>

                    <% if sg.text_field_option? %>
                      <div class="form-check mb-2">
                        <%= f.radio_button :job_service_id, 'custom', 
                            class: 'form-check-input service-radio', 
                            id: "custom_service_radio_#{sg.id}",
                            data: { service_group: sg.id } %>
                        <%= f.label :job_service_id, t('job_orders.wizard.step_2.enter_custom_settings'), 
                            value: 'custom', class: 'form-check-label', for: "custom_service_radio_#{sg.id}" %>
                        <%= text_field_tag "job_service_name_#{sg.id}", @job_task.job_service&.user_created? ? @job_task.job_service.name : nil, class: 'form-control mt-2 service-name-field', data: { service_group: sg.id } %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @job_type.comments.present? %>
        <div class="form-group col-lg-6 mx-auto">
          <br>
          <div class="alert alert-warning">
            <i class="fa fa-warning"></i> <%= sanitize @job_type.comments %>
          </div>
        </div>
      <% end %>

      <div class="text-center">
        <% if @job_task.job_type.name == "Design Services" %>
          <%= f.submit t('static_pages.forgot_password.submit'), class: 'btn btn-primary mb-1' %>
        <% else %>
          <%= link_to t('job_orders.wizard.previous_step'), edit_job_order_job_task_path(@job_order, @job_task, step: 1), class: 'btn btn-primary mb-1' %>
          <%= f.submit t('job_orders.wizard.next_step'), class: 'btn btn-primary mb-1' %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>

<%# template %>
<div class="upload-file-input mb-2 gap-2" id="new-file-input" style="display: none;">
  <input type="file" name="job_task[user_files][]" class="form-control" />
  <button class="btn btn-danger delete-file-button" type="button">
    <i class="fa fa-trash"></i>
  </button>
</div>

<%= vite_javascript_tag 'job_orders_wizard' %>