<section>
  <%= form_for(@job_order, url: { controller: 'job_orders', action: 'steps' }) do |f| %>

    <div class="text-center">

      <h2><%= t('job_orders.wizard.title', step: 4) %></h2>

      <div class="form-group col-lg-6 mx-auto">
        <%= f.label :comments, t('job_orders.wizard.step_4.additional_comments') %>
        <%= f.text_area :comments, class: 'form-control', rows: 4 %>
      </div>

      <br>

      <%= hidden_field_tag :step, 5 %>
      <div class="text-center">
        <%= link_to t('job_orders.wizard.previous_step'), job_order_steps_path(step: 3), class: 'btn btn-primary mb-1' %>
        <%= f.submit t('static_pages.forgot_password.submit'), class: 'btn btn-primary mb-1' %>
      </div>
    </div>
  <% end %>
  <div class="text-center mt-2">
    <%= button_to(t('job_orders.wizard.delete_current_order'), job_order_path(@job_order), method: :delete, data: { confirm: t('job_orders.are_you_sure_you_want_to_delete') }, class: 'btn btn-danger mb-1') %>
  </div>
</section>