<section>
  <%= form_for(@job_order, url: {controller: "job_orders", action: "steps"}) do |f| %>

    <div class="text-center">

      <h2>New Job Order (Step 4/4)</h2>

      <div class="form-group col-lg-6 mx-auto">
        <%= f.label :comments, "Additional Comments" %>
        <%= f.text_area :comments, class: 'form-control' %>
      </div>

      <%= hidden_field_tag :step, 5 %>
      <%= link_to "Previous Step", job_order_steps_path(step: 3), class: "btn btn-primary" %>
      <%= link_to "Delete Current Order", new_job_orders_path(step: 1), class: "btn btn-secondary", data: {confirm: 'Are you sure you want to delete the current order?'} %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>