<section class="container mt-5">
  <%= form_for([@job_order, @job_task], url: job_order_job_task_path(@job_order, @job_task, step: 4)) do |f| %>

    <div class="text-center">

      <h2><%= t('job_orders.wizard.title', step: 4) %></h2>

      <div class="form-group col-lg-6 mx-auto">
        <%= label_tag :comments, t('job_orders.wizard.step_4.additional_comments') %>
        <%= text_area_tag :comments, nil, class: 'form-control', rows: 4 %>
      </div>

      <br>

      <%= hidden_field_tag :step, 5 %>
      <div class="text-center">
        <%= link_to t('job_orders.wizard.previous_step'), edit_job_order_job_task_path(@job_order, @job_task, step: 3), class: 'btn btn-primary mb-1' %>

        <%= hidden_field_tag :add_another, false, id: 'add-another-hidden' %>
        <%= button_tag t('job_orders.order.add_another_task', default: "Add Another Task"), type: 'submit', class: "btn btn-outline-primary mb-1", onclick: "document.getElementById('add-another-hidden').value = 'true';" %>

        <% if @job_order.job_order_statuses.last&.job_status == JobStatus::DRAFT %>
          <%= hidden_field_tag :save_draft, false, id: 'save-draft' %>
          <%= button_tag t('job_orders.order.save_draft', default: "Save Draft"), type: 'submit', class: "btn btn-outline-primary mb-1", onclick: "document.getElementById('save-draft').value = 'true';" %>
        <% end %>

        <%= f.submit t('static_pages.forgot_password.submit'), class: 'btn btn-primary mb-1' %>
      </div>
    </div>
  <% end %>
</section>