<% provide(:title, "Update Skills") %>

<%= form_for @skills, url: {controller: "skills", action: "update"}, method: :patch do |f| %>

  <div class="edit-column">
    <div class="setting-title">Update Skills</div>
    <br />

    <div class="row">

      <div class="mx-auto col-lg-2 col-md-4">

        <b>3D Printing</b> <br />
        <div class="d-inline-block text-left">
          <%= f.radio_button :printing, 'Beginner', :style => 'display:inline' %>
          <%= f.label :printing, 'Beginner', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :printing, 'Intermediate', :style => 'display:inline' %>
          <%= f.label :printing, 'Intermediate', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :printing, 'Advanced', :style => 'display:inline' %>
          <%= f.label :printing, 'Advanced', :style => 'display:inline' %>
          <br />
        </div>
      </div>

      <div class="max-auto col-lg-2 col-md-4">
        <b>Laser Cutting</b> <br />
        <div class="d-inline-block text-left">
          <%= f.radio_button :laser_cutting, 'Beginner', :style => 'display:inline' %>
          <%= f.label :laser_cutting, 'Beginner', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :laser_cutting, 'Intermediate', :style => 'display:inline' %>
          <%= f.label :laser_cutting, 'Intermediate', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :laser_cutting, 'Advanced', :style => 'display:inline' %>
          <%= f.label :laser_cutting, 'Advanced', :style => 'display:inline' %>
          <br />
        </div>
      </div>

      <div class="mx-auto col-lg-2 col-md-4">
        <b>Virtual Reality (VR)</b> <br />
        <div class="d-inline-block text-left">
          <%= f.radio_button :virtual_reality, 'Beginner', :style => 'display:inline' %>
          <%= f.label :virtual_reality, 'Beginner', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :virtual_reality, 'Intermediate', :style => 'display:inline' %>
          <%= f.label :virtual_reality, 'Intermediate', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :virtual_reality, 'Advanced', :style => 'display:inline' %>
          <%= f.label :virtual_reality, 'Advanced', :style => 'display:inline' %>
          <br />
        </div>
      </div>

      <div class="mx-auto col-lg-2 col-md-4">
        <b>Arduino</b> <br />
        <div class="d-inline-block text-left">
          <%= f.radio_button :arduino, 'Beginner', :style => 'display:inline' %>
          <%= f.label :arduino, 'Beginner', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :arduino, 'Intermediate', :style => 'display:inline' %>
          <%= f.label :arduino, 'Intermediate', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :arduino, 'Advanced', :style => 'display:inline' %>
          <%= f.label :arduino, 'Advanced', :style => 'display:inline' %>
          <br />
        </div>
      </div>

      <div class="mx-auto col-lg-2 col-md-4">
        <b>Embroidery</b> <br />
        <div class="d-inline-block text-left">
          <%= f.radio_button :embroidery, 'Beginner', :style => 'display:inline' %>
          <%= f.label :embroidery, 'Beginner', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :embroidery, 'Intermediate', :style => 'display:inline' %>
          <%= f.label :embroidery, 'Intermediate', :style => 'display:inline' %>
          <br />
          <%= f.radio_button :embroidery, 'Advanced', :style => 'display:inline' %>
          <%= f.label :embroidery, 'Advanced', :style => 'display:inline' %>
          <br />
        </div>
      </div>

      <%= f.submit "Update Skills", class: "btn btn-success btn-lg" %>

    </div>
  </div>
<% end %>
