<p>Search for users to sign them in or out of <%= @space.name.capitalize %>:</p>
<div class="row">
  <div class="col-md-9">
    <%= form_tag staff_dashboard_search_path, method: :get, action: :search do %>
      <div class="form-group">
        <%= select_tag(:username, "", prompt: "Choose User...", :class => "user_dashboard_select form-control", :id => "user_dashboard_select") %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="form-inline">
      <%= form_tag staff_dashboard_sign_in_users_path, method: :put, action: :sign_in_users, id: "sign_in_user_fastsearch", remote: true do %>
        <%= hidden_field_tag :added_users, "", { :id => "sign_in_user_fastsearch_username" } %>
        <%= submit_tag "Sign In", class: 'btn btn-info btn-sm', style: 'margin-right: 16px;' %>
      <% end %>
      <%= form_tag staff_dashboard_user_profile_path, method: :get, id: "search_user_fastsearch" do %>
        <%= hidden_field_tag :username, "", { :id => "search_user_fastsearch_username" } %>
        <%= submit_tag "Search", class: 'btn btn-info btn-sm' %>
      <% end %>
    </div>
  </div>
</div>

<div class="accordion" id="accordionLogin">
  <div class="card">
    <div class="card-header text-center" id="accordionLoginHeader">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#advancedLoginCollapse" aria-expanded="false" aria-controls="advancedLoginCollapse">
          Advanced Search / Sign In
        </button>
      </h5>
    </div>
    <div class="collapse" id="advancedLoginCollapse" data-parent="#accordionLogin" aria-labelledby="accordionLoginHeader">
      <div class="card-body">
        <p>Search for users:</p>
        <div class="row" style="flex-direction: row; flex-wrap: nowrap">
          <div style="flex-grow: 1">
            <%= form_tag staff_dashboard_search_path, method: :get, action: :search do %>
              <div class="input-group mb-3">
                <%= text_field_tag(:query, "", placeholder: "Name, email, username", :class => "form-control", 'aria-describedby': "button-addon2", style: "font-size: inherit;") %>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <%= form_tag staff_dashboard_import_excel_path, method: :post, :multipart => true, class: "w-100" do %>
            <p>Upload Excel File to log in users (Emails, names and usernames, first column only)</p>
            <div class="input-group mb-3">
              <div class="custom-file">
                <%= file_field_tag :file, style: "display: inline;", class: "custom-file-input custom-file-input-excel", id: "excel-input" %>
                <%= label_tag(:file, "Choose Excel file", class: "custom-file-label custom-file-label-excel") %>
              </div>
              <div class="input-group-append">
                <%= submit_tag "Import File", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>