      <p id="user-count" class="text-center">Users inside <%= @space.name %>:  <%= @space.signed_in_users.count %></p>
          <% if @space.signed_in_users.present? %>
        <%= link_to 'Sign Out All Users', staff_dashboard_sign_out_all_users_path, class: 'btn btn-secondary mb-3' %>
      <% end %>
      <table class="staff-users-table text-center mb-5 table table-striped" >          
        <thead class="table-primary">
        <tr>
          <th class="name-header">Name
            <span onclick="sortTable('staff-users-table', 0)"><%= fa_icon('arrow-down') %></span></th>
          <th class="email-header">Email
            <span onclick="sortTable('staff-users-table', 1)"><%= fa_icon('arrow-down') %></span></th>
          <th class="name-header">Flagged?</th>
          <th class="certifications-header">Certifications in <%= @space.name %>
            <span onclick="sortTable('staff-users-table', 2)"><%= fa_icon('arrow-down') %></span></th>
          <th class="email-header"> # of visits <br> (Past 2
            months)<span onclick="sortTable('staff-users-table', 2)"><%= fa_icon('arrow-down') %></span></th>
          <th class="last-seen-header">Last Seen
            <span onclick="sortTable('staff-recent-users-table', 2)"><%= fa_icon('arrow-down') %></span></th>
          <th class="action-header">Sign Out of <%= @space.name.capitalize %></th>
        </tr>
        </thead>
        <% @space.signed_in_users.each do |user| %>
          <tr class="drop-rows" id="<%= return_no_waiver_id(user) %>">
            <td class="drop-username-cell">
              <%= link_to(content_tag(:drop_username, user.name), user_url(user.username)) %>
            </td>

            <td class="email-cell">
              <%= user.email %>
            </td>

            <td>
              <%= render 'staff_dashboard/flag', staff_dashboard_user: user %>
              <% if user.flagged? %>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#flag_message_<%= user.id %>">
                  See Flag
                </button>
              <% else %>
                None
              <% end %>
            </td>

            <td class="certifications-cell">

              <% @space.ceed? ? proc = @all_user_certs : proc = @certifications_on_space %>
              <% puts "Inspects" %>
              <% puts all_user_certs.inspect%>
              <% puts certifications_on_space.inspect%>

              <% if proc.call(user, @space.id).present? %>
                <% proc.call(user, @space.id).each do |certification| %>
                  <div class="cert-name" style="display:inline">
                    <div class="cert-holder" style="display:inline">
                      <%= certification.training.name %>
                      <div id="cert-details" style="display:inline">
                        <%= certification.training.name %> <br>
                        <%= certification.trainer %> <br>
                        <%= certification.updated_at.strftime("%B %d, %Y") %>
                      </div>
                      <br/>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </td>

            <td class="email-cell">
              <%= user.lab_sessions.where('space_id' => @space.id).where('created_at BETWEEN ? AND ? ', 2.month.ago, DateTime.now).count %>
            </td>

            <td class="sign_out_time-cell" style="horizontal-alginment:center;">
              <%= time_ago_in_words(user.lab_sessions.sort_by(&:sign_out_time).second_to_last&.sign_out_time) + " ago at #{user.lab_sessions.last.space.name}" if user.lab_sessions.second_to_last.present? %></td>
            </td>
            <td class="action-cell">
              <%= link_to (fa_icon('times')), {controller: :staff_dashboard, action: :sign_out_users, dropped_users: [user.username]}, method: :put, class: 'x-button', remote: true %>
            </td>

          </tr>
        <% end %>
        <br />
