<section class="page-contents">

  <div class="edit-column">

    <h2><%= link_to "Welcome to #{@space.name.capitalize}", staff_dashboard_index_path%></h2>

    <div style="float:right;">
      <%=link_to "Download Summary",
          staff_dashboard_present_users_report_path(format: "csv" ),
          action: :training_report,
          class:"btn btn-secondary" %>
    </div>

    <div class="search-form" style="display:inline"> Search for users to sign them in or out of <%=@space.name.capitalize%>:
    <%= form_tag staff_dashboard_search_path, method: :get, action: :search do %>
        <div class="form-group">
      <%= text_field_tag 'query', nil, placeholder: 'Search users by name, username, email...', class:'form-control' %><br>
        </div>
      <%= submit_tag "Search", class: 'btn btn-primary' %>
    <% end %>
    </div>
    <br />

    <div class="container" style="padding-left: 0px!important;">
      <div><%= link_to "Manage 3D-printers", staff_printers_printers_path, class: 'btn btn-secondary'%></div>
    </div>
    <br>
    <table class="staff-users-table">
        <p>Users inside <%=@space.name%>:  <%=@space.signed_in_users.count%></p>
        <% if @space.signed_in_users.present? %>
          <%= link_to 'Sign Out All Users', staff_dashboard_sign_out_all_users_path, class: 'btn btn-secondary' %>
        <%end%>
        <tr>
          <th class="name-header">Name <span onclick="sortTable('staff-users-table', 0)"><%=fa_icon('arrow-down')%></span></th>
          <th class="email-header">Email <span onclick="sortTable('staff-users-table', 1)"><%=fa_icon('arrow-down')%></span></th>
          <th class="certifications-header">Certifications <span onclick="sortTable('staff-users-table', 2)"><%=fa_icon('arrow-down')%></span></th>
          <th class="email-header"> # of visits <br> (Past 2 months)<span onclick="sortTable('staff-users-table', 2)"><%=fa_icon('arrow-down')%></span></th>
          <th class="action-header">Sign Out of <%=@space.name.capitalize%></th>
        </tr>
        <% @space.signed_in_users.each do |user| %>

        <%if user.read_and_accepted_waiver_form%>
          <tr class="drop-rows">
        <%else%>
          <tr class="drop-rows" id="no-waiver">
        <%end%>
            <td class="drop-username-cell"><%=
              link_to(content_tag(:drop_username, user.name), user_url(user.username))
            %></td>

            <td class="email-cell"><%=
              user.email
            %></td>

            <td class="certifications-cell"><%
              if user.certifications.first.present?
                user.certifications.each do |certification|
                %><%
                  unless certification.out_of_date? %>
                  <div
                   class="cert-name"
                   style="display:inline" >
                   <div class="cert-holder" style="display:inline">
                    <%= certification.training %>
                    <div id="cert-details" style="display:inline">
                      <%= certification.training %> <br>
                      <%= certification.trainer %> <br>
                      <%= certification.updated_at.strftime("%B %d, %Y")  %>
                    </div>
                    <br>
                  </div>
                </div>
                <% else %>
                <div
                 class="cert-name-red"
                 style="display:inline" >
                 <div class="cert-holder" style="display:inline">
                  <%= certification.training %>
                  <div id="cert-details" style="display:inline">
                    <%= certification.training %> <br>
                    <%= certification.trainer %> <br>
                    <%= certification.updated_at.strftime("%B %d, %Y")  %>
                  </div>
                  <br>
                </div>
              </div>
              <% end
                end
              end
              %>

              <td class="email-cell" >
                <%= user.lab_sessions.where('space_id' => @space.id ).where('created_at BETWEEN ? AND ? ', 2.month.ago, DateTime.now).count %>
              </td>
            </td>
            <td class="action-cell" >
              <%= link_to (fa_icon('times')), {controller: :staff_dashboard, action: :sign_out_users, dropped_users: [user.username]},  method: :put, class: 'x-button' %>
            </td>

          </tr>
        <% end %>
        <br></br>
      </table>
      <br>

    <br></br>

    <table class="staff-recent-users-table">
      <p>Users recently signed out of <%=@space.name%></p>
      <tr>
        <th class="name-header">Name <span onclick="sortTable('staff-recent-users-table', 0)"><%=fa_icon('arrow-down')%></span></th>
        <th class="email-header">Email <span onclick="sortTable('staff-recent-users-table', 1)"><%=fa_icon('arrow-down')%></span></th>
        <th class="last-seen-header">Last Seen <span onclick="sortTable('staff-recent-users-table', 2)"><%=fa_icon('arrow-down')%></span></th>
        <th class="action-header">Sign In To <%=@space.name.capitalize%></span></th>
      </tr>

      <% @space.recently_signed_out_users.each do |user| %>
        <%if user.read_and_accepted_waiver_form%>
          <tr class="add-rows">
        <%else%>
          <tr class="add-rows" id="no-waiver">
        <%end%>
          <td class="add-username-cell"><%=
            link_to(content_tag(:add_username, user.name), user_url(user.username))
          %></td>

          <td class="email-cell"><%=
            user.email
          %></td>

          <td class="sign_out_time-cell" style="horizontal-alginment:center;"><%=
            if user.lab_sessions.present?
              time_ago_in_words(user.lab_sessions.sort_by(&:sign_out_time).last.sign_out_time) + " ago at #{user.lab_sessions.last.space.name}"
            end
          %></td>

          <td class="action-cell" >
            <%= link_to (fa_icon('check')), {controller: :staff_dashboard, action: :sign_in_users, added_users: [user.username]},  method: :put, class: 'check-button' %>
          </td>

        </tr>
      <% end %>
      <br></br>
    </table>
    <br>
  </div>
</section>
