<%= render "signin_modal", locals: { space: @space, all_user_certs: @all_user_certs, certifications_on_space: @certifications_on_space } %>
<%= hidden_field_tag 'space_id', @space.id %>
<div class="max_capacity_alert">
  <%= render partial: 'max_capacity_warning', space: @space %>
</div>

<h1 class="text-center pt-2 mb-3">
    <span>Welcome to</span>
    <%= select_tag :space_id, options_from_collection_for_select(Space.order(:name), :id, :name, @space.id),
                   id: 'set_space_id', class: 'form-select fs-2 w-auto d-inline-block', onchange: 'setSpace()' %>
</h1>

<%= render 'search' %>

<% if @space.makerspace? %>
  <div class="container" id="printer-div">
    <div id="printer-div-2"><%= link_to 'Manage 3D-printers', staff_printers_printers_path, class: 'btn btn-secondary' %></div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-striped" data-datatable data-page-length="50" data-responsive="true" data-order="[]" id="signed-in-table">
    <caption id="user-count" class="text-center fs-3" align="top">
        <span id="SpaceUserCount"><%= pluralize @space.signed_in_users.count, 'user' %> inside <%= @space.name %></span>
        <div class="d-flex justify-content-around">
            <%= link_to staff_dashboard_sign_out_all_users_path, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to sign out all users?'} do %>
                <%= fa_icon('sign-out') %> Sign Out All Users
            <% end %>
            <% if @space.jmts? %>
                <%= button_to staff_dashboard_add_signed_in_users_to_teams_path, method: :patch, form_class: 'btn btn-primary', class: 'btn p-0',
                              data: { confirm: 'Are you sure you want to add all signed in users to the teams program?' } do %>
                    <%= fa_icon('group') %> Add Signed In Users to Teams Program
                <% end %>
            <% end %>
        </div>
    </caption>
    <thead class="table-primary">
      <tr>
        <th class="name-header">Name</th>
        <th class="email-header">Email</th>
        <th class="name-header">Flagged?</th>
        <th class="certifications-header">Certifications in <%= @space.name %></th>
        <% if @space.makerspace? %>
          <th class="printers-header">Assigned Printers</th>
        <% end %>
        <th class="email-header"># of visits <br> (Past 2 months)</th>
        <th class="last-seen-header">Last Seen</th>
        <th class="action-header disable-sort">Sign Out of <%= @space.name %></th>
      </tr>
    </thead>

    <%# Setup websocket connection, listen to broadcasts under signed_in_table %>
    <%= turbo_stream_from "signed_in_table_space_#{@space.id}" %>
    <tbody id="table-js-signed-in">
        <%= render partial: 'space_activity_row', collection: @signed_in_users, locals: {space: @space} %>
    </tbody>
  </table>
</div>
<hr />
<div class="table-responsive">
  <table class="table table-striped table-sort" data-datatable data-order="[]">
    <caption class="text-center fs-3" align="top">Users recently signed out of <%= @space.name %></caption>
    <thead class="table-primary">
      <tr>
        <th class="name-header">Name</th>
        <th class="email-header">Email</th>
        <th class="last-seen-header">Last Seen</th>
        <th class="action-header disable-sort"><%= fa_icon('check') %>&nbsp; TO SIGN IN <br> <%= fa_icon('times') %>&nbsp; TO SIGN OUT</th>
      </tr>
    </thead>
    <tbody id="staffDashboardSignedOutTable">
        <%= render partial: 'space_activity_row', collection: @signed_out_users, locals: {space: @space, signed_out: true} %>
    </tbody>
  </table>
</div>
<hr />
<div class="table-responsive">
  <table class="table table-striped staff-newly-signed-up-users-table table-sort table-arrows" data-datatable data-order="[]">
    <caption class="text-center fs-3" align="top">Newly signed up users on Maker<strong>Repo</strong></caption>
    <thead class="table-primary">
      <tr>
        <th class="name-header">Name</th>
        <th class="email-header">Email</th>
        <th class="action-header disable-sort">Sign In To <%= @space.name %></span></th>
      </tr>
    </thead>
    <%= render partial: 'newly_signed_up', locals: { space: @space } %>
  </table>
</div>
<%= vite_javascript_tag 'staff_dashboard', 'data-turbo-track': 'reload' %>
