<section class="page-contents">
  <div class="padding-10">
    <br>
    <h2 class="text-center">Welcome to
      <strong><%= select_tag :space_id, options_from_collection_for_select(@all_spaces, :id, :name), prompt: @space.name.capitalize, id: 'set_space_id', class: 'form-select', onchange: 'setSpace()' %></strong>
    </h2>
    <%= render 'search' %>
    <br />
    <% if @users.any? %>
    <table class="staff-search-results text-center table table-striped" id="table-js-search">
        Search results
        <thead class="table-primary">
         <tr>
           <th>Name <span onclick="sortTable('staff-search-results', 0)"><%= fa_icon('arrow-down') %></span></th>
           <th>Email <span onclick="sortTable('staff-search-results', 1)"><%= fa_icon('arrow-down') %></span></th>
           <th>Last Seen <span onclick="sortTable('staff-search-table', 2)"><%= fa_icon('arrow-down') %></span></th>
           <th>Status <span onclick="sortTable('staff-search-results', 3)"><%= fa_icon('arrow-down') %></span></th>
           <th class="action-header"><%= fa_icon('check') %>&nbsp; TO SIGN IN <br> <%= fa_icon('times') %>&nbsp; TO SIGN OUT</th>
         </tr>
        </thead>
        <% @users.each do |user| %>
          <tr class="sign-in-or-out" id="<%= return_no_waiver_id(user) %>">
            <td class="sign-in-cell"><%= link_to(tag.drop_username(user.name), user_url(user.username)) %></td>
            <td class="email-cell"><%= user.email %></td>
            <% lab_sessions = user.lab_sessions.present? %>
            <% signed_in = lab_sessions ? user.lab_sessions.max_by(&:sign_out_time).sign_out_time > Time.zone.now : false %>

            <td class="signed_in-cell" style="horizontal-alginment:center;">
              <%= time_ago_in_words(user.lab_sessions.max_by(&:sign_out_time).sign_out_time) + " ago at #{user.lab_sessions.last.space.name}" if lab_sessions %>
            </td>
            <%# Caching and avoiding unnecessary db calls %>
            <td class="status-cell">
if lab_sessions
                if signed_in
                  'Signed In'
                else
                  'Signed Out'
                end
              else
                'Signed Out'
              end %>
            </td>

            <td class="action-cell" >

if labSessions
                if signedIn
                  button_to fa_icon('times'), { controller: :staff_dashboard, action: :sign_out_users, dropped_users: [user.username] }, method: :put, class: 'btn btn-default x-button', remote: true
                else
                  button_to fa_icon('check'), { controller: :staff_dashboard, action: :sign_in_users, added_users: [user.username] }, method: :put, class: 'btn btn-default check-button', remote: true
                end
              else
                button_to fa_icon('check'), { controller: :staff_dashboard, action: :sign_in_users, added_users: [user.username] }, method: :put, class: 'btn btn-default check-button', remote: true
              end %>
            </td>

          </tr>
        <% end %>
        <br />
      </table>
      <br />
    <% else %>
      No results
    <% end %>
    <br /><br />

    <div class="table-responsive">
      <p id="user-count" class="text-center">Users inside <%= @space.name %>:  <%= @space.signed_in_users.count %></p>
      <div class="container text-center mx-auto">
        <%= link_to 'Sign Out All Users', staff_dashboard_sign_out_all_users_path, class: 'btn btn-secondary mx-auto text-center' %>
      </div>
      <table class="staff-users-table text-center mb-5 table table-striped" >
        <thead class="table-primary">
          <tr>
            <th class="name-header">Name
              <span onclick="sortTable('staff-users-table', 0)"><%= fa_icon('arrow-down') %></span></th>
            <th class="email-header">Email
              <span onclick="sortTable('staff-users-table', 1)"><%= fa_icon('arrow-down') %></span></th>
            <th class="name-header">Flagged?</th>
            <th class="certifications-header">Certifications in <%= @space.name %>
              <span onclick="sortTable('staff-users-table', 2)"><%= fa_icon('arrow-down') %></span></th>
            <th class="email-header"> # of visits <br> (Past 2
              months)<span onclick="sortTable('staff-users-table', 2)"><%= fa_icon('arrow-down') %></span></th>
            <th class="last-seen-header">Last Seen
              <span onclick="sortTable('staff-recent-users-table', 2)"><%= fa_icon('arrow-down') %></span></th>
            <th class="action-header">Sign Out of <%= @space.name %></th>
          </tr>
        </thead>
        <tbody id="table-js-signed-in">
        <% @space.signed_in_users.each do |user| %>
          <tr class="drop-rows">
            <td class="drop-username-cell">
              <%= link_to(tag.drop_username(user.name), user_url(user.username)) %>
            </td>
            <td class="email-cell">
              <%= user.email %>
            </td>
            <td>
                <%= render 'staff_dashboard/flag', staff_dashboard_user: user %>
                <% if user.flagged? %>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#flag_message_<%= user.id %>">See Flag</button>
                <% else %>
                    None
                <% end %>
            </td>
            <td class="certifications-cell">
              <% if user.certifications.first.present? %>
                <% user.certifications.each do |certification| %>
                  <div class="cert-name" style="display:inline" >
                    <div class="cert-holder" style="display:inline">
                      <%= certification.training.name %>
                      <div id="cert-details" style="display:inline">
                        <%= certification.training.name %> <br />
                        <%= certification.trainer %> <br />
                        <%= certification.updated_at.strftime('%B %d, %Y') %>
                      </div>
                      <br />
                    </div>
                  </div>
                <% end %>
              <% end %>
            </td>
            <td class="email-cell">
                <%= user.lab_sessions.where('space_id' => @space.id).where('created_at BETWEEN ? AND ? ', 2.months.ago, DateTime.now).count %>
            </td>
            <td class="sign_out_time-cell" style="horizontal-alginment:center;">
                <%= time_ago_in_words(user.lab_sessions.sort_by(&:sign_out_time).second_to_last&.sign_out_time) + " ago at #{user.lab_sessions.last.space.name}" if user.lab_sessions.second_to_last.present? %></td>
            </td>
            <td class="action-cell">
                <%= button_to fa_icon('times'), { controller: :staff_dashboard, action: :sign_out_users, dropped_users: [user.username] }, method: :put, class: 'btn btn-default x-button', remote: true %>
            </td>
          </tr>
        <% end %>
        <br />
        </tbody>
      </table>
      </div>
      <br />

    <br />

    <div class="table-responsive">
      <p class="text-center">Users recently signed out of <%= @space.name %></p>
      <table class="staff-recent-users-table text-center mb-5 table table-striped">
        <thead class="table-primary">
          <tr>
            <th class="name-header">Name
              <span onclick="sortTable('staff-newly-signed-up-users-table', 0)"><%= fa_icon('arrow-down') %></span></th>
            <th class="email-header">Email
              <span onclick="sortTable('staff-newly-signed-up-users-table', 1)"><%= fa_icon('arrow-down') %></span></th>
            <th class="last-seen-header">Last Seen
              <span onclick="sortTable('staff-recent-users-table', 2)"><%= fa_icon('arrow-down') %></span></th>
            <th class="action-header"><%= fa_icon('check') %>&nbsp; TO SIGN IN <br> <%= fa_icon('times') %>&nbsp; TO SIGN OUT</th>
          </tr>
        </thead>
        <%= render partial: 'signed_out_table', locals: { space: @space, all_user_certs: @all_user_certs, certifications_on_space: @certifications_on_space } %>
      </table>
    </div>
    <br>
  </div>
</section>
