<div class="my-4">
  <h1>My Unavailabilities</h1>
  <p>Add your schedule unavailabilities (classes, appointments, etc.) by clicking the button below or dragging on the calendar. Click on an event to delete or edit it. <%= link_to "View your work schedule here", "/staff/my_calendar", data: { turbo: true } %>.</p>
</div>

<div id="calendar_container">
  <button type="button" id="addUnavailabilityButton" class="btn btn-outline-primary my-4" data-bs-toggle="modal" data-bs-target="#unavailabilityModal">
    + Add Unavailability
  </button>

  <div id="calendar"></div>
</div>

<div id="spinner_container">
    <div id='spinner' class="spinner-border" role="status"></div>
</div>

<br>

<div class="my-3">
  <h4>Imported Unavailability Calendars</h4>
  <p>Paste in any ICS link (from Google Calendar, Outlook, Apple Calendar, etc.) to be used as your unavailabilities.</p>
  <%= form_with url: update_external_unavailabilities_staff_unavailabilities_path, method: :patch, local: false, html: { class: "useTurbo" } do |f| %>
    <div id="link-container">
      <% @external_unavailabilities.each_with_index do |calendar, i| %>
        <div class="d-flex mb-2 gap-1">
          <%= text_field_tag 'external_calendar[]', calendar.ics_url, { class: 'form-control', placeholder: 'Enter ICS URL...' } %>
          <button class="btn btn-danger calendar-delete-button ms-2" type="button">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      <% end %>
    </div>
    <button type="button" class="btn btn-outline-primary" id="new-calendar">New Calendar</button>
    <%= f.submit 'Save Calendars', class: 'btn btn-primary' %>
  <% end %>
  <%# template %>
  <div class="d-flex mb-2 gap-1" style="visibility: hidden;" id="new-link-input">
    <%= text_field_tag 'external_calendar[]', nil, { class: 'form-control', placeholder: 'Enter ICS URL...' } %>
    <button class="btn btn-danger calendar-delete-button ms-2" type="button">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>

<%= render 'form' %>

<style>
    #calendar_container {
        display: none;
    }

    #spinner_container {
        height: 50vh;
        display: grid;
        place-items: center;
    }

    .fc-event:not(.fc-event-mirror) {
        opacity: 0;
        transition: opacity 0.1s ease-in;
    }
    .fc-event.fade-in {
        opacity: 1;
    }
</style>