<section class="page-contents" id="all-get-involved">
  <div class="container">
    <!-- Header Section -->
    <div class="text-center">
      <h2 class="fw-bold">
        <%= t('all_get_involved.info.header') %>
      </h2>
      <p>
        <%= t('all_get_involved.info.overview') %>
      </p>
    </div>
    <hr />

    <!-- Workshops Section -->
    <div class="text-center">
      <h4 class="fw-bold"><%= t('all_get_involved.workshops.header') %></h4>
      <p>
        <%= t('all_get_involved.workshops.overview') %>
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
       <%= image_tag('redesign/all_get_involved/image 22.png', class: 'img-fluid', alt: 'Workshop 1') %>
        <h5 class="text-center"><%= t('all_get_involved.workshops.sections.workshop_1.header') %></h5>
        <p class="text-center"><%= t('all_get_involved.workshops.sections.workshop_1.overview') %></p>
        <div class="text-center"><button class="btn btn-primary">Sign Up</button></div>
      </div>
      <div class="col-md-6 mb-4">
       <%= image_tag('redesign/all_get_involved/image 22-5.png', class: 'img-fluid', alt: 'Workshop 2') %>
        <h5 class="text-center"><%= t('all_get_involved.workshops.sections.workshop_2.header') %></h5>
        <p class="text-center"><%= t('all_get_involved.workshops.sections.workshop_2.overview') %></p>
        <div class="text-center"><button class="btn btn-primary">Sign Up</button></div>
      </div>
    </div>
    <hr />

    <!-- Programs Section -->
    <div class="text-center">
      <h4 class="fw-bold"><%= t('all_get_involved.programs.header') %></h4>
      <p>
        <%= t('all_get_involved.programs.overview') %>
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
         <%= image_tag('redesign/all_get_involved/image 22-2.png', class: 'img-fluid', alt: 'Program 1') %>
        <h5 class="text-center"><%= t('all_get_involved.programs.sections.program_1.header') %></h5>
        <p class="text-center"><%= t('all_get_involved.programs.sections.program_1.overview') %></p>
        <div class="text-center"><button class="btn btn-primary">Sign Up</button></div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <%= image_tag('redesign/all_get_involved/image 22-1.png', class: 'img-fluid', alt: 'Program 2') %>
        <h5 class="text-center"><%= t('all_get_involved.programs.sections.program_2.header') %></h5>
        <p class="text-center"><%= t('all_get_involved.programs.sections.program_2.overview') %></p>
        <div class="text-center"><button class="btn btn-primary">Sign Up</button></div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <%= image_tag('redesign/all_get_involved/image 22-3.png', class: 'img-fluid', alt: 'Program 3') %>
        <h5 class="text-center"><%= t('all_get_involved.programs.sections.program_3.header') %></h5>
        <p class="text-center"><%= t('all_get_involved.programs.sections.program_3.overview') %></p>
        <div class="text-center"><button class="btn btn-primary">Sign Up</button></div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <%= image_tag('redesign/all_get_involved/image 22-4.png', class: 'img-fluid', alt: 'Program 4') %>
        <h5 class="text-center"><%= t('all_get_involved.programs.sections.program_4.header') %></h5>
        <p class="text-center"><%= t('all_get_involved.programs.sections.program_4.overview') %></p>
        <div class="text-center"><button class="btn btn-primary">Sign Up</button></div>
      </div>
    </div>
    <hr />

    <!-- What's Next Section -->
    <div class="text-center">
      <h4 class="fw-bold"><%= t('all_get_involved.next.title') %></h4>
      <p>
        <%= t('all_get_involved.next.subtitle.part_1') %><%= t('all_get_involved.next.subtitle.part_2') %>
      </p>
      <p>
        <%= t('all_get_involved.next.overview') %>
      </p>
    </div>
    <hr />

    <!-- Team Space Section -->
<div class="text-center" style="background-image: url('<%= asset_path('redesign/all_get_involved/image 26.png') %>'); background-size: cover; background-position: center; width: 100%; padding: 50px 0; color: white;">
  <h4 class="fw-bold"><%= t('all_get_involved.team.title') %></h4>
  <p>
    <%= t('all_get_involved.team.overview') %>
  </p>
</div>
<hr />

 <!-- Bottom Section -->
<div class="text-center" style="background-color: #f8f9fa; padding: 50px 0;">
  <p>
    <%= t('all_get_involved.bottom.overview') %>
  </p>
  <p class="fw-bold">
    <%= t('all_get_involved.bottom.quote') %>
  </p>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="<%= asset_path('redesign/all_get_involved/Rectangle 101.png') %>" class="img-fluid" alt="About teams">
        <p>About teams</p>
      </div>
      <div class="col-md-4">
        <img src="<%= asset_path('redesign/all_get_involved/Rectangle 102.png') %>" class="img-fluid" alt="Follow our socials">
        <p>Follow our socials</p>
      </div>
      <div class="col-md-4">
        <img src="<%= asset_path('redesign/all_get_involved/Rectangle 99.png') %>" class="img-fluid" alt="Join a team">
        <p>Join a team</p>
      </div>
    </div>
  </div>
</div>

