<% begin %>
  <% if @acclaim_data.present? %>
    <div class="row">
      <% @acclaim_data.each do |badges| %>
        <% begin %>
          <div class="col-md-3 border-bottom">
            <% if badges.badge_url.present? %>
              <a target="_blank" class="w-100" href="<%= @acclaim_badge_url + badges.acclaim_badge_id %>">
                <%= image_tag(badges.badge_template.image_url, style: 'width: inherit', alt: 'Badge') %>
              </a>
            <% else %>
              <%= image_tag(badges.badge_template.image_url, alt: 'Badge', class: 'w-100', :style => 'width: inherit', 'data-bs-toggle' => 'modal', 'data-bs-target' => '#pending_modal') %>
            <% end %>
            <p class="text-center"><%= badges.badge_template.badge_name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <% elsif @repo_user.eql?(@user) %>
    <p>You don't have any badges.</p>
    <%= link_to 'Get a badge from the learning area', learning_area_index_path %>
    <% else %>
    <p>No badges to show...</p>
    <%= link_to 'What is a badge?', development_programs_path %>
  <% end %>
<% end %>
