<% if @user.admin? %>
  <div class="mb-3 text-center">
    <%= link_to 'See Demotions', demotions_admin_certifications_path, class: 'btn btn-primary' %>
  </div>
<% end %>
<table class="table table-striped text-center">
  <tr>
    <th>TRAINING</th>
    <th>TRAINER</th>
    <th>CREATED ON</th>
    <% if current_user.admin? %>
      <th>ACTION</th>
    <% end %>
  </tr>
  <% @repo_user.certifications.highest_certifications(@repo_user.id).each do |certification| %>
    <td>
        <% if current_user.admin? %>
            <%= link_to certification.training.name, staff_training_session_path(certification.training_session) %>
        <% else %>
            <%= certification.training.name %>
        <% end %>
        <br />
        <%= certification_status(certification.training_session.level).html_safe %>
    </td>
    <td>
      <%= certification.trainer %>
    </td>
    <td>
      <%= if @user.admin? || (@user.name == certification.trainer)
            link_to certification.created_at.strftime('%B %d, %Y'), staff_training_session_path(id: certification.training_session.id), style: 'text-decoration:underline;'
          else
            certification.created_at.strftime('%B %d, %Y')
          end %>
    </td>
        <% if @user.admin? || (@user==certification.training_session.user) %>
          <td class="action-cell">
            <a data-bs-toggle="modal" data-bs-target="#modal-window" data-remote="true"
              href="<%= open_modal_admin_certifications_path(id: certification.id) %>"
              class="btn btn-danger d-block w-100 btn-sm">Demote</a>
          </td>
        <% end %>
        </tr>
 <% end %>
</table>
