<% if @user.admin? %>
  <div class="mb-3 text-center">
    <%= link_to 'See Demotions', demotions_admin_certifications_path, class: 'btn btn-primary' %>
  </div>
<% end %>
<table class="table table-striped text-center">
  <thead>
  <tr>
    <th>TRAINING</th>
    <th>TRAINER</th>
    <th>CREATED ON</th>
    <% if @user.admin? %>
      <th>ACTION</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <% @repo_user.certifications.highest_certifications(@repo_user.id).each do |certification| %>
      <% unless certification.nil? %>
        <tr>
          <td class="align-middle">
            <br />
            <a target="_blank" href="/badges/<%= certification.id %>">
              <%= render "badges/badge_icon", width: 200, height: 200, level: certification.level, name: certification.training.localized_name, skill: certification.training.skill_id %>
            </a>
          </td>
          <td class="align-middle">
            <%= certification.trainer %>
          </td>
          <td class="align-middle">
            <% if @user.admin? || (@user.name == certification.trainer && @user.role != "regular_user") %>
              <% if certification.training_session.present? %>
                <%= link_to certification.created_at.strftime('%B %d, %Y'), staff_training_session_path(id: certification.training_session.id), style: 'text-decoration:underline;' %>
              <% else %>
                <%= link_to certification.created_at.strftime('%B %d, %Y'), staff_proficient_project_session_path(id: certification.proficient_project_session.id), style: 'text-decoration:underline;' %>
              <% end %>
            <% else %>
              <%= certification.created_at.strftime('%B %d, %Y') %>
            <% end %>
          </td>
          <% if @user.admin? || (@user.name == certification.trainer && @user.role != "regular_user") %>
            <td class="action-cell align-middle">
              <a data-bs-toggle="modal" data-bs-target="#modal-window"
                href="<%= open_modal_admin_certifications_path(id: certification.id) %>"
                class="btn btn-danger d-block w-100 btn-sm demote-button">Demote</a>
            </td>
          <% end %>
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>

<!-- Manually handles AJAX functionality that isn't working, not sure if good workaround in the long run but it works --->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.demote-button').forEach(function(button) {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('href');

                fetch(url, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Accept': 'text/javascript',
                    }
                }).then(response => response.text())
                    .then(data => {
                        eval(data);
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    });
</script>
