<div class="row mb-1">
  <div class="col-md-6">
    <label>Username</label>
  </div>
  <div class="col-md-6">
    <label class="right-side">
      <%= @repo_user.username %>
    </label>
  </div>
</div>
<div class="row mb-1">
  <div class="col-md-6">
    <label>Name</label>
  </div>
  <div class="col-md-6">
    <label class="right-side">
      <%= @repo_user.name %>
    </label>
  </div>
</div>
<% if @user.staff? %>
    <div class="row mb-1">
      <div class="col-md-6">
        <label>Email</label>
      </div>
      <div class="col-md-6">
        <label class="right-side">
          <%= @repo_user.email %>
        </label>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-6">
        <label>Faculty</label>
      </div>
      <div class="col-md-6">
        <label class="right-side">
          <%= @repo_user.faculty.presence || '-' %>
        </label>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-6">
        <label>Program</label>
      </div>
      <div class="col-md-6">
        <label class="right-side">
          <%= @repo_user.program.presence || '-' %>
        </label>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-6">
        <label>Year of study</label>
      </div>
      <div class="col-md-6">
        <label class="right-side">
          <%= @repo_user.year_of_study.presence || '-' %>
        </label>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-6">
        <label>Identity</label>
      </div>
      <div class="col-md-6">
        <label class="right-side">
          <%= @repo_user.identity.present? ? @repo_user.identity.capitalize : '-' %>
        </label>
      </div>
    </div>
<% end %>
