<div class="tab-pane fade" id="admin-quick-access" role="tabpanel" aria-labelledby="admin-quick-access-pill">
  <p>Current Quick Access Paths:</p>
  <% QuickAccessLink.where(user_id: current_user).find_each do |quick_access| %>
    <div class="row">
      <%= form_with url: quick_access_links_update_path(quick_access.id, anchor: 'admin-quick-access'), method: 'post', controller: 'quick_access_links', class: 'col-md-10' do %>
        <div class="input-group mb-1">
          <label class="input-group-text" for="name">Name</label>
          <%= text_field_tag :name, quick_access.name, class: 'form-control' %>
          <label class="input-group-text" for="path">Path</label>
          <%= text_field_tag :path, quick_access.path, class: 'form-control' %>
          <%= submit_tag 'Change', class: 'btn btn-success' %>
        </div>
      <% end %>
      <div class="col-md-1">
        <hr />
      </div>
      <div class="col-md-1">
        <%= button_to 'Delete', quick_access_links_delete_path(quick_access), method: 'delete', controller: 'quick_access_links', class: 'btn btn-danger form-control' %>
      </div>
    </div>
  <% end %>
  <p>New Quick Access Path:</p>
  <%# Add the anchor in the POST request, so it gets preserved on redirect %>
  <%= form_with url: quick_access_links_create_path(anchor: 'admin-quick-access'), method: 'post', controller: 'quick_access_links', class: 'col-md-10' do %>
    <div class="input-group mb-1">
      <label class="input-group-text" for="name">Name</label>
      <%= text_field_tag :name, nil, class: 'form-control' %>
      <label class="input-group-text" for="path">Path</label>
      <%= text_field_tag :path, nil, class: 'form-control' %>
      <%= submit_tag 'Create', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
