<div class="tab-pane fade" id="admin-rename" role="tabpanel" aria-labelledby="admin-rename-pill">
    <%= form_with url: rename_user_admin_users_path, method: :patch, autocomplete: :off do |f| %>
        <%= f.hidden_field :id, value: @repo_user.id %>
        <div class="input-group">
            <%= f.label :rename, 'Rename user to:', class: 'input-group-text' %>
            <%= f.text_field :rename, placeholder: @repo_user.username, autocomplete: :off, class: 'form-control' %>
            <%= f.submit 'Update username', class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>
