<div class="row mb-1">
  <div class="col-md-6">
    <label>Current role</label>
  </div>
  <div class="col-md-6">
    <label class="right-side">
      <%= @repo_user.role.gsub('_', ' ').capitalize %>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label>Update Role</label>
  </div>
  <div class="col-md-6 float-end">
    <%= form_tag set_role_admin_users_path(@user, id: @repo_user.id), method: :patch do %>
      <div class="mb-4">
        <%= radio_button_tag :role, 'admin', @repo_user.admin?, class: 'form-check-input role-button' %>
        <%= label_tag :role_admin, 'Admin', class: 'form-label' %> <br />
        <%= radio_button_tag :role, 'staff', @repo_user.staff? && !@repo_user.admin?, class: 'form-check-input role-button' %>
        <%= label_tag :role_staff, 'Staff', class: 'form-label' %> <br />
        <%= radio_button_tag :role, 'regular_user', !(@repo_user.staff? || @repo_user.admin?), class: 'form-check-input role-button' %>
        <%= label_tag :role_regular, 'Regular', class: 'form-label' %> <br />
      </div>

      <div class="field form-group mb-3" id="staff-space-changer" style="display: <%= @repo_user.staff? ? 'block' : 'none' %>;">
        <div class="checkbox-inline">
          <% @space_list.each do |space| %>
            <%= check_box_tag 'space[]', space.id, @staff_spaces.include?(space.id), class: 'form-check-input' %>
            <%= label_tag 'space[]', space.name %>
            <br>
          <% end %>
        </div>
      </div>

      <%= submit_tag 'Update', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
