<% @skills.each do |skill| %>
    <details>
        <summary><%= skill.name %></summary>
        <% skill.trainings.each do |training| %>
            <details>
                <summary>
                    <span><%= training.localized_name %></span>
                    <span><%= training_status(training.id, @repo_user.id) %></span>
                </summary>

                <% if training.description.present? %>
                    <p>
                        <%= training.description %>
                    </p>
                <% end %>

                <% badge = @repo_user.highest_badge(training) %>
                <% unless badge.nil? %>
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <a style="width: 100px;" class="mx-auto d-block" target="_blank" href="./badges/<%= badge.id %>">
                                <%= render "badges/badge_icon", width: 100, height: 100, margin: "auto", display: "block",
                                           level: badge.level, name: badge.training.localized_name, skill: badge.get_skill_id %>
                            </a>
                        </div>
                        <div class="col-lg-8 my-auto">
                            <b><%= badge.training.localized_name %>:</b>
                            <%= badge.training.description %>
                        </div>
                        <div class="col-12 pt-2">
                            <p>Skills Acquired: <b><%= badge.training.list_of_skills %></b></p>
                        </div>
                    </div>
                <% end %>

                <p>Proficient projects awarded: <%= @proficient_projects_awarded.call(training).count %></p>
                <p>Learning modules completed: <%= @learning_modules_completed.call(training).count %></p>
                <p>Recommended hours before moving on: <%= @recomended_hours.call(training, return_levels(training.id, @repo_user.id)) %></p>
            </details>
        <% end %>
    </details>
<% end %>
