<div>
  <% if @staff_cert.nil? %>
    <%= @user.eql?(@repo_user) ? 'You have' : 'This user has' %> no staff certifications

    <%= button_to 'Create Staff Certification', staff_certifications_path, method: :post, class: 'btn btn-success mt-3' if @user.eql?(@repo_user) %>
  <% else %>
    <div>
      <% if @user.eql?(@repo_user) %>
        <%= form_with url: staff_certification_path(@staff_cert.id), method: :patch do |f| %>
          <div>
            <div class="mb-4">
              <h5 class="mb-3">Staff Certifications: (<%= @staff_cert.get_staff_certs_attached %>/<%= StaffCertification::NUMBER_OF_STAFF_FILES %>)</h5>

              <% (1..StaffCertification::NUMBER_OF_STAFF_FILES).each do |i| %>
                <div class="mb-3">
                  <%= f.label "pdf_file_#{i}", "#{StaffCertification.file_number_to_name(i).gsub('-', ' ').humanize} - #{@staff_cert.send("pdf_file_#{i}").attached? ? 'Attached' : 'Not Attached'}", class: 'form-label mb-1' %>
                  <br><a href="<%= StaffCertification.file_number_to_url(i) %>"><%= StaffCertification.file_number_to_url(i) %></a>
                  <%= f.file_field "pdf_file_#{i}", multiple: false, class: 'form-control w-50 mt-2' %>
                </div>
              <% end %>
            </div>

            <div class="mb-4">
              <h5>Supervisor Certifications: (<%= @staff_cert.get_supervisor_certs_attached %>/<%= StaffCertification::TOTAL_NUMBER_OF_FILES - StaffCertification::NUMBER_OF_STAFF_FILES %>)</h5>

              <% ((StaffCertification::NUMBER_OF_STAFF_FILES + 1)..StaffCertification::TOTAL_NUMBER_OF_FILES).each do |i| %>
                <div class="mb-3">
                  <%= f.label "pdf_file_#{i}", "#{StaffCertification.file_number_to_name(i).gsub('-', ' ').humanize} - #{@staff_cert.send("pdf_file_#{i}").attached? ? 'Attached' : 'Not Attached'}", class: 'form-label mb-1' %>
                  <br><a href="<%= StaffCertification.file_number_to_url(i) %>"><%= StaffCertification.file_number_to_url(i) %></a>
                  <%= f.file_field "pdf_file_#{i}", multiple: false, class: 'form-control w-50 mt-2' %>
                </div>
              <% end %>
            </div>

            <%= f.submit 'Save', class: 'btn btn-success' %>
          </div>
        <% end %>
      <% else %>
        <div class="mb-4">
          <h5 class="mb-3">Staff Certifications: (<%= @staff_cert.get_staff_certs_attached %>/<%= StaffCertification::NUMBER_OF_STAFF_FILES %>)</h5>
        </div>

        <div>
          <h5>Supervisor Certifications: (<%= @staff_cert.get_supervisor_certs_attached %>/<%= StaffCertification::TOTAL_NUMBER_OF_FILES - StaffCertification::NUMBER_OF_STAFF_FILES %>)</h5>
        </div>
      <% end %>

      <%= link_to 'View Staff Certifications', staff_certification_path(@staff_cert.id), class: 'mt-4 btn btn-primary' %>
    </div>
  <% end %>
</div>