<% provide(:title, "Settings") %>

<%= form_for @user, url: user_path(@user.username), method: :patch do |f| %>

  <div class="edit-column">
    <div class="setting-title">Edit Profile<br>Modifier ton Profile</div>
    <div class="section-desc">
      Public information<br>Information Publique<br>
      <span>This information will be visible to anyone viewing your profile.<br>Cette information va être visible par quiconque qui regarde ton profile</span>
    </div>

    <%= f.label :avatar, "Profile Picture<br>Photo de Profile".html_safe, class: "profile-label" %>


    <div class="avatar-column">
      <%= image_tag @user.avatar.url, class: 'edit-avatar' %>
      <label class="custom-file-upload">
        <%= f.file_field :avatar %>
        Choose new image<br>Choisi une nouvelle image
      </label>
    </div>

    <%= f.label :name, "Full Name/Nom", class: "profile-label" %>
    <%= content_tag :span, @user.errors[:name].first, class: 'form-error' %>
    <%= f.text_field :name, class: "profile-text", autofocus: true %>

    <%= f.label :url, "URL", class: "profile-label" %>
    <%= f.url_field :url, class: "profile-text" %>

    <% unless @user.read_and_accepted_waiver_form %>
    <br><br>


        <div><div id="read_and_accepted_waiver_form" style="font-weight:bold;" > <%= "I agree to this waiver:"%></div>
          <label style="font-size:0.7em">
            scroll down and click <span id = "required" style="font-weight:bold;">I Agree</span>
          </label><br></br>
          <div class="waiver-form-outer">
            <label class="waiver-form-inner">
                I the undersigned understand that there are many inherent risks to working in a machine workshop, such as the
                Brunsfield Centre and Manufacturing Training Centre, therefore I agree to and state the following:<br><br>
                1. I acknowledge that I have taken the specific training courses outlined below that, are offered by the Centre
                for Entrepreneurship Engineering and Design's Manufacturing Training Centre and/or Brunsfield Centre.
                The Rules for the safe operation of these tools and equipment were explained to me in the respective
                training courses. I have read and understood all the rules as they were presented to me, and that I will keep
                up to date on these rules and policies. I also understand that failure to comply with these rules and policies
                or failure to work safely within the supervision of CEED staff may result in nullification of my privileges
                to work in the Brunsfield Centre or be trained in the Manufacturing Training Centre.<br><br>
                2. I agree that when I am faced with unfamiliar operation or non-conforming operation of machinery, that I
                will consult the staff and/or trainer responsible for me during my use of said equipment.<br><br>
                3. I accept the inherent risks of working in a workshop and utilizing heavy machinery as well as my
                responsibility for my own safety as well as others around me. This may include but is not limited to: injury,
                loss of property, damage of property as a result my use or misuse of the equipment, or failure of said
                equipment.
                <br>
             <span id = "required" style="float:right;padding-right:5px;font-weight:bold;">I Agree</span>
            <%= f.check_box :read_and_accepted_waiver_form, :style => "float:right;", :onclick => "showCreateButton()" %>
            <%= content_tag :span, @new_user.errors[:read_and_accepted_waiver_form].first, class: 'form-error' %>
            </label>
          </div>
        </div>
        <br>
        
    <% end %>

    <% if @user.identity == "unknown" %>

    <section id="old_users">
        <p id="intro"> <strong>MakerRepo has been updated and the users who've already had an account have to update their information.<br>
           Please fill in the form below and click Save. </strong> </p>

        <%= f.label :identity, "I am a ..." , class: "profile-label" %>
        <%= content_tag :span, @user.errors[:identity].first, class: 'form-error' %>
        <%= f.select :identity, ["grad", "undergrad", "faculty_member", "community_member"] , prompt: "Choose..." %><br><br>

        <p> If you are <strong>not</strong> a <strong> student </strong>, you can ignore the rest of the form and click Save. </p>
        <p> If you <strong>are</strong> a student (grad/undergrad) it is mandatory for you to answer the questions below. </p>

        <%= f.label :student_id , "Student Number (must be 7 characters)" , class: "profile-label"%>
        <%= content_tag :span, @user.errors[:student_id].first, class: 'form-error' %>
        <%= f.text_field :student_id, class: "profile-text", autofocus: true %>

        <%= f.label :faculty , "Faculty" , class: "profile-label" %>
        <%= content_tag :span, @user.errors[:faculty].first, class: 'form-error' %>
        <%= f.select :faculty, ["Arts","Civil Law", "Common Law", "Education","Engineering", "Health Sciences","Medicine","Science"," Social Sciences","Telfer school of Management"] , prompt: "Choose..." %><br><br>

        <p> # should load the list of programs </p>
        <%= f.label :program, "Program" , class: "profile-label" %>
        <%= content_tag :span, @user.errors[:program].first, class: 'form-error' %>
        <%= f.select(:program, ["program"] , {prompt: "Choose..."} , {:class => "programs", :id => "options"}) %><br><br>

        <%= f.label :year_of_study, "What year are you in?", class: "profile-label"  %>
        <%= content_tag :span, @user.errors[:year_of_study].first, class: 'form-error' %>
        <%= f.select :year_of_study, ["1", "2", "3","4","5"] , prompt: "Select a year ..." %><br><br>
      </section>
    <% end %>
    <br><br>


<!--     <%= f.label :description, class: "profile-label" %>
    <%= content_tag :span, @user.errors[:description].first, class: 'form-error' %>
    <%= f.text_area :description, class: "profile-text" %>    -->

    <%= f.submit "Save/Enregistrer", class: "save-button" %>

    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div id="alert"><%= flash[:alert] %></div>
    <% end %>

  </div>

<% end %>
