<% provide(:title, "Settings") %>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for @user, url: user_path(@user.username), method: :patch do |f| %>

  <div class="edit-column">
    <div class="setting-title">Edit Profile</div>
    <div class="section-desc">
      Public information<br>
      <span>This information will be visible to anyone viewing your profile.</span>
    </div>

    <%= f.label :avatar, "Profile Picture", class: "profile-label" %>
    
    <div class="avatar-column">
      <%= image_tag @user.avatar.url, class: 'edit-avatar' %>
      <label class="custom-file-upload">
        <%= f.file_field :avatar %>
        Choose new image
      </label>
    </div>

    <%= f.label :name, "Name", class: "profile-label" %>
    <%= content_tag :span, @user.errors[:name].first, class: 'form-error' %>
    <%= f.text_field :name, class: "profile-text", autofocus: true %>

    <%= f.label :email, class: "profile-label" %>
    <%= content_tag :span, @user.errors[:email].first, class: 'form-error' %>
    <%= f.email_field :email, class: "profile-text" %> 

    <%= f.label :location, class: "profile-label" %>
    <%= f.text_field :location, class: "profile-text" %> 

    <%= f.label :url, "URL", class: "profile-label" %>
    <%= f.url_field :url, class: "profile-text" %> 

<!--     <%= f.label :description, class: "profile-label" %>
    <%= content_tag :span, @user.errors[:description].first, class: 'form-error' %>
    <%= f.text_area :description, class: "profile-text" %>    -->

    <%= f.submit "Save", class: "save-button" %>

  </div>

<% end %>
