<div class="table-responsive">
  <table class="table table-striped sessions-table-2">
  <thead class="table-primary">
    <tr>
      <th>Date Submitted <span onclick="sortTable('sessions-table-2', 0)"><%= fa_icon('arrow-down') %></span></th>
      <th>Date Updated <span onclick="sortTable('sessions-table-2', 1)"><%= fa_icon('arrow-down') %></span></th>
      <th>CC/Hours<span onclick="sortTable('sessions-table-2', 2)"><%= fa_icon('arrow-down') %></span></th>
      <th>Task<span onclick="sortTable('sessions-table-2', 3)"><%= fa_icon('arrow-down') %></span></th>
      <th>User<span onclick="sortTable('sessions-table-2', 4)"><%= fa_icon('arrow-down') %></span></th>
      <th>Status<span onclick="sortTable('sessions-table-2', 5)"><%= fa_icon('arrow-down') %></span></th>
      <!--            <th class="action-header">Action</th>-->
    </tr>
</thead >
    <tbody>
    <%= will_paginate @processed_volunteer_task_requests, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <% @processed_volunteer_task_requests.each do |vtr| %>
      <tr>
        <td>
          <%= vtr.created_at.strftime('%Y-%m-%d') %>
          <br>
          <%= vtr.created_at.strftime('%I:%M %p').downcase %>
        </td>

        <td>
          <%= vtr.updated_at.strftime('%Y-%m-%d') %>
          <br>
          <%= vtr.updated_at.strftime('%I:%M %p').downcase %>
        </td>

        <td>
          <%= image_tag('cc.png', alt: 'CC', class: 'ccs hidden', id: 'myCcBlack') %>
          <%= vtr.volunteer_task.cc %>
          <br/>
          <%= vtr.volunteer_task.hours %> hours
        </td>

        <td>
          <%= link_to vtr.volunteer_task.title, volunteer_task_path(vtr.volunteer_task.id) %>
        </td>

        <td>
          <%= link_to vtr.user.name, user_path(vtr.user.username) %>
        </td>

        <td>
          <%= vtr.status %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>