<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Your Requests</h2>

    <h5>Total requests: <b><%= @volunteer_task_requests.count %></b></h5>
    <h5>Pending requests: <b><%= @pending_volunteer_task_requests.count %></b></h5>
    <h5>Total requests completed: <b><%= @processed_volunteer_requests.count %></b></h5>
    <br />
    <% if !@pending_volunteer_task_requests.not_processed.blank? %>

      <h5>Pending Requests</h5>

      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

      <br />

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Task<span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Status<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
<!--            <th class="action-header">Action</th>-->
          </tr>

          <tbody>
          <%= will_paginate @pending_volunteer_task_requests, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% @pending_volunteer_task_requests.each do |vtr| %>
            <tr>
              <td>
                <%= vtr.created_at.strftime("%b %e %Y") %>
                <br>
                <%= vtr.created_at.strftime("%I:%M %p").downcase() %>
              </td>

              <td class = "username">
                <%= link_to vtr.volunteer_task.title.capitalize, volunteer_task_path(vtr.volunteer_task.id) %>
              </td>

              <td>
                Waiting for approval
              </td>

<!--              <td class="action-cell">-->
                <%#= link_to (fa_icon('times')), {controller: :volunteer_requests, action: :update_approval, id: vr.id,  approval: false}, method: :put, class: 'x-button' %>
                <%#= link_to (fa_icon('check')), {controller: :volunteer_requests, action: :update_approval, id: vr.id,  approval: true}, method: :put, class: 'check-button' %>
<!--              </td>-->


<!--              <td class="action-cell">-->
<!--                <%#=link_to "Show", volunteer_request_path(vr.id), class:"btn-block download-button mt-0 mr-0" %> <br /> <br />-->
<!--              </td>-->

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <div class="m-5">
        🎉 No pending Requests! 🎉
      </div>
      <% end %>

     <% if !@processed_volunteer_task_requests.blank? %>

      <h5>Processed Requests</h5>

      <input type="text" id="query-2" onkeyup="findSession('sessions-table-2', 'query-2')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

      <div class="table-responsive">
        <table class="table sessions-table-2">

          <tr>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Task<span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Status<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <!--            <th class="action-header">Action</th>-->
          </tr>

          <tbody>
          <%= will_paginate @processed_volunteer_task_requests, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% @processed_volunteer_task_requests.each do |vtr| %>
            <tr>
              <td>
                <%= vtr.created_at.strftime("%b %e %Y") %>
                <br>
                <%= vtr.created_at.strftime("%I:%M %p").downcase() %>
              </td>

              <td class = "username">
                <%= link_to vtr.volunteer_task.title.capitalize, volunteer_task_path(vtr.volunteer_task.id) %>
              </td>

              <td>
                Waiting for approval
              </td>

              <!--              <td class="action-cell">-->
              <%#= link_to (fa_icon('times')), {controller: :volunteer_requests, action: :update_approval, id: vr.id,  approval: false}, method: :put, class: 'x-button' %>
              <%#= link_to (fa_icon('check')), {controller: :volunteer_requests, action: :update_approval, id: vr.id,  approval: true}, method: :put, class: 'check-button' %>
              <!--              </td>-->


              <!--              <td class="action-cell">-->
              <!--                <%#=link_to "Show", volunteer_request_path(vr.id), class:"btn-block download-button mt-0 mr-0" %> <br /> <br />-->
              <!--              </td>-->

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-5">
        No Completed Requests.
      </div>
    <% end %>
  </div>
</section>
