<section class="page-contents">
  <div class="text-center">

    <% current_user.staff? ? title = "Requests" : title = "Your Requests" %>
    <h2 class="fw-bold"><%= title %></h2>

    <h5>Total requests: <b><%= @volunteer_task_requests.count %></b></h5>
    <h5>Pending requests: <b><%= @pending_volunteer_task_requests.count %></b></h5>
    <h5>Total requests completed: <b><%= @processed_volunteer_task_requests.count %></b></h5>
    <br/>
    <% if !@pending_volunteer_task_requests.not_processed.blank? %>

      <h5>Pending Requests</h5>

      <div class="by-5">
        <%= form_tag(volunteer_task_requests_path, method: :get) do %>
          <div class="w-auto d-inline-block">
            <%= text_field_tag(:search_pending, "", placeholder: "Search by Name, Task ...", class: 'form-control col-md-4 search_bar_pending') %>
          </div>
        <% end %>
      </div>

      <br/>

      <div class="pending-requests">
        <%= render 'volunteer_task_requests/pending_requests' %>
      </div>


  <% else %>
      <div class="m-5">
        🎉 No pending Requests! 🎉
      </div>
    <% end %>

    <% if !@processed_volunteer_task_requests.blank? %>

      <h5>Processed Requests</h5>

      <div class="by-5">
        <%= form_tag(volunteer_task_requests_path, method: :get) do %>
          <div class="w-auto d-inline-block">
            <%= text_field_tag(:search_processed, "", placeholder: "Search by Name, Task ...", class: 'form-control col-md-4 search_bar_processed') %>
          </div>
        <% end %>
      </div>

      <br>

      <div class="processed-requests">
        <%= render 'processed_requests' %>
      </div>

    <% else %>
      <div class="m-5">
        No Completed Requests.
      </div>
    <% end %>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
    let pending_search = document.getElementById("search_pending");
    pending_search.addEventListener("keyup",()=>{
      if (pending_search.value.length < 0 ){pending_search.value = ''}
      fetch('/volunteer_task_requests/search_pending?search_pending='+pending_search.value,
      {
        method: 'GET',
        headers: {
          'Accept':'*/*'
        }
      }).then(response => response.text()).then(data => {
        document.querySelector('.pending-requests').innerHTML = data;
      });
    })
    let processed_search = document.getElementById("search_processed");
    processed_search.addEventListener("keyup",()=>{
      if (processed_search.value.length < 0 ){processed_search.value = ''}
      fetch('/volunteer_task_requests/search_processed?search_processed='+processed_search.value,
      {
        method: 'GET',
        headers: {
          'Accept':'*/*'
        }
      }).then(response => response.text()).then(data => {
        document.querySelector('.processed-requests').innerHTML = data;
      });
    })
</script>