<% provide(:title, "Orders") %>

<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <h2>Your Orders</h2>
      </div>
    </div>
    <div class="text-center">
      <% if !@orders.present? %>
        <p class="text-center">
          You have no orders. Please check our <%= link_to "projects", proficient_projects_path(proficiency: true), class: "text-info" %> and add some items to your cart.
        </p>
      <% else %>
        <div class="apple_pagination">
          <%= page_entries_info @orders, :model => 'order' %>
          <%= will_paginate @orders, :container => false %>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">

            <tr>
              <th>Product/Quantity</th>
              <th>Date</th>
              <th>Subtotal</th>
              <th>Order Status</th>
              <th>Badge Status</th>
              <th>Total</th>
            </tr>

            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td>
                    <% order.order_items.each do |order_item| %>
                      <p><b><%= link_to order_item.proficient_project.title, proficient_project_path(order_item.proficient_project.id) %></b> / <%= order_item.quantity %></p>
                    <% end %>
                  </td>
                  <td><p><%= order.created_at.strftime("%Y/%m/%d") %></p></td>
                  <td><p><%= order.subtotal %></p></td>
                  <td><p><%= order.order_status.name %></p></td>
                  <td>
                    <% order.order_items.each do |order_item| %>
                      <p><%= order_item.status %></p>
                      <% badge_template = order_item.proficient_project.badge_template %>
                      <p><%= badge_template.badge_name if badge_template.present? %></p>
                    <% end %>
                  </td>
                  <td><p><%= order.total %></p></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
    <% if current_user.admin? %>
      <hr>
      <div class="row">
        <div class="col-lg-12 text-center mb-4">
          <h2>All Orders</h2>
        </div>
      </div>
      <div class="text-center">
        <% if !@all_orders.present? %>
          <p class="text-center">
            No orders were made.
          </p>
        <% else %>
          <div class="apple_pagination">
            <%= page_entries_info @all_orders, :model => 'order' %>
            <%= will_paginate @all_orders, :container => false %>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">

              <tr>
                <th>User</th>
                <th>Product/Quantity</th>
                <th>Date Updated</th>
                <th>Subtotal</th>
                <th>Order Status</th>
                <th>Badge Status</th>
                <th>Total</th>
                <th>Action</th>
              </tr>

              <tbody>
              <% @all_orders.each do |order| %>
                <tr>
                  <td class="username"><p> <%= link_to order.user.username, order.user.username %></p></td>
                  <td>
                    <% order.order_items.each do |order_item| %>
                      <p><b><%= link_to order_item.proficient_project.title, proficient_project_path(order_item.proficient_project.id) %></b> / <%= order_item.quantity %></p>
                    <% end %>
                  </td>
                  <td><p><%= order.created_at.strftime("%Y/%m/%d") %></p></td>
                  <td><p><%= order.subtotal %></p></td>
                  <td><p><%= order.order_status.name %></p></td>
                  <td>
                    <% order.order_items.each do |order_item| %>
                      <p><%= order_item.status %></p>
                      <% badge_template = order_item.proficient_project.badge_template %>
                      <p><%= badge_template.badge_name if badge_template.present? %></p>
                    <% end %>
                  </td>
                  <td><p><%= order.total %></p></td>
                  <td>
                    <%= link_to "Delete", order, method: :delete, data: {confirm: "Are you sure? This will give back the CC points used to purchase this order."}, class: "btn btn-danger" %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>


