<% provide(:title, 'Coupon Codes') %>
<h1 class=" text-center">Coupon Codes</h1>
<h3 class="text-center">New Coupon Code</h3>
<%= form_for @coupon_code, html: { class: 'row mb-5' } do |f| %>
  <div class="col-3 d-inline">
    <div class="form-group form-floating">
      <%= f.text_field :code, class: 'form-control' %>
      <%= f.label :code %>
    </div>
  </div>
  <div class="col-3 d-inline">
    <div class="form-group form-floating">
      <%= f.number_field :cc_cost, class: 'form-control' %>
      <%= f.label :cc_cost %>
    </div>
  </div>
  <div class="col-3 d-inline">
    <div class="form-group form-floating">
      <%= f.number_field :dollar_cost, class: 'form-control' %>
      <%= f.label :dollar_cost, 'Dollars off' %>
    </div>
  </div>
  <div class="col-3 d-inline"><%= f.submit 'Create Coupon Code', class: 'btn btn-primary' %>
  </div>
<% end %>


<h3 class="text-center">Non-redeemed Coupon Codes</h3>
<div class="table-responsive">
  <table class="table table-striped mb-5 ">
    <thead class="text-center table-primary">
      <tr>
        <th scope="col">Coupon Code</th>
        <th scope="col">CC Cost</th>
        <th scope="col">Real Cost</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @coupon_codes.each do |coupon| %>
        <tr>
          <td><%= coupon.code %></td>
          <td><%= coupon.cc_cost %></td>
          <td><%= coupon.dollar_cost %></td>
          <td class="text-center mx-auto">
            <div class="input-group text-center d-flex justify-content-center">
              <%= link_to 'Edit', edit_coupon_code_path(coupon), class: 'btn btn-primary' %>
              <%= button_to 'Delete', coupon, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h3 class="text-center">Redeemed Coupon Codes</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="text-center table-primary">
    <tr>
      <th scope="col">Coupon Code</th>
      <th scope="col">CC Cost</th>
      <th scope="col">Real Cost</th>
      <th scope="col">User</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @user_codes.each do |coupon| %>
      <tr>
        <td><%= coupon.code %></td>
        <td><%= coupon.cc_cost %></td>
        <td><%= coupon.dollar_cost %></td>
        <td><%= link_to coupon.user.name, user_path(coupon.user.username) %></td>
        <td>
          <div class="input-group">
            <%= button_to 'Delete', coupon, method: :delete, data: { confirm: 'Are you sure? This will NOT refund the CC Points.' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>