<%= render "saml/header" %>

<div class="help">
  <% if not @current_user.nil? %>
    <%= t('saml.login.currently_signed_in_as') %><br/><strong><%= @current_user.name %> (<%= @current_user.username %>)</strong>
  <% else %>
    <%= t('saml.login.please_sign_in') %>
  <% end %>
</div>

<% if @error_message %>
  <div class="alert alert-danger"><%= @error_message %></div>
<% end %>

<%= form_tag params: { SAMLRequest: params[:SAMLRequest], RelayState: params[:RelayState] } do %>
  <% if not @current_user.nil? %>
    <div class="form-group">
      <button class="btn btn-primary w-100" type="submit" name="submit" value="current_user"><%= t('saml.login.use_this_account') %></button>
    </div>

    <div class="form-group">
      <button class="btn btn-light w-100" type="submit" name="submit" value="logout"><%= t('saml.login.use_another_account') %></button>
      <p class="small text-muted text-center"><%= t('saml.login.this_will_sign_you_out') %></p>
    </div>
  <% else %>
    <div class="form-group">
      <%= text_field_tag :username, params[:username], :autocapitalize => "off", :autocorrect => "off", :autofocus => "autofocus", :spellcheck => "false", :class => "form-control", :placeholder => t("saml.login.username_or_email") %>
    </div>

    <div class="form-group">
      <%= password_field_tag :password, params[:password], :class => "form-control", :placeholder => t("saml.login.password") %>
    </div>

    <div class="form-group">
      <button class="btn btn-primary w-100" type="submit" name="submit" value="sign_in"><%= t('saml.login.sign_in') %></button>
    </div>

    <a class="btn btn-link w-100" href="<%= user_path 'forgot_password' %>"><%= t("saml.login.forgot_password") %></a>

    <hr/>

    <a class="btn btn-light w-100" href="<%= user_path 'new' %>"><%= t("saml.login.create_account") %></a>
  <% end %>
<% end %>

<%= render "saml/footer" %>
