<tr>
  <td class="border-0 align-middle"><span style="font-size: 18px">Proficient Project: <strong><%= link_to proficient_project.title, proficient_project %></strong></span></td>
  <td class="border-0 align-middle"><strong><%= order_item.quantity.to_i %></strong></td>
  <td class="border-0 align-middle"><strong><%= image_tag('cc.png', alt: 'CC', class: 'ccs hidden', id: 'myCcBlack') %><%= order_item.unit_price %></strong></td>
  <td class="border-0 align-middle"><strong><%= image_tag('cc.png', alt: 'CC', class: 'ccs hidden', id: 'myCcBlack') %><%= order_item.total_price %></strong></td>
  <td class="border-0 align-middle">
    <%= form_for order_item, url: order_item_path(order_item.id), method: :delete do |f| %>
        <%= f.hidden_field :quantity, value: order_item.quantity.to_i %>
        <%= f.hidden_field :proficient_project_id, value: proficient_project.id %>
        <%= f.button '', class: 'btn btn-danger' do %>
          <i class="fa fa-trash"></i>
        <% end %>
    <% end %>
  </td>
</tr>


<div class="col-md-6">

</div>
