<tr>
  <td class="border-0 align-middle"><span style="font-size: 18px">Proficient Project: <strong><%= link_to proficient_project.title, proficient_project %></strong></span></td>
  <td class="border-0 align-middle"><strong><%= order_item.quantity.to_i %></strong></td>
  <td class="border-0 align-middle"><strong><%= image_tag('cc.png', alt: 'CC', class: 'ccs hidden', id: 'myCcBlack') %><%= order_item.unit_price %></strong></td>
  <td class="border-0 align-middle"><strong><%= image_tag('cc.png', alt: 'CC', class: 'ccs hidden', id: 'myCcBlack') %><%= order_item.total_price %></strong></td>
  <td class="border-0 align-middle">
    <%= form_for order_item, url: { remote: true } do |f| %>
        <%= f.hidden_field :quantity, value: order_item.quantity.to_i %>
        <%= f.hidden_field :proficient_project_id, value: proficient_project.id %>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, order_item, { data: { confirm: "Are you sure you wish to delete the proficient project '#{order_item.proficient_project.title}' from your cart?" }, method: :delete, remote: true, class: 'btn btn-danger' } %>
    <% end %>
  </td>
</tr>


<div class="col-md-6">

</div>
