<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Volunteer Requests</h2>

    <% if !@volunteer_requests.blank? %>
      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

      <br />

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
            <th>Interests<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Sent by <span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
            <th class="action-header">Action</th>
          </tr>

          <tbody>
          <%= will_paginate @volunteer_requests %>
          <% @volunteer_requests.each do |vr| %>
            <tr>
              <td>
                <%= vr.created_at.strftime("%b %e %Y") %>
                <br>
                <%= vr.created_at.strftime("%I:%M %p").downcase() %>
              </td>

              <td>
                <%= vr.interests %>
              </td>

              <td class = "username">
                <%= link_to vr.user.name.capitalize, user_path(vr.user.username) %>
              </td>

              <td class="action-cell">
                <%=link_to "Show", volunteer_request_path(vr.id), class:"btn-block download-button mt-0 mr-0" %> <br /> <br />
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-5">
        No Volunteer Requests
      </div>
    <% end %>
  </div>
</section>
