<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Volunteer Request</h2>

    Name: <%= @user.name.capitalize %>

    <br />

    Year of Study: <%= @user.year_of_study %>

    <br />

    Faculty: <%= @user.faculty %>

    <br />

    Program: <%= @user.program %>

    <br/>

    Current Role: <%= @user.role %>

    <br />

    Email: <%= @user.email %>

    <br />

    Approval: <%= return_approval(@volunteer_request.approval) %>

    <br />

    Interests: <%= @volunteer_request.interests %>

    <br />

    Reject:
    <%= link_to (fa_icon('times')), {controller: :volunteer_requests, action: :update_approval, id: @volunteer_request.id,  approval: false}, method: :put, class: 'x-button' %>
    <br />
    Approve:
    <%= link_to (fa_icon('check')), {controller: :volunteer_requests, action: :update_approval, id: @volunteer_request.id,  approval: true}, method: :put, class: 'check-button' %>

    <div>
      <hr>
      <div class="title">Certifications</div>
      <% if @certifications.present? %>
        <div>This user is currently certified to use the following pieces of equipment:</div>
        <div>
          <% @certifications.each do |certification| %>
            <p> <b><%= certification.training %></b></p>
          <% end %>
        </div>
      <% else %>
        <div>This user has no certifications so far.</div>
      <% end %>
    </div>

    <br />

  </div>
</section>