<section>
  <div class="padding-10">
    <h2 class="text-center pt-2 mb-5 fw-bold">Create Announcements</h2>

    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @announcement, url: { controller: "announcements", action: "create" }, :html => { :id => "volunteerForm", class: "needs-validation", novalidate: 'novalidate' } do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3 text-center">
                  <%= f.label :description, "Announcement", class:"form-label" %>
                  <%= f.text_area :description, placeholder: "Write your announcement here", class: 'form-control', required: true %>
                  <div class="invalid-feedback">
                    Please write your announcement
                  </div>
                </div>
              </div>
              <div class="mx-auto col-md-12 text-center">
                <b>Select to what public you want this to appear</b> <br/>
                <div class="d-inline-block text-start">
                  <%= f.radio_button :public_goal, 'volunteer', :style => 'display:inline', checked: true %>
                  <%= f.label :public_goal, 'Volunteers', :style => 'display:inline', class:"form-label" %>
                  <br/>
                  <%= f.radio_button :public_goal, 'regular_user', :style => 'display:inline' %>
                  <%= f.label :public_goal, 'Regular Users', :style => 'display:inline', class:"form-label" %>
                  <br/>
                  <%= f.radio_button :public_goal, 'staff', :style => 'display:inline' %>
                  <%= f.label :public_goal, 'Staff', :style => 'display:inline', class:"form-label" %>
                  <br/>
                  <%= f.radio_button :public_goal, 'admin', :style => 'display:inline' %>
                  <%= f.label :public_goal, 'Admins', :style => 'display:inline', class:"form-label" %>
                  <br/>
                  <%= f.radio_button :public_goal, 'all', :style => 'display:inline' %>
                  <%= f.label :public_goal, 'All Users', :style => 'display:inline', class:"form-label" %>
                  <br/>
                  <br/>
                </div>
              </div>
              <div class="mb-3 col-md-4"></div>
              <div class="mb-3 col-md-4 text-center">
                <%= f.label :end_time, 'End Date (Optional)', class:"form-label" %>
                <%= f.text_field "end_date", autocomplete: 'off', class: "form-control", id: 'end_date' %>
                <button class="btn btn-danger btn-sm" type="button" onclick="clearEndDate();">Clear End Date</button>
              </div>
              <div class="col-md-4"></div>
            </div>
            <div class="col-lg-12 text-center">
              <%= f.submit "Create Announcement", class: "btn btn-secondary btn-xl text-uppercase" %>
            </div>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
    jQuery('#end_date').flatpickr();
</script>