<section>
  <div class="text-center pb-4">
    <h2 class="fw-bold py-3">Drop-Off Location Manager</h2>

    <%= form_with url: {controller: "admin/drop_off_locations", action: "create"} do |f| %>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12 form-group input-group">
            <span class="input-group-text">New Drop Off Location</span>
            <%= f.text_field :name, placeholder: "Write a location", class: 'form-control', required: true %>
            <%= f.submit "Create Location", class: "btn btn-secondary btn-xl" %>
          </div>
        </div>
      </div>
    <% end %>
    <br />
    <table class="table table-striped mb-5">
      <thead class="table-primary">
      <tr class="text-center">
        <th>Drop-Off Location</th>
        <th>Action</th>
      </tr>
      </thead>
      <% @locations.each do |t| %>
        <tr>
          <td><%= t.name %></td>
          <td>
          <%= link_to "Edit", edit_admin_drop_off_location_path(t.id), class:"btn btn-primary" %>
          <%= button_to "Delete", admin_drop_off_location_path(t.id), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger my-2" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</section>
