<div class="modal fade" id="unavailabilityModal" tabindex="-1" role="dialog" aria-labelledby="unavailabilityModal" aria-hidden="true">
    <%= hidden_field_tag :unavailability_id, nil, id: 'unavailability-id' %>
    <%= hidden_field_tag :time_period_start, @time_period.start_date, id: 'time-period-start' %>
    <%= hidden_field_tag :time_period_end, @time_period.end_date, id: 'time-period-end' %>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">New Unavailability</h5>
                <button type="button" class="btn-close shift-cancel" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 text-center row">
                    <div class="col-md-12 mb-3">
                        <%= label_tag :day, 'Day of the week', class: 'form-label' %>
                        <%= select_tag :day, options_for_select(Hash[Date::DAYNAMES.zip([0, 1, 2, 3, 4, 5, 6])]), class: 'form-control form-select', id: 'day' %>
                    </div>

                    <div class="col-md-6 mb-3" style="display: none;" id="start-date-container">
                        <label for="start-date">Start Date</label>
                        <div class="input-group">
                            <%= text_field_tag 'start_date', '', id: 'start-date', autocomplete: 'off', class: 'form-control inanimate', required: false %>
                            <button class="btn btn-danger" id="start-date-clear" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3" id="start-time-container">
                        <label for="start-datetime">Start Time</label>
                        <div class="input-group">
                            <%= text_field_tag 'start_time', '', id: 'start-time', autocomplete: 'off', class: 'form-control inanimate', required: true %>
                            <button class="btn btn-danger" id="start-time-clear" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3" style="display: none;" id="end-date-container">
                        <label for="end-date">End Date</label>
                        <div class="input-group">
                            <%= text_field_tag 'end_date', '', id: 'end-date', autocomplete: 'off', class: 'form-control inanimate', required: false %>
                            <button class="btn btn-danger" id="end-date-clear" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6 mb-3" id="end-time-container">
                        <label for="end-datetime">End Time</label>
                        <div class="input-group">
                            <%= text_field_tag 'end_time', '', id: 'end-time', autocomplete: 'off', class: 'form-control inanimate', required: true %>
                            <button class="btn btn-danger" id="end-time-clear" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div id="time-period-warning-container" class="col-md-12 mb-3" style="display: none;">
                        <p class="text-danger">The inputted date is outside of the <%= @time_period.name %> time period.</p>
                    </div>

                    <div class="col-md-12 mb-3">
                        <%= label_tag :recurring, 'Recurring' %>
                        <%= check_box_tag :recurring, true, true, id: 'recurring', class: 'form-check-input', required: true %>
                    </div>

                    <div class="col-md-12 mb-3">
                        <%= label_tag :whole_day, 'Whole Day' %>
                        <%= check_box_tag :whole_day, true, false, id: 'whole_day', class: 'form-check-input' %>
                    </div>


                    <div style="padding-left: 0.75rem; padding-right: 0.75rem" class="mb-3">
                        <%= label_tag :user_id, 'User' %>
                        <%= select_tag :user_id, options_for_select(@staff), { id: 'user-id', autocomplete: 'off', required: true, class: 'form-control form-select' } %>
                    </div>

                    <div class="mb-3 text-center">
                        <%= label_tag :time_period_id, 'Time Period', class: 'form-label' %>
                        <%= select_tag :time_period_id, options_for_select(TimePeriod.all.pluck(:name, :id), selected: @time_period.id), { id: 'time-period-id', autocomplete: 'off', class: 'form-control form-select', required: true } %>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-delete" class="btn btn-danger" style="display: none;">Delete</button>
                <button type="button" class="btn btn-secondary shift-cancel" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal-save" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
