<div>
  <br>
  <div class="d-flex justify-content-center">
    <%= form_tag staff_dashboard_change_space_path, method: :put do %>
      <div class="input-group mb-3">
        <%= label_tag :space_id, "Space", class: 'input-group-text' %>
        <%= select_tag :space_id, options_for_select(Space.all.pluck(:name, :id), selected: @space_id), class: "form-select" %>
        <%= hidden_field_tag :shifts, true %>
        <button class="btn btn-outline-secondary" type="submit">Go</button>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-check mb-3">
        <input class="form-check-input checkbox-lg me-2 mt-0" type="checkbox" value="" id="hide-show-unavailabilities" checked>
        <label class="form-check-label" for="hide-show-unavailabilities">
          Unavailabilities
        </label>
      </div>

      <% @colors.each do |user| %>
        <div class="pb-2">
          <label><%= user[:name] %></label>
          <br>
          <div class="d-flex">
            <input type="color" name="color" onchange="updateColor(<%= user[:id] %>, this.value)" class="form-control form-control-color-shift" value="<%= user[:color] %>" title="Choose your color">
            <input class="form-check-input checkbox-lg ms-1 shift-hide-button" id="user-<%= user[:id] %>" type="checkbox" onclick="toggleVisibility(<%= user[:id] %>)" checked>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-10">
      <div id="calendar"></div>
    </div>
  </div>

  <br>

  <!-- Toasts -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast-color-update-success" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          The color of the user has been successfully updated!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toast-color-update-failed" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          The color of the user has not been updated... Please try again later.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <%= javascript_pack_tag 'admin_availability_calendar' %>
</div>

<style>
    .container {
        max-width: 100%!important;
        padding-left: 3%;
        padding-right: 3%;
    }
</style>