<br>
<div class="d-flex justify-content-center">
  <%= form_tag admin_shifts_path, method: :get do %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= label_tag :space_id, "Space", class: 'input-group-text' %>
      </div>
      <%= select_tag :space_id, options_for_select(Space.all.pluck(:name, :id), selected: (params[:space_id].present? ? params[:space_id] : Space.find_by(name: 'Makerspace').id)), class: "custom-select" %>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Go</button>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-2">
    <% @colors.each do |color| %>
      <div class="box" style="background-color: <%= color[1] %>"></div> <%= color[0] %>
    <% end %>
  </div>
  <div class="col-md-10">
    <div id="calendar"></div>
  </div>
</div>

<br>

<%= javascript_pack_tag 'shifts' %>