<% if @missing_time_period %>
  <div class="alert alert-danger">
    <% if @user.admin? %>
      Please create a valid <%= link_to 'Time Period', admin_time_periods_path %> to continue.
    <% else %>
      Please ask your manager to create a valid time period first.
    <% end %>
  </div>
<% else %>

<div class="mt-4">
  <div class="row">
    <div class="col-md-2 scroll-col">
      <div class="form-check mb-3">
        <input class="form-check-input checkbox-lg me-2 mt-0" type="checkbox" value="" id="hide-show-unavailabilities" checked>
        <label class="form-check-label" for="hide-show-unavailabilities">
          Unavailabilities
        </label>
      </div>

      <% @colors.each do |user| %>
        <div class="pb-2">
          <label for="user-<%= user[:user].id %>"><%= user[:user].name %> <%= link_to "(#{user[:user].role.humanize})", user_path(user[:user].username), target: :_blank, rel: :noopener %>
            <!-- <br> -->
          <div class="d-flex">
            <input type="color" name="color" onchange="updateColor(<%= user[:id] %>, this.value)" class="form-control form-control-color-shift" value="<%= user[:color] %>" title="Choose your color">
            <input class="form-check-input checkbox-lg ms-1 shift-hide-button" id="user-<%= user[:user].id %>" type="checkbox" onclick="toggleVisibility(<%= user[:user].id %>)" checked>
          </div>
          </label>
        </div>
      <% end %>
    </div>
    <div class="col-md-10">
      <div class="d-flex justify-content-center gap-2">
        <%= form_tag staff_dashboard_change_space_path, method: :put do %>
          <div class="input-group mb-3">
            <%= label_tag :space_id, 'Space', class: 'input-group-text' %>
            <%= select_tag :space_id, options_for_select(Space.all.pluck(:name, :id), selected: @space_id), class: 'form-select' %>
            <%= hidden_field_tag :shifts, true %>
            <button class="btn btn-outline-secondary" type="submit">Go</button>
          </div>
        <% end %>

        <%= form_tag admin_shifts_path, method: :get do %>
          <div class="input-group mb-3">
            <%= label_tag :time_period_id, 'Time Period', class: 'input-group-text' %>
            <%= select_tag :time_period_id, options_for_select(TimePeriod.all.pluck(:name, :id), selected: (params[:time_period_id].presence || TimePeriod.current.id)), class: 'form-select' %>
            <button class="btn btn-outline-secondary" type="submit">Go</button>
          </div>
        <% end %>
      </div>

      <div id="calendar"></div>
    </div>
  </div>

  <br>

  <!-- Modal -->
  <%= render 'unavailability_modal' %>

  <!-- Toasts -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast-color-update-success" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          The color of the user has been successfully updated!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toast-color-update-failed" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          The color of the user has not been updated... Please try again later.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <%= vite_javascript_tag 'admin_availability_calendar', media: 'all', 'data-turbo-track': 'reload' %>
</div>

<style>
    .container {
        max-width: 100%!important;
        padding-left: 3%;
        padding-right: 3%;
    }
</style>
<% end %>
