<% if @missing_time_period %>
  <div class="alert alert-danger">
    <% if @user.admin? %>
      Please create a valid <%= link_to 'Time Period', admin_time_periods_path %> to continue.
    <% else %>
      Please ask your manager to create a valid time period first.
    <% end %>
  </div>
<% else %>

<div class="mt-4">

  <div id="pending-shift-partial">
    <%= render partial: 'pending_shifts', locals: { pending_shifts: @pending_shifts } %>
  </div>

  <div class="row">
    <div class="col-md-2 scroll-col">
      <div class="form-check mb-2">
        <input class="form-check-input checkbox-lg me-2 mt-0" type="checkbox" value="" id="hide-show-unavailabilities" checked>
        <label class="form-check-label" for="hide-show-unavailabilities">
          Unavailabilities
        </label>
      </div>
      <div class="form-check mb-2 d-flex align-items-center">
        <input class="form-check-input checkbox-lg me-2 mt-0" type="checkbox" value="" id="hide-show-google-events" checked>
        <label class="form-check-label" for="hide-show-google-events">
          Events
        </label>
      </div>
      <div class="form-check mb-2 d-flex align-items-center">
        <input class="form-check-input checkbox-lg me-2 mt-0" type="checkbox" value="" id="hide-show-staff-needed" checked>
        <label class="form-check-label" for="hide-show-staff-needed">
          Staff Needed
        </label>
      </div>

      <% @colors.each do |user| %>
        <div class="pb-2">
          <label><%= user[:name] %></label>
          <br>
          <div class="d-flex">
            <input type="color" name="color" onchange="updateColor(<%= user[:id] %>, this.value)" class="form-control form-control-color-shift" value="<%= user[:color] %>" title="Choose your color">
            <input class="form-check-input checkbox-lg ms-1 shift-hide-button" id="user-<%= user[:id] %>" type="checkbox" onclick="toggleVisibility(<%= user[:id] %>)" checked>
            <div id="user-hour-counter-<%= user[:id] %>" class="d-flex align-items-center text-bg-primary ms-1 py-1 px-2 rounded">
              0 hour(s)
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-10">

      <div class="d-flex justify-content-center gap-2">
        <%= form_tag staff_dashboard_change_space_path, method: :put do %>
          <div class="input-group mb-3">
            <%= label_tag :space_id, 'Space', class: 'input-group-text' %>
            <%= select_tag :space_id, options_for_select(Space.all.pluck(:name, :id), selected: @space_id), class: 'form-select' %>
            <%= hidden_field_tag :shifts, true %>
            <button class="btn btn-outline-secondary" type="submit">Go</button>
          </div>
        <% end %>

        <%= form_tag shifts_admin_shifts_path, method: :get do %>
          <div class="input-group mb-3">
            <%= label_tag :time_period_id, 'Time Period', class: 'input-group-text' %>
            <%= select_tag :time_period_id, options_for_select(TimePeriod.all.pluck(:name, :id), selected: (params[:time_period_id].presence || TimePeriod.current.id)), class: 'form-select' %>
            <button class="btn btn-outline-secondary" type="submit">Go</button>
          </div>
        <% end %>
      </div>

      <div id="calendar-container">
        <div id="calendar"></div>
      </div>

      <div id='spinner' class="spinner-border" style="width: 50vh; height: 50vh; position:absolute; z-index:1000; left:50%; top:50%; border-width:1rem; " role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <br>

  <!-- Modal for Shifts -->
  <div class="modal fade" id="shiftModal" tabindex="-1" role="dialog" aria-labelledby="shiftModal" aria-hidden="true">
    <%= hidden_field_tag :shift_id, nil, id: 'shift-id' %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" id="modalHeader">
          <h5 class="modal-title" id="shift-modal-title">New Shift</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 text-center">
            <div class="mb-3">
              <label for="start-datetime">Start Date</label>
              <input id="start-datetime" autocomplete="false" class="form-control inanimate">
            </div>
            <div class="mb-3">
              <label for="end-datetime">End Date</label>
              <input id="end-datetime" autocomplete="false" class="form-control inanimate">
            </div>
            <div class="mb-3">
              <%= label_tag :user_id, 'User to select' %>
              <%= select_tag :user_id, options_for_select(@staff), { id: 'user-id', autocomplete: 'off', multiple: true, required: true } %>
            </div>
            <div class="mb-3">
              <label for="reason">Reason</label>
              <select id="reason" class="form-select form-control">
                <option value="Shift">Shift</option>
                <option value="Training">Training</option>
                <option value="Meeting">Meeting</option>
                <option value="Project">Project</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div id="training-container" style="display: none;">
              <div class="mb-2">
                <%= label_tag :training_id, 'Training' %>
                <%= select_tag :training_id, options_from_collection_for_select(Space.find(@space_id).trainings.order(name: :asc), 'id', 'name'), id: 'training_id', prompt: 'Select training', class: 'form-control form-select', required: true %>
              </div>
              <div class="mb-2">
                <%= label_tag :language, 'Language' %>
                <%= select_tag :language, options_for_select(%w[English Français]), prompt: 'Select Language', class: 'form-control form-select', id: 'language', required: true %>
              </div>
              <div class="mb-2">
                <%= label_tag :course, 'Course' %>
                <%= select_tag :course, options_for_select(CourseName.pluck(:name)), prompt: 'Select course', class: 'form-control form-select', id: 'course', required: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer input-group">
          <button type="button" id="modal-delete" class="d-none btn btn-danger">Delete Shift</button>
          <button type="button" id="modal-close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="modal-save" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            Save</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Toasts -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast-color-update-success" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          The color of the user has been successfully updated!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toast-color-update-failed" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          The color of the user has not been updated... Please try again later.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

    <div id="toast-color-shift-failed" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          There was a entry missing for the shift. Please try again after filling all the fields.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <%= vite_javascript_tag 'admin_shifts' %>
</div>

<style>
    .container {
        max-width: 100%!important;
        padding-left: 3%;
        padding-right: 3%;
    }
    #shiftModal {
        outline: none;
    }

</style>
<% end %>
