<% provide :title, 'Locker dashboard' %>

<div>
    <h1 class="text-center">Locker Management</h1>
    <div class="text-center">
        <%= link_to 'Show pending locker requests', admin_locker_rentals_path, class: 'fw-bold' %>
    </div>

    <h2>Assign a locker</h2>
    <p>Assign a locker to someone, active immediately. The locker owner will be notified by email. Intended to assign lockers to staff.</p>
    <%= render 'locker_rentals/assign_locker_form' %>

    <hr />

    <div class="text-center border rounded bg-body-tertiary p-3">
        <% if LockerOption.lockers_enabled %>
            <span class="fs-2"><%= fa_icon :check, class: 'text-success' %> New locker rentals are enabled.</span>
            <%= button_to 'Click here to disable locker rentals', enabled_lockers_path,
                          method: :put, params: {value: 'f'}, class: 'btn btn-danger' %>
        <% else %>
            <span class="fs-2"><%= fa_icon :times, class: 'text-danger' %> New locker rentals are disabled.</span>
            <%= button_to 'Click here to enable locker rentals', enabled_lockers_path,
                          method: :put, params: {value: 't'}, class: 'btn btn-success' %>
        <% end %>
        <p>Enabling lockers will enable <%= link_to "locker request form submissions", locker_rentals_path %>,
            and will display links to it on the homepage and resources header dropdown.</p>
    </div>

    <hr />

    <h2>Configure locker options</h2>
    <%= render 'locker_size_control' %>
    
    <hr />

    <h2 class="text-center" id="lockerInventory">Locker Inventory</h2>

    <div class="mb-3">
        <h3>Make new lockers</h3>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newRangeLockerModal">
            Make a range of lockers
        </button>

        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newLockerModal">
            Make a single locker
        </button>
    </div>

    <div>
        <% if @lockers.blank? %>
            <p>There are no lockers on record.</p>
        <% elsif !@locker_product_info %>
            <p>No locker product link loaded.</p>
        <% else %>
            <h3>Edit current lockers</h3>
            <%= render 'locker_bulk_edit_modal' %>
            <%= render 'lockers_inventory_table' %>
        <% end %>
    </div>
</div>
<%= render 'new_locker_modal' %>
