<% provide :title, 'Locker dashboard' %>

<div class="text-center">
    <h1>Locker Management</h1>
    <details>
        <summary>Make new lockers</summary>
        <%= form_with controller: :lockers do |f| %>
            <div class="d-md-flex align-items-baseline">
                <span class="me-3">
                    Create new lockers ranging from
                </span>
                <div class="me-3">
                    <%= f.number_field :range_start, class: 'form-control', required: true %>
                </div>
                <span class="me-3">
                    to
                </span>
                <div class="me-3">
                    <%= f.number_field :range_end, class: 'form-control', required: true %>
                </div>
                <div class="ms-auto">
                    <%= f.submit class: 'btn btn-primary' %>
                </div>

            </div>
        <% end %>
    </details>

    <hr />

    <fieldset class="border p-3">
        <legend class="w-auto float-none">Lockers available</legend>
        <% if @lockers.blank? %>
            <p>There are no lockers on record.</p>
        <% else %>
            <table class="table table-striped" data-datatable data-page-length="100">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Locker specifier</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Until</th>
                    </tr>
                </thead>
                <tbody>
                    <% @lockers.each do |locker| %>
                        <tr>
                            <th scope="row"><%= locker.specifier %></th>
                            <td>
                                <% if locker.locker_rentals.assigned.present? %>
                                    <p><%= locker.locker_rentals.assigned.first.rented_by.username %></p>
                                <% end %>
                            </td>
                            <td>
                                <%= locker.locker_rentals.assigned.first.owned_until if locker.locker_rentals.assigned.present? %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </fieldset>

</div>
