<% provide :title, 'Locker dashboard' %>

<% content_for :before_container do %>
    <%= render 'locker_rentals/nav_tabs', selected: :admin_rental %>
    <%= render 'lockers/admin_nav_tabs', selected: :assign %>
<% end %>

<div class="text-center">
    <h1>Locker Management</h1>

    <div>
        <h2 class="mt-3">Assign locker</h2>
        <%= render partial: 'locker_rentals/assign_locker_form' %>
    </div>
    <hr />

    <div class="table-responsive">
        <table class="table table-striped">
            <caption class="fs-2 text-center" align='top'>Requests requiring action</caption>
            <thead class="table-primary">
                <tr>
                    <th class="w-auto">Locker ID</th>
                    <th>Rented by</th>
                    <th class="w-auto">State</th>
                    <th>Assigned on</th>
                    <th class="w-auto">Until</th>
                    <th class="w-auto">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @locker_requests_pending&.each do |rental| %>
                    <tr>
                        <td><%= rental.full_locker_name %></td>
                        <td><%= link_to rental.rented_by.username, user_path(rental.rented_by) %> <i><%= rental.rented_by.role.humanize %></i></td>
                        <td><%= tag.i class: "fa #{rental_state_icon(rental.state)}" %> <%= rental.state.humanize %></td>
                        <td><%= rental.updated_at&.to_date %></td>
                        <td><%= rental.owned_until&.to_date || 'Unapproved yet' %></td>
                        <td><%= link_to 'Show', locker_rental_path(rental), class: 'btn btn-primary' %><%#%= locker_rental_actions(rental) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
