<% provide :title, 'Locker dashboard' %>

<div>
    <h1 class="text-center">Locker Management</h1>
    <%= link_to 'Show pending locker requests', admin_locker_rentals_path, class: 'text-center' %>
    <details class="mb-3">
        <summary>Assign a locker</summary>
        <p>Assign a locker to someone, active immediately. The locker owner will be notified by email. Intended to assign lockers to staff.</p>
        <%= render 'locker_rentals/assign_locker_form' %>
    </details>
    <details class="mb-3">
        <summary>Make new lockers</summary>
        <p>Create lockers with numbers start from up to and including end of range. For example, 100 to 150 would create 50 lockers named 100, 101, 102...</p>
        <%= form_with controller: :lockers do |f| %>
            <div class="d-md-flex align-items-baseline">
                <span class="me-3">
                    Create new lockers ranging from
                </span>
                <div class="me-3">
                    <%= f.number_field :range_start, class: 'form-control', required: true %>
                </div>
                <span class="me-3">
                    to
                </span>
                <div class="me-3">
                    <%= f.number_field :range_end, class: 'form-control', required: true %>
                </div>
                <%= f.submit class: 'btn btn-primary' %>
            </div>
        <% end %>
    </details>

    <details open class="mb-3">
        <summary>Configure locker options</summary>
        <%= render 'locker_size_control' %>
    </details>

    <hr />

    <div class="text-center border rounded bg-body-tertiary p-3">
        <% if LockerOption.lockers_enabled %>
            <span class="fs-2"><%= fa_icon :check, class: 'text-success' %> New locker rentals are enabled.</span>
            <%= button_to 'Click here to disable locker rentals', enabled_lockers_path,
                          method: :put, params: {value: 'f'}, class: 'btn btn-danger' %>
        <% else %>
            <span class="fs-2"><%= fa_icon :times, class: 'text-danger' %> New locker rentals are disabled.</span>
            <%= button_to 'Click here to enable locker rentals', enabled_lockers_path,
                          method: :put, params: {value: 't'}, class: 'btn btn-success' %>
        <% end %>
        <p>Enabling lockers will enable <%= link_to "locker request form submissions", locker_rentals_path %>,
            and will display links to it on the homepage and resources header dropdown.</p>
    </div>

    <hr />
    <%#= debug @locker_product_info %>
    <h2>Lockers in store</h2>
    <% if @lockers.blank? %>
        <p>There are no lockers on record.</p>
    <% else %>
        <table class="table table-striped" data-datatable data-page-length="25">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Locker</th>
                    <th scope="col">Size</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Owned by</th>
                    <th scope="col">Locker expires on</th>
                    <th scope="col">Approved on</th>
                    <th scope="col">Last actioned by</th>
                    <th scope="col">Occupied?</th>
                </tr>
            </thead>
            <tbody>
                <% @lockers.each do |locker| %>
                    <% current_rental = locker.locker_rentals.find(&:active?) %>
                    <% locker_variant = @locker_product_info[:variants].find do |variant|
                        variant[:id].strip.casecmp?(locker.locker_size.shopify_gid.strip)
                    end || {} %>
                    <tr>
                        <td scope="row" class="dt-center" data-sort="<%= locker.specifier %>">
                            <%= link_to "##{locker.specifier}", locker, class: 'btn btn-sm btn-outline-primary' %>
                        </td>
                        <td><%= locker.locker_size.size %></td>
                        <td><code><%= locker_variant[:sku] %></code></td>
                        <td><%= current_rental&.rented_by&.username %></td>
                        <td><%= current_rental&.owned_until&.to_date&.to_fs :long %></td>
                        <td><%= current_rental&.updated_at %></td>
                        <td><%= current_rental&.decided_by&.username %></td>
                        <td>
                            <% if current_rental.present? %>
                                <% if current_rental.expired? %>
                                    <%= link_to current_rental, class: "btn btn-sm btn-outline-danger" do %>
                                        <%= fa_icon :times %> Expired
                                    <% end %>
                                <% else %>
                                    <%= link_to current_rental, class: "btn btn-sm btn-outline-success" do %>
                                        <%= fa_icon :check %> Valid
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>

</div>
