<% provide :title, 'Locker dashboard' %>

<% content_for :before_container do %>
    <%= render 'locker_rentals/nav_tabs', selected: :admin_rental %>
    <%= render 'lockers/admin_nav_tabs', selected: :assign %>
<% end %>

<div class="text-center">
    <h1>Locker Management</h1>

    <fieldset class="border p-3">
        <legend class="w-auto float-none">Make new lockers</legend>
        <%= form_with controller: :lockers do |f| %>
            <div class="d-md-flex align-items-baseline">
                <span class="me-3">
                    Create new lockers ranging from
                </span>
                <div class="me-3">
                    <%= f.number_field :range_start, class: 'form-control', required: true %>
                </div>
                <span class="me-3">
                    to
                </span>
                <div class="me-3">
                    <%= f.number_field :range_end, class: 'form-control', required: true %>
                </div>
                <div class="ms-auto">
                    <%= f.submit class: 'btn btn-primary' %>
                </div>

            </div>
        <% end %>
    </fieldset>

    <hr />

    <fieldset class="border p-3">
        <legend class="w-auto float-none">Lockers available</legend>
        <% if @lockers.blank? %>
            <p>There are no lockers on record.</p>
        <% else %>
            <% @lockers.each do |locker| %>
                <div class="border d-flex px-3 mb-3">
                    <p class="mb-3"><%= locker.specifier %></p>
                    <p>
                        <% if locker.locker_rentals.assigned.present? %>
                            <p><%= locker.locker_rentals.assigned.first.rented_by.username %></p>
                        <% else %>
                            Locker not assigned
                        <% end %>
                    </p>
                </div>
            <% end %>
        <% end %>
    </fieldset>

</div>
