<% provide :title, 'Locker dashboard' %>

<div>
    <h1 class="text-center">Locker Management</h1>
    <%= link_to 'Show pending locker requests', admin_locker_rentals_path, class: 'text-center' %>
    <details class="mb-3">
        <summary>Assign a locker</summary>
        <p>Assign a locker to someone, active immediately. The locker owner will be notified by email. Intended to assign lockers to staff.</p>
        <%= render 'locker_rentals/assign_locker_form' %>
    </details>

    <details open class="mb-3">
        <summary>Configure locker options</summary>
        <%= render 'locker_size_control' %>
    </details>

    <hr />

    <div class="text-center border rounded bg-body-tertiary p-3">
        <% if LockerOption.lockers_enabled %>
            <span class="fs-2"><%= fa_icon :check, class: 'text-success' %> New locker rentals are enabled.</span>
            <%= button_to 'Click here to disable locker rentals', enabled_lockers_path,
                          method: :put, params: {value: 'f'}, class: 'btn btn-danger' %>
        <% else %>
            <span class="fs-2"><%= fa_icon :times, class: 'text-danger' %> New locker rentals are disabled.</span>
            <%= button_to 'Click here to enable locker rentals', enabled_lockers_path,
                          method: :put, params: {value: 't'}, class: 'btn btn-success' %>
        <% end %>
        <p>Enabling lockers will enable <%= link_to "locker request form submissions", locker_rentals_path %>,
            and will display links to it on the homepage and resources header dropdown.</p>
    </div>

    <hr />
    
    <h2 class="text-center">Locker Inventory</h2>
    <div class="border p-3 mb-3">
        <h3>Make new lockers</h3>
        <p>Create lockers with numbers start from up to and including end of range. For example, 100 to 150 would create 50 lockers named 100, 101, 102...</p>
        <%= form_with controller: :lockers do |f| %>
            <div class="d-md-flex align-items-baseline">
                <span class="me-3">
                    Create new lockers ranging from
                </span>
                <div class="me-3">
                    <%= f.number_field :range_start, class: 'form-control', required: true %>
                </div>
                <span class="me-3">
                    to
                </span>
                <div class="me-3">
                    <%= f.number_field :range_end, class: 'form-control', required: true %>
                </div>
                <%= f.submit class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>

    <div>
        <% if @lockers.blank? %>
            <p>There are no lockers on record.</p>
        <% else %>
            <%= render 'locker_bulk_edit_modal' %>
            <%= render 'lockers_inventory_table' %>
        <% end %>
    </div>
</div>
