<div class="row align-items-center mb-3 gx-2">
    <div class="col border-end">
        <div class="input-group">
            <%= fs.label :start, 'From', class: 'input-group-text' %>
            <%= fs.time_field :start, class: 'form-control', include_seconds: false %>
            <%= fs.label :end, "until", class: 'input-group-text' %>
            <%= fs.time_field :end, class: 'form-control', include_seconds: false %>
        </div>
    </div>
    <div class="col">
        <%= fs.label :title_en, "English title of event", class: 'form-label', hidden: true %>
        <%= fs.text_field :title_en, placeholder: 'English title', class: 'form-control' %>
    </div>
    <div class="col">
        <%= fs.label :title_fr, "French title of event", class: 'form-label', hidden: true %>
        <%= fs.text_field :title_fr, placeholder: 'French title', class: 'form-control' %>
    </div>
    <div class="col-auto">
    <div class="btn btn-danger"><%= fa_icon 'trash' %></div>
    </div>
</div>
<%= fs.hidden_field :event_for, value: t %>
