<div class="pt-3">
    <h1 class="text-center">Design day slated for <%= @design_day.day %></h1>
    <hr />
    <%= form_with model: @design_day do |f| %>
        <div class="input-group mb-3">
            <%= f.label :day, "Design day starts at:", class: 'input-group-text' %>
            <%= f.date_field :day, class: 'form-control' %>
        </div>
        <div class="input-group">
            <%= f.label :sheet_key, "Google sheets ID (or url)", class: 'input-group-text' %>
            <%= f.text_field :sheet_key, class: 'form-control' %>
            <div class="input-group-text">
                <%= fa_icon :check, class: 'text-success', id: 'sheet_key_verified_icon', hidden: false %>
                <%= fa_icon :question, class: 'text-warning', id: 'sheet_key_maybe_icon', hidden: true %>
                <%= fa_icon :times, class: 'text-danger', id: 'sheet_key_error_icon', hidden: true %>
            </div>
            <%= f.button "Convert URL to ID", class: 'btn btn-outline-success', id: 'verifyDesignDaySheet' %>
        </div>

        <div class="form-text ms-3">
            Current sheet url is <a id="sheet_key_preview_url" href="https://docs.google.com/spreadsheets/d/<%= @design_day.sheet_key %>">https://docs.google.com/spreadsheets/d/<%= @design_day.sheet_key %></a>
            <br />
            <span id="sheet_key_may_be_invalid" hidden="true">Current key doesn't seem valid.</span>
        </div>
        <hr />

        <% @design_day_schedules.each do |event_for, schedules| %>
            <h2 class="text-center mt-3"><%= event_for.to_s.humanize %> schedules</h2>
            <hr class="w-50 mx-auto mb-3"/>
            <div class="design-day-schedule-sort-list", data-event-for="<%= event_for %>">
                <%# fields_for puts the id hidden attribute outside the container element. disable and place manually %>
                <%= f.fields_for :design_day_schedules, schedules, include_id: false do |fs| %>
                    <%= render partial: 'design_day_schedule_form', locals: {fs: fs} %>
                <% end %>

                <%# Make a blank object to act as a template %>
                <%= f.fields_for :design_day_schedules, [DesignDaySchedule.new(event_for: )], child_index: 'TEMPLATE', include_id: false do |fs| %>
                    <%= render partial: 'design_day_schedule_form', locals: {fs: fs} %>
                <% end %>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" data-template-fields=<%= "#design_day_schedule_template_#{event_for}_field" %> ><%= fa_icon 'plus' %></button>
                </div>
            </div>
        <% end %>
        <div>
            <h2 class="text-center">Floorplans</h2>
            <div class="d-flex flex-column align-items-center">
                <div class="form-check form-switch mb-3 align-self-center">
                    <%= f.check_box :show_floorplans, class: 'form-check-input' %>
                    <%= f.label :show_floorplans, class: 'form-check-label' %>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success mb-3" data-floorplan-add><%= fa_icon 'plus' %> Add a floorplan</button>
            </div>

            <div data-floorplan-container>
                <div hidden disabled>
                    <div class="input-group mb-3" data-floorplan-template>
                        <%= f.file_field :floorplans, class: 'form-control', accept: 'image/*', autocomplete: 'off', multiple: true %>
                        <button type="button" class="btn btn-danger" data-floorplan-delete><%= fa_icon :trash %></button>
                    </div>
                </div>
            </div>
            <hr />

            <div>
                <h2 class="text-center">Floorplans currently on display</h3>
                <div>
                    <% unless @design_day.floorplans.attached? %>
                        <p class="text-center">No floorplans attached...</p>
                    <% end %>
                    <% @design_day.floorplans.each do |image| %>
                        <div class="input-group mb-3">
                            <%= f.hidden_field :floorplans, multiple: true, value: image.signed_id %>
                            <%= image_tag image, class: 'img-fluid', style: 'height: 5em' %>
                            <%= link_to image.filename, image, class: 'input-group-text flex-fill' %>
                            <%= button_tag fa_icon(:trash), class: 'btn btn-danger', data: {floorplan_delete: ''}, type: 'button' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="text-center">
            <%= f.submit class: 'btn btn-primary mt-3' %>
        </div>
    <% end %>
</div>
