<div class="pt-3">
    <h1 class="text-center">Design day slated for <%= @design_day.day %></h1>
    <hr />
    <%= form_with model: @design_day do |f| %>
        <div class="input-group mb-3">
            <%= f.label :day, "Design day starts at:", class: 'input-group-text' %>
            <%= f.date_field :day, class: 'form-control' %>
        </div>
        <div class="input-group">
            <%= f.label :sheet_key, "Google sheets ID (or url)", class: 'input-group-text' %>
            <%= f.text_field :sheet_key, class: 'form-control' %>
            <div class="input-group-text">
                <%= fa_icon :check, class: 'text-success', id: 'sheet_key_verified_icon', hidden: false %>
                <%= fa_icon :question, class: 'text-warning', id: 'sheet_key_maybe_icon', hidden: true %>
                <%= fa_icon :times, class: 'text-danger', id: 'sheet_key_error_icon', hidden: true %>
            </div>
            <%= f.button "Convert URL to ID", class: 'btn btn-outline-success', id: 'verifyDesignDaySheet' %>
        </div>
        <div class="form-text ms-3">
            Current sheet url is <a id="sheet_key_preview_url" href="https://docs.google.com/spreadsheets/d/<%= @design_day.sheet_key %>">https://docs.google.com/spreadsheets/d/<%= @design_day.sheet_key %></a>
            <br />
            <span id="sheet_key_may_be_invalid" hidden="true">Current key doesn't seem valid.</span>
        </div>

        <% @design_day_schedules.each do |t, schedules| %>
            <div class="design-day-schedule-sort-list">
                <h2 class="text-center mt-3"><%= t.to_s.humanize %> schedules</h2>
                <hr class="w-50 mx-auto mb-3"/>
                <%# fields_for puts the id hidden attribute outside the container element. disable and place manually %>
                <%= f.fields_for :design_day_schedules, schedules, include_id: false do |fs| %>
                    <%= render partial: 'design_day_schedule_form', locals: {fs: fs} %>
                <% end %>

                <%# Make a blank object to act as a template %>
                <%= f.fields_for :design_day_schedules, [DesignDaySchedule.new(event_for: t)], child_index: 'TEMPLATE', include_id: false do |fs| %>
                    <%= render partial: 'design_day_schedule_form', locals: {fs: fs} %>
                <% end %>

                <button class="btn btn-success float-end" data-template-fields=<%= "#design_day_schedule_template_#{t}_field" %> ><%= fa_icon 'plus' %></button>
            </div>
        <% end %>
        <br />
        <%= f.submit class: 'btn btn-primary mt-3' %>
    <% end %>
</div>
