<% provide(:title, 'Admin Area | General Settings') %>

<section>
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <h5>Category options</h5><hr>
      <%= form_for @cat_option, url: { controller: 'admin/settings', action: 'add_category' } do |f| %>
        <%= f.label :add_a_category, class: 'form-label profile-label' %>
        <%= f.text_field :name, class: 'profile-text' %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @cat_option, url: { controller: 'admin/settings', action: 'remove_category' } do |f| %>
        <%= f.label :remove_a_category, class: 'form-label profile-label' %>
        <%= select_tag :remove_category, options_from_collection_for_select(CategoryOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select a category...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Area options</h5><hr>
      <%= form_for @area_option, url: { controller: 'admin/settings', action: 'add_area' } do |f| %>
        <%= f.label :add_an_area, class: 'form-label profile-label' %>
        <%= f.text_field :name, class: 'profile-text' %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @area_option, url: { controller: 'admin/settings', action: 'remove_area' } do |f| %>
        <%= f.label :remove_an_area, class: 'form-label profile-label' %>
        <%= select_tag :remove_area, options_from_collection_for_select(AreaOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select an area...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Printer</h5><hr>
      <div class="mb-4">
        <%= form_for @printer, url: { controller: 'admin/settings', action: 'add_printer' } do |f| %>
          <%= label_tag :model_id, 'Printer Model', class: 'form-label profile-label' %>
          <%= select_tag(:model_id, options_for_select(@printer_models), class: 'profile-select form-select') %>
          <%= f.label 'Printer Number', class: 'form-label profile-label' %>
          <%= f.text_field :number, class: 'profile-text' %>
          <%= f.submit 'Add', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="mb-4">
          <%= form_for @printer, url: { controller: 'admin/settings', action: 'remove_printer' } do |f| %>
            <%= f.label :remove_a_printer, class: 'form-label profile-label' %>
            <%= select_tag :remove_printer, options_from_collection_for_select(Printer.show_options, :id, :model_and_number), class: 'profile-select form-select', include_blank: 'Select a printer...' %>
            <%= f.submit 'Remove', class: 'btn btn-primary' %>
          <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Equipment options</h5><hr><br>
      <%= form_for @equip_option, url: { controller: 'admin/settings', action: 'add_equipment' } do |f| %>
        <%= f.label :add_equipment, class: 'form-label profile-label' %>
        <%= f.text_field :name, class: 'profile-text' %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @equip_option, url: { controller: 'admin/settings', action: 'remove_equipment' } do |f| %>
        <%= f.label :remove_equipment, class: 'form-label profile-label' %>
        <%= select_tag :remove_equipment, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select a piece of equipment...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @equip_option, url: { controller: 'admin/settings', action: 'rename_equipment' } do |f| %>
        <%= f.label :rename_equipment, class: 'form-label profile-label' %>
        <%= select_tag :rename_equipment, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select...' %>
        <%= f.text_field :name, class: 'profile-text', id: 'rename_equipment_text' %>
        <%= f.submit 'Rename', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Card reader options</h5><hr>
      <br>
      <%= form_for @pi_option, url: { controller: 'admin/settings', action: 'remove_pi' } do |f| %>
        <%= f.label :remove_card_reader, class: 'form-label profile-label' %>
        <%= select_tag :remove_pi, options_from_collection_for_select(PiReader.all, :id, :pi_mac_with_location), class: 'profile-select form-select', include_blank: 'Select a card reader...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Job Order Processed default email</h5><hr>
      <p>[QUOTED_BALANCE] = Balance given to user, [PRINT_ID] = Job Order ID</p>
      <%= form_for @job_order_processed_message, url: { controller: 'admin/settings', action: 'update_job_order_processed' } do |f| %>
        <%= f.trix_editor :message, class: 'repo form-control mb-2', style: 'height: auto!important;' %>

        <%= f.submit 'Update', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Course Options</h5><hr>
      <%= form_with url: { controller: 'admin/settings', action: 'add_course' }, class: 'mb-4' do |f| %>
        <%= f.label :create_course, class: 'form-label profile-label' %>
        <%= f.text_field :name, class: 'profile-text', placeholder: 'Write a unique name...' %>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      <% end %>
      <%= form_with url: { controller: 'admin/settings', action: 'remove_course' }, class: 'mb-4', method: :delete do |f| %>
        <%= f.label :remove_course, class: 'form-label profile-label' %>
        <%= select_tag :id, options_from_collection_for_select(CourseName.all.order(:name), :id, :name), class: 'profile-select form-select', include_blank: 'Select a course...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <%= form_with url: { controller: 'admin/settings', action: 'rename_course' }, class: 'mb-4', method: :patch do |f| %>
        <%= f.label :rename_course, class: 'form-label profile-label' %>
        <%= select_tag :id, options_from_collection_for_select(CourseName.all.order(:name), :id, :name), class: 'profile-select form-select', include_blank: 'Select a course...' %>
        <%= f.text_field :name, class: 'profile-text', placeholder: 'Write a unique name...' %>
        <%= f.submit 'Rename', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</section>
