<% provide(:title, 'Admin Area | General Settings') %>

<section>
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <h5>Category options</h5><hr>
      <%= form_for @cat_option, url: { controller: 'admin/settings', action: 'add_category' } do |f| %>
        <%= f.label :add_a_category, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control mb-3' %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @cat_option, url: { controller: 'admin/settings', action: 'remove_category' } do |f| %>
        <%= f.label :remove_a_category, class: 'form-label' %>
        <%= select_tag :remove_category, options_from_collection_for_select(CategoryOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select a category...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Area options</h5><hr>
      <%= form_for @area_option, url: { controller: 'admin/settings', action: 'add_area' } do |f| %>
        <%= f.label :add_an_area, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control mb-3' %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @area_option, url: { controller: 'admin/settings', action: 'remove_area' } do |f| %>
        <%= f.label :remove_an_area, class: 'form-label' %>
        <%= select_tag :remove_area, options_from_collection_for_select(AreaOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select an area...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Equipment options</h5><hr><br>
      <%= form_for @equip_option, url: { controller: 'admin/settings', action: 'add_equipment' } do |f| %>
        <%= f.label :add_equipment, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control mb-3' %>
        <%= f.submit 'Add', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @equip_option, url: { controller: 'admin/settings', action: 'remove_equipment' } do |f| %>
        <%= f.label :remove_equipment, class: 'form-label' %>
        <%= select_tag :remove_equipment, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select a piece of equipment...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= form_for @equip_option, url: { controller: 'admin/settings', action: 'rename_equipment' } do |f| %>
        <%= f.label :rename_equipment, class: 'form-label' %>
        <%= select_tag :rename_equipment, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: 'profile-select form-select', include_blank: 'Select...' %>
        <%= f.text_field :name, class: 'form-control mb-3', id: 'rename_equipment_text' %>
        <%= f.submit 'Rename', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <h5>Card reader options</h5><hr>
      <br>
      <%= form_for @pi_option, url: { controller: 'admin/settings', action: 'remove_pi' } do |f| %>
        <%= f.label :remove_card_reader, class: 'form-label' %>
        <%= select_tag :remove_pi, options_from_collection_for_select(PiReader.all, :id, :pi_mac_with_location), class: 'profile-select form-select', include_blank: 'Select a card reader...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <br><br>
    </div>
    <div class="col-md-6">
      <div class="mb-5">
        <h5>Job Order Processed default email</h5><hr/>
        <p>[QUOTED_BALANCE] = Balance given to user, [PRINT_ID] = Job Order ID</p>
        <%= form_for @job_order_processed_message, url: update_job_order_processed_admin_settings_path do |f| %>
          <%= f.trix_editor :message, class: 'repo form-control mb-3 mb-2', style: 'height: auto!important;' %>

          <%= f.submit 'Update', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div>
        <h5>Print Failed default email</h5><hr/>
        <p>[PRINTER_NUMBER] = Printer number, [PRINT_OWNER_NAME] = Print owner full name,
          [PRINT_OWNER_USERNAME] = Print owner username, [STAFF_NOTES] = Staff notes</p>
        <%= form_for @print_failed_message, url: update_print_failed_message_admin_settings_path do |f| %>
          <%= f.trix_editor :message, class: 'repo form-control mb-3 mb-2', style: 'height: auto!important;' %>
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Course Options</h5><hr>
      <%= form_with url: { controller: 'admin/settings', action: 'add_course' }, class: 'mb-4' do |f| %>
        <%= f.label :create_course, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control mb-3', placeholder: 'Write a unique name...' %>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      <% end %>
      <%= form_with url: { controller: 'admin/settings', action: 'remove_course' }, class: 'mb-4', method: :delete do |f| %>
        <%= f.label :remove_course, class: 'form-label' %>
        <%= select_tag :id, options_from_collection_for_select(CourseName.all.order(:name), :id, :name), class: 'profile-select form-select', include_blank: 'Select a course...' %>
        <%= f.submit 'Remove', class: 'btn btn-primary' %>
      <% end %>
      <%= form_with url: { controller: 'admin/settings', action: 'rename_course' }, class: 'mb-4', method: :patch do |f| %>
        <%= f.label :rename_course, class: 'form-label' %>
        <%= select_tag :id, options_from_collection_for_select(CourseName.all.order(:name), :id, :name), class: 'profile-select form-select', include_blank: 'Select a course...' %>
        <%= f.text_field :name, class: 'form-control mb-3', placeholder: 'Write a unique name...' %>
        <%= f.submit 'Rename', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</section>
