<% provide(:title, "Admin Area | General Settings") %>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<div class="edit-column">
  <div class="setting-title">General Settings</div>
  <div class="general-settings">
    <br><br>
    <div>Category options</div><hr><br>
    <%= form_for @cat_option, url: {controller: "admin/settings", action: "add_category"} do |f| %>
      <%= f.label :add_a_category, class: "profile-label" %>
      <%= f.text_field :name, class: "profile-text" %>
      <%= f.submit "Add", class: 'save-button' %>
    <% end %>
    <br>
    <%= form_for @cat_option, url: {controller: "admin/settings", action: "remove_category"} do |f| %>
      <%= f.label :remove_a_category, class: "profile-label" %>
      <%= select_tag :remove_category, options_from_collection_for_select(CategoryOption.show_options, :id, :name), class: "profile-select", include_blank: "Select a category..." %>
      <%= f.submit "Remove", class: 'save-button' %>
    <% end %>
    <br>
    <%= form_for @cat_option, url: {controller: "admin/settings", action: "rename_category"} do |f| %>
      <%= f.label :rename_a_category, class: "profile-label" %>
      <%= select_tag :rename_category, options_from_collection_for_select(CategoryOption.show_options, :id, :name), class: "profile-select", include_blank: "Select..." %>
      <%= f.text_field :name, class: "profile-text", id:"rename_category_text" %>
      <%= f.submit "Rename", class: 'save-button' %>
    <% end %>
  
    <br><br><br>
    <div>Equipment options</div><hr><br>
    <%= form_for @equip_option, url: {controller: "admin/settings", action: "add_equipment"} do |f| %>
      <%= f.label :add_equipment, class: "profile-label" %>
      <%= f.text_field :name, class: "profile-text" %>
      <%= f.submit "Add", class: 'save-button' %>
    <% end %>
    <br>
    <%= form_for @equip_option, url: {controller: "admin/settings", action: "rename_equipment"} do |f| %>
      <%= f.label :rename_equipment, class: "profile-label" %>
      <%= select_tag :rename_equipment, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: "profile-select", include_blank: "Select..." %>
      <%= f.text_field :name, class: "profile-text", id:"rename_equipment_text" %>
      <%= f.submit "Rename", class: 'save-button' %>
    <% end %>
    <br>
    <%= form_for @equip_option, url: {controller: "admin/settings", action: "remove_equipment"} do |f| %>
      <%= f.label :remove_equipment, class: "profile-label" %>
      <%= select_tag :remove_equipment, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: "profile-select", include_blank: "Select a piece of equipment..." %>
      <%= f.submit "Remove", class: 'save-button' %>
    <% end %>
    
    <br><br><br>
    <div>Card reader options</div><hr><br>
    <%= form_for @pi_option, url: {controller: "admin/settings", action: "submit_pi"} do |f| %>
      <%= f.label :Update_card_reader_location, class: "profile-label" %>
      <%= select_tag :submit_pi, options_from_collection_for_select(PiReader.all, :id, :pi_mac_with_location), class: "profile-select", include_blank: "Select a card reader..." %>
      <%= f.text_field :pi_location, class: "profile-text", id:"rename_equipment_text" %>
      <%= f.submit "Submit", class: 'save-button' %>
    <% end %>
    <br>
    <%= form_for @pi_option, url: {controller: "admin/settings", action: "remove_pi"} do |f| %>
      <%= f.label :remove_card_reader, class: "profile-label" %>
      <%= select_tag :remove_pi, options_from_collection_for_select(PiReader.all, :id, :pi_mac_with_location), class: "profile-select", include_blank: "Select a card reader..." %>
      <%= f.submit "Remove", class: 'save-button' %>
    <% end %>
    <br><br>
  
  </div>
  <br><br>
  </div>
</div>