<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<section id ="page-contents" >

  <%= form_for @new_training_session, :url => { :action => "create", controller: 'staff/training_sessions'} do |f| %>
  <h3>New <spacetag style="font-weight:bold"><%=@space.name %></spacetag> training session:<h3>
  <% label_tag 'training_id' %>
  <%= select_tag 'training_id', options_from_collection_for_select(Training.all, 'id', 'name'), prompt: 'select training', class: "trainer-training-course" %><br>

  <% label_tag 'course' %>
  <%= select_tag 'course', options_for_select(TrainingSession.new.courses), prompt: 'select course', class: "trainer-training-course" %><br>

  <% if @user.admin? %>
    <% label_tag 'user_id' %>
    <%= select_tag 'user_id', options_from_collection_for_select(User.where(role: ['staff', 'admin']), 'id', 'name'), prompt: 'select instructor', class: "trainer-training-course" %><br>
  <% end %>
  <br></br>
    <table class="staff-table">
      <h3>Users Inside <%=@space.name%></h3>
      <tr>
        <th href="#" onclick="selectAll()">Select All</th>
        <th>Name</th>
        <th>Email</th>
        <th>Certifications</th>
      </tr>

    <% @space.signed_in_users.each do |user| %>
      <tr>

        <td>
           <%= check_box_tag 'training_session_users[]', value=user.id%>
        </td>

        <td class="user-name">
          <%= link_to(user.name, user_url(user.username)) %>
        </td>

        <td class="email-cell" style="horizontal-alginment:center;">
          <%= user.email  %>
        </td>

        <td class="certifications-cell">
        <% user.certifications.each do |certification| %>
          <div
           class="cert-name"
           style="display:inline" >
           <div class="cert-holder" style="display:inline">
            <%= certification.training %> |
            <div id="cert-details" style="display:inline">
              <%= certification.training %> <br>
              <%= certification.trainer %> <br>
              <%= certification.updated_at.strftime("%B %d, %Y")  %>
            </div>
          </div>
        </div>
        <% end %>
      </td>

      </tr>
    <% end %>
    </table>
    <br>
    <%= submit_tag "Begin Training", class:"save-button"%>
  <% end %>
</section>
