<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<section id ="page-contents" >

  <%= form_for @new_training_session, :url => { :action => "create", controller: 'staff/training_sessions'} do |f| %>
  <h3>New <spacetag style="font-weight:bold"><%=@space.name %></spacetag> training session:<h3>
  <% label_tag 'training_id' %>
  <%= select_tag 'training_id', options_from_collection_for_select(@space.trainings, 'id', 'name'), prompt: 'select training', class: "trainer-training-course" %><br>

  <% label_tag 'course' %>
  <%= select_tag 'course', options_for_select(TrainingSession.new.courses), prompt: 'select course', class: "trainer-training-course" %><br>

  <% if @user.admin? %>
    <% label_tag 'user_id' %>
    <%= select_tag 'user_id', options_from_collection_for_select(User.where(role: ['staff', 'admin']), 'id', 'name'), prompt: 'select instructor', class: "trainer-training-course" %><br>
  <% end %>
    <table class="staff-table">
      Users signed in to <%=@space.name%>
      <tr>
        <th>Select To Train</th>
        <th>Username</th>
        <th>Last Signed In</th>
        <th>Location</th>
        <th>Certification</th>
      </tr>

    <% @space.signed_in_users.each do |user| %>
      <tr>

        <td>
           <%= check_box_tag 'training_session_users[]', value=user.id%>
        </td>

        <td class="username-cell">
          <%= link_to(content_tag(:username, user.username), user_url(user.username)) %>
        </td>

        <td class="signed_in-cell" style="horizontal-alginment:center;">
          <%= if user.lab_sessions.present?
                if singout_time = user.lab_sessions.last.sign_out_time
                  singout_time.strftime("%B %d, %Y")
                end
              end %>
        </td>

        <td class="location-cell">
          <%= user.location %>
        </td>

        <td class="certifications-cell">
        <% user.certifications.each do |certification| %>
          <div
           class="cert-name"
           style="display:inline" >
           <div class="cert-holder" style="display:inline">
            <%= certification.training %> |
            <div id="cert-details" style="display:inline">
              <%= certification.training %> <br>
              <%= certification.trainer %> <br>
              <%= certification.updated_at.strftime("%B %d, %Y")  %>
            </div>
          </div>
        </div>
        <% end %>
      </td>

      </tr>
    <% end %>
    </table>
    <br>
    <%= submit_tag "Begin Training", class:"save-button"%>
  <% end %>
</section>

<br></br>
<%= form_tag("/staff_dashboard/add_users", method: "put", action: "sign_in_users") do %>

<table class="staff-users-table">
    Recently signed out of <%=@space.name%></h2>
    <tr>
      <th>Sign In</th>
      <th>Username</th>
      <th>Last Signed In</th>
      <th>Location</th>
      <th>Certification</th>
    </tr>

    <% @space.recently_signed_out_users.each do |user| %>
      <tr class="add-rows">

        <td class="add-checkbox-cell" >
          <%= check_box_tag 'added_users[]', value=user.username%>
        </td>

        <td class="add-username-cell"><%=
          link_to(content_tag(:add_username, user.username), user_url(user.username))
        %></td>

        <td class="signed_in-cell" style="horizontal-alginment:center;"><%=
          if user.lab_sessions.present?
            singout_time = user.lab_sessions.last.sign_out_time
            singout_time.strftime("%B %d, %Y")
          end
        %></td>

        <td class="location-cell"><%=
          user.location
        %></td>

        <td class="certifications-cell"><%
          if user.certifications.first.present?
            user.certifications.each do |certification|
            %>
            <div
             class="cert-name"
             style="display:inline" >
             <div class="cert-holder" style="display:inline">
              <%= certification.training %> |
              <div id="cert-details" style="display:inline">
                <%= certification.training %> <br>
                <%= certification.trainer %> <br>
                <%= certification.updated_at.strftime("%B %d, %Y")  %>
              </div>
            </div>
          </div>
          <%
            end
          end
          %>
        </td>

      </tr>
    <% end %>
    <br></br>
  </table>
  <br>
  <%= submit_tag "Sign In To Space", class: 'save-button' %>
<% end %>
