<% status = learning_module.tracks_for_user(current_user)&.status || 'Not Started' %>
<div data-id="<%= learning_module.id %>">
    <div class="card h-100 border-1 shadow-sm">
        <%= link_to learning_area_path(learning_module.id), class: 'learning-module-thumbnail-wrapper' do %>
            <%= image_tag learning_module.photos.first, loading: 'lazy',
                          class: "card-img-top learning-module-thumbnail",
                          alt: learning_module.title if learning_module.photos_attachments.any? %>
        <% end %>
        <div class="card-body d-flex flex-column gap-2">
            <p class="small text-muted mb-0"><%= learning_module.training.localized_name %></p>
            <h6 class="fw-bold mb-0"><%= learning_module.title %></h6>
            <button type="button" class="btn btn-sm <%= return_button_class(status) %> disabled mt-auto w-100">
                <%= status %>
            </button>
        </div>
        <% if current_user.admin? %>
            <div class="card-footer bg-transparent d-flex justify-content-between gap-2">
                <%= link_to edit_learning_area_path(learning_module.id), class: 'btn btn-sm btn-outline-primary w-50' do %>
                    <i class="fa fa-pencil"></i> Edit
                <% end %>
                <div class="sort-handle" hidden>
                    <%= fa_icon :arrows %>
                </div>
            </div>
        <% end %>
    </div>
</div>
