<%= provide(:title, 'Learning Area') %>
<div class="mb-3">
    <h1 class="display-2">Learning Modules</h1>
    <p class="lead">Track your progress across all training areas</p>
</div>
<div class="row">
    <%# List of skills at the left %>
    <div class="col-lg-2">
        <% if current_user.admin? %>
            <%= link_to 'New learning module', new_learning_area_path, class: 'btn btn-success d-block mb-3' %>
        <% end %>
        <ul class="list-group mb-5">
            <% @learning_modules.each do |training, learning_modules| %>
                <%= link_to "##{training.localized_name.parameterize}", class: 'list-group-item list-group-item-action' do %>
                    <%= training.localized_name %>
                    <br />
                    <b><%= training.learning_modules_completed(current_user).count %> of <%= learning_modules.size %> completed</b>
                <% end %>
            <% end %>
        </ul>
    </div>

    <%# Displaying learning module cards %>
    <div class="col-lg-10">
        <% @learning_modules.each do |training, learning_modules| %>
            <%# Top header of each training name %>
            <div class="mb-5" id="<%= training.localized_name.parameterize %>">
                <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom pb-2 mb-4">
                    <div>
                        <h2 class="fs-4 d-inline"><%= training.localized_name %></h2>
                        <%= link_to 'Top', '#', class: 'small' %>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <% levels_ordered(training).each do |level| %>
                            <% modules_for_level = learning_modules.select { |m| m.level == level } %>
                            <span class="badge rounded-pill border <%= return_text_color(level) %>">
                                <%= training.learning_modules_completed(current_user, level).count %>
                                /
                                <%= modules_for_level.size %>
                                <%= level %>
                            </span>
                        <% end %>
                        <%= training_status(training.id, current_user.id) %>
                    </div>
                </div>

                <%# Subskills are shown separately %>
                <div class="mb-4">
                    <div>
                        <h2 class="fs-6">Subskills</h2>
                    </div>
                    <div class="row row-cols-md-2 row-cols-lg-4 g-1">
                        <% learning_modules.map(&:subskill).uniq.compact.each do |subskill| %>
                            <% next if subskill.blank? %>
                            <div class="card h-100 border-1 shadow-sm">
                                <%= link_to subskill_learning_area_index_path(subskill), class: 'learning-module-thumbnail-wrapper' do %>
                                    <%#= image_tag learning_module.photos.first, loading: 'lazy',
                                    class: "card-img-top learning-module-thumbnail",
                                    alt: learning_module.title if learning_module.photos_attachments.any? %>
                                <% end %>
                                <div class="card-body d-flex flex-column gap-2">
                                    <h6 class="fw-bold mb-0"><%= subskill %></h6>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>

                <%# Show modules with no subskill %>
                <%# Sometimes the subskill is "", so we need explicit present? call %>
                <% learning_modules.reject{|m| m.subskill.present?}.group_by(&:level).each do |level, modules_by_level| %>
                    <div class="mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <div>
                                <h2 class="d-inline fs-6 <%= return_text_color(level) %>"><%= level.humanize %></h2>
                                <span class="text-muted">
                                    <%= training.learning_modules_completed(current_user, level).count %>
                                    of
                                    <%= modules_by_level.size %>
                                    completed
                                </span>
                            </div>
                            <% if current_user.admin? %>
                                <div class="form-check form-switch mb-0">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           data-order="<%= training.name.parameterize %>-<%= level.parameterize %>">
                                    <label class="form-check-label small text-muted" for="toggle-<%= training.id %>-<%= level %>">
                                        <i class="fa fa-sort me-1"></i>Re-order
                                    </label>
                                </div>
                            <% end %>
                        </div>

                        <div class="row row-cols-md-2 row-cols-lg-4 g-1" data-order-container="<%= training.name.parameterize %>-<%= level.parameterize %>">
                            <%= render partial: 'learning_module_card', collection: modules_by_level, as: :learning_module %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= vite_javascript_tag 'learning_modules' %>
