<% provide(:title, 'Learning Area') %>

<section class="card mb-3">
    <div class="card-body">
        <h1 class="mb-1"><%= @learning_module.title %></h1>
        <p class="mb-3">
            <span class="badge rounded-pill border <%= return_text_color(@learning_module.level) %>">
                <%= @learning_module.level.humanize %>
            </span>
            <span class="ms-2"><%= @learning_module.training.localized_name %></span>
        </p>

        <% if @learning_module.scorm_package.attached? %>
            <%= render 'scorm', learning_module: @learning_module %>
        <% else %>
            <%= render 'content', learning_module: @learning_module %>
        <% end %>
    </div>
</section>

<%= render 'layouts/photoswipe' %>
