<% provide(:title, 'Learning Area') %>

<section class="card mb-3">
    <% if @learning_module.photos.any? %>
        <div class="bg-dark" style="height: 320px;">
            <%= image_tag @learning_module.photos.first,
                          alt: @learning_module.title,
                          class: 'card-img-top',
                          style: 'width: 100%; height: 320px; object-fit: cover;',
                          loading: 'lazy' %>
        </div>
    <% end %>

    <div class="card-body">
        <h1 class="mb-1"><%= @learning_module.title %></h1>
        <p class="mb-3">
            <span class="badge rounded-pill border <%= return_border_color(@learning_module.level) %> <%= return_text_color(@learning_module.level) %>">
                <%= @learning_module.level %>
            </span>
            <span class="ms-2"><%= @learning_module.training.localized_name %></span>
        </p>

        <% if @learning_module.scorm_package.attached? %>
            <%= render 'scorm', learning_module: @learning_module %>
        <% else %>
            <%= render 'content', learning_module: @learning_module %>
        <% end %>
    </div>
</section>

<%= render 'layouts/photoswipe' %>
