<%= form_with model: @locker_rental do |f| %>
    <div class="row mb-3">
        <div class="col-md-2">
            <%= f.label :locker_selected, "Select a locker" %>
        </div>
        <div class="col-md">
            <%= f.select :locker_id, Locker.available.order_by_specifier.map { |locker|
                [locker.specifier, locker.id, {data: {size: locker.locker_size.size}}]
            }, { include_blank: 'Select a locker...' }, { class: 'form-select' } %>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <%= f.label :rented_by_username, class: 'form-label' %>
        </div>
        <div class="col-md">
            <%= f.select :rented_by_username, options_for_select([]), { prompt: 'Select user...' }, { autocomplete: 'new-password', class: 'form-select', data: {user_search_bar: ''} } %>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <%= f.label :owned_until, class: 'form-label' %>
        </div>
        <div class="col-md">
            <%= f.date_field :owned_until, { value: end_of_this_semester.to_date, class: 'form-control' } %>
        </div>
    </div>
    <%= f.hidden_field :state, value: LockerRental.states[:active] %>
    <%= f.submit 'Assign locker', class: 'btn btn-success' %>
<% end %>
<%= vite_javascript_tag 'staff_dashboard_search', 'data-turbo-track': 'reload' %>
<%= vite_javascript_tag 'locker_rental_form', 'data-turbo-track': 'reload' %>
