<div class="table-responsive">
    <table class="table table-striped" id="rental-data-table">
        <% if local_assigns[:header_title] %>
            <caption class="text-center fs-3" align="top"><%= header_title %></caption>
        <% end %>
        <thead class="table-primary text-center">
            <tr>
                <th class="w-auto dt-center" data-type="num"><%= t('lockers.locker_id') %></th>
                <th class="w-auto"><%= t('lockers.rented_by') %></th>
                <th class="w-auto"><%= t('lockers.state.state') %></th>
                <th class="w-auto">Requested on</th>
                <th style="w-auto">Requested as</th>
                <th class="w-auto"><%= t('lockers.assigned_on') %></th>
                <th class="w-auto"><%= t('lockers.owned_until') %></th>
                <% unless local_assigns[:hide_actions] %>
                    <th class="w-auto">Actions</th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% if locker_rentals.present? %>
                <% locker_rentals.each do |rental| %>
                    <tr>
                        <td class="dt-center"> <%= rental.locker %></td>
                        <td><%= link_to rental.rented_by.username, user_path(rental.rented_by) %>
                            <%= tag.span(rental.rented_by.role.humanize, class: 'badge text-bg-primary') if rental.rented_by.staff? %></td>
                        <td data-search="<%= rental.state %>">
                            <%= tag.i class: "fa #{rental.state_icon}" %> <%= t("lockers.state.#{rental.state}") %>
                            <%= link_to t('lockers.details'), rental, class: 'btn btn-sm btn-primary' %>
                        </td>
                        <td data-order="<%= rental.created_at.to_i %>"><%= rental.created_at.to_formatted_s :long %></td>
                        <td>
                            <%= rental.requested_as.to_s.humanize %>
                            <% if rental.repository %>
                                <br />
                                <%= link_to "Has linked repository", repository_path(rental.rented_by.username, rental.repository.id), title: rental.repository.title %>
                            <% else %>
                                <br />
                                No repository provided
                            <% end if rental.requested_as_student? %>
                        </td>
                        <td><%= rental.updated_at&.to_date %></td>
                        <td><%= rental.owned_until&.to_date || 'Unapproved yet' %></td>
                        <% unless local_assigns[:hide_actions] %>
                            <td><%= locker_rental_actions(rental) %></td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
