<h1 class="text-center">All Rentals
    <br/>
    <%= link_to 'Back', lockers_path, class: 'fs-4' %>
</h1>
<hr />
<div class="container-fluid">
    <% @locker_types.each do |type| %>
        <h2 class="text-center"><%= type.short_form %></h2>
        <%= render partial: 'rental_data_table',
                   locals: { locker_rentals: type.locker_rentals.where(state: :active),
                             header_title: 'Assigned lockers' } %>
        <hr class="w-50 mx-auto"/>
        <div class="row row-cols-md-3">
            <%= render partial: 'rental_data_table',
                       locals: { locker_rentals: type.locker_rentals.where(state: :reviewing),
                                 header_title: 'Requests' } %>
            <%= render partial: 'rental_data_table',
                       locals: { locker_rentals: type.locker_rentals.where(state: :await_payment),
                                 header_title: 'Unpaid' } %>
            <%= render partial: 'rental_data_table',
                       locals: { locker_rentals: type.locker_rentals.where(state: :cancelled),
                                 header_title: 'Cancelled' } %>
        </div>
        <hr />
    <% end %>
</div>
