<% provide :title, 'All locker rentals' %>

<h1 class="text-center">All Rentals
    <br/>
    <%= link_to 'Back', lockers_path, class: 'fs-4' %>
</h1>
<div class="container">
    <%= render partial: 'rental_data_table',
               locals: { locker_rentals: @own_locker_rentals.order(:state),
                         header_title: 'Your locker requests', hide_actions: true } %>
</div>
<hr class="w-50 mx-auto"/>
<% if current_user.admin? %>
    <div class="container-fluid">
        <% @locker_types.each do |type| %>
            <h2 class="text-center"><%= type.short_form %></h2>
            <%= render partial: 'rental_data_table',
                       locals: { locker_rentals: type.locker_rentals.where(state: :active),
                                 header_title: 'Assigned lockers' } %>
            <div class="row row-cols-md-3 g-1">
                <%= render partial: 'rental_data_table',
                           locals: { locker_rentals: type.locker_rentals.where(state: :reviewing),
                                     header_title: 'Requests' } %>
                <%= render partial: 'rental_data_table',
                           locals: { locker_rentals: type.locker_rentals.where(state: :await_payment),
                                     header_title: 'Unpaid' } %>
                <%= render partial: 'rental_data_table',
                           locals: { locker_rentals: type.locker_rentals.where(state: :cancelled),
                                     header_title: 'Cancelled', hide_actions: true } %>
            </div>
            <hr />
        <% end %>
    </div>
<% end %>
