<% provide :title, t('lockers.all_locker_rentals') %>

<div class="my-3">
    <%= render 'locker_rentals/nav_tabs', selected: :my_rentals %>
</div>
<h1 class="text-center"><%= t('lockers.all_locker_rentals') %></h1>
<p class="text-center">Here you can see your locker rental history</p>
<div class="container">
    <% @own_locker_rentals.active.each do |rental| %>
        <div class="card">
            <div class="row g-0">
                <div class="col-md-2">
                    <%= image_tag "locker/STEM_lockers.jpg", class: "img-fluid rounded-start" %>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <p class="fs-5"><%= "#{t('lockers.locker')} ##{rental.locker_id}" %></p>
                        <p><span class="badge text-bg-success">Active</span> Until <%= rental.owned_until.to_date.to_fs :long %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <hr />

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <%= image_tag "locker/STEM_lockers.jpg", class: "img-fluid rounded-start bg-secondary" %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="fs-3 card-title">CEED Lockers</p>
                    <% if @own_locker_rentals.pending.any? %>
                        <span class="badge text-bg-secondary">Under review</span>
                    <% elsif @own_locker_rentals.active.any? %>
                        <span class="badge text-bg-success">Active</span>
                    <% end %>
                    <p class="card-text">Brunsfield lockers located at STM124 or somewhere</p>
                    <%= link_to "Request locker", new_locker_rental_path, class: 'btn btn-primary stretched-link' %>
                    <p class="card-text"><small class="text-body-secondary">$20 per semester</small></p>
                </div>
            </div>
        </div>
    </div>
    <details>
        <summary>Locker history</summary>
        <%= render partial: 'rental_data_table',
                   locals: { locker_rentals: @own_locker_rentals.order(:state),
                       header_title: t('lockers.your_locker_requests'), hide_actions: true } %>
    </details>
</div>
