<% provide :title, 'Request a locker' %>

<div class="container">
    <h1 class="text-center pt-3">New Locker Request</h1>
    <hr class="w-50 mx-auto" />
    <p>Here you can submit a request for a locker. Once sent, you'll be notified once your request is approved and payment is received.
        You may cancel your request before it is paid, however once paid the locker rental fee is non-refundable.</p>
    <p>You may be approved for a locker free of charge if you are:</p>
    <ul>
        <li>a GNG1103, GNG2101, or GNG5140 student, or</li>
        <li>a staff member.</li>
    </ul>
    <p>For any questions, contact us at <a href="mailto:ceed@uottawa.ca">ceed@uottawa.ca</a></p>
    <p>You may have only one pending request at a time.</p>
    <hr />
    <% if @pending_locker_request&.reviewing? %>
        <p>You have a pending request for a locker submitted on <b><%= @pending_locker_request.created_at.to_date %></b>.
            You will receive a response shortly.</p>
    <% elsif @pending_locker_request&.await_payment? %>
        <p>Your request has been accepted, and now is pending payment to be finalized. <%= link_to 'Click here to view your request and to proceed to checkout', @pending_locker_request, class: '' %></p>
    <% else %>
        <%= form_with model: @locker_rental do |f| %>
            <div class="row row-cols-auto align-items-center">
                <div>
                    <%= f.label :requested_as, 'I am a ', class: 'd-inline' %>
                    <%= f.select :requested_as, options_for_select(@available_fors), {}, { class: 'form-select w-auto', required: true } %>
                </div>
            </div>
            <div class="form-text">Locker location is dependent on availability.</div>
            <fieldset id="repo-select" hidden disabled>
                <p class="mb-3">If applying as a GNG student, please provide a link to your repository page here to help speed up your application</p>
                <%= f.select :repository_id, options_for_select(@user_repositories),
                 {prompt: @user_repositories.empty? ? 'No repositories are linked to your account' : 'Select a repository'},
                 {class: 'form-select mb-3', disabled: @user_repositories.empty?, required: true} %>
            </fieldset>
            <% %>
            <%= f.label :notes, 'Notes with request:' %>
            <%= f.text_area :notes, class: 'form-control' %>
            <!-- This hidden field is for testing/debug purposes only, we're still checking credentials you skiddie -->
            <%= f.hidden_field :ask %>
            <%= f.submit 'Submit request', class: 'btn btn-primary my-3' %>
        <% end %>
    <% end %>

    <% if @locker_rental.errors.any? %>
        <div class="border">
            <p class="fw-bold">Errors:</p>
            <ul>
                <% @locker_rental.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>
