<% provide :title, 'Request a locker' %>
<% if current_user.admin? %>
    <details open>
        <summary class="text-center fs-underline text-primary">Seen by administration only</summary>
        <h1 class="text-center my-3">Assign locker to user</h1>
        <%= render partial: 'assign_locker_form' %>
        <hr />
    </details>
<% end %>

<div class="border container">
    <h1 class="text-center mt-3">New Locker Request</h1>
    <hr class="w-50 mx-auto" />
    <p>Here you can submit a request for a locker. Once sent, you'll be notified once your request is approved and payment is received.
        You may cancel your request before it is paid, however once paid the locker rental fee is non-refundable.</p>
    <p>You may be approved for a locker free of charge if you are:</p>
    <ol>
        <li>a GNG1103, GNG2101, or GNG5140 student, or</li>
        <li>a staff member.</li>
    </ol>
    <p>The current rates are:</p>
    <ul>
        <% LockerType.available.each do |type| %>
            <li><%= type.short_form %> - $<%= type.cost %> per semester</li>
            <p><%= type.description %></p>
        <% end %>
    </ul>
    <p>For any questions, contact us at <a href="mailto:ceed@uottawa.ca">ceed@uottawa.ca</a></p>
    <p>You may have only one pending request at a time.</p>
    <% if @pending_locker_request&.reviewing? %>
        <hr />
        <p>You have a pending request for a locker at <%= @pending_locker_request.locker_type.short_form %>, submitted on <%= @pending_locker_request.created_at.to_date %>.
        You will receive a response shortly from administration.</p>
    <% elsif @pending_locker_request&.await_payment? %>
        <hr />
        <p>Your request has been accepted, and now is pending payment to be finalized. <%= link_to 'Click here to view your request and to proceed to checkout', @pending_locker_request, class: '' %></p>
    <% else %>
        <%= form_with model: @locker_rental do |f| %>
            <div class="row row-cols-auto align-items-center">
                <%= f.label :locker_type_id, 'Request locker for', class: 'd-inline' %>
                <%= f.select :locker_type_id, options_for_select(@available_locker_types.pluck(:short_form, :id)), {}, { class: 'form-select w-auto' } %>
                <%= f.label :as_a, 'as a', class: 'd-inline' %>
                <%= f.select :as_a, options_for_select(@available_fors), {}, { class: 'form-select w-auto' } %>
            </div>
            <%= f.label :notes, 'Notes with request:' %>
            <%= f.text_area :notes, class: 'form-control' %>
            <!-- This hidden field is for testing/debug purposes only, we're still checking credentials you skiddie -->
            <%= f.hidden_field :ask %>
            <%= f.submit 'Submit request', class: 'btn btn-primary my-3' %>
        <% end %>
    <% end %>

    <% if @locker_rental.errors.any? %>
        <div class="border">
            <p class="fw-bold">Errors:</p>
            <ul>
                <% @locker_rental.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>
