<% provide :title, t('lockers.view_locker_request') %>
<h1 class="text-center"><%= t('lockers.locker_request') %> #<%= @locker_rental.id %> - <%= t("lockers.state.#{@locker_rental.state}") %></h1>
<hr class="w-50 mx-auto" />
<div class="row justify-content-between">
    <div class="col-md">
        <h2><%= t('lockers.details') %></h2>
        <p><%= t('lockers.submitted_on') %> <b><%= @locker_rental.created_at.to_date %></b> <%= t('lockers.for') %>
            <%= link_to @locker_rental.rented_by.username, user_url(@locker_rental.rented_by.username) %>
            <%= tag.span(@locker_rental.rented_by.role.humanize, class: 'badge text-bg-primary') if @locker_rental.rented_by.staff? %></p>
        <p>
            <b><%= t('lockers.locker') %>:</b> <%= @locker_rental.locker&.specifier || '-' %>
            <br /> <b>Preferred locker:</b> <%= @locker_rental.preferred_locker&.specifier %>
        </p>
        <p></p>
        <p><b><%= t('lockers.state.state') %>:</b> <%= @locker_rental.state.humanize %>
            <% if @locker_rental.expired? %>
                | <span class="text-danger"><%= fa_icon :times %> Expired</span>
            <% end %>
        </p>
        <p><b><%= t('lockers.paid_on') %>:</b> <%= @locker_rental.paid_at&.to_date&.to_fs(:long) || '-' %></p>
        <p><b>Approved by:</b> <%= @locker_rental.decided_by&.name %></p>
        <p><b>Requested as:</b> <%= @locker_rental.requested_as&.humanize %></p>
        <% if @locker_rental.requested_as_student? %>
            <p class="d-block ms-md-3">
                <% if @locker_rental.repository %>
                    <%= link_to @locker_rental.repository.title, repository_path(@locker_rental.rented_by.username, @locker_rental.repository.id) %>.
                <% end %>
                Team name is <%= begin
                             tag.b {@locker_rental.team_name}
                             rescue StandardError
                             "not given"
                             end %>,
                course is <%= begin
                          tag.b{ @locker_rental.course_name.name }
                          rescue StandardError
                          "not given"
                          end %> section <%= begin
                                         tag.b { @locker_rental.section_name }
                                         rescue StandardError
                                         "not given"
                                         end %>
            </p>
        <% end %>
    </div>
    <div class="col-md">
        <% if @locker_rental.notes.present? %>
            <div class="card mb-3">
                <h2 class="card-header"><%= t('lockers.notes') %></h2>
                <div class="card-body">
                    <p class="card-text"><%= @locker_rental.notes %></p>
                </div>
            </div>
        <% end %>

        <% if @locker_rental.pending? %>
            <% if @locker_rental.reviewing? %>
                <p>This request has not been approved yet.</p>
            <% elsif @locker_rental.await_payment? %>
                <div class="card bg-info-subtle mb-3">
                    <div class="card-body">
                        <p>Your locker has been approved, and is ready for checkout.</p>
                    </div>
                    <div class="card-footer">
                        <%= link_to 'Checkout', @locker_rental.checkout_link, class: 'btn btn-info stretched-link float-end' %>
                    </div>
                </div>
            <% end %>

            <div class="card bg-danger-subtle mb-3">
                <div class="card-body">
                    <p>You can cancel your request now before paying the locker rental fee.
                        The locker rental fee is non-refundable.</p>
                </div>
                <%= form_with model: @locker_rental, class: 'card-footer' do |f| %>
                    <%= f.hidden_field :state, value: 'cancelled' %>
                    <%= f.button 'Cancel rental', class: 'btn btn-danger float-end', data: { confirm: "Are you sure you want to cancel this locker?" } %>
                <% end %>
            </div>
        <% end %>

        <%= link_to current_user.staff? ? admin_locker_rentals_path : locker_rentals_path, class: 'btn btn-secondary' do %>
            <i class="fa fa-arrow-left"></i> Back to locker rentals
        <% end %>
    </div>
</div>

<hr />
<%= form_with model: @locker_rental do |f| %>
    <div class="row justify-content-between gy-3 mb-3">
        <div class="col-md-auto">

        </div>

        <div class="col-md">
            <% if current_user.staff? && !@locker_rental.cancelled? %>
                <%= f.select :locker_id,
                  options_for_select(Locker.order_by_specifier.available.pluck(:specifier, :id).map{ |specifier, id| ["Locker ##{specifier}", id]}),
                 {prompt: 'Select a locker...'}, { class: 'form-select'} %>
                <div class="input-group">
                    <%= f.date_field :owned_until, value: end_of_this_semester, class: 'form-control' %>
                    <span class="input-group-text">Owned until</span>
                </div>
            <% end %>
        </div>
    </div>

    <% unless @locker_rental.cancelled? %>
        <div class="row row-cols-lg-3 gx-2 gy-1">
            <% if @locker_rental.reviewing? %>
                <div>
                    <div class="bg-success-subtle rounded border border-success p-3 h-100 d-flex flex-column justify-content-between">
                        <p>Email user a notification that their locker is ready for payment. Once paid the locker will be automatically assigned.</p>
                        <%= f.button 'Send to checkout', name: 'locker_rental[state]', value: 'await_payment', class: 'btn btn-success', data: {confirm: "Are you sure you want to send to checkout?"} %>
                    </div>
                </div>
            <% end %>

            <div>
                <div class="bg-info-subtle rounded border border-info p-3 h-100 d-flex flex-column justify-content-between">
                    <p>Emails user a notification that a locker has been assigned or moved.
                        Immediately assigns a locker without asking for payment.</p>
                    <%= f.button name: 'locker_rental[state]', value: 'active', class: 'btn btn-info', data: {confirm: "Are you sure you want to assign this locker?"} do %>
                        <% if @locker_rental.active? %>
                            Move locker
                        <% else %>
                            Assign now
                        <% end %>
                    <% end %>
                </div>
            </div>

            <%# Staff can cancel any rental. %>
            <% if (current_user.staff? && !@locker_rental.cancelled?) || @locker_rental.pending? %>
                <div>
                    <div class="bg-danger-subtle rounded border border-danger p-3 h-100 d-flex flex-column justify-content-between">
                        <p><%= t('lockers.actions.cancel_request_description') %></p>
                        <%= f.button 'Cancel rental', name: 'locker_rental[state]', value: 'cancelled',
                         class: 'btn btn-danger', data: {confirm: "Are you sure you want to cancel this locker?"} %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>

<%= vite_javascript_tag 'locker_rental_form', 'data-turbo-track': 'reload' %>
