<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Viewing <%=@user.name.capitalize + "'s"%> Volunteer Hours</h2>
    <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: date, tasks, hours, ..." class="form-control mx-auto">

    <br />

    <table class="sessions-table">
    <tr>
      <th>Date Submitted <span onclick="sortTable('sessions-table', 0)"><%=fa_icon('arrow-down')%></span></th>
      <th>Task <span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
      <th>Date of Task<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
      <th>Time Worked <span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
      <th class="action-header">Action</th>

    </tr>

    <tbody>
    <%= will_paginate @user_volunteer_hours %>
    <% @user_volunteer_hours.each do |vh| %>
      <tr>
        <td class="date-cell">
          <%= vh.created_at.strftime("%I:%M %p").downcase() %>
          <br>
          <%= vh.created_at.strftime("%b %e %Y").downcase() %>
        </td>

        <td class="training-cell">
          <%= vh.volunteer_task.title %>
        </td>

        <td class="trainer-cell" style="horizontal-alginment:center;">
          <%= vh.date_of_task.strftime("%b %e %Y") %>
        </td>

        <td class="space-cell">
          <%= vh.total_time %> Hours
        </td>

        <td class="action-cell">
        <br>
          <%=link_to "Edit", edit_volunteer_hour_path(vh.id), class:"visit-button" %>
          <%=link_to "Delete", { action: :destroy, id: vh.id }, method: :delete, data: { confirm: 'Are you sure that you want to delete this volunteer hour?' }, class:"destroy-button"%>
          <%#=link_to "Download", training_report_staff_training_session_path(id:sesh.id, format: "csv" ), action: :training_report, class:"download-button" %>
        <br></br>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>

  </div>
</section>
