<% if @key_request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@key_request.errors.count, 'error') %> prohibited this form from being saved:</h2>

    <ul>
      <% @key_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section>
  <h2 class="mb-3 fw-bold py-3 text-center">Access Key Form - Personal Information</h2>

  <%= form_for @key_request, url: { controller: 'key_requests', action: 'create' } do |f| %>
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <div class="mb-3">
          <%= f.label :student_number, 'Student/Employee Number', class: 'form-label' %>
          <%= f.text_field :student_number, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :phone_number, class: 'form-label' %>
          <%= f.text_field :phone_number, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :emergency_contact, class: 'form-label' %>
          <%= f.text_field :emergency_contact, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :emergency_contact_relation, 'Relation to emergency contact (optional)', class: 'form-label' %>
          <%= f.text_field :emergency_contact_relation, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :emergency_contact_phone_number, class: 'form-label' %>
          <%= f.text_field :emergency_contact_phone_number, class: 'form-control', required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :space_id, 'Department', class: 'form-label' %>
          <%= f.select :space_id, Space.all.pluck(:name, :id), { prompt: 'Choose Space...' }, { class: 'form-control', id: 'space-select' } %>
        </div>
        <div class="mb-3">
          <%= f.label :supervisor_id, class: 'form-label' %>
          <%= f.select :supervisor_id, User.where(role: 'admin').pluck(:name, :id), { prompt: 'Choose Supervisor...' }, { class: 'form-control', id: 'supervisor-select' } %>
        </div>
        <div class="mb-5">
          <%= f.label :user_status, 'Status', class: 'form-label' %>
          <%= f.select :user_status, options_for_select(KeyRequest.user_statuses.map { |k, _v| [k.humanize.capitalize, k] }), {}, { class: 'form-control form-select' } %>
        </div>

        <div class="text-center">
          <%= f.submit 'Next Step', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</section>