<section class="w-75 mx-auto">
  <h2 class="m-0 fw-bold py-4 text-center">Key Request #<%= @key_request.id %> - <%= @key_request.status.humanize.capitalize %></h2>

  <div class="mb-5 d-flex flex-row align-items-center justify-content-center gap-3">
    <%= link_to 'View Certifications', staff_certification_path(@key_request.user.staff_certification.id), class: 'btn btn-primary' unless @key_request.user.staff_certification.nil? %>
    <%= link_to 'Edit Key Request', key_request_steps_path(key_request_id: @key_request.id, step: 1), class: 'btn btn-primary' if @user.eql?(@key_request.user) %>
  </div>

  <div class="mb-5 mt-4">
    <h4 class="mb-3">Key Request Information</h4>
    <h6><span class="fw-bold">Space:</span> <%= @key_request.space.name %></h6>
    <h6><span class="fw-bold">User:</span> <%= link_to @key_request.user.name, user_path(@key_request.user.username), target: '_blank', rel: 'noopener' %></h6>
    <h6><span class="fw-bold">Supervisor:</span> <%= link_to @key_request.supervisor.name, user_path(@key_request.supervisor.username), target: '_blank', rel: 'noopener' %></h6>
    <h6><span class="fw-bold">Form Status:</span> <%= @key_request.status.humanize.capitalize %></h6>
  </div>

  <div class="mb-5">
    <h4 class="mb-3">User Information</h4>
    <h6><span class="fw-bold">User Status:</span> <%= @key_request.user_status.humanize.capitalize %></h6>
    <h6><span class="fw-bold">Email:</span> <%= @key_request.user&.email %></h6>
    <h6><span class="fw-bold">Student/Employee Number:</span> <%= @key_request.student_number %></h6>
    <h6><span class="fw-bold">Phone Number:</span> <%= @key_request.phone_number %></h6>
    <h6><span class="fw-bold">Emergency Contact:</span> <%= @key_request.emergency_contact %></h6>
    <h6><span class="fw-bold">Relation to Emergency Contact:</span> <%= @key_request.emergency_contact_relation %></h6>
    <h6><span class="fw-bold">Emergency Contact Phone Number:</span> <%= @key_request.emergency_contact_phone_number %></h6>
    <h6><span class="fw-bold">Read and understood lab rules:</span> <%= @key_request.read_lab_rules? ? 'yes' : 'no' %></h6>
    <h6><span class="fw-bold">Read and understood policies:</span> <%= @key_request.read_policies? ? 'yes' : 'no' %></h6>
    <h6><span class="fw-bold">Read and accepted agreement:</span> <%= @key_request.read_agreement? ? 'yes' : 'no' %></h6>
  </div>

  <div class="mb-5">
    <h4 class="mb-3">Safety Questionnaire Answers</h4>
    <% (1..KeyRequest::NUMBER_OF_QUESTIONS).each do |i| %>
      <div class="card mb-3">
        <div class="card-header bg-primary text-light">
          <%= "Q#{i} - #{KeyRequest::QUESTIONS[i - 1]}" %><br>
        </div>
        <div class="card-body">
          <%= @key_request.send("question_#{i}").nil? ? 'No Answer' : @key_request.send("question_#{i}") %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @user.admin? %>
    <div class="d-flex flex-row align-items-center justify-content-center gap-2">
      <%= button_to 'Approve', approve_key_request_admin_keys_path(id: @key_request.id), class: 'btn btn-success', method: :patch if @key_request.status_waiting_for_approval? %>
      <%= button_to 'Deny', deny_key_request_admin_keys_path(id: @key_request.id), class: 'btn btn-danger', method: :patch if @key_request.status_waiting_for_approval? %>
    </div>
  <% end %>
</section>
