<section class="w-75 mx-auto">
  <h2 class="m-0 fw-bold py-4 text-center">Key Request #<%= @key_request.id %> - <%= @key_request.status.humanize.capitalize %></h2>

  <div class="text-center">
    <%= link_to 'Edit Key Request', key_request_steps_path(key_request_id: @key_request.id, step: 1), class: 'btn btn-primary' if @user.eql?(@key_request.user) %>
  </div>

  <div class="mb-4 mt-4">
    <h4 class="mb-3 fw-bold">Key Request Information</h4>
    <h6>Space: <%= @key_request.space.name %></h6>
    <h6>User: <%= link_to @key_request.user.name, user_path(@key_request.user.username), target: '_blank', rel: 'noopener' %></h6>
    <h6>Supervisor: <%= link_to @key_request.supervisor.name, user_path(@key_request.supervisor.username), target: '_blank', rel: 'noopener' %></h6>
    <h6>Form Status: <%= @key_request.status.humanize.capitalize %></h6>
  </div>

  <div class="mb-4">
    <h4 class="mb-3 fw-bold">User Information</h4>
    <h6>User Status: <%= @key_request.user_status.humanize.capitalize %></h6>
    <h6>Email: <%= @key_request.user&.email %></h6>
    <h6>Student/Employee Number: <%= @key_request.student_number %></h6>
    <h6>Phone Number: <%= @key_request.phone_number %></h6>
    <h6>Emergency Contact: <%= @key_request.emergency_contact %></h6>
    <h6>Relation to Emergency Contact: <%= @key_request.emergency_contact_relation %></h6>
    <h6>Emergency Contact Phone Number: <%= @key_request.emergency_contact_phone_number %></h6>
    <h6>Read and understood lab rules: <%= @key_request.read_lab_rules? ? "yes" : "no" %></h6>
    <h6>Read and understood policies: <%= @key_request.read_policies? ? "yes" : "no" %></h6>
    <h6>Read and accepted agreement: <%= @key_request.read_agreement? ? "yes" : "no" %></h6>
  </div>

  <div class="mb-5">
    <h4 class="mb-3 fw-bold">Safety Questionnaire Answers</h4>
    <% (1..KeyRequest::NUMBER_OF_QUESTIONS).each do |i| %>
      <div class="mb-3">
        <%= "Question #{i} - #{KeyRequest::QUESTIONS[i - 1]}" %><br>
        <%= @key_request.send("question_#{i}").nil? ? 'No Answer' : @key_request.send("question_#{i}") %>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <h4 class="mb-3 text-center">Staff Files:</h4>

    <% (1..StaffCertification::NUMBER_OF_STAFF_FILES).each do |i| %>
      <% if @staff_certification.send("pdf_file_#{i}").attached? %>
        <h5><%= StaffCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>:</h5>
        <div class="mb-5 ratio ratio-16x9">
          <iframe src="<%= url_for(@staff_certification.send("pdf_file_#{i}")) %>" allowfullscreen></iframe>
        </div>
      <% else %>
        <h5>
          <%= StaffCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>: not attached
        </h5>
      <% end %>
    <% end %>
  </div>
  <div>
    <h4 class="mb-3 text-center">Supervisor Files:</h4>

    <% ((StaffCertification::NUMBER_OF_STAFF_FILES + 1)..StaffCertification::TOTAL_NUMBER_OF_FILES).each do |i| %>
      <% if @staff_certification.send("pdf_file_#{i}").attached? %>
        <h5><%= StaffCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>:</h5>
        <div class="mb-5 ratio ratio-16x9">
          <iframe src="<%= url_for(@staff_certification.send("pdf_file_#{i}")) %>" allowfullscreen></iframe>
        </div>
      <% else %>
        <h5>
          <%= StaffCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>: not attached
        </h5>
      <% end %>
    <% end %>
  </div>
</section>
