<%= form_with model: @locker_type, class: 'container mb-3' do |f| %>
    <div class="row">
        <%= f.label :short_form, 'Short form (prefix)', class: 'form-label col-md-6' %>
        <div class="col-md-6">
            <%= f.text_field :short_form, class: 'form-control' %>
        </div>
    </div>

    <div class="row">
        <%= f.label :description, 'Short description', class: 'form-label col-md-6' %>
        <div class="col-md-6">
            <%= f.text_field :description, class: 'form-control' %>
        </div>
    </div>

    <div class="row">
        <%= f.label :quantity, 'Total amount', class: 'form-label col-md-6' %>
        <div class="col-md-6">
            <%= f.number_field :quantity, class: 'form-control', value: 10 %>
        </div>
    </div>

    <div class="row">
        <%= f.label :available_for, class: 'form-label col-md-6' %>
        <div class="col-md-6">
            <%= f.select :available_for, LockerType.available_fors.transform_keys(&:humanize), {}, { class: 'form-select' } %>
        </div>
    </div>

    <div class="row mb-3">
        <%= f.label :cost, 'Cost if applicable', class: 'form-label col-md-6' %>
        <div class="col-md-6">
            <%= f.number_field :cost, class: 'form-control', value: 0 %>
        </div>
    </div>

    <div class="form-check-reverse">
        <%= f.label :available, class: 'form-check-label' %>
        <%= f.check_box :available, class: 'form-check-input' %>
    </div>
    <%= f.submit (local_assigns[:is_edit] ? 'Edit' : 'Create'), class: 'btn btn-success' %>
    <% if @locker_type.errors.any? %>
        <ul>
            <% @locker_type.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
        </ul>
    <% end %>
<% end %>
