<% provide :title, 'Edit locker type' %>

<div class="text-center mb-3">
    <h1>Edit locker type</h1>
    <%= link_to 'Back to lockers dashboard', lockers_path, class: 'btn btn-link' %>
    <p><%= @locker_type.short_form %>: <%= @locker_type.active_locker_rentals.count %> assigned/<%= @locker_type.quantity %> total</p>
</div>
<div class="col-md-6 mx-auto">
    <%= render partial: 'new_locker_type_form', locals: { is_edit: true } %>
    <%= button_to 'Delete', locker_type_path(@locker_type), method: :delete, class: 'float-end btn btn-danger', data: { confirm: 'Are you sure you want to delete this type? All historical rentals will be deleted too' } %>
</div>
