<% provide :title, 'Locker types' %>
<% content_for :before_container do %>
    <%= render('locker_rentals/nav_tabs', selected: :admin_rental) %>
    <%= render 'lockers/admin_nav_tabs', selected: :types %>
<% end %>

<h1 class="text-center mt-3">Locker types</h1>
<div class="table-responsive">
    <table class="table table-striped">
    <caption class="fs-2 text-center" align='top'>Locker types defined</caption>
        <thead class="table-primary">
            <tr>
                <th>Short code</th>
                <th>Description</th>
                <th>Assigned/Total</th>
                <th>Available for request?</th>
                <th>Cost if applicable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @locker_types.each do |type| %>
                <tr>
                    <td><%= type.short_form %></td>
                    <td><%= type.description %></td>
                    <td><%= type.active_locker_rentals.count %> assigned / <%= type.quantity %> total</td>
                    <td><%= type.available ? type.available_for.humanize : 'No' %></td>
                    <td>$<%= type.cost %></td>
                    <td><%= link_to 'Edit', edit_locker_type_path(type), class: 'btn btn-primary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<hr />
<h2 class="mt-3 text-center">New locker type</h2>
<%= render partial: 'locker_types/new_locker_type_form' %>
