<div class="table-responsive">
  <table class="<%= "table text-center m-0 #{table_name}" %>">
    <thead class="table-primary">
    <tr>
      <th>User<span onclick="sortTable('<%= table_name %>', 0)"><%= fa_icon('arrow-down') %></span></th>
      <th>Space<span onclick="sortTable('<%= table_name %>', 1)"><%= fa_icon('arrow-down') %></span></th>
      <th>Supervisor<span onclick="sortTable('<%= table_name %>', 2)"><%= fa_icon('arrow-down') %></span></th>
      <th>Email<span onclick="sortTable('<%= table_name %>', 3)"><%= fa_icon('arrow-down') %></span></th>
      <th>Student/Employee #<span onclick="sortTable('<%= table_name %>', 4)"><%= fa_icon('arrow-down') %></span></th>
      <th>Phone Number<span onclick="sortTable('<%= table_name %>', 5)"><%= fa_icon('arrow-down') %></span></th>
      <th>Emergency Contact<span onclick="sortTable('<%= table_name %>', 6)"><%= fa_icon('arrow-down') %></span></th>
      <th>Certifications<span onclick="sortTable('<%= table_name %>', 7)"><%= fa_icon('arrow-down') %></span></th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% key_requests.each do |key_request| %>
        <tr>
          <td><%= link_to key_request.user.name, user_path(key_request.user.username), target: '_blank', rel: 'noopener' %></td>
          <td><%= key_request.space.name %></td>
          <td><%= link_to key_request.supervisor.name, user_path(key_request.supervisor.username), target: '_blank', rel: 'noopener' %></td>
          <td><%= key_request.user&.email %></td>
          <td><%= key_request.student_number %></td>
          <td><%= key_request.phone_number %></td>
          <td>
            <%= key_request.emergency_contact %>
            <%= key_request.emergency_contact_relation %>
            <%= key_request.emergency_contact_phone_number %>
          </td>
          <td>
            <% if !key_request.user.key_certification.nil? %>
              <%= key_request.user.key_certification.get_key_certs_attached %>/<%= KeyCertification::NUMBER_OF_STAFF_FILES %> (staff)<br>
              <%= key_request.user.key_certification.get_supervisor_certs_attached %>/<%= KeyCertification::NUMBER_OF_SUPERVISOR_FILES %> (supervisor)
            <% else %>
              0/<%= KeyCertification::NUMBER_OF_STAFF_FILES %> (staff)<br>
              0/<%= KeyCertification::NUMBER_OF_SUPERVISOR_FILES %> (supervisor)
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', key_request_path(key_request.id), class: 'w-100 py-1 mb-1 btn btn-secondary' %>
            <%= button_to 'Approve', approve_key_request_admin_keys_path(id: key_request.id), class: 'w-100 py-1 mb-1 btn btn-success', method: :patch if key_request.status_waiting_for_approval? %>
            <%= button_to 'Deny', deny_key_request_admin_keys_path(id: key_request.id), class: 'w-100 py-1 btn btn-danger', method: :patch, data: { confirm: 'Are you sure you want to deny this key request?' } if key_request.status_waiting_for_approval? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>