<% if @key_request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@key_request.errors.count, 'error') %> prohibited this key from being saved:</h2>

    <ul>
      <% @key_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section>
  <h2 class="mb-3 fw-bold py-3 text-center">Approve Key</h2>

  <%= form_for @key_request, url: { controller: 'admin/keys', action: 'approve_key' } do |f| %>
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <%= hidden_field_tag(:id, @key_request.id) %>

        <div class="mb-3">
          <%= label_tag :deposit_return_date, 'Deposit Return Date', class: 'form-label' %>
          <div class="input-group">
            <%= text_field_tag :deposit_return_date, '', id: 'deposit-return-date', autocomplete: 'off', class: 'form-control inanimate' %>
            <button class="btn btn-outline-danger" id="deposit-return-date-clear" type="button">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>

        <div class="mb-5">
          <%= label_tag :key_id, 'Assign a key', class: 'form-label' %>
          <%= select_tag :key_id, options_for_select(Key.where(status: :inventory, space_id: @key_request.space_id).pluck(:number, :id)), { class: 'form-control', id: 'key-select', prompt: 'Choose a key...' } %>
        </div>

        <div class="text-center">
          <%= f.submit 'Approve Key', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</section>