<section>
  <div class="mb-3 py-3 text-center">
  <h2 class="fw-bold">Assign key #<%= @key.number %></h2>
  <p class="fs-4"><%= @key.get_keycode %> - <%= @key.key_type.humanize %></p>
  </div>

  <%= form_with model: @key, url: { controller: 'admin/keys', action: 'assign_key' } do |f| %>
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <div class="mb-3">
          <%= f.label :supervisor_id, 'Supervisor', class: 'form-label' %>
          <%= f.select :supervisor_id, options_for_select(@admin_options, selected: @user.id), { prompt: 'Choose Supervisor...' }, { class: 'form-control', id: 'supervisor-select' } %>
        </div>
        <div class="mb-3">
          <%= f.label :user_id, 'User', class: 'form-label' %>
          <%= f.select :user_id, options_for_select(@staff_options), { prompt: 'Choose User...' }, { class: 'form-control', id: 'key-request-select' } %>
        </div>
        <div class="mb-5">
          <%= label_tag :deposit_amount, 'Deposit Amount', class: 'form-label' %>
          <%= number_field_tag :deposit_amount, 0, { class: 'form-control', required: true, step: 0.01, min: 0, max: 999.99 } %>
        </div>

        <div class="text-center">
          <%= f.submit 'Assign Key', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</section>
