<% provide(:title, 'Keys') %>
<section>
  <h2 class="m-0 fw-bold py-4 text-center">Key Management</h2>

  <div class="text-center mb-4">
    <%= link_to 'Add a new Key', new_admin_key_path, class: 'btn btn-success' %>
  </div>

  <table class="table table-striped text-center">
    <thead class="table-primary">
      <tr>
        <th>Key Number</th>
        <th>Space</th>
        <th>Room</th>
        <th>User</th>
        <th>Supervisor</th>
        <th>Email</th>
        <th>Status</th>
        <th>Certifications</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @keys.each do |key| %>
        <tr>
          <td><%= link_to key.number, admin_key_path(key.id), target: '_blank', rel: 'noopener' %></td>
          <td><%= key.space.name %></td>
          <td><%= key.room %></td>
          <td><%= link_to key.user.name, user_path(key.user.username), target: '_blank', rel: 'noopener' %></td>
          <td><%= link_to key.supervisor.name, user_path(key.supervisor.username), target: '_blank', rel: 'noopener' %></td>
          <td><%= key.user.email %></td>
          <td><%= key.status.humanize.capitalize %></td>
          <td>
            <% if key.files.attached? %>
              <div class="d-flex flex-column gap-2">
                <% key.files.each do |file| %>
                  <%= link_to "<i class='fa fa-download'></i> #{file.filename}".html_safe, rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-primary btn-sm' %>
                <% end %>
              </div>
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', admin_key_path(key.id), class: 'w-100 py-1 mb-1 btn btn-secondary' %>
            <%= link_to 'Edit', edit_admin_key_path(key.id), class: 'w-100 py-1 mb-1 btn btn-primary' %>
            <%= button_to 'Delete', admin_key_path(key.id), method: :delete, class: 'w-100 py-1 btn btn-danger', data: { confirm: 'Are you sure you want to delete this key?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>