<% provide(:title, 'Keys') %>
<section>
  <h2 class="m-0 fw-bold py-4 text-center">Key Management</h2>

  <div class="d-flex flex-row gap-2 justify-content-center mb-4">
    <%= link_to 'Add a new Key', new_admin_key_path, class: 'btn btn-success' %>
    <%= link_to 'Key Requests', requests_admin_keys_path, class: 'btn btn-primary' %>
  </div>

  <div class="accordion" id="keysAccordion">
    <!-- Keys being held -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="keysHeld">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Keys Being Held
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="keysHeld" data-bs-parent="#keysAccordion">
        <div class="accordion-body">
          <!-- Nested accordion -->
          <div class="accordion" id="keysHeldAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="held-all">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-held-all" aria-expanded="true" aria-controls="collapse-held-all">
                  All
                </button>
              </h2>
              <div id="collapse-held-all" class="accordion-collapse collapse show" aria-labelledby="held-all" data-bs-parent="#keysHeldAccordion">
                <div class="accordion-body">
                  <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys.where(status: :held), show_status: false } %>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="held-submaster">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-held-submaster" aria-expanded="true" aria-controls="collapse-held-submaster">
                  Submaster
                </button>
              </h2>
              <div id="collapse-held-submaster" class="accordion-collapse collapse show" aria-labelledby="held-submaster" data-bs-parent="#keysHeldAccordion">
                <div class="accordion-body">
                  <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys.where(status: :held, key_type: :sub_master), show_status: true } %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="held-keycard">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-held-keycard" aria-expanded="true" aria-controls="collapse-held-keycard">
                  Keycard
                </button>
              </h2>
              <div id="collapse-held-keycard" class="accordion-collapse collapse show" aria-labelledby="held-keycard" data-bs-parent="#keysHeldAccordion">
                <div class="accordion-body">
                  <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys.where(status: :held, key_type: :keycard), show_status: true } %>
                </div>
              </div>
            </div>

            <% @spaces.each do |space| %>
              <div class="accordion-item">
                <h2 class="accordion-header" id="held-<%= space.name.gsub(' ', '-') %>">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-held-<%= space.name.gsub(' ', '-') %>" aria-expanded="true" aria-controls="collapse-held-<%= space.name.gsub(' ', '-') %>">
                    <%= "#{space.name} (#{space.keycode})" %>
                  </button>
                </h2>
                <div id="collapse-held-<%= space.name.gsub(' ', '-') %>" class="accordion-collapse collapse show" aria-labelledby="held-<%= space.name.gsub(' ', '-') %>" data-bs-parent="#keysHeldAccordion">
                  <div class="accordion-body">
                    <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys.where(status: :held, space:), show_status: false } %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- All Keys -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="keysAll">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          All Keys
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="keysAll" data-bs-parent="#keysAccordion">
        <div class="accordion-body">
          <!-- Nested accordion -->
          <div class="accordion" id="keysAllAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="all-all">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-all-all" aria-expanded="true" aria-controls="collapse-all-all">
                  All
                </button>
              </h2>
              <div id="collapse-all-all" class="accordion-collapse collapse show" aria-labelledby="all-all" data-bs-parent="#keysAllAccordion">
                <div class="accordion-body">
                  <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys, show_status: true } %>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="all-submaster">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-all-submaster" aria-expanded="true" aria-controls="collapse-all-submaster">
                  Submaster
                </button>
              </h2>
              <div id="collapse-all-submaster" class="accordion-collapse collapse show" aria-labelledby="all-submaster" data-bs-parent="#keysAllAccordion">
                <div class="accordion-body">
                  <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys.where(key_type: :sub_master), show_status: true } %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="all-keycard">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-all-keycard" aria-expanded="true" aria-controls="collapse-all-keycard">
                  Keycard
                </button>
              </h2>
              <div id="collapse-all-keycard" class="accordion-collapse collapse show" aria-labelledby="all-keycard" data-bs-parent="#keysAllAccordion">
                <div class="accordion-body">
                  <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys.where(key_type: :keycard), show_status: true } %>
                </div>
              </div>
            </div>

            <% @spaces.each do |space| %>
              <div class="accordion-item">
                <h2 class="accordion-header" id="all-<%= space.name.gsub(' ', '-') %>">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-all-<%= space.name.gsub(' ', '-') %>" aria-expanded="true" aria-controls="collapse-all-<%= space.name.gsub(' ', '-') %>">
                    <%= "#{space.name} (#{space.keycode})" %>
                  </button>
                </h2>
                <div id="collapse-all-<%= space.name.gsub(' ', '-') %>" class="accordion-collapse collapse show" aria-labelledby="all-<%= space.name.gsub(' ', '-') %>" data-bs-parent="#keysAllAccordion">
                  <div class="accordion-body">
                    <%= render partial: 'admin/keys/keys_table', locals: { keys: @keys.where(space:), show_status: true } %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>