<section class="w-75 mx-auto">
  <h2 class="m-0 fw-bold py-4 text-center">Key #<%= @key.number %> - <%= @key.status.humanize.capitalize %></h2>

  <div class="mb-5">
    <h4 class="mb-3">Key Information</h4>
    <h6><span class="fw-bold">Key Type:</span> <%= @key.key_type.humanize.capitalize %></h6>
    <h6><span class="fw-bold">Key Number:</span> <%= @key.number %></h6>
    <h6><span class="fw-bold">Keycode:</span> <%= @key.get_keycode %></h6>
    <h6><span class="fw-bold">Space:</span> <%= @key.key_type_regular? ? @key.space.name : 'N/A' %></h6>
    <h6><span class="fw-bold">User:</span> <%= link_to @key.user.name, user_path(@key.user.username), target: '_blank', rel: 'noopener' unless @key.user.nil? %></h6>
    <h6><span class="fw-bold">Supervisor:</span> <%= link_to @key.supervisor.name, user_path(@key.supervisor.username), target: '_blank', rel: 'noopener' unless @key.supervisor.nil? %></h6>
    <h6><span class="fw-bold">Status:</span> <%= @key.status.humanize.capitalize %></h6>
  </div>

  <% unless @key.key_request.nil? %>
    <div class="mb-5">
      <h4 class="mb-3">User Information</h4>
      <h6><span class="fw-bold">User Status:</span> <%= @key.key_request.user_status.humanize.capitalize %></h6>
      <h6><span class="fw-bold">Email:</span> <%= @key.key_request.user&.email %></h6>
      <h6><span class="fw-bold">Student/Employee Number:</span> <%= @key.key_request.student_number %></h6>
      <h6><span class="fw-bold">Phone Number:</span> <%= @key.key_request.phone_number %></h6>
      <h6><span class="fw-bold">Emergency Contact:</span> <%= @key.key_request.emergency_contact %></h6>
      <h6><span class="fw-bold">Relation to Emergency Contact:</span> <%= @key.key_request.emergency_contact_relation %></h6>
      <h6><span class="fw-bold">Emergency Contact Phone Number:</span> <%= @key.key_request.emergency_contact_phone_number %></h6>
      <h6><span class="fw-bold">Read and understood lab rules:</span> <%= @key.key_request.read_lab_rules? ? 'yes' : 'no' %></h6>
      <h6><span class="fw-bold">Read and understood policies:</span> <%= @key.key_request.read_policies? ? 'yes' : 'no' %></h6>
      <h6><span class="fw-bold">Read and accepted agreement:</span> <%= @key.key_request.read_agreement? ? 'yes' : 'no' %></h6>
    </div>

    <div class="mb-5">
      <h4 class="mb-3">Safety Questionnaire Answers</h4>
      <% (1..KeyRequest::NUMBER_OF_QUESTIONS).each do |i| %>
        <div class="card mb-3">
          <div class="card-header bg-primary text-light">
            <%= "Q#{i} - #{KeyRequest::QUESTIONS[i - 1]}" %><br>
          </div>
          <div class="card-body">
            <%= @key.key_request.send("question_#{i}").nil? ? 'No Answer' : @key.key_request.send("question_#{i}") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex flex-row align-items-center justify-content-center gap-3">
    <%= link_to 'View Certifications', staff_certification_path(@key.key_request.staff_certification.id), class: 'btn btn-primary' unless @key.key_request.nil? || @key.key_request.staff_certification.nil? %>
    <%= link_to 'View Key Transactions', admin_key_history_path(key_id: @key.id), class: 'btn btn-primary' %>
  </div>
</section>