<section class="w-75 mx-auto">
  <h2 class="m-0 fw-bold py-4 text-center">Key #<%= @key.number %> - <%= @key.status.humanize.capitalize %></h2>

  <div class="mb-4">
    <h4 class="mb-3 fw-bold">Key Information</h4>
    <h6>Key Type: <%= @key.key_type.humanize.capitalize %></h6>
    <h6>Key Number: <%= @key.number %></h6>
    <h6>Keycode: <%= @key.get_keycode %></h6>
    <h6>Space: <%= @key.key_type_regular? ? @key.space.name : 'N/A' %></h6>
    <h6>User: <%= link_to @key.user.name, user_path(@key.user.username), target: '_blank', rel: 'noopener' unless @key.user.nil? %></h6>
    <h6>Supervisor: <%= link_to @key.supervisor.name, user_path(@key.supervisor.username), target: '_blank', rel: 'noopener' unless @key.supervisor.nil? %></h6>
    <h6>Status: <%= @key.status.humanize.capitalize %></h6>
  </div>

  <% unless @key.key_request.nil? %>
    <div class="mb-4">
      <h4 class="mb-3 fw-bold">User Information</h4>
      <h6>User Status: <%= @key.key_request.user_status.humanize.capitalize %></h6>
      <h6>Email: <%= @key.key_request.user&.email %></h6>
      <h6>Student/Employee Number: <%= @key.key_request.student_number %></h6>
      <h6>Phone Number: <%= @key.key_request.phone_number %></h6>
      <h6>Emergency Contact: <%= @key.key_request.emergency_contact %></h6>
      <h6>Relation to Emergency Contact: <%= @key.key_request.emergency_contact_relation %></h6>
      <h6>Emergency Contact Phone Number: <%= @key.key_request.emergency_contact_phone_number %></h6>
      <h6>Read and understood lab rules: <%= @key.key_request.read_lab_rules? ? 'yes' : 'no' %></h6>
      <h6>Read and understood policies: <%= @key.key_request.read_policies? ? 'yes' : 'no' %></h6>
      <h6>Read and accepted agreement: <%= @key.key_request.read_agreement? ? 'yes' : 'no' %></h6>
    </div>

    <div class="mb-5">
      <h4 class="mb-3 fw-bold">Safety Questionnaire Answers</h4>
      <% (1..KeyRequest::NUMBER_OF_QUESTIONS).each do |i| %>
        <div class="mb-3">
          <%= "Question #{i} - #{KeyRequest::QUESTIONS[i - 1]}" %><br>
          <%= @key.key_request.send("question_#{i}").nil? ? 'No Answer' : @key.key_request.send("question_#{i}") %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex flex-row align-items-center justify-content-center gap-3">
    <%= link_to 'View Certifications', staff_certification_path(@key.key_request.staff_certification.id), class: 'btn btn-primary' unless @key.key_request.nil? %>
    <%= link_to 'View Key Transactions', admin_key_history_path(key_id: @key.id), class: 'btn btn-primary' %>
  </div>
</section>