<section class="w-75 mx-auto">
  <h2 class="m-0 fw-bold py-4 text-center">Key Information: <%= @key.number %></h2>

  <div class="mb-3">
    <h6>Key Number: <%= @key.number %></h6>
    <h6>Space: <%= @key.space.name %></h6>
    <h6>Room: <%= @key.room.nil? ? 'Unknown' : @key.room %></h6>
    <h6>User: <%= link_to @key.user.name, user_path(@key.user.username), target: '_blank', rel: 'noopener' unless @key.user.nil? %></h6>
    <h6>Supervisor: <%= link_to @key.supervisor.name, user_path(@key.supervisor.username), target: '_blank', rel: 'noopener' unless @key.supervisor.nil? %></h6>
    <h6>Status: <%= @key.status.humanize.capitalize %></h6>
    <h6>Deposit Returned: <%= @key.deposit_return_date.nil? ? 'No' : "Returned on #{@key.deposit_return_date} " %></h6>
  </div>

  <% if @key.files.attached? %>
    <div>
      <h4 class="text-center">Certifications</h4>

      <div>
        <% @key.files.each do |file| %>
          <div class="ratio ratio-16x9 mb-2">
            <iframe src="<%= url_for(file) %>" allowfullscreen></iframe>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</section>