<section class="w-75 mx-auto">
  <h2 class="m-0 fw-bold py-4 text-center">Key #<%= @key.number %> - <%= @key.status.humanize.capitalize %></h2>

  <div class="mb-3">
    <h4 class="mb-3 fw-bold">Key Information</h4>
    <h6>Key Type: <%= @key.key_type.humanize.capitalize %></h6>
    <h6>Key Number: <%= @key.number %></h6>
    <h6>Keycode: <%= @key.keycode %></h6>
    <h6>Space: <%= @key.key_type_regular? ? @key.space.name : 'N/A' %></h6>
    <h6>User: <%= link_to @key.user.name, user_path(@key.user.username), target: '_blank', rel: 'noopener' unless @key.user.nil? %></h6>
    <h6>Supervisor: <%= link_to @key.supervisor.name, user_path(@key.supervisor.username), target: '_blank', rel: 'noopener' unless @key.supervisor.nil? %></h6>
    <h6>Status: <%= @key.status.humanize.capitalize %></h6>
  </div>
</section>