<% provide :title, 'Manage Printer Types' %>
<section class="padding-10 mt-4">
  <div>
    <h1 class="title">Manage Printer Types</h1>
      <%= render partial: 'printers/link_box', locals: { printer_types_index: true } %>
    <div class="mt-5">
      <div class="text-center"><%= link_to 'New Printer Model', new_printer_type_path, class: 'btn btn-success mb-3' %></div>
      <table class="table table-striped">
        <thead class="table-primary text-center">
          <th>Model</th>
          <th>Short Form</th>
          <th>Number of Printers</th>
          <th>Is Available?</th>
          <th>Actions</th>
        </thead>
        <tbody>
        <% @printer_types.each do |pt| %>
          <tr>
            <td><%= pt.name %></td>
            <td><%= pt.short_form.empty? ? 'None' : pt.short_form %></td>
            <td><%= pt.printers.length %></td>
            <td><i class="fa <%= pt.available ? 'fa-check text-success' : 'fa-times text-danger' %>"></i> <%= pt.available ? 'Yes' : 'No' %></td>
            <td class="d-flex flex-column align-items-center gap-1">
              <div class="btn-group">
                <%= button_to((pt.available ? 'Disable' : 'Enable'), printer_type_path(pt, printer_type: { available: !pt.available }), method: :patch, class: "btn #{pt.available ? 'btn-danger' : 'btn-success'}") %>
                <%= link_to 'Edit', edit_printer_type_path(pt.id), class: 'btn btn-secondary' %>
                <%= button_to 'Delete', printer_type_path(pt.id), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this printer model AND all of it's associated printers" } if @user.admin? %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<%= vite_javascript_tag 'staff_printers', 'data-turbo-track': 'reload' %>
