<section class="padding-10 mt-4">
  <div>
    <div class="title">Add a new Printer Model</div>

    <div class="mt-3">
      <%= form_for @printer_type, url: { controller: 'printer_types', action: 'create' } do |f| %>
        <div class="row">
          <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
            <div class="mb-3">
              <%= f.label :name, 'Printer Model', class: 'form-label' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="mb-3">
              <%= f.label :short_form, 'Short Form (Optional)', class: 'form-label' %>
              <%= f.text_field :short_form, class: 'form-control' %>
            </div>

            <div class="text-center">
              <%= f.submit 'Create Printer Model', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
