<%= form_tag(bulk_add_users_staff_spaces_path, method: :post) do %>
  <div class="row">
    <div class="col-6">
      <h3 class="py-1">Users to be made staff</h3>
      <div class="mb-3">
        <%= label_tag(:new_staff, 'Add new staff members', class: 'form-label') %>
        <%= select_tag 'user_ids[]', '', 
              include_blank: 'Choose User...',
              class: 'new_staff_select form-control w-75',
              id: 'new_staff_select',
              multiple: true %>
      </div>
      <div id="new-staff-list"></div>
    </div>

    <div class="col-6">
      <h3 class="py-1">Assigned Spaces</h3>
      <div class="field form-group">
        <div class="checkbox-inline">
          <% @space_list.each do |space| %>
            <% checkbox_id = "space_ids_#{space.id}" %>
            <%= check_box_tag 'space_ids[]', space.id, false, class: 'form-check-input', id: checkbox_id %>
            <%= label_tag checkbox_id, space.name %><br>
          <% end %>
        </div>
      </div>
      <button type="submit" class="btn btn-success mt-3 w-25 mx-auto">Confirm Changes</button>
    </div>
  </div>
<% end %>

<%= vite_javascript_tag 'add_new_staff' %>