<% provide :title, 'Add and Remove Printers' %>
<section class="padding mt-4">
  <h1 class="title">Add and Remove 3D-Printers</h1>
    <%= render partial: 'printers/link_box', locals: { printer_index: true } %>
  <div class="mb-4">
    <%= form_for @printer, url: { controller: 'printers', action: 'add_printer' } do |f| %>
      <div class="mb-3">
        <%= label_tag :model_id, 'Printer Model', class: 'form-label' %><br>
        <%= select_tag(:model_id, options_for_select(@printer_models, selected: params[:model_id]), class: 'form-control form-select') %>
      </div>

      <div class="mb-3">
        <%= f.label 'Printer Number', class: 'form-label' %>
        <div class="input-group">
          <div class="input-group-text"><span id="newPrinterCode">PrinterCode</span>-</div>
          <%= f.text_field :number, class: 'form-control' %>
        </div>
      </div>

      <%= f.submit 'Add', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form_for @printer, url: { controller: 'printers', action: 'remove_printer' } do |f| %>
      <div class="mb-3">
        <%= f.label :remove_a_printer, class: 'form-label' %>
        <%= select_tag :remove_printer, options_from_collection_for_select(Printer.show_options, :id, :model_and_number), class: 'form-control form-select', include_blank: 'Select a printer...' %>
      </div>

      <%= f.submit 'Remove', class: 'btn btn-primary' %>
    <% end %>
  </div>

</section>
