<section class="padding mt-4">

  <div class="title">Manage 3D-Printers</div>

  <div class="text-center my-3 d-flex flex-row justify-content-center align-items-center gap-2">
    <%= link_to 'Manage Printer Usage', staff_printers_printers_path, class: 'btn btn-secondary' %>
    <%= link_to 'View Last Updates All 3D-Printers', staff_printers_updates_printers_path, class: 'btn btn-secondary' %>
  </div>

  <% if @user.admin? %>
    <div class="text-center my-3 d-flex flex-row justify-content-center align-items-center gap-2">
      <%= link_to 'Manage Printer Models', printer_types_path, class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form_for @printer, url: { controller: 'printers', action: 'add_printer' } do |f| %>
      <div class="mb-3">
        <%= label_tag :model_id, 'Printer Model', class: 'form-label' %><br>
        <%= select_tag(:model_id, options_for_select(@printer_models, selected: params[:model_id]), class: 'form-control form-select') %>
      </div>

      <div class="mb-3">
        <%= f.label 'Printer Number', class: 'form-label' %>
        <div class="input-group">
          <div class="input-group-text"><span id="newPrinterCode">PrinterCode</span>-</div>
          <%= f.text_field :number, class: 'form-control' %>
        </div>
      </div>

      <%= f.submit 'Add', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form_for @printer, url: { controller: 'printers', action: 'remove_printer' } do |f| %>
      <div class="mb-3">
        <%= f.label :remove_a_printer, class: 'form-label' %>
        <%= select_tag :remove_printer, options_from_collection_for_select(Printer.show_options, :id, :model_and_number), class: 'form-control form-select', include_blank: 'Select a printer...' %>
      </div>

      <%= f.submit 'Remove', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="mb-4">
    <h2 class="text-center">All Printers</h2>
    <div class="accordion">
      <% @printers_by_type.each do |printer_type, printers| %>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= printer_type.id %>" aria-expanded="false" aria-controls="collapse-<%= printer_type.id %>">
              <%= printer_type.name %>
            </button>
          </h3>
          <div id="collapse-<%= printer_type.id %>", class="accordion accordion-collapse collapse">
            <table class="table table-striped">
              <thead class="table-primary">
                <tr>
                  <td class="name-header">Name</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <% printers.each do |printer| %>
                  <tr>
                    <td><%= printer.name %></td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Printer actions">
                        <%= button_to 'Delete', remove_printer_printers_path, params: { remove_printer: printer.id },
                                                                              data: { confirm: "Are you sure you want to delete #{printer.name}?" }, class: 'btn btn-danger' %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
