<% provide(:title, 'Manage 3D-Printers Usage') %>
<section class="padding mt-4">
    <div class="title">Manage 3D-Printers Usage</div>

    <div class="text-center my-3 d-flex flex-row justify-content-center align-items-center gap-2">
      <%= link_to 'View Last Updates All 3D-Printers', staff_printers_updates_printers_path, class: 'btn btn-secondary' %>
    </div>

    <% if @user.admin? %>
      <div class="text-center my-3 d-flex flex-row justify-content-center align-items-center gap-2">
        <%= link_to 'Manage Printers', printers_path, class: 'btn btn-primary' %>
        <%= link_to 'Manage Printer Models', printer_types_path, class: 'btn btn-primary' %>
      </div>
    <% end %>

    <% @printer_types.filter(&:available).each do |pt| %>
      <div>
        <h2><%= pt.name %></h2>
        <% latest_session = Printer.get_last_model_session(pt.name) %>
        <% if latest_session.present? %>
          <div class="mb-2"><%= "Last Update: Printer Number: #{latest_session.printer.number} |
                User: #{latest_session.user.username.capitalize}" %></div>
        <% end %>
        <%= form_for :printer, url: { controller: 'printers', action: 'link_printer_to_user' }, method: :patch do |f| %>
          <div class="row mb-3">
            <div class="col-md-5">
              <%= f.select(:printer_id, pt.printers.order(number: :asc).map { |p| [p.name, p.id] }, { prompt: 'Choose Number...' }, { class: 'link_pp form-control form-select', id: 'options' }) %>
            </div>
            <div class="col-md-5">
              <%= f.select(:user_id, @list_users, { prompt: 'Choose User...' }, { class: 'link_pp form-control form-select', id: pt.name.gsub(' ', '_') }) %>
            </div>
            <div class="col-md-2 justify-content-center align-self-center">
              <%= f.submit 'Submit', class: 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <hr />
    <h2 id="failedPrintHeader">Send Print Failed Emails</h2>
    <%= render partial: 'printers/send_print_failed_form', locals: { sent_from: 'printers' } %>
    <hr />
    <h2>Unavailable printers</h2>
    <% @printer_types.reject(&:available).each do |pt| %>
      <p><s><%= pt.name %></s></p>
    <% end %>
  </div>
</section>
<%= vite_javascript_tag 'staff_printers', 'data-turbo-track': 'reload' %>
