<% provide(:title, 'Assign 3D-Printers') %>
<section class="padding mt-4">
  <div class="title">Assign 3D-Printers</div>

  <div class="text-center my-3 d-flex flex-row justify-content-center align-items-center gap-2">
    <%= link_to 'View Last Updates All 3D-Printers', staff_printers_updates_printers_path, class: 'btn btn-secondary' %>
  </div>

  <% if @user.admin? %>
    <div class="text-center my-3 d-flex flex-row justify-content-center align-items-center gap-2">
      <%= link_to 'Add and Remove Printers', printers_path, class: 'btn btn-primary' %>
      <%= link_to 'Manage Printer Types', printer_types_path, class: 'btn btn-primary' %>
    </div>
  <% end %>

  <% @printer_types.filter(&:available).each do |pt| %>
    <div>
      <h2><%= pt.name %></h2>
      <% latest_session = Printer.get_last_model_session(pt.name) %>
      <% if latest_session.present? %>
        <div class="mb-2"><%= "Last Update: Printer Number: #{latest_session.printer.number} |
                           User: #{latest_session.user.username.capitalize}" %></div>
      <% end %>
      <%= form_for :printer, url: { controller: 'printers', action: 'link_printer_to_user' }, method: :patch do |f| %>
        <div class="row mb-3">
          <div class="col-md-5">
            <%= f.select(:printer_id, pt.printers.order(number: :asc).map { |p| [p.name + (p.maintenance ? ' - Maintenance' : ''), p.id] }, { prompt: 'Choose Number...' }, { class: 'link_pp form-control form-select', id: 'options' }) %>
          </div>
          <div class="col-md-5">
            <%= f.select(:user_id, @list_users, { prompt: 'Choose User...' }, { class: 'link_pp form-control form-select', id: pt.name.gsub(' ', '_') }) %>
          </div>
          <div class="col-md-2 justify-content-center align-self-center">
            <%= f.submit 'Submit', class: 'btn btn-secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <hr />
  <h2 id="failedPrintHeader">Send Print Failed Emails</h2>
  <%= render partial: 'printers/send_print_failed_form', locals: { sent_from: 'printers' } %>
  <hr />
  <div class="mb-4">
    <h2 class="text-center">All Printers</h2>
    <div class="accordion">
      <% @printers_by_type.each do |printer_type, printers| %>
        <div class="accordion-item">
          <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= printer_type.id %>" aria-expanded="false" aria-controls="collapse-<%= printer_type.id %>">
              <%= printer_type.name %>
            </button>
          </h3>
          <div id="collapse-<%= printer_type.id %>", class="accordion accordion-collapse collapse">
            <table class="table table-striped">
              <thead class="table-primary">
                <tr>
                  <td>Name</td>
                  <td>Maintenance?</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <% printers.each do |printer| %>
                  <tr>
                    <td><%= printer.name %></td>
                    <td><i class="fa <%= printer.maintenance ? 'fa-check text-success' : 'fa-times text-danger' %>"></i> <%= printer.maintenance ? 'Yes' : 'No' %></td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Printer actions">
                        <%#= button_to 'Delete', remove_printer_printers_path, params: { remove_printer: printer.id },
                                      data: { confirm: "Are you sure you want to delete #{printer.name}?" }, class: 'btn btn-danger' if current_user.admin?%>
                        <%= button_to "#{printer.maintenance ? 'Unflag' : 'Flag'} Maintenance",
                                      printer_path(printer, printer: { maintenance: !printer.maintenance }), method: :patch,
                                                                                                             class: 'btn btn-primary' %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= vite_javascript_tag 'staff_printers', 'data-turbo-track': 'reload' %>
