<br>
<div class="titlepp"><%= title %></div>

<% if project_proposals.present? %>

  <div><%= will_paginate project_proposals, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, param_name: (local_variables.include?(:param_name) ? param_name : "page") %></div>

  <% action_flag = project_proposals.first.approved %>

  <table class="spacing_table text-center">
    <thead>
      <tr>
        <th>ID #</th>
        <% if @user.admin? %>
          <th>User</th>
          <th>Admin</th>
          <th>Client Type</th>
          <th>Client</th>
          <th>Client Interest</th>
          <th>Approved</th>
        <% end %>
        <th>Title</th>
        <th>Categories</th>
        <th>Proposed on</th>
        <% if action_flag || @user.admin? %>
          <% if title == "Pending Project Proposals" %>
            <th>Approval</th>
          <% end %>
          <th>Action</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% project_proposals.each do |project_proposal| %>
        <tr>
          <td><%= project_proposal.id %></td>
          <% if @user.admin? %>
            <% username = project_proposal.user&.username %>
            <% if username %>
              <td class="username"><%= link_to username, user_path(username) %></td>
            <% else %>
              <td><%= project_proposal.username %></td>
            <% end %>
            <% admin_username = project_proposal.admin&.username %>
            <td class="admin_username"><%= link_to admin_username, user_path(admin_username) if admin_username.present? %></td>
            <td><%= project_proposal.client_type %></td>
            <td><%= project_proposal.client %></td>
            <td><%= project_proposal.client_interest %></td>
            <td><%= project_proposal.approval_status %></td>
          <% end %>
          <td><%= project_proposal.title %></td>
          <td><% project_proposal.categories.find_each do |c| %> <%= c.name %> <% end %></td>
          <td><%= project_proposal.created_at.strftime("%Y/%m/%d - %H:%M")%></td>
          <% if @user.admin? %>
            <% if title == "Pending Project Proposals" %>
              <td>
                <%= link_to 'Approve', approve_project_proposals_path(:id => project_proposal.id), method: :post, class: "btn btn-success d-block w-100 btn-sm", data: { confirm: 'Are you sure?' }  %>
                <%= link_to 'Disapprove', decline_project_proposals_path(id: project_proposal.id), method: :post, class: "btn btn-danger d-block w-100 btn-sm", data: { confirm: 'Are you sure?' }  %>
              </td>
              <% end %>
              <td>
              <%= link_to 'Show', project_proposal_path(project_proposal.slug), class: "btn btn-success d-block w-100 btn-sm" %>
              <%= link_to 'Edit', edit_project_proposal_path(project_proposal), class: "btn btn-primary d-block w-100 btn-sm" %>
              <%= link_to 'Delete', project_proposal, method: :delete,
                                                  class: "btn btn-danger d-block w-100 btn-sm", data: { confirm: 'Are you sure?' } %>
              </td>
          <% elsif action_flag %>
              <td><%= link_to 'Show', project_proposal, class: "btn btn-success d-block w-100 btn-sm" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% else %>
    <br>
    <h5 class="text-center">No Projects Here</h5>
<% end %>

