<br>
<div class="titlepp"><%= title %></div>
<% if project_proposals.present? %>
  <table class="spacing_table text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Categories</th>
      <th>Proposed on</th>
    </tr>
    </thead>

    <tbody>
    <% project_proposals.each_with_index do |project_proposal, n| %>
      <tr>
        <td><%= n+1 %></td>
        <td><%= project_proposal.title %></td>
        <td><% project_proposal.categories.find_each do |c| %> <%= c.name %> <% end %></td>
        <td><%= project_proposal.created_at.strftime("%Y/%m/%d - %H:%M")%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
<% else %>
  <br>
  <h5 class="text-center">No Projects Here</h5>
<% end %>

