<li>
    <article class="card mb-3">
        <div class="card-header d-flex align-items-center justify-content-between flex-wrap gap-3">
            <span>Proposal ID #<%= project_proposal.id %></span>
            <% if project_proposal.approved? %>
                <span class="badge text-bg-success" role="status">
                    Approved
                </span>
            <% elsif project_proposal.not_approved? %>
                <span class="badge text-bg-danger" role="status">
                    Not approved
                </span>
            <% else %>
                <span class="badge text-bg-warning" role="status">Pending decision</span>
            <% end %>

            <% if project_proposal.active_semester_label %>
                <span>
                    Active for <%= project_proposal.active_semester_label %>
                </span>
            <% end %>

            <time class="text-muted ms-auto" datetime="<%= project_proposal.created_at %>">
                Proposed on <%= project_proposal.created_at.to_fs :long %>
            </time>
        </div>

        <div class="card-body py-2">
            <h1 class="fs-4 mb-1"><%= project_proposal.title %></h1>
            <div class="row mb-n3">
                <dl class="col-md">
                    <dt>Submitted by</dt>
                    <dd>
                        <% if project_proposal.user.present? %>
                            <%= link_to(project_proposal.user.username, user_path(project_proposal.user.username)) %>
                        <% else %>
                            <td><%= project_proposal.username %></td>
                        <% end %>
                    </dd>
                </dl>
                <dl class="col-md">
                    <dt>Admin</dt>
                    <dd>
                        <% if project_proposal.admin.present? %>
                            <%= link_to project_proposal.admin.username, user_path(project_proposal.admin.username) %>
                        <% else %>
                            -
                        <% end %>
                    </dd>
                </dl>
                <dl class="col-md">
                    <dt>Client</dt>
                    <dd>
                        <%= project_proposal.client %>
                    </dd>
                </dl>
                <dl class="col-md">
                    <dt>Client type</dt>
                    <dd><%= project_proposal.client_type %></dd>
                </dl>

                <dl class="col-md">
                    <dt>Client interest</dt>
                    <dd>
                        <%= project_proposal.client_interest.split('/').first %>
                    </dd>
                </dl>
            </div>

            <div>
                <ul class="list-unstyled d-flex flex-wrap gap-1">
                    <% project_proposal.categories.find_each do |c| %>
                        <span class="badge border p-2 bg-primary">
                            <%= c.name.split('/').first %>
                        </span>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="card-footer d-flex flex-wrap justify-content-end gap-2 px-3 py-1">
            <%= link_to fa_icon(:eye, text: 'Show'), project_proposal_path(project_proposal),
                        class: 'btn btn-sm btn-primary me-md-3', title: 'Show project proposal' %>
            <button class="btn btn-sm btn-success"><%= fa_icon :check, text: 'Approve' %></button>
            <button class="btn btn-sm btn-danger me-md-3"><%= fa_icon :times, text: 'Decline' %></button>
            <%= link_to fa_icon(:pencil, text: 'Edit'), edit_project_proposal_path(project_proposal),
                        class: 'btn btn-sm btn-outline-secondary', title: 'Edit project proposal' %>
            <%= button_to 'Delete', project_proposal, method: :delete,
                          class: 'btn btn-outline-danger btn-sm', data: { confirm: 'Are you sure?' } %>
        </div>
    </article>
</li>
