<% provide(:title, "Edit Project Proposal") %>
<% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
<% end %>
<section id="new-repo">
  <div class="title">Edit Project Proposal</div>
  <%= link_to fa_icon("search", text: 'View project proposal'), project_proposal_path(@project_proposal.id), class: 'edit-repo-link', id: 'view-repo-link' %>
  <%= form_for @project_proposal, url: {controller: "project_proposals", action: "update"}, html: { multipart: true } do |f| %>
      <br>
      <%= f.label :username, "Name/Nom" %>
      <div>What is your name? <br> Quel est votre nom?</div>
      <%= f.text_field :username, class: 'repo' %>
      <br>
      <%= f.label :email, "Email/Adresse Courriel" %>
      <div>What is your email? <br> Quel est votre adresse courriel?</div>
      <%= f.text_field :email, class: 'repo' %>
      <br>
      <%= f.label :client_type, "Client Type/Type de Client" %>
      <div>Who are you answering on behalf of? <br> Vous répondez de la part de qui?</div>
      <div class = 'checkbox-list'>
        <%= f.radio_button :client_type, 'Organization', :class => 'show_extra', :style => 'display:inline' %>
        <%= f.label :client_type, 'Organization', :id => 'type', :style => 'display:inline' %>
        <br>
        <%= f.radio_button :client_type, 'Individual', :class => 'show_extra', :style => 'display:inline' %>
        <%= f.label :client_type, 'Individual', :id => 'type', :style => 'display:inline' %>
      </div>
      <br>
      <%= f.label :client, "Client/Client" %>
      <div>Who is the client? <br> Qui est le client?</div>
      <%= f.text_field :client, class: 'repo' %>
      <br>
      <%= f.label :title, "Title" %>
      <div>Great project titles are short and memorable.</div>
      <%= f.text_field :title, class: 'repo' %>
      <br>
      <!--<%= f.label :area, "Client Level of Interest" %>-->
      <!--<div>Which area(s) does your project touch on? <br> Votre projet touche sur quel(s) domaine(s)?</div>-->
      <!--<div class = 'checkbox-list'>-->
        <!--<%= f.collection_check_boxes :area, AreaOption.show_options, :name, :name do |b| %>-->
            <!--<%= b.label { b.check_box + b.text } %>-->
        <!--<% end %>-->
      <!--</div>-->
      <%= f.label :client_interest, "Client Level of Interest/Niveau d'intérêt du Client" %>
      <div>How interested is the client? <br> Comment êtes-vous intéressé client?</div>
      <div class = 'checkbox-list'>
        <%= f.radio_button :client_interest, 'Low', :checked => true, :class => 'show_extra', :style => 'display:inline' %>
        <%= f.label :client_type, 'Low', :id => 'type', :style => 'display:inline' %>
        <br>
        <%= f.radio_button :client_interest, 'Medium', :class => 'show_extra', :style => 'display:inline' %>
        <%= f.label :client_type, 'Medium', :id => 'type', :style => 'display:inline' %>
        <br>
        <%= f.radio_button :client_interest, 'High', :class => 'show_extra', :style => 'display:inline' %>
        <%= f.label :client_type, 'High', :id => 'type', :style => 'display:inline' %>
      </div>
      <br />
      <%= f.label :client_background, "Client Background/Fond de Client" %>
      <div>What is the client background?<br>Quel est le fond du client?</div>
      <%= f.text_field :client_background, class: 'repo' %>
      <br />
      <%= f.label :supervisor_background, "Supervisor Background/Fond de Superviseur" %>
      <div>What is the supervisor background?<br>Quel est le fond du superviseur?</div>
      <%= f.text_field :supervisor_background, class: 'repo' %>
      <br />
      <%= f.label :description %>
      <div style="width: 420px;">
        <%= f.text_area :description, class: 'repo', id: 'redactor' %>
      </div>
      <br>
      <%= f.label :youtube_link, "Youtube Link" %>
      <div>Project similar in Youtube<br>Projet similaire sur Youtube</div>
      <%= f.text_field :youtube_link, class: 'repo' %>
      <br>
      <%= f.label :categories %>
      <div>Choose at most 5 categories that fit your project.</div>
      <%= f.select :categories, options_from_collection_for_select(CategoryOption.show_options, :id, :name), class: "profile-text", include_blank: "Select a category..." %>
      <div id="category-container">
        <% @categories.each do |category| %>
            <span class="category"><%= category.name %></span>
        <% end %>
      </div>
      <br>
      <br>
      <br>
      <%= f.submit "Update Project Proposal", class: "save-button", id: "waiting-save-button" %>
      <span id="status-save"></span>
      <% if flash[:alert] %>
          <div id="alert"><%= flash[:alert] %></div>
      <% end %>
  <% end %>
</section>
