<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
<% end %>

<%= render :partial => 'listing', :locals => {:tittle => "Pending Project Proposals", :approval => nil} if @user.admin? %>
<%= render :partial => 'listing', :locals => {:tittle => "List of Project Proposals", :approval => 1} %>
<%= render :partial => 'listing', :locals => {:tittle => "Project Proposals not approved", :approval => 0} if @user.admin? %>

<br>

<%= link_to 'New Project proposal', new_project_proposal_path %>
