<% provide(:title, "Link Repo") %>

<div class="search-form" style="display:inline"> Search for users to sign them in or out of
  <%= form_tag search_repository_project_proposals_path, method: :get, action: :search do %>
      <%= text_field_tag 'query', nil, placeholder: 'Search Repository by title, username or category', class:'profile-text' %><br>
      <%= submit_tag "Search", class: 'update-button' %>
  <% end %>
</div>

<% if @repositories.any? %>
    <table class="staff-search-results">
      Search results
      <tr>
        <th>Title <span onclick="sortTable('staff-search-results', 0)"><%=fa_icon('arrow-down')%></span></th>
        <th>Category <span onclick="sortTable('staff-search-results', 1)"><%=fa_icon('arrow-down')%></span></th>
        <th>Username <span onclick="sortTable('staff-search-table', 2)"><%=fa_icon('arrow-down')%></span></th>
      </tr>

      <% @repositories.each do |repo| %>

          <td class="sign-in-cell"><%= repo.title %></td>
          <td class="email-cell"><%= repo.categories.each do |cate| cate.name end %></td>
          <td class="signed_in-cell" style="horizontal-alginment:center;"><%= repo.user_username %></td>

          </tr>
      <% end %>
      <br></br>
    </table>
    <br>
<% else %>
    No results
<% end %>
<br><br>