<% provide(:title, @project_proposal.title.to_s) %>

<section class="row container mx-auto mt-3">
    <section class="col-lg-8 order-lg-first order-last">
        <h1 class="border-bottom d-lg-block d-none mb-3"><%= @project_proposal.title %></h1>
        <% if @project_proposal.youtube_link.present? %>
            <%= youtube_video(@project_proposal.youtube_link) %>
        <% end %>

        <% if @project_photos.present? and @project_photos.first.image.attached? %>
            <div id="show-photo">
                <%= image_tag @project_photos.first.image, alt: 'Project Proposal Picture', data: { width: @project_photos.first.try(:width), height: @project_photos.first.try(:height) } %>
            </div>

            <div id="photo-slide">
                <% @project_photos.each do |p| %>
                    <%= image_tag p.image, alt: 'Related Repository Image', data: { width: p.width, height: p.height } %>
                <% end %>
            </div>
            <br>
        <% end %>

        <div class="card mb-3">
            <div class="card-header">
                <%= t('project_proposal.project_information') %>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><b><%= t('project_proposal.possible_tech') %>:</b> <%= sanitize(@project_proposal.equipments) %></li>
                    <li><b><%= t('project_proposal.project_type') %>:</b> <%= @project_proposal.project_type %></li>
                    <li><b><%= t('project_proposal.expected_budget') %>:</b> <%= @project_proposal.prototype_cost.present? ? "$#{@project_proposal.prototype_cost}" : 'Not available' %></li>
                    <li><b><%= t('project_proposal.expected_cost') %>:</b> <%= @project_proposal.project_cost.present? ? "$#{@project_proposal.project_cost}" : 'Not available' %></li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header"><%= t('project_proposal.client_information') %></div>
            <div class="card-body">
                <% if signed_in? %>
                    <div>
                        <ul class="list-unstyled">
                            <li><b>Client:</b> <%= @project_proposal.client %></li>
                            <li><b><%= t('project_proposal.client_type') %>:</b> <%= @project_proposal.client_type %></li>
                            <li><b><%= t('project_proposal.client_interest') %>:</b> <%= @project_proposal.client_interest %></li>
                            <li><b><%= t('project_proposal.client_background') %>:</b> <%= sanitize(@project_proposal.client_background) %></li>
                        </ul>
                    </div>
                    <% if @project_proposal.supervisor_background.present? %>
                        <span style="word-break: break-word">
                            <b>Supervisor Background:</b>
                            <%= sanitize(@project_proposal.supervisor_background) %>
                        </span>
                    <% end %>
                <% else %>
                    <div class="word-break">
                        <div class="alert alert-info">
                            Please <%= link_to 'sign in', login_path, class: 'text-decoration-underline' %> to view client info.
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <% if @project_proposal.description.present? %>
            <div class="card mb-3">
                <div class="card-header"><%= t('project_proposal.project_background') %></div>
                <div class="card-body">
                    <div style="word-break: break-word;"><%= sanitize(@project_proposal.description) %></div>
                </div>
            </div>
        <% end %>

        <% unless @project_proposal.past_experiences.nil? %>
            <div class="card mb-3">
                <div class="card-header"><%= t('project_proposal.past_attempts') %></div>
                <div class="card-body">
                    <% if @project_proposal.past_experiences.split("|")[0].present? %>
                        <%= sanitize(@project_proposal.past_experiences.split('|')[0]) %><!-- <br> -->
                    <% end %>
                    <% if @project_proposal.past_experiences.split("|")[1].present? %>
                        <% @project_proposal.past_experiences.split('|')[1].split(',').each do |links| %>
                            <%= link_to links, links %> <br>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>

        <% unless @linked_pp.nil? %>
            <div class="card mb-3">
                <div class="card-header"><%= t('project_proposal.linked_proposal') %></div>
                <div class="card-body">
                    <%= link_to t('project_proposal.linked_proposal_button'), project_proposal_path(@linked_pp.slug), class: 'btn btn-primary' %>
                </div>
            </div>
        <% end %>

        <% if @revisions.present? %>
            <div class="card mb-3">
                <div class="card-header">
                    Revision(s) of the project proposal / Revision(s) de la proposition de projet
                </div>
                <div class="card-body">
                    <% @revisions.each do |revision| %>
                        <%= link_to revision.title, project_proposal_path(revision.slug), style: 'hover {text-decoration: underline}' %>
                        <br>
                    <% end %>
                </div>
            </div>
        <% end %>

        <% if @project_proposal.project_joins.present? %>
            <p><%= t('project_proposal.users_joined') %>:</p>
            <div>
                <% @project_proposal.project_joins.find_each do |pj| %>
                    <% user_pj = User.find(pj.user_id).username %>
                    <div class="username"><%= link_to user_pj, user_path(user_pj) %></div>
                <% end %>
            </div>
        <% end %>
    </section>

    <section id="info" class="col-lg-4">
        <h1 class="border-bottom d-lg-none"><%= @project_proposal.title %></h1>
        <% if @project_proposal.user_id.eql?(@user.id) || @user.role.eql?("admin") %>
            <%= link_to fa_icon('pencil', text: t('project_proposal.edit_proposal')), edit_project_proposal_path(@project_proposal), class: 'btn btn-secondary mb-3' %>
        <% end %>

        <div>
            <p class="text-secondary"><%= t('project_proposal.proposed_by') %>
                <% if @project_proposal.user_id %>
                    <% project_username = @project_proposal.user.username %>
                    <%= link_to project_username, user_path(project_username) %>
                <% else %>
                    <%= @project_proposal.try(:username) %>
                <% end %>
            </p>
            <p class="text-secondary">
                <%= t('project_proposal.proposed_on') %>
                <%= @project_proposal.created_at.strftime('%b %e %Y') %>
            </p>
            <p class="text-secondary"><%= t('project_proposal.contact') %>: <%= mail_to @project_proposal.email %></p>

            <% if @project_files.present? %>
                <div class="repo-info-item">
                    <div class="title"><%= t('project_proposal.project_files') %></div>
                    <div class="files-show">
                        <% @project_files.each do |f| %>
                            <div class="file-item-show">
                                <u><%= fa_icon 'file-text-o' %> <%= link_to f.file.filename, rails_blob_path(f.file), download: 'download' %></u><span><%= f.file.byte_size / 1000 %>
                                    KB</span>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <% if @user.admin? %>
                <div>
                    <p class="text-secondary">Validation:
                        <% case @project_proposal.approved
                        when 0 %>
                            <span class="text-danger"><%= t('project_proposal.validation.declined') %></span>
                        <% when 1 %>
                            <span class="text-success"><%= t('project_proposal.validation.approved') %></span>
                        <% when nil %>
                            <span><%= t('project_proposal.validation.not_validated') %></span>
                        <% end %>
                    </p>
                </div>
            <% end %>

            <div class="mb-3">
                <b><%= t('repository.categories') %></b>
                <ul class="list-group mb-3">
                    <% @project_proposal.categories.find_each do |category| %>
                        <%= link_to category.name, category_path(slug: category.name.gsub(' ', '-').downcase),
                                    class: "list-group-item list-group-item-action text-primary" %>
                    <% end %>
                </ul>
            </div>

            <div class="clearfix">
                <% if @user.id.present? %>
                    <%= link_to t('project_proposal.document_project'), new_repository_path(@user.username, project_proposal_id: @project_proposal.id), method: :get,
                                class: 'btn btn-success float-start',
                                data: { confirm: 'This action will create a repository related to this project proposal' } %>
                <% end %>
                <% @project_join = find_project_join(@user.id, @project_proposal.id) %>
                <% if @project_join.present? %>
                    <%= button_to t('project_proposal.leave_project'),
                                  unjoin_project_proposal_project_proposals_path, method: :get,
                                  params: { project_proposal_id: @project_proposal.id, project_join_id: @project_join.id },
                                  class: 'btn btn-danger float-end', data: { confirm: 'Are you sure that you want to leave this project?' } %>
                <% elsif @user.id.present? %>
                    <%= button_to t('project_proposal.join_project'),
                                  join_project_proposal_project_proposals_path, method: :get, params: { project_proposal_id: @project_proposal.id },
                                  class: 'btn btn-primary float-end', data: { confirm: 'Are you sure that you want to join this project?' } %>
                <% end %>
            </div>

            <% if @user.admin? %>
                <hr />
                <p class="fw-bold">Project review</p>
                <p><%= t('project_proposal.reviewed_by') %> <%= link_to @project_proposal.admin.username, user_path(@project_proposal.admin.username) %></p>
                <div>
                    <div class="clearfix mb-3">
                        <%= button_to fa_icon('thumbs-up', text: t('project_proposal.admin.approve')), approve_project_proposals_path(id: @project_proposal.id), method: :post,
                                      class: 'btn btn-success float-start', data: { confirm: 'Are you sure? This will approve the project.' } %>
                        <%= button_to fa_icon('thumbs-down', text: t('project_proposal.admin.decline')), decline_project_proposals_path(id: @project_proposal.id), method: :post,
                                      class: 'btn btn-danger float-end', data: { confirm: 'Are you sure? This will decline the project.' } %>
                    </div>

                    <% if @project_proposal.approved.present? && @project_proposal.admin_id.present? %>

                    <% elsif @project_proposal.approved.present? %>
                        <p>This project was reviewed.</p>
                    <% else %>
                        <p>This project was not reviewed yet.</p>
                    <% end %>
                    <hr />

                    <div class="clearfix">
                        <p class="fw-bold">Admin tools</p>
                        <%= button_to t('project_proposal.create_revision'),
                                      create_revision_project_proposals_path(old_project_proposal_id: @project_proposal.id),
                                      method: :post, class: 'btn btn-success float-start' %>
                        <%= button_to fa_icon('trash', text: t('project_proposal.admin.delete')),
                                      destroy_project_proposals_path(id: @project_proposal.id),
                                      data: { confirm: 'Are you sure you want to delete this proposal?' },
                                      method: :delete, class: 'btn btn-danger float-end' %>
                    </div>
                    <hr />
                </div>
            <% end %>

            <div class="report mb-3">
                <%= link_to fa_icon('flag', text: t('project_proposal.report_inappropriate')), report_repository_path(@project_proposal.id), class: 'repository_report' %>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
    </section>
</section>


<% if @repositories.present? %>
    <hr class="w-50 mx-auto"/>
    <h3><%= t('project_proposal.repos_related') %>:</h3>
    <ul class="ms-3 list-group list-group-horizontal">
        <li class="list-group-item"><%= t('project_proposal.sort_by') %>:</li>
        <li class="list-group-item"><%= link_to t('project_proposal.newest'), project_proposal_path(sort: :newest) %></li>
        <li class="list-group-item"><%= link_to t('project_proposal.most_likes'), project_proposal_path(sort: :most_likes) %></li>
        <li class="list-group-item"><%= link_to t('project_proposal.most_makes'), project_proposal_path(sort: :most_makes) %></li>
        <li class="list-group-item"><%= link_to t('project_proposal.recently_updated'), project_proposal_path(sort: :recently_updated) %></li>
    </ul>
    <div class="row gx-1 gy-2 mb-3">
        <% @repositories.each do |repository| %>
            <div class="col-md-4 col-lg-4">
                <%= render 'repositories/repository_card', repository: %>
            </div>
        <% end %>
    </div>
    <%= will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% end %>
