<% provide(:title, "#{@project_proposal.title}") %>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
<% end %>

<section id="show-repository">
  <section id="repository-photos">
    <% if @project_proposal.youtube_link.present? %>
        <%= youtube_video(@project_proposal.youtube_link) %>
    <% end%>
    <br></br>
    <% if @user.admin?%>
        <%= link_to "Approve", approval_project_proposals_path(:id => @project_proposal.id), method: :post,
                    class: "green-button", data: {confirm: 'Are you sure? This will approve the project.'} %>
        <%= link_to "Disapprove", disapproval_project_proposals_path(id: @project_proposal.id), method: :post,
                    class: "delete-button", data: {confirm: 'Are you sure? This will disapprove the project.'} %>
    <% end %>
    <% if @project_proposal.description.present? %>
        <div class="repo-desc">
          <div class="titlepp">DESCRIPTION</div>
          <div class="description"><%= @project_proposal.description.html_safe %></div>
        </div>
    <% end %>
    <div class="repo-desc">
      <% if @user.admin?%>
          <%= link_to "Delete", delete_project_proposal_admin_users_path(id: @project_proposal.id), method: :delete,
                      class: "delete-button", data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </section>
  <section id="info">
    <% if @project_proposal.user_id.eql?(@user.id) || @user.role.eql?("admin") %>
        <%= link_to fa_icon("pencil", text: 'Edit project proposal'),
                    edit_project_proposal_path(@project_proposal), class: 'edit-repo-link' %>
    <% end %>
    <div id="repo-title">
      <%= "Project Proposal: #{@project_proposal.title}" %>
    </div>
    <div id="repo-info">
      <div class="repo-info-item">
        <div class="title">PROPOSED BY</div>
        <% if @project_proposal.user_id %>
            <% project_username = User.find(@project_proposal.user_id).username%>
            <div class="name"><%= link_to project_username, user_path(project_username) %></div>
        <% else %>
            <div class="name"><%= @project_proposal.try(:username) %></div>
        <% end %>
      </div>
      <div class="repo-info-item">
        <div class="title">PROPOSED ON</div>
        <div class="date"><%= @project_proposal.created_at.strftime("%b %e %Y") %></div>
      </div>
      <div class="repo-info-item">
        <div class="title">CONTACT</div>
        <div class="date"><%= @project_proposal.email %></div>
      </div>
      <% if @categories.present? %>
          <div class="repo-info-item">
            <div class="title">CATEGORIES</div>
            <% @categories.each do |t| %>
                <span class="tags"><%= link_to t.name, category_path(slug: t.name.gsub(' ', '-').downcase) %></span>
            <% end %>
          </div>
      <% end %>
      <div class="repo-info-item">
        <div class="report">
          <%= link_to fa_icon('flag', text: 'Report inapropriate'), report_repository_path(@project_proposal.id), class: 'repository_report' %>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
