<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project_proposal.user_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @project_proposal.admin_id %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @project_proposal.approved %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project_proposal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_proposal.description %>
</p>

<p>
  <strong>Youtube link:</strong>
  <%= @project_proposal.youtube_link %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project_proposal.categories %>
</p>

<%= link_to 'Edit', edit_project_proposal_path(@project_proposal) %> |
<%= link_to 'Back', project_proposals_path %>
