<% provide(:title, "#{@project_proposal.title}") %>

<section id="show-repository">
  <section id="repository-photos">
    <% if @project_proposal.youtube_link.present? %>
      <%= youtube_video(@project_proposal.youtube_link) %>
    <% end %>

    <div id="show-photo">
    <% if @project_photos.present? and @project_photos.first.image.attached? %>
        <%= image_tag @project_photos.first.image, data: {width: @project_photos.first.try(:width), height: @project_photos.first.try(:height)} %>
    <% end %>
    </div>

    <div id="photo-slide">
      <% @project_photos.each do |p| %>
        <%= image_tag p.image, data: {width: p.width, height: p.height} %>
      <% end %>
    </div>

    <br><br>
    <% if @user.admin? %>
      <%= link_to "Approve/Approuver", approve_project_proposals_path(:id => @project_proposal.id), method: :post,
                  class: "btn btn-success", data: {confirm: 'Are you sure? This will approve the project.'} %>
      <%= link_to "Decline/Désapprouver ", decline_project_proposals_path(id: @project_proposal.id), method: :post,
                  class: "btn btn-danger", data: {confirm: 'Are you sure? This will decline the project.'} %>
    <% end %>
    <% if @project_proposal.description.present? %>
      <div class="repo-desc">
        <div class="titlepp">DESCRIPTION</div>
        <div class="description"><%= @project_proposal.description.html_safe %></div>
      </div>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
      <b>Possible technologies involved / Technologies possibles impliquées</b>: <%= @project_proposal.equipments %>
      <br>
      <b>Type de projet / Project Type</b>: <%= @project_proposal.project_type %>
      <br>
      <b>Expected project / Coût prévu du projet
        cost</b>: <%= @project_proposal.project_cost.present? ? "$#{@project_proposal.project_cost}" : "Not available" %>
      <br>
      <% if !@project_proposal.past_experiences.nil?  %>
        <b>Experiences passées / Past attempts:</b>
        <% if @project_proposal.past_experiences.split("|")[0] != "" %>
          <%= @project_proposal.past_experiences.split("|")[0] %><br>
        <% end %>
        <% if  @project_proposal.past_experiences.split("|")[1].present? %>
          <% @project_proposal.past_experiences.split("|")[1].split(",").each do |links| %>
            <%= link_to links, links %> <br>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="repo-desc">
      <br><br>
      <% @project_join = find_project_join(@user.id, @project_proposal.id) %>
      <% if @project_join.present? %>
        <%= link_to "Leave Project / Partir du projet", unjoin_project_proposal_project_proposals_path(project_proposal_id: @project_proposal.id, project_join_id: @project_join.id), method: :get,
                    class: "btn btn-danger", data: {confirm: 'Are you sure that you want to join this project?'} %>
      <% elsif @user.id.present? %>
        <%= link_to "Join Project / Se joindre au projet", join_project_proposal_project_proposals_path(project_proposal_id: @project_proposal.id), method: :get,
                    class: "btn btn-primary", data: {confirm: 'Are you sure that you want to join this project?'} %>
      <% end %>
      <br><br>
      <% if @project_proposal.project_joins.present? %>
        <div>Users that joined this project / Utilisateurs qui ont joins le projet:</div>
        <div>
          <% @project_proposal.project_joins.find_each do |pj| %>
            <% user_pj = User.find(pj.user_id).username %>
            <div class="username"><%= link_to user_pj, user_path(user_pj) %></div>
          <% end %>
        </div>
      <% end %>
      <br><br><br>
      <% if @user.staff? %>
        <div class="title">Client Information / Information sur le client:</div>
        <div class="jumbotron text-center word-break">
          <b>Client:</b> <%= @project_proposal.client %>
          <br/>
          <b>Type de client / Client type:</b> <%= @project_proposal.client_type %>
          <br/>
          <b>Client interest / Interets du client:</b> <%= @project_proposal.client_interest %>
          <br/>
          <b>Client Background / Contexte du client:</b> <%= @project_proposal.client_background.html_safe %>
          <br>
        </div>

        <% if @project_proposal.supervisor_background.present? %>
          <div class="title">Supervisor Background:</div>
          <div class="jumbotron text-center word-break">
            <%= @project_proposal.supervisor_background.html_safe %>
          </div>
        <% end %>
      <% end %>
      <br/> <br/>
      <% if @user.admin? %>
        <%= link_to "Delete / Supprimer", delete_project_proposal_admin_users_path(id: @project_proposal.id), method: :delete,
                    class: "btn btn-danger", data: {confirm: 'Are you sure?'} %>
        <br><br>
        <% if @project_proposal.approved.present? && @project_proposal.admin_id.present? %>
          <% admin_username = User.find(@project_proposal.admin_id).username %>
          <div> This project was reviewed by / Ce projet a été revu par:
            <p class="username"><%= link_to admin_username, user_path(admin_username) %></p>
          </div>
        <% elsif @project_proposal.approved.present? %>
          <div class="title">This project was reviewed.</div>
        <% else %>
          <div class="title">This project was not reviewed yet.</div>
        <% end %>
      <% end %>

    </div>
  </section>
  <section id="info">
    <% if @project_proposal.user_id.eql?(@user.id) || @user.role.eql?("admin") %>
      <%= link_to fa_icon("pencil", text: 'Edit project proposal'),
                  edit_project_proposal_path(@project_proposal), class: 'edit-repo-link' %>
    <% end %>
    <div id="repo-title">
      <%= "Project Proposal / Proposition de projet: #{@project_proposal.title}" %>
    </div>
    <div id="repo-info">
      <div class="repo-info-item">
        <div class="title">PROPOSED BY <br> PROPOSÉ PAR </div>
        <% if @project_proposal.user_id %>
          <% project_username = User.find(@project_proposal.user_id).username %>
          <div class="name"><%= link_to project_username, user_path(project_username) %></div>
        <% else %>
          <div class="date"><%= @project_proposal.try(:username) %></div>
        <% end %>
      </div>
      <div class="repo-info-item">
        <div class="title">PROPOSED ON <br> PROPOSÉ LE </div>
        <div class="date"><%= @project_proposal.created_at.strftime("%b %e %Y") %></div>
      </div>
      <div class="repo-info-item">
        <div class="title">CONTACT</div>
        <div class="date"><%= @project_proposal.email %></div>
      </div>
      <% if @project_files.present? %>
        <div class="repo-info-item">
          <div class="title">PROJECT FILES <br> FICHIERS DU PROJET </div>
          <div class="files-show">
            <% @project_files.each do |f| %>
              <div class="file-item-show">
                <u><%= fa_icon "file-text-o" %> <%= link_to f.file.filename, rails_blob_path(f.file), download: "download" %></u><span><%= f.file.byte_size / 1000 %>
                KB</span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @user.admin? %>
        <div class="repo-info-item">
          <div class="title">VALIDATION</div>
          <% case @project_proposal.approved
             when 0 %>
            <div class="declined"><%= "Désapprouvé / Declined" %></div>
          <% when 1 %>
            <div class="approved"><%= "Approuvé / Approved" %></div>
          <% when nil %>
            <div><%= "Pas validé / Not Validated" %></div>
          <% end %>
        </div>
      <% end %>
      <% if @categories.present? %>
        <div class="repo-info-item">
          <div class="title">CATEGORIES</div>
          <% @categories.each do |t| %>
            <span class="tags"><%= link_to t.name, category_path(slug: t.name.gsub(' ', '-').downcase) %></span>
          <% end %>
        </div>
      <% end %>
      <% if @user.id.present? %>
        <div class="repo-info-item">
          <%= link_to "Créer un projet / Create Repository", new_repository_path(@user.username, :project_proposal_id => @project_proposal.id), method: :get,
                      class: "btn btn-success",
                      data: {confirm: 'This action will create a repository related to this project proposal'} %>
        </div>
      <% end %>
      <div class="repo-info-item">
        <div class="report">
          <%= link_to fa_icon('flag', text: 'Report inapropriate / Reporter comme inapproprié'), report_repository_path(@project_proposal.id), class: 'repository_report' %>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<% if @repositories.present? %>
  <section id="repositories-index">
    <div class="title" style="max-width: fit-content;">REPOSITORIES CREATED FROM THIS PROJECT PROPOSAL / PROJET CRÉÉ A PARTIR DE CETTE PROPOSITION:
    </div>
    <br>
    <section id="repository-filter">
      <div class="sort">sort by/classer par</div>
      <nav>
        <% sort_type = params[:sort].present? ? params[:sort].gsub('_', ' ').titleize : 'Newest/Plus récent' %>
        <div id="filter-header"><%= fa_icon 'caret-down', text: sort_type, right: true %> </div>
        <ul class="filter">
          <li><%= link_to 'Newest/Plus récent', project_proposal_path(sort: :newest) %></li>
          <li><%= link_to 'Most Likes/Plus d\'Aimes', project_proposal_path(sort: :most_likes) %></li>
          <li><%= link_to 'Most Makes/Plus de fabrications', project_proposal_path(sort: :most_makes) %></li>
          <li><%= link_to 'Recently Updated/Récemment mis à jour', project_proposal_path(sort: :recently_updated) %></li>
        </ul>
      </nav>
    </section>

    <section id="repositories-container">
      <div class="pagination"><%= will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></div>
      <br>
      <% @repositories.each do |repository| %>
        <div class="repository-container">

          <div class="repo-display-wrapper" <%= "style=background-image:url('#{url_for(repository.photos.first.image) if repository.photos.first.present?}')" %> >
            <%= link_to "", repository_path(repository.user_username, repository.id), class: 'link' %>
          </div>

          <div class="repo-info">
            <div class="left">
              <div class="title">
                <%= link_to repository.title, repository_path(user_username: repository.user_username, id: repository.id) %>
              </div>
              <div>by <%= link_to repository.user_username, user_path(repository.user_username) %></div>
              <div><%= time_ago_in_words(repository.created_at) << " ago" %></div>
            </div>
            <div class="likes"><%= fa_icon 'heart' %><br><%= repository.like %></div>
          </div>
        </div>
      <% end %>
    </section>
  </section>
<% end %>

<%= render 'layouts/photoswipe' %>
