<section id="login">

  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="login-title">Add New RFID</div>

  <%= form_for @rfid, url: rfid_index_path do |f| %>

    <%= f.label :username %>
    <%= text_field_tag 'username' %><br>

    <%= f.label :card_number %>
    <%= f.text_field :card_number %><br><br>
    
    <%= submit_tag "Create RFID!", class: 'login-button' %>
  
  <% end %>

</section>