<section id="help">
  <div class="title">Setting Up An Account</div>

  <dl class="faq">

    <dt>    If you don't have an MakerRepo account yet, just head on over to
      <%= link_to "makerepo.com/new", new_user_path %> or click the <b>Sign Up</b> 
      button on the <%= link_to "home page", root_path %>.</dt>
    
    <%= image_tag "signup.jpg" %> 
    
    <dt>Create a short, memorable repository name. <b>All of your own repository names must be unique and must not contain special characters with the exception of a hyphen.</b> For example, "hello-world".</dt>
  
    <%= image_tag "signup2.jpg" %> 

    <dt>Enter in a valid email address. For example, "johndoe@example.com".</dt>

    <dt>Enter in your password. Your password must contain a <b>uppercase letter, a lowercase letter, one number and be at least eight characters long.</b></dt>

    <br><br><br>
    Signing up and creating an MakerRepo account is totally free! After you sign up, please be sure to complete your profile and <%= link_to "link your MakerRepo account to your Github account", "#" %>.
  </dl>

</section>