<section id="setting" style="width:100%">
<div class="setting-grid">
<div class="mt-4" style="grid-column: 1 / -1;">
  <h3 class="mb-4 text-center">Key Certifications - <%= @key_certification.user.name %></h3>

  <div class="mb-4">
    <h4 class="mb-3 text-center">Staff Files:</h4>

    <% (1..KeyCertification::NUMBER_OF_STAFF_FILES).each do |i| %>
      <% if @key_certification.send("pdf_file_#{i}").attached? %>
        <div class="mb-5">
          <h5><%= KeyCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>:</h5>
          <div class="ratio ratio-16x9">
            <iframe src="<%= url_for(@key_certification.send("pdf_file_#{i}")) %>" allowfullscreen></iframe>
          </div>
          <%= button_to 'Delete', destroy_pdf_key_certification_path(id: @key_certification.id, file_number: i), class: 'btn btn-danger mt-2', method: :delete, data: { confirm: 'Are you sure you want to delete this certification?' } if @user.eql?(@key_certification.user) %>
        </div>
      <% else %>
        <div class="mb-5">
          <h5>
            <%= KeyCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>: not attached
          </h5>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if @user.admin? %>
      <h4 class="mb-3 text-center">Supervisor Files:</h4>

      <% ((KeyCertification::NUMBER_OF_STAFF_FILES + 1)..KeyCertification::TOTAL_NUMBER_OF_FILES).each do |i| %>
        <% if @key_certification.send("pdf_file_#{i}").attached? %>
          <div class="mb-5">
            <h5><%= KeyCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>:</h5>
            <div class="ratio ratio-16x9">
              <iframe src="<%= url_for(@key_certification.send("pdf_file_#{i}")) %>" allowfullscreen></iframe>
            </div>
            <%= button_to 'Delete', destroy_pdf_key_certification_path(id: @key_certification.id, file_number: i), class: 'btn btn-danger mt-2', method: :delete, data: { confirm: 'Are you sure you want to delete this certification?' } if @user.eql?(@key_certification.user) %>
          </div>
        <% else %>
          <div class="mb-5">
            <h5>
              <%= KeyCertification::FILE_NAMES[i - 1].gsub('-', ' ').humanize %>: not attached
            </h5>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
</section>
