<div class="table-responsive table-striped">
  <table class="table sessions-table  table-striped" id="table-js-demotions">
    <thead class="table-primary">
    <tr>
       <th>User</th>
       <th>Training</th>
       <th>Trainer</th>
       <th>Created on</th>
       <th>Demoted on</th>
       <th>Demotion's reason</th>
       <th>Demoted By</th>
       <th class="action-header">Action</th>
     </tr>
     </thead>

    <tbody>
    <% @demotions.each do |demotion| %>
      <% has_training_session = demotion.training_session.present? %>
      <tr>
        <td class="username"><%= link_to demotion.user.name.titleize, user_path(demotion.user.username) %></td>
        <td>
          <% if has_training_session %>
            <%= link_to '', staff_training_session_path(demotion.training_session.id), class: 'mb-2' %>
            <%= certification_status(demotion.training_session.level).html_safe %>
          <% end %>
        </td>
        <td>
          <% if has_training_session %>
            <%= demotion.trainer %>
          <% end %>
        </td>
        <td>
          <% if has_training_session %>
            <%= link_to demotion.created_at.strftime('%B %d, %Y'), staff_training_session_path(id: demotion.training_session.id), style: 'text-decoration:underline;' %>
          <% end %>
        </td>
        <td><%= demotion.updated_at.strftime('%B %d, %Y') %></td>
        <td><%= demotion.demotion_reason %></td>
        <td><%= demotion.demotion_staff.present? ? (link_to demotion.demotion_staff.name, user_path(demotion.demotion_staff.username)) : 'Staff not available' %></td>
        <td class="action-cell">
          <%= form_for demotion, url: admin_certification_path(demotion) do |f| %>
            <%= f.hidden_field :active, value: true %>
            <%= f.hidden_field :demotion_reason, value: nil %>
            <%= f.submit 'Reinstate', data: { confirm: 'Are you sure that you want to reinstate this certification?' }, class: 'btn btn-success btn-sm d-block w-100 mb-1 me-0' %>
          <% end %>
          <%= button_to 'Delete', { controller: :certifications, action: :destroy, id: demotion.id }, method: :delete, data: { confirm: 'Are you sure that you want to delete this certification? This action cannot be undone.' }, class: 'btn btn-danger btn-sm d-block w-100 mb-1 me-0' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
