<thead class="table-primary">
  <tr class="text-center">
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Spaces</th>
    <th>Role</th>
  </tr>
</thead>
<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.name %></td>
    <td><%= link_to admin.username, user_url(admin.username) %></td>
    <td><%= admin.email %></td>
    <td>
      <%# TODO: Make the bubbles colored lol %>
      <%= form_with url: set_role_admin_users_path, method: :patch do |f| %>
        <%= select :spaces, :, options_for_select(@space_list.map { |s| [s.name, s.id] }, @admin_spaces[admin.id]), {}, { multiple: true, class: 'role-space-select form-control' } %>
        <%= f.submit 'Commit', class: 'btn btn-primary' %>
      <% end %>
    </td>
    <td class="w-auto">
      <%= admin.role %>
      <%# Add padding to the label to fill the table cell. Yes you can put inputs inside labels %>
      <label class="w-100 py-4">
        <input type="checkbox" name="user_ids[]" value="<%= admin.id %>" form="updateRoleAdmin"/>
      </label>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan="6">
    <%= form_tag set_role_admin_users_path, method: :patch, id: 'updateRoleAdmin' do %>
      <%= select_tag(:role, options_for_select(@roles), class: 'form-control form-select d-inline w-auto') %>
      <%= submit_tag 'Change', id: 'change-button', class: 'btn btn-primary btn-sm form-control d-inline w-auto' %>
    <% end %>
  </td>
</tr>
