<% provide(:title, "Manage Users") %>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<div class="edit-column">
  <div class="setting-title">Manage Users</div>
    <br>
    <div class="search-form">
    <%= form_tag search_admin_users_path, method: :get do %>
      <%= select_tag 'filter', options_for_select(["Name", "Email", "Username"]), prompt:'Search by...' %>
      <%= text_field_tag 'q', nil, placeholder: 'Search users...', class:'profile-text' %>
      <%= submit_tag "Search", class: 'save-button' %>
    <% end %>
  </div>
  <br>
  <div>
    <% if params[:p] == "signed_in_users" %>
      <table>
        <td><h2>Users currently signed in</h2></td>
        <td class="right"><%= link_to "Show new users", :p => "new_users" %></td>
      </table>
    <% else %>
      <table>
        <td><h2>Newest users</h2></td>
        <td class="right"><%= link_to "Show users currently signed in", :p => "signed_in_users" %></td>
      </table>   
    <% end %>
    <%= form_tag bulk_add_certifications_admin_users_path, method: :post do %>
      <% if !@users.any? %>
        <p style="color:gray">There are no users signed in.</p>
      <% else %>
        <% direction = params[:direction] == "asc" ? "desc" : "asc" %>
        <table class="admin-table">
          <thead>
            <th><%= check_box_tag 'select-all' %></th>
            <th>
              <%= link_to "Username", :sort => "username", :direction => direction, :p => params[:p] %>
              <% if params[:sort] == "username" %>
                <%= fa_icon "sort-#{direction}" %>
              <% end %>
            </th>
            <th>
              <%= link_to "Name", :sort => "name", :direction => direction, :p => params[:p] %>
              <% if params[:sort] == "name" %>
                <%= fa_icon "sort-#{direction}" %>
              <% end %>
            </th>
            <th>
              <%= link_to "Signed in", :sort => "sign_in_time", :direction => direction, :p => params[:p] %>
              <% if params[:sort] == "sign_in_time" %>
                <%= fa_icon "sort-#{direction}" %>
              <% end %>
            </th>
            <th>
              <%= link_to "Joined", :sort => "users.created_at", :direction => direction, :p => params[:p] %>
              <% if params[:sort] == "users.created_at" %>
                <%= fa_icon "sort-#{direction}" %>
              <% end %>
            </th>
            <th>Edit</th>
            <th>View</th>
          </thead>
          <% @users.each do |user| %>
            <tr>
              <td><center><%= check_box_tag 'bulk_cert_users[]', user.id %></center></td>
              <td><%= link_to "#{user.username}", admin_user_path(user) %></td>
              <td><%= user.name %></td>
              <td>
                <% user_sessions = LabSession.where(user_id: user.id) %>
                <% if user_sessions.present? %>
                  <%= time_ago_in_words(user_sessions.last.sign_in_time) %> ago
                <% else %>
                  -
                <% end %>
              </td>
              <td><%= time_ago_in_words(user.created_at) %> ago</td>
			  <td class="link-table"><%= link_to fa_icon("pencil"), edit_admin_user_path(user) %></td>
              <td class="link-table"><%= link_to fa_icon("search"), admin_user_path(user) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      <br><br>
      <%= select_tag 'bulk_certifications', options_from_collection_for_select(EquipmentOption.show_options, :name, :name), prompt:'Add a certification to selected users...' %>
      <%= submit_tag "Add", class: 'save-button' %>
    <% end %>
  </div>
</div>