<% provide(:title, "Manage Users") %>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>

<div class="edit-column">
  <div class="setting-title">Manage Users</div>
    <br>
    <div class="search-form">
    <%= form_tag search_admin_users_path, method: :get do %>
      <%= select_tag 'filter', options_for_select(["Name", "Email", "Username"]), prompt:'Search by...' %>
      <%= text_field_tag 'q', nil, placeholder: 'Search users...', class:'profile-text' %>
      <%= submit_tag "Go", class: 'save-button' %>
    <% end %>
  </div>
  <br><br>
  <div>
    <h2>Most recently created users</h2>
    <ul class="fa-ul">
      <% @edit_admin_users.each do |user| %>
        <li><% check_box_tag 'user.username' %> <%= link_to "#{user.username} (joined #{time_ago_in_words(user.created_at)} ago)", admin_user_path(user) %></li>
      <% end %>
    </ul>
  </div>
  <br><br>
  <div>
    <h2>Users currently signed in</h2>
    <ul class="fa-ul">
      <% if !@active_users.present? %>
        <p style="color:gray">There are no users signed in.</p>
      <% end %>
      <% @active_users.each do |user| %>
        <li><%= link_to "#{user.username} (signed in #{time_ago_in_words(LabSession.where("sign_out_time > ?", Time.now).find_by(card_number: Rfid.find_by(user_id: user.id).card_number).sign_in_time)} ago)", admin_user_path(user) %></li>
      <% end %>
    </ul>
  </div>
</div>