<% provide(:title, "Manage Roles") %>

<div class="edit-column">
  <div class="setting-title">Manage Roles</div>
  <h3>Visit each user to update their roles.<h3>
  <br>
  <div>
    <table>
      <h3>Admins on Makerepo</h3>

      <tr class="text-center">
        <th class="name-header">Username</th>
        <th class="name-header">Name</th>
        <th class="email-header">Email</th>
        <th class="email-header">View</th>
      </tr>

      <% @admins.each do |admin| %>
      <tr>
        <td class="username-cell">
          <%=link_to admin.username, user_url(admin.username)%>
        </td>

        <td class="name-cell">
          <%=admin.name%>
        </td>

        <td class="email-cell">
          <%=admin.email%>
        </td>


        <td class="link-table">
          <%= link_to fa_icon("eye"), user_url(admin.username) %>
        </td>
      </tr>
      <%end%>
    </table>
    <br><br>
    <table>
      <h3>Staff on Makerepo</h3>

      <tr class="text-center">
        <th class="name-header">Username</th>
        <th class="name-header">Name</th>
        <th class="email-header">Email</th>
        <th class="email-header">View</th>
      </tr>

      <% @staff.each do |staff| %>
        <tr>
        <td class="username-cell">
          <%=link_to staff.username, user_url(staff.username)%>
        </td>

        <td class="name-cell">
          <%=staff.name%>
        </td>

        <td class="email-cell">
          <%=staff.email%>
        </td>


        <td class="link-table">
          <%= link_to fa_icon("eye"), user_url(staff.username) %>
        </td>
      </tr>
      <%end%>
    </table>
    <br><br>
    <table>
      <h3>Volunteers on Makerepo</h3>

      <tr class="text-center">
        <th class="name-header">Username</th>
        <th class="name-header">Name</th>
        <th class="email-header">Email</th>
        <th class="email-header">View</th>
      </tr>

      <% @volunteers.each do |volunteer| %>
        <tr>
          <td class="username-cell">
            <%=link_to volunteer.username, user_url(volunteer.username)%>
          </td>

          <td class="name-cell">
            <%=volunteer.name%>
          </td>

          <td class="email-cell">
            <%=volunteer.email%>
          </td>


          <td class="link-table">
            <%= link_to fa_icon("eye"), user_url(volunteer.username) %>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
