<% provide(:title, "Show user") %>

<div class="user-show-admin">
<section id="user-show-admin">
  <div id="user-info">
      <div class="user-avatar">
        <%= image_tag @edit_admin_user5.1.7.url, class: 'edit-avatar'%>
        <% if @all_sessions.where("sign_out_time > ?", Time.zone.now).present? %>
          <div class="status-online">
            <%= fa_icon "check-circle-o" %>
            <%= "Currently signed in" %>
          </div>
        <% else %>
          <div class="status-offline">
            <%= fa_icon "times-circle-o" %>
            <%= "Currently signed out" %>
          </div>
        <% end %>
      </div>
      <div class="fullname">
        <%= "#{@edit_admin_user.name}"%>
      </div>
      <div class="username">
        <%= @edit_admin_user.username %>
      </div>
      <% if @edit_admin_user.gender.present? %>
        <div class="user-info">
          <%= fa_icon "transgender", text: @edit_admin_user.gender %>
        </div>
      <% end %>
      <% if @edit_admin_user.faculty.present? %>
        <div class="user-info">
          <%= fa_icon "book", text: "Faculty of #{@edit_admin_user.faculty}" %>
        </div>
      <% end %>
      <% if @edit_admin_user.use.present? %>
        <div class="user-info">
          <%= fa_icon "sticky-note-o", text: "Use: #{@edit_admin_user.use}" %>
        </div>
      <% end %>
      <div class="user-info">
        <%= fa_icon "envelope" %>
        <%= mail_to @edit_admin_user.email %>
      </div>
      <% if @edit_admin_user.url.present? %>
        <div class="user-info">
          <%= fa_icon("link") %>
          <%= link_to "#{@edit_admin_user.url.gsub(/\Ahttps?:\/\//,'')}", @edit_admin_user.url %>
        </div>
      <% end %>
      <% if @github_username.present? %>
        <div class="user-info">
          <%= fa_icon "github-alt" %>
          <%= link_to @github_username, "https://github.com/#{@github_username}" %>
        </div>
      <% end %>
      <% if @edit_admin_user.location.present? %>
      <div class="user-info">
        <%= fa_icon "location-arrow" %>
        <%= link_to @edit_admin_user.location, "http://maps.google.com/?q=#{@edit_admin_user.location}" %>
      </div>
      <% end %>
      <div class="user-info">
        <%= fa_icon "calendar", text: "Joined on #{@edit_admin_user.created_at.strftime("%B %d, %Y")}"%>
      </div>
  </div>
  <div id="user-show-admin" class="certifications">
    <hr>
    <div class="title">Certifications</div>
    <% if @edit_admin_user.certifications.present? %>
      <div>This user is currently certified to use the following pieces of equipment:</div>
      <div id="cert-container">
        <% @edit_admin_user.certifications.each do |certification| %>
          <span class="certification"><%= certification.training.name %></span>
        <% end %>
      </div>
    <% else %>
      <div>This user has no certifications so far.</div>
    <% end %>
  </div>
  <div id="user-show-admin" class="sessions">
    <hr>
    <div class="title">Lab session statistics</div>
    <div id="user-info">
      <% if @all_sessions.present? %>
        <div class="user-info">
          <% if @all_sessions.first.sign_out_time > Time.zone.now %>
            <%= fa_icon "calendar-check-o", text: "Currently in lab" %>
          <% elsif (@all_sessions.first.sign_out_time < (Time.zone.now - 7.days)) %>
            <%= fa_icon "calendar-check-o", text: "Last seen in lab on #{@all_sessions.first.sign_out_time.strftime("%B %d, %Y")}" %>
          <% else %>
            <%= fa_icon "calendar-check-o", text: "Last seen in lab #{time_ago_in_words(@all_sessions.first.sign_out_time)} ago" %>
          <% end %>
        </div>
        <div class="user-info">
            <%= fa_icon "calendar-plus-o", text: "Been in lab #{@all_sessions.count} times"%>
        </div>
        <div class="user-info">
            <%= fa_icon "clock-o", text: "Average time spent in lab: #{@average_time} minutes"%>
        </div>
        <div class="subtitle">Most recent sessions:</div>
        <table class="admin-table">
          <thead>
            <th>Sign In Time</th>
            <th>Sign Out Time</th>
            <th>Time Spent</th>
            <th>Location</th>
          </thead>
          <% @all_sessions.limit(10).each do |session| %>
            <% if session.sign_out_time > Time.zone.now %>
              <tr class="current-session">
                <td><%= session.sign_in_time.getlocal.strftime('%B %d, %Y %H:%M:%S') %></td>
                <td>Current session</td>
                <td><%= ((Time.zone.now - session.sign_in_time)/60).round %> min. so far</td>
                <td><%= PiReader.find_by(pi_mac_address: session.mac_address).try(:pi_location) %></td>
              </tr>
             <% else %>
              <tr>
                <td><%= session.sign_in_time.getlocal.strftime('%B %d, %Y %H:%M:%S') %></td>
                <td><%= session.sign_out_time.getlocal.strftime('%B %d, %Y %H:%M:%S') %></td>
                <td><%= ((session.sign_out_time - session.sign_in_time)/60).round %> minutes</td>
                <td><%= PiReader.find_by(pi_mac_address: session.mac_address).try(:pi_location) %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% else %>
        <div class="user-info">
          <%= fa_icon "calendar-times-o", text: "Never seen in lab" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
</div>
