<section class="page-contents">
  <div class="edit-column text-center">

    <h2>Opening Hours</h2>

    <%= link_to "New Opening Hour", new_admin_opening_hour_path, :class=>"btn btn-primary m-3" %>

    <% if !@hours.blank? %>

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th class="action-header">Action</th>
          </tr>

          <tbody>
          <% @hours.each do |a| %>
            <tr>
              <td>
                <%= a.name %>
              </td>

              <td>
                <%= a.email %>
              </td>

              <td>
                <%= a.address %>
              </td>

              <td>
                <%= a.phone_number %>
              </td>

              <td class="action-cell">
                <%=link_to "Edit", edit_admin_opening_hour_path(a.id), class:"btn btn-primary btn-block btn-sm mb-1 mt-0"%>
                <%=link_to "Delete", { controller: :opening_hours ,action: :destroy, id: a.id }, method: :delete,
                           data: { confirm: 'Are you sure that you want to delete this opening hour ?' },
                           class:"btn btn-danger btn-sm btn-block mb-1 mr-0" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-3">
        No Opening Hours were created yet.
      </div>
    <% end %>
  </div>
</section>
