<section>
  <h2 class="mb-3 fw-bold py-3 text-center">Edit Team - <%= @team.name %></h2>

  <%= form_for @team, url: { controller: 'admin/teams', action: 'update' } do |f| %>
    <div class="row">
      <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <div class="mb-3">
          <%= f.label :name, 'Team Name', class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>

        <div class="text-center">
          <%= f.submit 'Update Team', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</section>