<div class=" text-start word-break">
  <h2><b><%= question.description %></b></h2>
</div>

<div class="text-center col-12 justified-gallery">
  <% if question.images.attached? %>
    <% question.images.each do |img| %>
      <a href="#">
        <%= image_tag(img, alt: 'Picture related to the questions', class: 'd-inline-block mx-auto') %>
      </a>
    <% end %>
  <% end %>
</div>
<hr>
<form class="form-check text-start">
  <% question.answers.randomize_answers.each do |a| %>
    <div class="form-check">

    <% if response.answer.eql?(a) %>
    <input name="<%= question.id %>" type="radio" class="answers form-check-input" id=<%= a.id %> value=<%= a.id %> onclick="examResponse(<%= @exam.id %>, <%= a.id %>)" checked=true>
    <label for="<%= a.id %>" class="form-check-label d-block">
      <%= a.description %>
    </label>
    <% else %>
    <input name="<%= question.id %>" type="radio" class="answers form-check-input" id=<%= a.id %> value=<%= a.id %> onclick="examResponse(<%= @exam.id %>, <%= a.id %>)">
        <label for="<%= a.id %>" class="form-check-label"></label>
    <%= a.description %>
    <% end %>
      </div>
  <% end %>
    </form>