<div class=" text-left word-break">
  <h2><b><%= question.description %></b></h2>
</div>
<% if question.images.attached? %>
  <% question.images.each do |img| %>
    <%= image_tag(img, style: 'height: 300px;') %>
  <% end %>
<% end %>
<hr>
<div class="text-left">
  <% question.answers.randomize_answers.each do |a| %>
    <div class="answers" onclick="examResponse(<%= @exam.id %>, <%= a.id %>)">
      <%= a.description %>
    </div>
  <% end %>
</div>