<div class=" text-start word-break">
  <h2><b><%= question.description %></b></h2>
</div>

<div id="questionImageGallery" class="text-center justified-gallery">
  <% if question.images.attached? %>
    <% question.images.each do |img| %>
      <a href="#">
        <%= image_tag(img, alt: 'Picture related to the questions') %>
      </a>
    <% end %>
  <% end %>
</div>
<hr>
<div class="text-start">
  <% question.answers.randomize_answers.each do |a| %>
    <% if response.answer.eql?(a) %>
      <div class="selected-answers" onclick="examResponse(<%= @exam.id %>, <%= a.id %>)">
        <%= a.description %>
      </div>
    <% else %>
      <div class="answers" onclick="examResponse(<%= @exam.id %>, <%= a.id %>)">
        <%= a.description %>
      </div>
    <% end %>
  <% end %>
</div>