<div class=" text-left word-break">
  <h2><b><%= question.description %></b></h2>
</div>
<%= image_tag question.image.url(:medium) if !question.image.blank? %>
<div class="text-left">
  <% question.answers.randomize_answers.each do |a| %>
    <% if response.answer.eql?(a) %>
      <p class="selected-answers" onclick="examResponse(<%= @exam.id %>, <%= a.id %>, <%= response.id %>)">
        <%= a.description %>
      </p>
    <% else %>
      <p class="answers" onclick="examResponse(<%= @exam.id %>, <%= a.id %>, <%= response.id %>)">
        <%= a.description %>
      </p>
    <% end %>
  <% end %>
</div>