<div class=" text-left word-break">
  <h2><b><%= question.description %></b></h2>
</div>
<%= image_tag question.image.variant(resize: "300x300") if question.image.attached? %>
<hr>
<div class="text-left">
  <% question.answers.randomize_answers.each do |a| %>
    <p class="answers" onclick="examResponse(<%= @exam.id %>, <%= a.id %>)">
      <%= a.description %>
    </p>
  <% end %>
</div>