<section class="container">
  <div class="text-center">
    <% @questions_not_answered.find_each do |q| %>
      <div class=" text-left word-break">
        <h2><b><%= q.description %></b></h2>
      </div>
      <%= image_tag q.image.url(:medium) if !q.image.blank? %>
      <div class="text-left">
        <% q.answers.randomize_answers.each do |a| %>
          <p class="answers" onclick="questionResponse(<%= @exam.id %>,<%= q.id %>, <%= a.id %>)">
            <%= a.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <% @questions_answered.find_each do |q| %>
      <div class=" text-left word-break">
        <h2><b><%= q.description %></b></h2>
      </div>
      <%= image_tag q.image.url(:medium) if !q.image.blank? %>
      <div class="text-left">
        <% q.answers.randomize_answers.each do |a| %>
          <p class="answers" onclick="questionResponse(<%= @exam.id %>,<%= q.id %>, <%= a.id %>)">
            <%= a.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

</section>