<% provide(:title, 'Printer Issues') %>
<div class="text-center">
    <h1>Issue summary</h1>
    <div class="row">
        <% @issues_summary.each do |summary, issues| %>
            <div class="col">
                <h2 class="d-inline"><%= summary %></h2><p class="d-inline fs-3"> (<%= issues.count %>)</p>
                <ul class="list-unstyled">
                    <% issues.each do |issue| %>
                        <li class="list-group-item"><%= issue.printer.name %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <hr />
    <h1>Active Issues</h1>
    <%= link_to new_printer_issue_path, class: 'btn btn-success mb-3' do %>
        <i class="fa fa-plus"></i> New Issue
    <% end %>
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <td>Issue ID</td>
                <td>Printer</td>
                <td>Summary</td>
                <td>Description</td>
                <td>Reporter</td>
                <td>Reported on</td>
                <td>Last updated</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% @issues.filter(&:active).each do |issue| %>
                <tr>
                    <td><%= issue.id %></td>
                    <td><%= issue.printer.name %></td>
                    <td><%= issue.summary %></td>
                    <td><%= issue.description.html_safe %></td>
                    <td><%= issue.reporter.name %></td>
                    <td><%= issue.created_at %></td>
                    <td><%= issue.updated_at %></td>
                    <td>
                        <%= button_to issue.active ? 'Close' : 'Reopen', printer_issue_path(issue), method: :patch, params: { printer_issue: { active: !issue.active } }, class: 'btn btn-primary' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <hr />
    <h1>Issue History</h1>
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <td>Issue ID</td>
                <td>Printer</td>
                <td>Summary</td>
                <td>Description</td>
                <td>Reporter</td>
                <td>Reported on</td>
                <td>Last updated</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% @issues.reject(&:active).each do |issue| %>
                <tr>
                    <td><%= issue.id %></td>
                    <td><%= issue.printer.name %></td>
                    <td><%= issue.summary %></td>
                    <td><%= issue.description.html_safe %></td>
                    <td><%= issue.reporter.name %></td>
                    <td><%= issue.created_at %></td>
                    <td><%= issue.updated_at %></td>
                    <td>
                        <%= button_to issue.active ? 'Close' : 'Reopen', printer_issue_path(issue, params: { printer_issue: { active: !issue.active } }), method: :patch, class: 'btn btn-secondary' %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
