<div class="text-center">
    <h1 class="title">Issue #<%= @issue.id %></h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p class="fs-2 fw-bold"><%= @issue.summary %></p>
            <%= @issue.description.html_safe %>
        </div>
    </div>
    <div class="row row-cols-3">
        <p><%= @issue.printer.name %></p>
        <p><%= @issue.reporter.username %> - <%= @issue.reporter.name %></p>
        <p>Created on <%= @issue.created_at %></p>
    </div>
</div>
