<!-- Modal-->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"><%= proficient_project.title %></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
  </div>
  <div class="modal-body">
    <h5 class="modal-title">Level: <%= proficient_project.level %></h5>
    <h5>Price: <%= proficient_project.cc %></h5>
    <%= proficient_project.description.html_safe %>
  </div>
  <div class="modal-footer">
    <div class="mx-auto">
      <%= render "proficient_project_row", proficient_project: proficient_project, order_item: order_item, user_order_items: user_order_items %>
    </div>
  </div>
</div>