<% provide(:title, 'Edit Proficient Project') %>
<section class="card">
  <div class="float-end">
    <%= button_to 'Delete', @proficient_project, method: :delete, class: 'btn btn-danger float-start ms-5 mt-5', style: 'opacity: 0.5', data: { confirm: 'Are you sure? This will delete all the purchases and give all the users the CC points used to purchase this project.' } if current_user.admin? %>
    <%= link_to 'Show', proficient_project_path(@proficient_project.id), class: 'btn btn-primary float-end me-5 mt-5' %>
  </div>
  <div class="col-lg-7 mx-auto">
    <br />
    <h2 class="text-center"><b>Edit Proficient Project</b></h2>
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @proficient_project, url: { controller: 'proficient_projects', action: 'update' }, html: { multipart: true } do |f| %>
            <div class="mb-3">
              <%= f.label :title, 'Title', class: 'form-label' %>
              <%= f.text_field :title, id: 'repository_title', placeholder: 'Title of the proficient project...', class: 'form-control', required: true %>
              <br />
              <%= f.label :description, 'Description (You can now input a wiki.makerepo.com link and the page will be displayed)', class: 'form-label' %>
              <%= f.trix_editor :description, placeholder: 'Description of the proficient project...', class: 'form-control', required: true %>
              <br />
              <%= f.label :training_id, 'Category', class: 'form-label' %>
              <%= f.select(:training_id, @training_categories, {}, { class: 'form-control form-select', id: 'training_id_field' }) %>
              <br />
              <%= f.label :level, 'Level', class: 'form-label' %>
              <%= f.select(:level, @training_levels, {}, { class: 'form-control form-select', id: 'training_level_field' }) %>
              <br />
              <%= f.label :cc, 'Cc Points', class: 'form-label' %>
              <%= f.number_field(:cc, class: 'form-control') %>
              <br />
              <br />
              <%= f.label :has_project_kit, 'Physical kit:', class: 'form-label' %>
              <div class="form-check">
              <br />
              <%= f.radio_button(:has_project_kit, false, checked: true, style: 'display:inline', class: 'form-check-input') %>
              <%= f.label 'has_project_kit_false', 'No', class: 'form-label' %>
              <br />
              <%= f.radio_button(:has_project_kit, true, style: 'display:inline', class: 'form-check-input') %>
              <%= f.label 'has_project_kit_true', 'Yes', class: 'form-label' %>
              <br />
              </div>
              <br />
              <%= f.label :drop_off_location_id, 'Drop-Off Location', class: 'form-label' %>
              <%= f.select(:drop_off_location_id, options_for_select(@drop_off_location.pluck(:name, :id), selected: f.object.drop_off_location_id), { include_blank: 'No Location' }, { class: 'form-control form-select' }) %>
              <br />
              <%= label :badge_requirements_id, 'Prerequisite Badge (Choose as many badges as you want)', class: 'form-label' %>
              <%= select_tag :badge_requirements_id, options_from_collection_for_select(@badge_templates, 'id', 'badge_name', selected: (@proficient_project.badge_requirements.pluck(:badge_template_id) if @proficient_project.badge_requirements.present?)), { multiple: true, id: 'badge_requirements', class: 'form-control' } %>
              <br>
              <%= f.label :badge_template_id, 'Badge that will be acquired', class: 'form-label' %>
              <p class="alert alert-secondary" id="badge-acquired-text">No badge will be acquired</p>              <br>
              <br>
              <%= label_tag :file, 'Project files', class: 'form-label' %>
              <%= file_field_tag 'files[]', type: :files, multiple: true, class: 'form-control', aria_label: 'Project Files / Fichiers du projet' %>
              <div id="file-container">

                <% @files.each do |f| %>
                  <table>
                    <tr class="file-item">
                      <td><%= fa_icon 'file-text-o' %> <%= f.file.filename %></td>
                      <td><span><%= f.file.byte_size / 1000 %> KB</span></td>
                      <td><span id="<%= f.file.filename %>" class="file-remove">remove</span></td>
                    </tr>
                  </table>
                <% end %>
                <%= hidden_field_tag 'deletefiles' %>
              </div>
              <br />

              <%= label_tag :video, 'Videos', class: 'form-label' %>
              <div id="video-container">

                <% @videos.each do |f| %>
                  <% f.video.each do |video| %>
                    <table>
                      <tr class="file-item">
                        <td><%= fa_icon 'file-text-o' %> <%= video.filename %></td>
                        <td><span><%= bytes_to_megabytes(video.byte_size) %> MB</span></td>
                        <td><span id="<%= video.id %>" class="video-remove">remove</span></td>
                      </tr>
                    </table>
                  <% end %>
                <% end %>
                <%= hidden_field_tag 'deletevideos' %>
              </div>

              <br />
              <div class="mb-3 required">
              <%= label_tag :photo, 'Gallery*', class: 'form-label' %>
                <div class="input-group mb-3">
                  <%= file_field_tag 'images[]', type: :files, multiple: true, class: 'form-control image-upload', aria_label: 'Select Pictures / Selectionner des images' %>
                  <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-photo-input">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="mx-auto repo-image mb-3">
                <div id="dragndrop" ondrop="dragndrop(event);" ondragover="dragover(event);">
                  <br>
                  <%= fa_icon 'cloud-upload' %>
                  <p>Drag &amp; Drop</p>
                </div>
              </div>

              <div id="image-container" class="mx-auto mb-3">
                <% @photos.each do |img| %>
                  <div class="image-item">
                    <span id="<%= img.image.filename %>" class="image-remove"></span>
                    <%= image_tag img.image, alt: 'Edit Proficient Project Picture' %>
                  </div>
                <% end %>
                <%= hidden_field_tag 'deleteimages' %>
              </div>

              <div class="text-center">
                <%= f.submit 'Update Proficient Project', class: 'btn btn-primary', id: 'waiting-save-button' %>
                <br />
                <br />
                This could take several minutes. Do not refresh this page.
                <br />
                <span id="status-save"> </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= vite_javascript_tag 'generate_acquired_badge' %>
