<section>
  <h2 class="text-center py-3"><b>Proficient Projects</b></h2>
  <div class="text-center">
    <div class="row mx-auto">

      <div class="col-md-12">
        <% @skills.each do |skill| %>
          <% next unless skill.trainings.present? %>
          <% skill.trainings.each do |training| %>
            <% next unless training.proficient_projects.present? %>

            <div class="accordion">
              <div class="card">

                <div class="card-header" type="button" data-toggle="collapse" data-target="#training-<%= training.id %>">
                  <span class="float-right"><%= training_status(training).html_safe %></span>
                  <button class="btn btn-link" type="button"><%= training.name %></button>
                </div>

                <div id="training-<%= training.id %>" class="collapse">
                  <div class="card-body">

                    <p>Modules finished : <%= @proficient_projects_awarded.call(training).count %> / <%= training.proficient_projects.count %></p>

                    <div class="row">

                      <% pp_awarded = @proficient_projects_awarded.call(training) %>

                      <% @all_proficient_projects.call(training).order(:level).rotate(@advanced_pp_count.call(training)).each do |pp| %>
                        <% pp_awarded.include?(pp) ? opacity = '' : opacity = 'w3-opacity-max' %>
                        <div class="col-md-4 mb-5 mt-3 card w3-card-4 w3-hover-opacity <%= opacity %> <%= return_hover_and_text_colors(pp.level) %> <%= return_border_color(pp.level) %>" style="border-width:2px !important;">
                          <form class="form-inline">
                            <div class="form-group mx-auto">
                              <p><h6 class="text-center py-3"><strong><%= pp.training.name %></strong></h6></p>
                            </div>
                          </form>
                          <% if pp.photos.present? %>
                            <% if @user_order_items.where(proficient_project: pp, status:  ["Awarded", "In progress"]).present? %>
                              <a href="<%= proficient_project_path(pp.id) %>">
                                <div class="card card-image projects-image" style="background-image: url(<%= url_for(pp.photos.first.image) %>);">
                                </div>
                              </a>
                            <% else %>
                              <a data-toggle="modal" data-target="#modal-window" data-remote="true" href="<%= open_modal_proficient_projects_path(id: pp.id) %>">
                                <div class="card card-image projects-image" style="background-image: url(<%= url_for(pp.photos.first.image) %>);">
                                </div>
                              </a>
                            <% end  %>
                          <% end %>
                          <div>
                            <b class="float-right pt-2 text-info"><%= pp.cc.nil? || pp.cc.eql?(0) ? "<b class='text-success'>FREE</b>".html_safe : pp.cc.to_s + " Ccs" %></b>
                            <br />
                            <h6 class="font-weight-bold text-center"><strong><%= pp.title %></strong></h6>
                            <p><%= pp.level %></p>
                          </div>
                          <%= render "/proficient_projects/proficient_project_row", proficient_project: pp, order_item: @order_item, user_order_items: @user_order_items %>
                        </div>
                      <% end %>

                    </div>
                    <br />
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<br />
<br />

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


