<section class="page-contents">
  <div class="edit-column text-center">

    <section id="projects-containers">
      <div class="apple_pagination">
        <div class="page_info">
          <%#= page_entries_info @proficient_projects, :model => 'product' %>
        </div>
        <%= will_paginate @proficient_projects, :container => false %>
      </div>
      <br />
      <% @proficient_projects.each do |product| %>
        <div class="projects-container">
          <% if !product.photos.blank? %>
            <div class="repo-display-wrapper" <%= "style=background-image:url('#{product.photos.first.image.url})')"  %> >
              <%= link_to "", proficient_project_path(product.id), class: 'link' %>
            </div>
          <% else %>
            <div class="repo-display-wrapper" <%= "style=background-image:url('#{asset_path('nourish4me_logo.png')}')"  %> >
              <%= link_to "", proficient_project_path(product.id), class: 'link' %>
            </div>
          <% end %>
          <div class="repo-info">
            <div class="prices">
              <%= number_to_currency number_with_precision(3, :precision => 2) %>
            </div>
            <div class="left">
              <div class="title">
                <%= link_to product.title, proficient_project_path(product.id) %>
              </div>
              <%#= render "product_row", product: product, order_item: @order_item %>
            </div>

          </div>

        </div>
      <% end %>
    </section>












    <h2>All Proficient Projects</h2>

    <% if !@proficient_projects.blank? %>
      <input type="text" id="query" onkeyup="findSession('sessions-table')" placeholder="Find by: date, title, description, ..." class="form-control mx-auto">

      <br />

      <div class="table-responsive">
        <table class="table sessions-table">

          <tr>
            <th class="action-header">Action</th>
            <th>Category<span onclick="sortTable('sessions-table', 1)"><%=fa_icon('arrow-down')%></span></th>
            <th>Level<span onclick="sortTable('sessions-table', 2)"><%=fa_icon('arrow-down')%></span></th>
            <th>Title <span onclick="sortTable('sessions-table', 3)"><%=fa_icon('arrow-down')%></span></th>
            <th>Date Submitted <span onclick="sortTable('sessions-table', 4)"><%=fa_icon('arrow-down')%></span></th>
          </tr>

          <tbody>
          <%= will_paginate @proficient_projects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <% @proficient_projects.each do |pp| %>
            <tr>
              <td class="action-cell text-center">
                <%=link_to "Show", proficient_project_path(pp.id), class:"btn-block show-button mt-0 mb-1" %>
                <%=link_to "Edit", edit_proficient_project_path(pp.id), class:"btn-block edit-button ml-0 mr-0 mb-1" if current_user.admin?%>
                <%=link_to 'Delete', pp, method: :delete, class: "btn-block destroy-button ml-0 mr-0 mb-0", data: {confirm: 'Are you sure?'} if current_user.admin?%>
              </td>

              <td>
                <%= pp.training.name %>
              </td>

              <td>
                <%= pp.level %>
              </td>

              <td>
                <%= pp.title.html_safe %>
              </td>

              <td>
                <%= pp.created_at.strftime("%m/%e/%Y") %>
                <br>
                <%= pp.created_at.strftime("%I:%M %p").downcase() %>
              </td>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="m-5">
        There are no proficient projects.
      </div>
    <% end %>
  </div>
</section>
