<section>
  <br />
  <div class="by-5">
    <%= form_tag(proficient_projects_path, method: :get) do %>
      <div class="form-inline">
        <%= text_field_tag(:search, "", placeholder: "Title, description, level or category", class: 'form-control col-md-4') %>
        <%= submit_tag("Search", class: 'btn btn-secondary form-inline') %>
      </div>
    <% end %>
  </div>

  <div class="mt-2">
    <%= form_tag(proficient_projects_path, method: :get) do %>
      <div class="form-inline">
        <%= select_tag :category, options_for_select(@training_categories_names, :selected=>params[:category]), prompt: 'Select category', class: "form-control" %><br />
        <%= select_tag :level, options_for_select(@training_levels, :selected=>params[:level]), prompt: 'Select level', class: "form-control" %><br />
        <%= submit_tag("Filter", class:'btn btn-secondary form-control') %>
      </div>
    <% end %>
  </div>

  <br />
  <div class="apple_pagination">
    <%= page_entries_info @proficient_projects, :model => 'proficient_project' %>
    <%= will_paginate @proficient_projects, :container => false %>
  </div>

  <div class="row text-center">

    <% @proficient_projects.each do |pp| %>
      <div class="col-md-4 mb-5 mt-3 card w3-card-4 w3-hover-opacity <%= return_hover_and_text_colors(pp.level) %>" style="border-width:2px !important;">
        <form class="form-inline">
          <div class="form-group">
            <%=link_to "-Edit-", edit_proficient_project_path(pp.id), class:"btn btn-primary", style: "opacity: 0.5" if current_user.admin? %>
          </div>
          <div class="form-group mx-auto">
            <p><h6 class="text-center py-3"><strong><%= pp.training.name %></strong></h6></p>
          </div>
          <div class="form-group">
            <%=link_to 'Delete', pp, method: :delete, class: "btn btn-danger", style: "opacity: 0.5", data: {confirm: 'Are you sure? This will delete all the purchases and give all the users the CC points used to purchase this project.'} if current_user.admin? %>
          </div>
        </form>
        <% if pp.photos.present? %>
          <% if @user_order_items.where(proficient_project: pp, status:  ["Awarded", "In progress"]).present? %>
            <a href="<%= proficient_project_path(pp.id) %>">
              <div class="card card-image projects-image" style="background-image: url(<%= url_for(pp.photos.first.image) %>);">
              </div>
            </a>
          <% else %>
            <a data-toggle="modal" data-target="#modal-window" data-remote="true" href="<%= open_modal_proficient_projects_path(id: pp.id) %>">
              <div class="card card-image projects-image" style="background-image: url(<%= url_for(pp.photos.first.image) %>);">
              </div>
            </a>
          <% end  %>
        <% end %>
        <div>
          <b class="float-right pt-2 text-info"><%= pp.cc.nil? || pp.cc.eql?(0) ? "<b class='text-success'>FREE</b>".html_safe : pp.cc.to_s + " Ccs" %></b>
          <br />
          <h6 class="font-weight-bold text-center"><strong><%= pp.title %></strong></h6>
          <p><%= pp.level %></p>
        </div>
        <%= render "proficient_project_row", proficient_project: pp, order_item: @order_item, user_order_items: @user_order_items %>
      </div>

    <% end %>
  </div>

  <div class="apple_pagination">
    <%= will_paginate @proficient_projects, :container => false %>
    <%= page_entries_info @proficient_projects, :model => 'proficient_project' %>
  </div>
  <br />
</section>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


