<% provide(:title, "New Proficient Project") %>
<section class="page-contents">
  <div class="edit-column">
    <h2 class="text-center">New Proficient Project</h2>
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <%= form_for @proficient_project, url: {controller: "proficient_projects", action: "create"}, html: {multipart: true} do |f| %>
            <div class="form-group">
              <%= f.label :title, "Title*" %>
              <%= f.text_field :title, placeholder: "Title of the proficient project...", class: 'form-control', required: true %>
              <br />
              <%= f.label :description, "Description*" %>
              <%= f.text_area :description, placeholder: "Description of the proficient project...", class: 'form-control', required: true, id: 'redactor' %>
              <br />
              <%= f.label :training_id, "Category*" %>
              <%= f.select(:training_id, @training_categories , {} , {:class => "form-control"}) %>
              <br />
              <%= f.label :level, "Level*" %>
              <%= f.select(:level, @training_levels , {} , {:class => "form-control"}) %>
              <br />
              <%= label_tag :file, "Project files"%>
              <label class="custom-instructable-upload">
                <%= file_field_tag 'files[]', type: :files, multiple: true %>
                Choose files...
              </label>
              <div id="file-container"></div>
              <br />
              <%= label_tag :photo, "*Gallery" %>
              <div class="repo-image mx-auto">
                <div id="dragndrop">
                  <%= fa_icon 'cloud-upload' %>
                  <p>Drag &amp; Drop</p>
                </div>
                <label class="custom-image-upload">
                  <%= file_field_tag 'images[]', type: :files, multiple: true %>
                  or choose an image...
                </label>
              </div>
              <div id="image-container" class="mx-auto"></div>
              <%= f.submit "Create Proficient Project", class: "btn btn-primary", id: "waiting-save-button" %>
              <span id="status-save"></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%#= form_for @proficient_project, url: {controller: "proficient_projects", action: "create"}, html: {multipart: true} do |f| %>
<!--      <br>-->
<!--      <div class="form-group">-->
        <%#= f.label :title, "*Title/Titre" %>
<!--        <div>Great project titles are short and memorable.<br>Des titres de projets génial sont court et mémorable.</div>-->
        <%#= f.text_field :title, class: 'repo form-control' %>
<!--      </div>-->
<!--      <br>-->
<!--      <div class="form-group">-->
        <%#= f.label :description %>
<!--        <div style="width: 420px;">-->
          <%#= f.text_area :description, class: 'repo form-control', id: 'redactor' %>
<!--        </div>-->
<!--      </div>-->




      <!--    <div class="form-group">-->
      <%#= f.label :youtube_link, "Youtube Link" %>
      <!--    <div>Your project will be better understood with a 1 min Youtube video.<br>Votre projet sera mieux compris avec une-->
      <!--      vidéo Youtube de 1 minute-->
      <!--    </div>-->
      <%#= f.text_field :youtube_link, class: 'repo form-control' %>
      <!--    </div>-->
      <!--    <br>-->
      <!--    <div class="form-group">-->
      <%#= f.label :categories, "*Categories/Catégories" %>

      <!--    <div>Choose at most 5 categories that fit your project.<br>Choisi un maximum de 5 catégories qui convent à ton-->
      <!--      projet-->
      <!--    </div>-->



      <%#= f.select( :categories, options_from_collection_for_select(CategoryOption.show_options, :id, :name), { :class => "form-control"}, { :include_blank => "Select a category.../Sélectionne une catégorie..."}) %>
      <!--    </div>-->
      <!--    <div id="category-container"></div>-->

      <!--    <br>-->
      <!--    <div class="form-group">-->
      <%#= f.label :equipment, "Equipment/Équipement" %>

      <!--    <div>Choose at most 5 pieces of equipment that are related to your project.<br>Choisi un maximum de 5 pièces-->
      <!--      d'équipment qui sont reliés newà ton-->
      <!--    </div>-->

      <%#= f.select :equipments, options_from_collection_for_select(EquipmentOption.show_options, :id, :name), class: "profile-text form-control", include_blank: "Select a piece of equipment.../Sélectionne une piéce d'équipement..." %>
      <!--    </div>-->
      <!--    <div id="equipment-container"></div>-->

      <!--    <br>-->
      <!--    <div class="form-group">-->
      <%#= f.label :license, "License/Licence" %>

      <!--    <div>Choose how you want your project to be used by others.<br>Choisi comment tu veux que ton projet soit utilisé-->
      <!--      par les autres-->
      <!--    </div>-->

      <%#= f.select :license, @repository.class.license_options, class: "form-control" %>
      <!--    </div>-->
      <!--    <br>-->
      <!--    <br>-->

      <!--    <div id="share_option">-->
      <%#= f.label :share_type, "Your project is..." %>
      <%#= fa_icon('globe') %>
      <%#= f.radio_button(:share_type, "public", :class => "show_extra", :style => "display:inline", :onclick => "hidePass();") %><%#= f.label(:share_type, "Public", :id => "type", :style => "display:inline") %>
      <!--      <div id="description"> Anyone can see this repository</div>-->
      <%#= fa_icon('lock') %>
      <%#= f.radio_button(:share_type, "private", :class => "show_extra", :style => "display:inline", :onclick => "showPass();") %><%#= f.label(:share_type, "Private", :id => "type", :style => "display:inline") %>
      <!--      <div id="description"> Only those with the url and password can view this repository</div>-->

      <!--      <div id="pass" class="form-group">-->
      <%#= password_field :password, nil, placeholder: 'Password', id: 'password', style: "display: none;", class: "form-control" %>
      <!--      </div>-->

      <!--    </div>-->

      <%#= f.hidden_field :project_proposal_id, value: params[:project_proposal_id] %>

      <!--    <br>-->
      <!--    <br>-->
      <!--    <br>-->
      <%#= f.submit "Create Project/Créer ton Projet", class: "btn btn-primary", id: "waiting-save-button" %>
<!--      <span id="status-save"></span>-->
    <%# end %>
  </div>

</section>

