<% provide(:title, "New Proficient Project") %>
<section class="card">
  <div class="col-lg-7 mx-auto">
    <br/>
    <h2 class="text-center"><b>New Proficient Project</b></h2>
    <div class="row">
      <div class="col-lg-12">
        <%= form_for @proficient_project, url: { controller: "proficient_projects", action: "create" }, html: { multipart: true } do |f| %>
          <div class="mb-3">
            <%= f.label :title, "Title*", class:"form-label" %>
            <%= f.text_field :title, id: "repository_title", placeholder: "Title of the proficient project...", class: 'form-control', required: true %>
            <br/>
            <%= f.label :description, "Description* (You can now input a wiki.makerepo.com link and the page will be displayed)", class:"form-label" %>
            <%= f.trix_editor :description, placeholder: "Description of the proficient project...", class: 'form-control', required: true, id: 'redactor', 'aria-label': 'Description (You can now input a wiki.makerepo.com link and the page will be displayed)' %>
            <br/>
            <%= f.label :training_id, "Category*", class:"form-label" %>
            <%= f.select(:training_id, @training_categories, {}, { :class => "form-control", id: 'training_id_field' }) %>
            <br/>
            <%= f.label :level, "Level*", class:"form-label" %>
            <%= f.select(:level, @training_levels, {}, { :class => "form-control", id: "training_level_field" }) %>
            <br/>
            <%= f.label :cc, "Cc Points", class:"form-label" %>
            <%= f.number_field(:cc, :class => "form-control") %>
            <br/>
            <br/>
            <%= f.label :has_project_kit, "Physical kit:", class:"form-label" %>
            <br/>
            <%= f.radio_button(:has_project_kit, false, checked: true, :style => 'display:inline') %>
            <%= f.label 'has_project_kit_false', "No", class:"form-label" %>
            <br/>
            <%= f.radio_button(:has_project_kit, true, :style => 'display:inline') %>
            <%= f.label 'has_project_kit_true', "Yes", class:"form-label" %>
            <br>
            <br>
            <%= f.label :drop_off_location_id, "Drop-Off Location", class:"form-label" %>
            <%= f.select(:drop_off_location_id, options_for_select(@drop_off_location.pluck(:name, :id)), { :include_blank => "No Location" }, { :class => "form-control" }) %>
            <br/>
            <%= label :badge_requirements_id, "Prerequisite Badge (Choose as many badges as you want)", class:"form-label" %>
            <%= select_tag :badge_requirements_id, options_from_collection_for_select(@badge_templates, 'id', 'badge_name'), { :multiple => true, :id => "badge_requirements", :class => "form-control" } %>
            <br>
            <%= f.label :badge_template_id, "Badge that will be acquired", class:"form-label" %>
            <p class="alert alert-secondary" id="badge-acquired-text">No badge will be acquired</p>
            <br>
            <%= label_tag :file, "Project files", class:"form-label" %>
            <div class="form-control">
              <%= file_field_tag 'files[]', type: :files, multiple: true, class: 'form-control-input', aria_label: 'Project Files / Fichiers du projet' %>
              <label class="form-label m-0" for="files_">Choose file</label>
            </div>
            <div id="file-container"></div>
            <br/>
            <%= label_tag :photo, "Gallery*", class:"form-label" %>
            <div class="mx-auto repo-image">
              <div id="dragndrop">
                <br>
                <%= fa_icon 'cloud-upload' %>
                <p>Drag &amp; Drop</p>
              </div>
              <div class="form-control">
                <%= file_field_tag 'images[]', type: :files, multiple: true, class: "form-control-input", aria_label: "Select Pictures / Selectionner des images" %>
                <label class="form-label m-0" for="images_">Choose an image...</label>
              </div>
            </div>
            <div id="image-container" class="mx-auto"></div>

            <br/>

            <div class="text-center">
              <%= f.submit "Create Proficient Project", class: "btn btn-primary", id: "waiting-save-button" %>
              <br/>
              <br/>
              This could take several minutes. Do not refresh this page.
              <br/>
              <span id="status-save"> </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= javascript_pack_tag "generate_acquired_badge" %>