<div id="proficient-project-modal-rendered" class="d-grid gap-3">
    <div class="card">
        <div class="card-header bg-primary text-light">Proficient Project Information</div>
        <div class="card-body">
            <h6>Title: <%= @proficient_project.title %></h6>
            <h6>Level: <%= @proficient_project.level %></h6>
            <h6>Virtual Project: <%= @proficient_project.is_virtual? ? 'Yes' : 'No' %></h6>
            <h6>Has Project Kit: <%= @proficient_project.has_project_kit? ? 'Yes' : 'No' %></h6>
            <h6>Price: <%= @proficient_project.cc == 0 ? 'Free' : "#{@proficient_project.cc}CC" %></h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-primary text-light">Proficient Project Description</div>
        <div class="card-body">
            <%= @proficient_project.description.html_safe %>
        </div>
    </div>

    <% training_requirements = @proficient_project.training_requirements %>
    <div class="card">
        <div class="card-header bg-primary text-light">Badge Requirements</div>
        <div class="card-body">
            <% if training_requirements.present? %>
                <% training_requirements.each do |training_requirement| %>
                    <%= render "badges/badge_icon", width: 230, height: 230, level: training_requirement.proficient_project.level, name_en: training_requirement.training.name_en, name_fr: training_requirement.training.name_fr, skill: training_requirement.training.skill_id %>
                <% end %>
            <% else %>
                None
            <% end %>
        </div>
    </div>

    <% training = @proficient_project.training %>
    <div class="card">
        <div class="card-header bg-primary text-light">Badge Awarded Upon Completion</div>
        <div class="card-body">
            <% if training.present? %>
                <%= render "badges/badge_icon", width: 230, height: 230, level: @proficient_project.level, name_en: training.name_en, name_fr: training.name_fr, skill: training.skill_id %>
            <% else %>
                None
            <% end %>
        </div>
    </div>
</div>