<section data-controller="launch-modal">
  <h2 class="text-center py-3"><b>Proficient Projects Requests</b></h2>

  <% if @order_item_waiting_for_approval.present? %>
    <table class="text-center table-striped staff-newly-signed-up-users-table mb-5 table">
    <thead class="table-primary">
      <th>User</th>
      <th>Title</th>
      <th>Submission Date</th>
      <th>User Comments</th>
      <th>Attached Files</th>
      <th>Actions</th>
    </thead>
      <% @order_item_waiting_for_approval.each do |oi| %>
        <tr>
          <td><%= link_to oi.order.user.name, user_path(oi.order.user.username) %></td>
          <td><%= link_to oi.proficient_project.title, oi.proficient_project %></td>
          <td><%= oi.updated_at.strftime('%Y/%m/%d') %></td>
          <td><%= oi.user_comments.html_safe %></td>
          <% if oi.files.attached? %>
            <td class="action-cell">
              <div class="d-flex flex-column gap-1">
                <% oi.files.each do |file| %>
                  <%= link_to "<i class='fa fa-download'></i> #{file.filename}".html_safe, rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-primary btn-sm' %>
                <% end %>
              </div>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <td class="action-cell">
            <div class="d-flex flex-column gap-1">
              <button class="btn btn-success btn-sm btn-block" data-action="click->launch-modal#launchOrderItemModal" data-id="<%= oi.id %>">Show</button>
              <%= link_to 'Approve', approve_project_proficient_projects_path(oi_id: oi.id), method: :get, class: 'btn btn-primary btn-sm btn-block' %>
              <%= link_to 'Revoke', revoke_project_proficient_projects_path(oi_id: oi.id), method: :get, class: 'btn btn-danger btn-sm btn-block' %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

  <% else %>

    <p class="text-center">No Requests so far.</p>

  <% end %>

  <!-- Order Items Modal -->
  <div class="modal" tabindex="-1" data-controller="order-item-modal" data-launch-modal-target="orderItemModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Order Item #<span data-order-item-modal-target="id"></span></h5>
          <button type="button" class="btn-close" data-action="click->order-item-modal#close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="order-item-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-action="click->order-item-modal#close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <br />
</section>


