<section>
  <h2 class="text-center py-3"><b>Proficient Projects Requests</b></h2>

  <% if @order_item_waiting_for_approval.present? %>
    <table class="text-center table-striped staff-newly-signed-up-users-table mb-5 table">
    <thead class="table-primary">
      <th>User</th>
      <th>Title</th>
      <th>Submission Date</th>
      <th>Comments</th>
      <th>Attached Files</th>
      <th>Approve</th>
      <th>Revoke</th>
    </thead>
      <% @order_item_waiting_for_approval.each do |oi| %>
        <tr>
          <td><%= link_to oi.order.user.name, user_path(oi.order.user.username) %></td>
          <td><%= link_to oi.proficient_project.title, oi.proficient_project %></td>
          <td><%= oi.updated_at.to_formatted_s(:long_ordinal) %></td>
          <td><%= oi.comments.html_safe %></td>
          <% if oi.files.attached? %>
            <td class="d-flex flex-column">
              <% oi.files.each do |file| %>
                <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment'), class: 'btn btn-primary btn-sm' %>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <td class="action-cell"><%= button_to fa_icon('check'), approve_project_proficient_projects_path(oi_id: oi.id), method: :get, class: 'btn btn-default check-button' %></td>
          <td class="action-cell"><%= button_to fa_icon('times'), revoke_project_proficient_projects_path(oi_id: oi.id), method: :get, class: 'btn btn-default x-button' %></td>
        </tr>
      <% end %>
    </table>

  <% else %>

    <p class="text-center">No Requests so far.</p>

  <% end %>

  <br />
</section>


