<th>
  <%= link_to prints.user.name, user_path(prints.user.username), class: 'username' %> <br>
  <span><%= prints.user.email %></span>
</th>

<td><%= ((prints.user.identity == "undergrad") or (prints.user.identity == "grad") or (prints.user.identity == "faculty_member")) ? "Internal" : "External" %></td>

<% if prints.order_type == 0 and prints.grams %>
  <td>3D Printing (<%= prints.grams %> <%= prints.sst? ? "h" : "g" %>)</td>
<% elsif prints.order_type == 0 %>
  <td>3D Printing</td>
<% elsif prints.order_type == 1 %>
  <td>Laser Cutting</td>
<% else %>
  <td>Unknown</td>
<% end %>

<td><%= prints.id %></td>

<td><%= prints.created_at ? "Submitted on #{prints.created_at.to_formatted_s(:long_ordinal)}".html_safe : 'Approved' %></td>

<td>
  <%= prints.material %>
  <%= "<br>".html_safe if prints.comments.present? %>
  <%= prints.comments %>
  <%= "<br>".html_safe if prints.comments_box.present? %>
  <%= prints.comments_box %>
</td>

<td>
  <% if prints.file.attached? %>
    <%= link_to "Download", rails_blob_path(prints.file, disposition: 'attachment'), class: "btn btn-primary btn-sm" %>
    <br>
    <span style="word-break: break-all;"><%= prints.file.filename %></span>
  <% else %>
    Not Available
  <% end %>
</td>
<td>
  <% if prints.pdf_form.attached? %>
    <%= link_to "Download", rails_blob_path(prints.pdf_form, disposition: 'attachment'), class: "btn btn-primary btn-sm" %>
    <br>
    <span style="word-break: break-all;"><%= prints.pdf_form.filename %></span>
  <% else %>
    Not Available
  <% end %>
</td>
<td>
  <%= link_to "Edit Quote", print_order_edit_approval_path(prints.id), class: "btn btn-sm btn-primary", style: "margin-bottom: 10px;" + "<br>".html_safe if (prints.approved? && !prints.user_approval?) %>
  <% if prints.final_file.attached? %>
    <% prints.final_file.each do |final_file| %>
      <%= link_to "Download", rails_blob_path(final_file, disposition: 'attachment'), class: "btn btn-primary btn-sm" %>
      <br>
      <span style="word-break: break-all;"><%= final_file.filename %></span>
    <% end %>
  <% else %>
    Not Available
  <% end %>
</td>

<td><%= prints.expedited == true ? '<b>Yes</b>'.html_safe : 'No' %></td>

<td><%= prints.clean_part == true ? '<b>Yes</b>'.html_safe : 'No' %></td>

<% if index == 0 %>
  <td>
    <% if prints.approved %>
      Approved
      <%= render 'comments_for_staff', prints: prints %>
    <% elsif prints.approved == false %>
      Declined
    <% else %>
      <% if @user.admin? %>
        <%= render 'staff_approval', prints: prints %>
      <% end %>
    <% end %>
  </td>
<% elsif index == 1 %>
  <td>
    <% if prints.user_approval %>
      <%= prints.timestamp_approved ? "Approved on #{prints.timestamp_approved.to_formatted_s(:long_ordinal)}".html_safe : 'Approved' %>
    <% elsif prints.user_approval == false %>
      Declined
    <% else %>
      <b>Quoted price : <%= number_to_currency(prints.quote) %>$</b>
      <% if @user.admin? %>
        <br>
        <%= form_for prints, url: print_order_path(prints) do |f| %>
          <%= f.hidden_field :user_approval, :value => true %>
          <%= f.hidden_field :timestamp_approved, :value => DateTime.now %>
          <%= f.submit "I accept the quote", class: 'btn btn-primary', 'aria-label': "I accept the quote of #{prints.quote} $", data: { confirm: "#{"Here are the comments from the staff: " + prints.staff_comments + "." unless prints.staff_comments.empty? } Are you sure?" } %>
        <% end %>
        <br>
        <%= form_for prints, url: print_order_path(prints) do |f| %>
          <%= f.hidden_field :user_approval, :value => false %>
          <%= f.submit "I don't accept it", class: 'btn btn-danger', 'aria-label': "I DO NOT accept the quote of #{prints.quote} $", data: { confirm: "#{"Here are the comments from the staff: " + prints.staff_comments + "." unless prints.staff_comments.empty? } Are you sure?" } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
<% elsif index == 2 %>
  <td>
    <% if prints.user_approval %>
      <%= prints.timestamp_approved ? "Approved on #{prints.timestamp_approved.to_formatted_s(:long_ordinal)}".html_safe : 'Approved' %>
    <% elsif prints.user_approval == false %>
      Declined
    <% else %>
      Not Yet/Can't be
    <% end %>
  </td>
  <% if prints.staff_id.present? %>
    <% staff = User.find(prints.staff_id) %>
    <td class="username">
      <%= link_to staff.name.capitalize, user_path(staff.username) %>
    </td>
  <% elsif prints.user_approval and prints.approved %>
    <td>
      <%= form_for prints, url: print_order_path(prints) do |f| %>
        <%= f.hidden_field :staff_id, :value => @user.id %>
        <%= f.submit 'I will print it', class: "btn btn-primary", data: { confirm: "Please read the following instructions : #{prints.comments_for_staff.present? ? prints.comments_for_staff : "No instructions given"}" } %>
      <% end %>
    </td>
  <% else %>
    <td>Not Yet</td>
  <% end %>
  <% if prints.approved == false %>
    <td>Won't be printed</td>
  <% elsif prints.approved.nil? %>
    <td>Not yet</td>
  <% else %>
    <td>
      <% if prints.user_approval == false %>
        Won't be printed
      <% elsif prints.printed %>
        Printed
      <% elsif prints.user_approval and prints.approved and prints.staff_id.present? and (@user.admin? or @user.id == prints.staff_id) %>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-printed-it-<%= prints.id %>">
          I printed it
        </button>
        <div class="modal fade" id="modal-printed-it-<%= prints.id %>" tabindex="-1" aria-labelledby="modal-printed-it-<%= prints.id %>" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">I printed it options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="text-center w-100">
                    <p class="text-center ms-3 me-3">Until you click one of the buttons, the print
                      order will
                      appear as
                      <br> NOT Printed</p>
                  </div>
                  <br>
                  <div class="col-md-12">
                    <%= form_for prints, url: print_order_path(prints), html: { id: "email-true-#{prints.id}" } do |f| %>

                      <div class="ps-5 ps-5 text-center">
                        <div class="text-start">
                          <input id="x-<%= prints.id %>" value="<%= PrintOrderMessage.find_by(name: "I_Printed_It").retrieve_message(prints.id) %>" type="hidden" name="email_message">
                          <trix-editor input="x-<%= prints.id %>"></trix-editor>
                        </div>
                        <br>
                        <p>Send email to user</p>
                        <%= f.hidden_field :printed, :value => true, id: "printed-email-true-#{prints.id}" %>
                        <%= f.submit "I Printed it", class: "btn btn-primary" %>
                      </div>

                    <% end %>
                  </div>
                  <div class="col-md-12 text-center">
                    <p>Do not send email to user</p>
                    <%= form_for prints, url: print_order_path(prints), html: { id: "email-false-#{prints.id}" } do |f| %>
                      <%= f.hidden_field :printed, :value => true, id: "printed-email-false-#{prints.id}" %>
                      <%= hidden_field_tag :email_false, true %>
                      <%= f.submit "I Printed it", class: "btn btn-danger" %>
                    <% end %>
                  </div>
                </div>
                <br>
                <p class="text-center">In both cases, the invoice will be printed.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        Not Yet
      <% end %>
    </td>
  <% end %>
<% elsif index == 3 %>
  <td>
    <% if prints.user_approval == false %>
      Won't be printed
    <% elsif prints.printed %>
      <%= prints.timestamp_printed ? "Printed on #{prints.timestamp_printed.to_formatted_s(:long_ordinal)}".html_safe : 'Printed' %>
    <% end %>
  </td>
  <td>
    <% if prints.payed? %>
      Yes
    <% else %>
      No
      <br>
      <% if prints.printed? %>
        Price : <%= number_to_currency(prints.quote) %>
        <%= form_for prints, url: print_order_path(prints, table_id: "print-#{prints.id}", index: index), remote: true, format: :js do |f| %>
          <%= f.hidden_field :payed, :value => 'true' %>
          <%= f.submit 'Paid?', class: "btn btn-primary", data: { confirm: "Are you sure the client paid ?" } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if prints.picked_up? %>
      Yes
    <% else %>
      No
      <br>
      <% if prints.payed? %>
        <%= form_for prints, url: print_order_path(prints, table_id: "print-#{prints.id}", index: index), remote: true, format: :js do |f| %>
          <%= f.hidden_field :picked_up, :value => 'true' %>
          <%= f.submit 'Picked Up', class: "btn btn-primary", data: { confirm: "Are you sure the client picked-up the item?" } %>
        <% end %>
      <% end %>
    <% end %>
  </td>
<% end %>
<% if index == 1 || index == 2 || index == 3 %>
  <td>
    <%= link_to 'Invoice', print_order_path(prints), method: :get, class: "btn btn-primary", target: '_blank' %>
  </td>
<% end %>
<td>
  <% if @user.admin? %>
    <%= button_to 'Delete', print_order_path(prints), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% else %>
    Can not delete
  <% end %>
</td>
