<div class="bg-white printorder-padding">
  <br>
  <h1>List of prints / Laser
    Cuts <%= link_to "New Print Order", new_print_order_path(:type => "3d"), { class: 'btn btn-primary' } %>  <%= link_to "New Laser Cut Order", new_print_order_path(:type => "laser"), { class: 'btn btn-primary' } %>  <%= link_to "User page", index_new_print_orders_path, { class: 'btn btn-primary' } %></h1>

  <div>
    <%= form_with(url: print_orders_path, method: "get", class: "w-auto d-inline-block") do %>
      <label class="my-1 me-2" for="start_date">Filter by date</label>
      <%= select_tag(:start_date, options_for_select([['All', ''], ['1 Month', "1m"], ['3 Months', "3m"], ['6 Months', "6m"], ['12 Months', "12m"]], :selected => params[:start_date]), { :class => 'form-control' }) %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </div>
  <br>
  <div class="accordion">
    <% @order.each_with_index do |(order, order_string), index| %>
      <% if @print_order.where(order).present? %>
        <div class="accordion-item">
          <div class="accordion-header" id="header-printorder-<%= index%>">
            <h2 class="mb-0 text-center">
              <button class="accordion-button btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-printorder-<%= index %>" aria-expanded="true" aria-controls="accordion-printorder-<%= index %>">
                <%= order_string %>
              </button>
            </h2>
          </div>
          <div id="accordion-printorder-<%= index %>" class="collapse" aria-labelledby="#header-printorder-<%= index %>">
            <div class="accordion-body">
              <h2 class="text-center"><%= order_string %></h2>
              <table class="table table-striped table-responsive print-order-table-<%= index %>">

                <tr class="text-center">
                  <th>User</th>
                  <th>Identity</th>
                  <th>Type</th>
                  <th>ID</th>
                  <th>Submitted on</th>
                  <th>Comments</th>
                  <th>STL/SVG</th>
                  <th>PDF for Teams</th>
                  <th>GCode/PDF</th>
                  <th>Expedited</th>
                  <th>Clean Part</th>
                  <% if index == 0 %>
                    <th>Approved by admins?</th>
                  <% elsif index == 1 %>
                    <th>Approved by user?</th>
                  <% elsif index == 2 %>
                    <th>Approved by user?</th>
                    <th>Staff Assigned</th>
                    <th>Printed?</th>
                  <% elsif index == 3 %>
                    <th>Printed?</th>
                    <th>Payed?</th>
                    <th>Picked-Up?</th>
                  <% end %>
                  <% if index == 1 || index == 2 || index == 3 %>
                    <th>Invoice</th>
                  <% end %>
                  <th>Action</th>
                </tr>

                <% @print_order = @print_order.except(:order).order(Arel.sql('timestamp_printed IS NOT NULL, timestamp_printed ASC, created_at ASC')) if index == 3 %>

                <% @print_order.where(order).each_with_index do |prints| %>
                  <tr class="text-center" id="print-<%= prints.id %>">
                    <%= render 'table_view', prints: prints, index: index %>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'printorder_modals' %>
