<div class="bg-white printorder-padding">
  <br>
  <h1>List of prints / Laser
    Cuts <%= link_to "New Print Order", new_print_order_path(:type => "3d"), { class: 'btn btn-primary' } %>  <%= link_to "New Laser Cut Order", new_print_order_path(:type => "laser"), { class: 'btn btn-primary' } %>  <%= link_to "User page", index_new_print_orders_path, { class: 'btn btn-primary' } %></h1>

  <div>
    <%= form_with(url: print_orders_path, method: "get", class: "form-inline") do %>
      <label class="my-1 mr-2" for="start_date">Filter by date</label>
      <%= select_tag(:start_date, options_for_select([['All', ''], ['1 Month', "1m"], ['3 Months', "3m"], ['6 Months', "6m"], ['12 Months', "12m"]], :selected => params[:start_date]), { :class => 'form-control' }) %>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </div>
  <br>
  <div class="accordion">
    <% @order.each_with_index do |(order, order_string), index| %>
      <% if @print_order.where(order).present? %>
        <div class="card">
          <div class="card-header" data-toggle="collapse" data-target="#accordion-printorder-<%= index %>" aria-expanded="true">
            <h2 class="mb-0 text-center">
              <button class="btn btn-link" type="button">
                <%= order_string %>
              </button>
            </h2>
          </div>
          <div id="accordion-printorder-<%= index %>" class="collapse" aria-labelledby="#accordion-printorder-<%= index %>">
            <div class="card-body">
              <h2 class="text-center"><%= order_string %></h2>
              <table class="table table-striped table-responsive print-order-table-<%= index %>">

                <tr class="text-center">
                  <th>User</th>
                  <th>Identity</th>
                  <th>Type</th>
                  <th>ID</th>
                  <th>Submitted on</th>
                  <th>Comments</th>
                  <th>STL/SVG</th>
                  <th>PDF for Teams</th>
                  <th>GCode/PDF</th>
                  <th>Expedited</th>
                  <th>Clean Part</th>
                  <% if index == 0 %>
                    <th>Approved by admins?</th>
                  <% elsif index == 1 %>
                    <th>Approved by user?</th>
                  <% elsif index == 2 %>
                    <th>Approved by user?</th>
                    <th>Staff Assigned</th>
                    <th>Printed?</th>
                  <% elsif index == 3 %>
                    <th>Printed?</th>
                    <th>Payed?</th>
                    <th>Picked-Up?</th>
                  <% end %>
                  <% if index == 1 || index == 2 || index == 3 %>
                    <th>Invoice</th>
                  <% end %>
                  <th>Action</th>
                </tr>

                <% @print_order.where(order).each do |prints| %>

                  <tr class="text-center">
                    <th>
                      <%= link_to prints.user.name, user_path(prints.user.username), class: 'username' %> <br>
                      <span><%= prints.user.email %></span>
                    </th>

                    <td><%= ((prints.user.identity == "undergrad") or (prints.user.identity == "grad") or (prints.user.identity == "faculty_member")) ? "Internal" : "External" %></td>

                    <% if prints.order_type == 0 and prints.grams %>
                      <td>3D Printing (<%= prints.grams %> g)</td>
                    <% elsif prints.order_type == 0 %>
                      <td>3D Printing</td>
                    <% elsif prints.order_type == 1 %>
                      <td>Laser Cutting</td>
                    <% else %>
                      <td>Unknown</td>
                    <% end %>

                    <td><%= prints.id %></td>

                    <td><%= prints.created_at ? "Submitted on #{prints.created_at.to_formatted_s(:long_ordinal)}".html_safe : 'Approved' %></td>

                    <td><%= prints.comments %></td>

                    <td>
                      <% if prints.file.attached? %>
                        <%= link_to "Download", rails_blob_path(prints.file, disposition: 'attachment'), class: "btn btn-primary btn-sm" %>
                        <br>
                        <span style="word-break: break-all;"><%= prints.file.filename %></span>
                      <% else %>
                        Not Available
                      <% end %>
                    </td>
                    <td>
                      <% if prints.pdf_form.attached? %>
                        <%= link_to "Download", rails_blob_path(prints.pdf_form, disposition: 'attachment'), class: "btn btn-primary btn-sm" %>
                        <br>
                        <span style="word-break: break-all;"><%= prints.pdf_form.filename %></span>
                      <% else %>
                        Not Available
                      <% end %>
                    </td>
                    <td>
                      <%= link_to "Edit Quote", print_order_edit_approval_path(prints.id), class: "btn btn-sm btn-primary", style: "margin-bottom: 10px;" if prints.approved? %>
                      <% if prints.final_file.attached? %>
                        <% prints.final_file.each do |final_file| %>
                          <%= link_to "Download", rails_blob_path(final_file, disposition: 'attachment'), class: "btn btn-primary btn-sm" %>
                          <br>
                          <span style="word-break: break-all;"><%= final_file.filename %></span>
                        <% end %>
                      <% else %>
                        Not Available
                      <% end %>
                    </td>

                    <td><%= prints.expedited == true ? '<b>Yes</b>'.html_safe : 'No' %></td>

                    <td><%= prints.clean_part == true ? '<b>Yes</b>'.html_safe : 'No' %></td>

                    <% if index == 0 %>
                      <td>
                        <% if prints.approved %>
                          Approved
                          <%= render 'comments_for_staff', prints: prints %>
                        <% elsif prints.approved == false %>
                          Declined
                        <% else %>
                          <% if @user.admin? %>
                            <%= render 'staff_approval', prints: prints %>
                          <% end %>
                        <% end %>
                      </td>
                    <% elsif index == 1 %>
                      <td>
                        <% if prints.user_approval %>
                          <%= prints.timestamp_approved ? "Approved on #{prints.timestamp_approved.to_formatted_s(:long_ordinal)}".html_safe : 'Approved' %>
                        <% elsif prints.user_approval == false %>
                          Declined
                        <% else %>
                          <b>Quoted price : <%= number_to_currency(prints.quote) %>$</b>
                          <% if @user.admin? %>
                            <br>
                            <%= form_for prints, url: print_order_path(prints) do |f| %>
                              <%= f.hidden_field :user_approval, :value => true %>
                              <%= f.hidden_field :timestamp_approved, :value => DateTime.now %>
                              <%= f.submit "I accept the quote", class: 'btn btn-primary', 'aria-label': "I accept the quote of #{prints.quote} $", data: { confirm: "#{"Here are the comments from the staff: " + prints.staff_comments + "." unless prints.staff_comments.empty? } Are you sure?" } %>
                            <% end %>
                            <br>
                            <%= form_for prints, url: print_order_path(prints) do |f| %>
                              <%= f.hidden_field :user_approval, :value => false %>
                              <%= f.submit "I don't accept it", class: 'btn btn-danger', 'aria-label': "I DO NOT accept the quote of #{prints.quote} $", data: { confirm: "#{"Here are the comments from the staff: " + prints.staff_comments + "." unless prints.staff_comments.empty? } Are you sure?" } %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </td>
                    <% elsif index == 2 %>
                      <td>
                        <% if prints.user_approval %>
                          <%= prints.timestamp_approved ? "Approved on #{prints.timestamp_approved.to_formatted_s(:long_ordinal)}".html_safe : 'Approved' %>
                        <% elsif prints.user_approval == false %>
                          Declined
                        <% else %>
                          Not Yet/Can't be
                        <% end %>
                      </td>
                      <% if prints.staff_id.present? %>
                        <% staff = User.find(prints.staff_id) %>
                        <td class="username">
                          <%= link_to staff.name.capitalize, user_path(staff.username) %>
                        </td>
                      <% elsif prints.user_approval and prints.approved %>
                        <td>
                          <%= form_for prints, url: print_order_path(prints) do |f| %>
                            <%= f.hidden_field :staff_id, :value => @user.id %>
                            <%= f.submit 'I will print it', class: "btn btn-primary", data: { confirm: "Please read the following instructions : #{prints.comments_for_staff.present? ? prints.comments_for_staff : "No instructions given"}" } %>
                          <% end %>
                        </td>
                      <% else %>
                        <td>Not Yet</td>
                      <% end %>
                      <% if prints.approved == false %>
                        <td>Won't be printed</td>
                      <% elsif prints.approved.nil? %>
                        <td>Not yet</td>
                      <% else %>
                        <td>
                          <% if prints.user_approval == false %>
                            Won't be printed
                          <% elsif prints.printed %>
                            Printed
                          <% elsif prints.user_approval and prints.approved and prints.staff_id.present? and (@user.admin? or @user.id == prints.staff_id) %>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-printed-it-<%= prints.id %>">
                              I printed it
                            </button>
                            <div class="modal fade" id="modal-printed-it-<%= prints.id %>" tabindex="-1" aria-labelledby="modal-printed-it-<%= prints.id %>" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">I printed it options</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="text-center w-100">
                                        <p class="text-center ml-3 mr-3">Until you click one of the buttons, the print
                                          order will
                                          appear as
                                          <br> NOT Printed</p>
                                      </div>
                                      <br>
                                      <div class="col-md-12">
                                        <%= form_for prints, url: print_order_path(prints), html: { id: "email-true-#{prints.id}" } do |f| %>

                                          <div class="pr-5 pl-5 text-center">
                                            <div class="text-left">
                                              <input id="x-<%= prints.id %>" value="<div>Hi <%= prints.user.name %>, <br>Your print has completed and is now available for pickup! Your order ID is <%= prints.id %> and your quoted balance is <%= number_to_currency(prints.quote) %>. Please visit <a href='https://wiki.makerepo.com/wiki/How_to_pay_for_an_Order'>https://wiki.makerepo.com/wiki/How_to_pay_for_an_Order</a> for information on how to pay for your job and email makerspace@uottawa.ca to arrange for the pick up of your part during weekdays between 9h-17h.<br><br></div><div>Best regards,<br>The Makerspace Team<br></div>" type="hidden" name="email_message">
                                              <trix-editor input="x-<%= prints.id %>"></trix-editor>
                                            </div>
                                            <br>
                                            <p>Send email to user</p>
                                            <%= f.hidden_field :printed, :value => true, id: "printed-email-true-#{prints.id}" %>
                                            <%= f.submit "I Printed it", class: "btn btn-primary" %>
                                          </div>

                                        <% end %>
                                      </div>
                                      <div class="col-md-12 text-center">
                                        <p>Do not send email to user</p>
                                        <%= form_for prints, url: print_order_path(prints), html: { id: "email-false-#{prints.id}" } do |f| %>
                                          <%= f.hidden_field :printed, :value => true, id: "printed-email-false-#{prints.id}" %>
                                          <%= hidden_field_tag :email_false, true %>
                                          <%= f.submit "I Printed it", class: "btn btn-danger" %>
                                        <% end %>
                                      </div>
                                    </div>
                                    <br>
                                    <p class="text-center">In both cases, the invoice will be printed.</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% else %>
                            Not Yet
                          <% end %>
                        </td>
                      <% end %>
                    <% elsif index == 3 %>
                      <td>
                        <% if prints.user_approval == false %>
                          Won't be printed
                        <% elsif prints.printed %>
                          Printed
                        <% end %>
                      </td>
                      <td>
                        <% if prints.payed? %>
                          Yes
                        <% else %>
                          No
                          <br>
                          <% if prints.printed? %>
                            <%= form_for prints, url: print_order_path(prints) do |f| %>
                              <%= f.hidden_field :payed, :value => 'true' %>
                              <%= f.submit 'Paid?', class: "btn btn-primary", data: { confirm: "Are you sure the client paid ?" } %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </td>
                      <td>
                        <% if prints.picked_up? %>
                          Yes
                        <% else %>
                          No
                          <br>
                          <% if prints.payed? %>
                            <%= form_for prints, url: print_order_path(prints) do |f| %>
                              <%= f.hidden_field :picked_up, :value => 'true' %>
                              <%= f.submit 'Picked Up', class: "btn btn-primary", data: { confirm: "Are you sure the client picked-up the item?" } %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </td>
                    <% end %>
                    <% if index == 1 || index == 2 || index == 3 %>
                      <td>
                        <%= link_to 'Invoice', print_order_invoice_url(prints), method: :get, class: "btn btn-primary", target: :_blank %>
                      </td>
                    <% end %>
                    <td>
                      <% if @user.admin? %>
                        <%= button_to 'Delete', print_order_path(prints), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                      <% else %>
                        Can not delete
                      <% end %>
                    </td>
                <% end %>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'printorder_modals' %>
