<h1>List of prints / Laser
  Cuts    <%= link_to "New Print Order", new_print_order_path(:type => "3d"), {class: 'btn btn-primary'} %>  <%= link_to "New Laser Cut Order", new_print_order_path(:type => "laser"), {class: 'btn btn-primary'} %></h1>

<% @order.each do |order, order_string| %>
  <% if @print_order.where(order).present? %>
    <h2><%= order_string %></h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th style="text-align: center;" scope="col">User</th>
        <th style="text-align: center;" scope="col">Identity</th>
        <th style="text-align: center;" scope="col">Type</th>
        <th style="text-align: center;" scope="col">ID</th>
        <th style="text-align: center;" scope="col">Submitted on</th>
        <th style="text-align: center;" scope="col">Comments</th>
        <th style="text-align: center;" scope="col">STL/SVG</th>
        <% if @user.admin? || @user.staff? %>
          <th style="text-align: center;" scope="col">GCode/PDF</th>
        <% end %>
        <th style="text-align: center;" scope="col">Expedited</th>
        <th style="text-align: center;" scope="col">Approved by staff ?</th>
        <th style="text-align: center;" scope="col">Approved by user ?</th>
        <% if @user.admin? || @user.staff? %>
          <th style="text-align: center;" scope="col">Staff Assigned</th>
        <% end %>
        <th style="text-align: center;" scope="col">Printed ?</th>
        <th style="text-align: center;" scope="col">Delete</th>
      </tr>
      </thead>

      <% @print_order.where(order).each do |prints| %>
        <tbody>
        <tr>
          <th class="username" style="text-align: center;" scope="row">
            <%= link_to prints.user.name, user_path(prints.user.username) %> <br>
            <a href="<%= prints.user.email %>"><%= prints.user.email %></a>
          </th>

          <% if (prints.user.identity == "undergrad") or (prints.user.identity == "grad") or (prints.user.identity == "faculty_member") %>
            <td>Internal</td>
          <% else %>
            <td>External</td>
          <% end %>

          <% if prints.order_type == 0 and prints.grams %>
            <td>3D Printing (<%= prints.grams %> g)</td>
          <% elsif prints.order_type == 0 %>
            <td>3D Printing</td>
          <% elsif prints.order_type == 1 %>
            <td>Laser Cutting</td>
          <% else %>
            <td>Unknown</td>
          <% end %>

          <td style="text-align: center;"><%= prints.id %></td>

          <td style="text-align: center;">
            <% if prints.created_at %>
              Submitted on <%= prints.created_at.to_formatted_s(:short) %>
            <% else %>
              Approved
            <% end %>
          </td>

          <td><%= prints.comments %></td>

          <td>
            <% if prints.file.attached? %>
              <%= link_to "Download", rails_blob_path(prints.file, disposition: 'attachment'), class: "btn btn-primary" %>
            <% else %>
              Not Available
            <% end %>
          </td>

          <% if @user.admin? || @user.staff? %>
            <td>
              <% if prints.final_file.attached? %>
                <%= link_to "Download", rails_blob_path(prints.final_file, disposition: 'attachment'), class: "btn btn-primary" %>
              <% else %>
                Not Available
              <% end %>
            </td>
          <% end %>

          <td>
            <% if prints.expedited == true %>
              <b>Yes</b>
            <% else %>
              No
            <% end %>
          </td>

          <td>
            <% if @user.admin? %>
              <% if prints.approved %>
                Approved
              <% elsif prints.approved == false %>
                Disapproved
              <% else %>
                <%= render 'staff_approval', prints: prints %>

              <% end %>
            <% else %>
              <% if prints.approved %>
                Approved
              <% elsif prints.approved == false %>
                Disapproved
              <% else %>
                Not Yet
              <% end %>
            <% end %>
          </td>

          <% if prints.user_id == @user.id and prints.approved %>
            <td>
              <% if prints.user_approval %>
                <% if prints.timestamp_approved %>
                  Approved on <%= prints.timestamp_approved.to_formatted_s(:short) %>
                <% else %>
                  Approved
                <% end %>
              <% elsif prints.user_approval == false %>
                Disapproved
              <% else %>
                <b>Quoted price : <%= prints.quote %>$</b>
                <br>
                <%= form_for prints, url: print_order_path(prints) do |f| %>
                  <%= f.hidden_field :user_approval, :value => true %>
                  <%= f.hidden_field :timestamp_approved, :value => DateTime.now %>
                  <%= f.submit "I accept the quote", class: 'btn btn-primary', data: {confirm: 'Are you sure?'} %>
                <% end %>
                <br>
                <%= form_for prints, url: print_order_path(prints) do |f| %>
                  <%= f.hidden_field :user_approval, :value => false %>
                  <%= f.submit "I don't accept it", class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
                <% end %>
              <% end %>
            </td>
          <% else %>
            <% if prints.user_approval %>
              <% if prints.timestamp_approved %>
                <td>Approved on <%= prints.timestamp_approved.to_formatted_s(:short) %></td>
              <% else %>
                <td>Approved</td>
              <% end %>
            <% elsif prints.user_approval == false %>
              <td>Disapproved</td>
            <% else %>
              <td>Not Yet/Can't be</td>
            <% end %>
          <% end %>

          <% if @user.admin? or @user.staff? %>

            <% if prints.staff_id.present? %>
              <% staff = User.find(prints.staff_id) %>
              <td class="username">
                <%= link_to staff.name.capitalize, user_path(staff.username) %>
              </td>
            <% elsif prints.user_approval and prints.approved %>
              <td>
                <%= form_for prints, url: print_order_path(prints) do |f| %>
                  <%= f.hidden_field :staff_id, :value => @user.id %>
                  <button class="btn btn-primary" type="submit">I will print it</button>
                <% end %>
              </td>
            <% else %>
              <td>Not Yet</td>
            <% end %>


            <% if prints.approved == false %>
              <td>Won't be printed</td>
            <% elsif prints.user_approval == false %>
              <td>Won't be printed</td>
            <% elsif prints.printed %>
              <td>Printed<br><%= link_to 'Invoice', print_order_invoice_url(prints), method: :get, class: "btn btn-primary", target: :_blank %>
              </td>
            <% elsif prints.printed == false %>
              <td>Not Printed</td>
            <% elsif prints.user_approval and prints.approved and prints.staff_id.present? and (@user.admin? or @user.id == prints.staff_id) %>
              <td>
                <%= form_for prints, url: print_order_path(prints) do |f| %>
                  <%= f.hidden_field :printed, :value => true %>
                  <button class="btn btn-primary" type="submit">I Printed it</button>
                <% end %>
              </td>
            <% else %>
              <td>Not Yet</td>
            <% end %>
          <% else %>
            <% if prints.printed %>
              <td>Printed</td>
            <% elsif prints.printed == false %>
              <td>Not Printed</td>
            <% else %>
              <td>Not Yet/Won't be</td>
            <% end %>
          <% end %>
          <% if @user.admin? %>
            <td><%= button_to 'Delete', print_order_path(prints), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
          <% elsif prints.staff_id.present? == false %>
            <td><%= button_to 'Delete', print_order_path(prints), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
          <% else %>
            <td>Can not delete</td>
          <% end %>
        </tr>
        </tbody>
      <% end %>
  <% end %>
  </table>
<% end %>
