<h1 class="text-center">List of prints / Laser cuts</h1>
<div class="text-center">
  <%= link_to "New Print Order", new_print_order_path(:type => "3d"), {class: 'btn btn-primary'} %>  <%= link_to "New Laser Cut Order", new_print_order_path(:type => "laser"), {class: 'btn btn-primary'} %>
  <%= link_to "Staff Page", print_orders_path, {class: 'btn btn-primary'} if @user.staff? %>
  <br><br>
</div>

<div class="padding-10">

  <div class="alert alert-warning text-center">
    <i class="fa fa-warning"></i>
    This system is now deprecated. Please use the new <%= link_to "Job Order System", job_orders_path %>.
    <i class="fa fa-warning"></i>

    <br><br>

    You will still be able to access old Print Orders, but you will not be able to create new ones. To create new ones, please click <%= link_to "here", new_job_orders_path %>.
  </div>

  <hr/>

<% @order.each do |order, files| %>

  <% if @print_order.where(order).present? %>

    <% @print_order.where(order).each do |prints| %>

      <%= render 'new_template', prints: prints, files: files %>

    <% end %>

  <% end %>

<% end %>

<div class="text-center">
  <br>
  <h1 style="margin-top: -30px">Older files</h1>

  <a class="btn btn-primary" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
    Open/Close older prints
  </a>
</div>

<div class="collapse" id="collapse">
  <br>

  <hr>


  <% @order_old.each do |order, files| %>

    <% if @print_order.where(order).present? %>

      <% @print_order.includes([:file_attachment]).where(order).each do |prints| %>

        <%= render 'new_template', prints: prints, files: files %>

      <% end %>

    <% end %>

  <% end %>
</div>

</div>

<style>
  hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 2px solid rgba(0, 0, 0, 0.5);
  }
</style>