<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Order Sheet</title>

  <style>
    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }

    .invoice-box table {
      width: 100%;
      line-height: inherit;
      text-align: left;
    }

    .invoice-box table td {
      padding: 5px;
      vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
      text-align: right;
    }

    .invoice-box table tr.top table td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
    }

    .invoice-box table tr.information table td {
      padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }

    .invoice-box table tr.details td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
      border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
      }

      .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
      }
    }

    /** RTL **/
    .rtl {
      direction: rtl;
      font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
      text-align: right;
    }

    .rtl table tr td:nth-child(2) {
      text-align: left;
    }
  </style>
</head>

<body>
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <%= wicked_pdf_image_tag "ceed-makerspace-logo-250.jpg"%>
            </td>

            <td>
              Invoice #<%= @print_order.id %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              University Of Ottawa Richard L'Abbé Makerspace<br>
              STM 107<br>
              150 Louis Pasteur<br>
              Ottawa, ON K1N 6N5
            </td>

            <td>
              Client : <%= @print_order.user.name %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        Payment Method
      </td>
      <td></td>
    </tr>

    <tr class="details">
      <td>
        Credit/Debit Card or Cash
      </td>
      <td></td>
    </tr>

    <tr class="heading">
      <td>
        Item
      </td>

      <td>
        Price
      </td>
    </tr>

    <tr class="item last">
      <td>
        Service charges
      </td>

      <td>
        <%= number_to_currency(@print_order.service_charge) %>
      </td>
    </tr>
    <% if @print_order.expedited == true %>
      <tr class="item last">
        <td>
          Expedited service charge
        </td>
        <td>
          <%= number_to_currency(@expedited_price) %>
        </td>
      </tr>
    <% end %>


    <% if @print_order.order_type == 1 %>
      <tr class="item last">
        <td>
          Material cost
        </td>
        <td>
          <%= number_to_currency(@print_order.material_cost) %>
        </td>
      </tr>
      <tr class="item last">
        <td>
          Price for hours
        </td>
        <td>
          <%= number_to_currency(@print_order.price_per_hour) %>
        </td>
      </tr>
    <% elsif @print_order.order_type == 0 and (@print_order.sst == true) %>
      <tr class="item last">
        <td>
          Time (<%= @print_order.hours %> hours) (<%= number_to_currency(@print_order.price_per_hour) %>/h)
        </td>
        <td>
          <%= number_to_currency(@print_order.hours*@print_order.price_per_hour) %>
        </td>
      </tr>
    <% else %>
      <% if @print_order.material == "M2 Onyx" %>
        <tr class="item last">
          <td>
            Onyx Filament (<%= @print_order.grams %> cm3) (<%= number_to_currency(@print_order.price_per_gram) %>/cm3)
          </td>
          <td>
            <%= number_to_currency(@print_order.grams*@print_order.price_per_gram) %>
          </td>
        </tr>
        <% if @print_order.grams_carbonfiber.present? && @print_order.price_per_gram_carbonfiber %>
          <tr class="item last">
            <td>
              Carbon Fiber Filament (<%= @print_order.grams_carbonfiber %> cm3)
              (<%= number_to_currency(@print_order.price_per_gram_carbonfiber) %>/cm3)
            </td>
            <td>
              <%= number_to_currency(@print_order.grams_carbonfiber * @print_order.price_per_gram_carbonfiber) %>
            </td>
          </tr>
        <% end %>
        <% if @print_order.grams_fiberglass.present? && @print_order.price_per_gram_fiberglass %>
          <tr class="item last">
            <td>
              Fiber glass Filament (<%= @print_order.grams_fiberglass %> cm3)
              (<%= number_to_currency(@print_order.price_per_gram_fiberglass) %>/cm3)
            </td>
            <td>
              <%= number_to_currency(@print_order.grams_fiberglass * @print_order.price_per_gram_fiberglass) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr class="item last">
          <td>
            Filament (<%= @print_order.grams %> grams) (<%= number_to_currency(@print_order.price_per_gram) %>/g)
          </td>
          <td>
            <%= number_to_currency(@print_order.grams*@print_order.price_per_gram) %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <tr class="total">
      <td></td>

      <td>
        Total: <%= number_to_currency(@print_order.quote) %>
      </td>
    </tr>
  </table>
</div>
</body>
</html>