<nav class="navbar navbar-expand-xl navbar-light navbar-staff">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= admin_settings_path %>">Admin <strong>Area</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">

      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGeneral" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('admin.general') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownGeneral">
            <%= link_to t('admin.settings'), admin_settings_path, id: 'navbarDropdownGeneral', class: 'dropdown-item' %>
            <%= link_to t('admin.uni_programs'), admin_uni_programs_index_path, class: 'dropdown-item' %>
            <%= link_to t('admin.drop_off_locations'), admin_drop_off_locations_path, class: 'dropdown-item' %>
            <%= link_to t('admin.membership_tiers'), admin_memberships_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown"><%= link_to t('admin.lockers'), lockers_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to t('navbar.design_day'), admin_design_day_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to t('admin.announcements'), admin_announcements_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to t('admin.reports'), admin_report_generator_index_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#", id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('admin.trainings') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <%= link_to t('admin.trainings'), admin_trainings_path, class: 'dropdown-item' %>
            <%= link_to t('admin.training_sessions'), admin_training_sessions_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to t('admin.skills'), admin_skills_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to t('admin.questions'), questions_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#", id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('admin.spaces') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <%= link_to t('admin.spaces'), admin_spaces_path, class: 'dropdown-item' %>
            <%= link_to t('admin.teams'), admin_teams_path, class: 'dropdown-item' %>
            <%= link_to t('admin.contact'), admin_contact_infos_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('admin.staff_management') %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <%= link_to t('admin.roles'), manage_roles_admin_users_path, class: 'dropdown-item' %>
            <%= link_to t('admin.add_new_staff'), admin_add_new_staff_index_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to t('admin.calendar'), admin_calendar_index_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to t('admin.keys'), admin_keys_path, class: 'dropdown-item' %>
            <%= link_to t('admin.key_requests'), requests_admin_keys_path, class: 'dropdown-item' %>
            <%= link_to t('admin.key_transactions'), admin_key_transactions_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wikijs.makerepo.com/">Wikijs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
