<footer>

  <ul>
    <li><%= fa_icon("copyright", text: "Copyright 2017")%></li>
    <li><%= link_to "About Us/À Propos de Nous", about_path %></li>
    <li><%= link_to "Terms of Service/Termes de Service", tos_path %></li>
    <li><%= link_to "Privacy/Confidentialité", privacy_path %></li>
    <li><%= link_to "Contact Us/Contactez Nous", contact_path %></li>
    <li><%= link_to "Help/Aide", help_path %></li>
  </ul>
  
</footer>