<footer>

  <ul>
    <li><%= fa_icon("copyright", text: "Copyright 2015")%></li>
    <li><%= link_to "About Us", "#" %></li>
    <li><%= link_to "Terms of Service", "#" %></li>
    <li><%= link_to "Privacy", "#" %></li>
    <li><%= link_to "Contact Us", "#" %></li>
    <li><%= link_to "Help", help_path %></li>
  </ul>
  
</footer>