<footer>

  <ul>
    <li><%= fa_icon("copyright", text: "Copyright 2017")%></li>
    <li><%= link_to "About Us<br>À Propos de Nous".html_safe, about_path %></li>
    <li><%= link_to "Terms of Service<br>Termes de Service".html_safe, tos_path %></li>
    <li><%= link_to "Hours of Operation<br>Heures d'ouverture".html_safe, hours_path %></li>
    <li><%= link_to "Contact Us<br>Contactez Nous".html_safe, contact_path %></li>
    <li><%= link_to "Help<br>Aide".html_safe, help_path %></li>
  </ul>

</footer>
