<footer class="footer">
  <ul class="footer-items">
    <li><%= link_to t('footer.about'), about_path %></li>
    <li><%= link_to t('footer.tos'), tos_path %></li>
    <li><%= link_to t('footer.hours'), hours_path %></li>
    <li><%= link_to t('footer.contact_us'), contact_path %></li>
    <li><%= link_to t('footer.help'), help_path %></li>
  </ul>
  <div class="copyright">
    <%= t('footer.copyright_html') % Time.now.year %>
  </div>
</footer>
