<footer>

  <ul>
    <li><%= fa_icon("copyright", text: "Copyright 2015")%></li>
    <li><%= link_to "About Us", about_path %></li>
    <li><%= link_to "Terms of Service", tos_path %></li>
    <li><%= link_to "Privacy", privacy_path %></li>
    <li><%= link_to "Contact Us", contact_path %></li>
    <li><%= link_to "Help", help_path %></li>
  </ul>
  
</footer>