<footer class="mt-3">
  <div class="row gy-4 text-center">
    <!-- Logo and social media -->
    <div class="col text-center flex-nowrap">
      <div class="row flex-nowrap text-nowrap d-flex justify-content-center">
        <div class="col-auto brand-separator">
          <p class="brand-tagline">ALIMENTÉ PAR</p>
          <%= image_tag 'logo/CGEC_LOGO_WHITE_ORANGE.png', alt: 'CGEC Logo', width: '125px' %>
        </div>
        <!-- <div class="brand-separator"></div> -->
        <div class="col-auto">
          <p class="brand-tagline">POWERED BY</p>
          <%= image_tag 'logo/CEED_LOGO_WHITE_ORANGE.png', alt: 'CEED Logo', width: '125px' %>
        </div>
      </div>
      <p>
        <a href="https://www.facebook.com/uOCEED"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/uoceed/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/the-centre-for-entrepreneurship-and-engineering-design/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </p>
    </div>
    <!-- Newletter -->
    <div class="col offset-xl-3 text-start">
      <p class="mt-0"><b><%= t('footer.newsletter_header') %></b></p>
      <p><%= t('footer.newsletter_subtext') %></p>
      <%# Keep the ms-auto tag, on firefox this keeps the input aligned with the text%>
      <form target="_blank" action="https://uottawa.us15.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="42154e6ef1a0a78237b7bc641">
        <% if I18n.locale == :en %>
          <!-- English mailing list -->
          <input type="hidden" name="id" value="4831770962">
        <% else %>
          <!-- French mailing list -->
          <input type="hidden" name="id" value="e9f400f571">
        <% end %>
        <div class="input-group">
          <input type="email" autocapitalize="none" autocorrect="off"
                 name="MERGE0" id="MERGE0"
                 class="form-control" placeholder="Enter email" required="true">
          <%= submit_tag t('home.newsletter.sign_up'), class: 'btn btn-primary' %>
        </div>
      </form>
    </div>
    <!-- Links -->
    <div class="col text-start">
      <div class="row flex-nowrap justify-content-center">
        <div class="link-separator col-auto">
          <%= link_to t('footer.contact_us'), contact_path %>
          <a href="https://www.uottawa.ca/about-us/administration-services/facilities/campus-maps/stem-complex">STEM Building, uOttawa</a>
          <a href="mailto:ceed@uottawa.ca">ceed@uottawa.ca</a>
        </div>
        <div class="link-separator col-auto">
          <%= link_to t('footer.help'), help_path %>
          <%= link_to t('footer.tos'), tos_path %>
          <%= link_to t('footer.about'), about_path %>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center mt-5"><%= t('footer.copyright_html') % Time.zone.now.year %></p>
</footer>
