<nav class="navbar navbar-expand-xl navbar-light fixed-top <%= controller_name %> <%= action_name %> bg-light">
  <a class="navbar-brand" href="/">Maker<strong>Repo</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline form-search" action="/search" method="get">
      <div class="input-group">
        <input class="form-control" type="search" name="q" id="q" placeholder="<%= t('navbar.search') %>" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" style="height: auto">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <ul class="navbar-nav mr-auto align-items-xl-baseline">
      <li class="nav-item">
        <a class="nav-link" href="/explore"><%= t('navbar.explore') %></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/project_proposals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('navbar.project_proposals') %>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/project_proposals/new"><%= t('navbar.propose_project') %></a>
          <a class="dropdown-item" href="/project_proposals"><%= t('navbar.proposed_projects') %></a>
          <a class="dropdown-item" href="/project_proposals/projects_assigned"><%= t('navbar.assigned_projects') %></a>
          <a class="dropdown-item" href="/project_proposals/projects_completed"><%= t('navbar.completed_projects') %></a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/project_proposals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('navbar.more') %>
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://www.eventbrite.ca/o/latelier-makerspace-richard-labbe-uottawa-uottawa-richard-labbe-makerspace-6930970537"><%= t('navbar.makerspace_events') %></a>
          <a class="dropdown-item" href="https://www.eventbrite.ca/o/the-manufacturing-training-centre-8474302765"><%= t('navbar.brunsfield_events') %></a>
          <a class="dropdown-item" href="http://volunteer.makerepo.com/"><%= t('navbar.volunteering') %></a>
          <a class="dropdown-item" href="https://wiki.makerepo.com/wiki/Main_Page"><%= t('navbar.resources') %></a>
          <a class="dropdown-item" href="https://makerstore.ca/"><%= t('navbar.makerstore') %></a>
          <a class="dropdown-item" href="http://rooms.makerepo.com/"><%= "Makeroom" %></a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto align-items-xl-baseline">

      <% unless signed_in? %>
        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#popUpWindow" href=""><%= t('navbar.sign_in') %></a></li>
        <li class="nav-item"><a class="nav-link" href="/new"><%= t('navbar.create_account') %></a></li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_repository_path(@user.username) %>"><%= t('navbar.create_project') %></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=" <%= user_path(@user.username) %>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag User.display_avatar(@user), class: 'avatar', alt: 'Avatar' %>
            <%= @user.username %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="<%= user_path(@user.username) %>"><%= t('navbar.user.profile') %></a>
            <a class="dropdown-item" href="<%= likes_user_path(@user.username) %>"><%= t('navbar.user.liked') %></a>
            <a class="dropdown-item" href="<%= settings_profile_path %>"><%= t('navbar.user.settings') %></a>
            <%= link_to(t('navbar.user.admin_area'), admin_index_path, class: "dropdown-item") if @user.admin? %>
            <%= link_to(t('navbar.user.staff_area'), staff_index_path, class: "dropdown-item") if @user.staff? %>
            <%= link_to(t('navbar.user.volunteer_area'), volunteers_path, class: "dropdown-item") if (@user.volunteer? || @user.staff? || @user.admin?) %>
            <%= link_to(t('navbar.user.development_program'), development_programs_path, class: "dropdown-item") if (@user.dev_program? || @user.staff? || @user.admin?) %>
            <%= link_to(t('navbar.user.exams'), exams_path, class: "dropdown-item") if (!@user.exams.blank?) %>
            <a class="dropdown-item" href="<%= print_orders_path %>"><%= t('navbar.user.printorder') %></a>
            <a class="dropdown-item" href="<%= help_path %>"><%= t('navbar.user.help') %></a>
            <a class="dropdown-item" href="<%= logout_path %>"><%= t('navbar.user.sign_out') %></a>
          </div>

        <li class="nav-item">
          <%= image_tag("cc_white.png", alt: "CC", class: "ccs", id: "myCcWhite", style: "display:none") %>
          <%= image_tag("cc.png", alt: "CC", class: "ccs hidden", id: "myCcBlack") %>
        </li>
        <li class="nav-item">
          <b class="nav-link"><%= current_user.get_total_cc %></b>
        </li>
        </li>
        <% end %>

      <li class="navbar-divider"></li>

      <% locales_change.each do |locale| %>
        <li class="nav-item">
          <a class="nav-link" href="?locale=<%= locale %>"><%= t('name', locale: locale) %></a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="modal fade" id="popUpWindow">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="text-center"><%= t('sessions.login.sign_in') %></h1>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <%= form_tag login_authentication_path do %>
          <div class="form-group attach">
            <%= text_field_tag :username_email, params[:username_email], placeholder: t('sessions.login.username_or_email'), class: 'form-control', autofocus: true %>
            <%= password_field_tag :password, nil, placeholder: t('sessions.login.password'), class: 'form-control' %>
          </div>
          <%= submit_tag t('sessions.login.sign_in'), class: 'btn btn-primary w-100' %>
        <% end %>
      </div>

      <div class="modal-footer">
        <%= link_to t('sessions.login.forgot_password'), forgot_password_path, class: "btn btn-link w-100" %>
      </div>

    </div>
  </div>
</div>
<div class="flash">
  <%= render 'layouts/flash' %>
</div>