<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">Maker<strong>Repo</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-xl-0" action="/search" method="get">
      <div class="input-group">
        <input class="form-control" type="search" name="q" id="q" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" style="height: auto">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/explore">Explore<br>Explorer</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/project_proposals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Project Proposals<br>Propositions de projet
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/project_proposals/new">Propose a Project</a>
          <a class="dropdown-item" href="/project_proposals">Projects Available</a>
          <a class="dropdown-item" href="/project_proposals/projects_assigned">Projects Assigned</a>
          <a class="dropdown-item" href="/project_proposals/projects_completed">Projects Completed</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/project_proposals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More<br>Plus
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://www.eventbrite.ca/o/latelier-makerspace-richard-labbe-uottawa-uottawa-richard-labbe-makerspace-6930970537">Makerspace Events</a>
          <a class="dropdown-item" href="https://www.eventbrite.ca/o/the-manufacturing-training-centre-8474302765">Brunsfield Events</a>
          <a class="dropdown-item" href="http://volunteer.makerepo.com/">Volunteers</a>
          <a class="dropdown-item" href="http://volunteer.makerepo.com/resources.html">Resources</a>
          <a class="dropdown-item" href="https://makerstore.ca/">Makerstore</a>
        </div>
      </li>

      <% unless signed_in? %>
        <li class="nav-item"><a class="nav-link" href="/login">Sign In<br>Connexion</a></li>
        <li class="nav-item"><a class="nav-link" href="/new">Create an account<br>Créer un compte</a></li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_repository_path(@user.username) %>">Create a project<br>Créer un projet</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=" <%= user_path(@user.username) %>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag @user.avatar.url, class: 'avatar', alt: 'Avatar' %>
            <%= @user.username %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="<%= user_path(@user.username) %>">Profile</a>
            <a class="dropdown-item" href="<%= likes_user_path(@user.username) %>">Liked</a>
            <a class="dropdown-item" href="<%= settings_profile_path %>">Settings</a>
            <%= link_to('Admin Area', admin_index_path, class: "dropdown-item") if @user.admin? %>
            <%= link_to('Staff Area', staff_index_path, class: "dropdown-item") if @user.staff? %>
            <a class="dropdown-item" href="<%= help_path %>">Help</a>
            <a class="dropdown-item" href="<%= logout_path %>">Sign Out</a>
          </div>
        </li>
        <% end %>
    </ul>
  </div>
</nav>
