<section id="header">
  <div class="inner">
  <% unless signed_in? %>
    <span class="header-menu-item not-signed-in"><%= link_to 'Sign Up<br>Créer un Compte'.html_safe, new_user_path %></span>
    <span class="header-menu-item not-signed-in"><%= link_to 'Log In<br>Connexion'.html_safe, login_path %></span>
    <span class="header-menu-item"><%= link_to 'Explore<br>Explorer'.html_safe, explore_path %></span>
  <% else %>
    <span class="header-menu-item menu-button">
      <%= link_to user_path(@user.username) do %>
        <%= image_tag @user.avatar.url, class: 'main-avatar-thumbnail', alt: 'Avatar' %>
        <%= @user.username %>
      <% end %>
      <ul class="menu">
        <li><%= link_to 'Profile', user_path(@user.username) %></li>
        <li><%= link_to 'Liked', likes_user_path(@user.username) %></li>
        <li><%= link_to 'Settings', settings_profile_path  %></li>
        <li><%= link_to 'Help', help_path  %></li>
        <%= content_tag :li, link_to('Admin Area', admin_index_path ) if @user.admin? %>
        <%= content_tag :li, link_to('Staff Area', staff_index_path ) if @user.staff? %>
        <li><%= link_to 'Sign Out', logout_path %></li>
      </ul>
    </span>

    <span class="header-menu-item"><%= link_to 'Create<br>Créer'.html_safe, new_repository_path(@user.username) %></span>
    <span class="header-menu-item"><%= link_to 'Explore<br>Découvrez'.html_safe, explore_path %></span>
  <% end %>
  <span id = "side-menu" onclick="toggleNav()">&#9776;</span>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="https://www.eventbrite.ca/o/latelier-makerspace-richard-labbe-uottawa-uottawa-richard-labbe-makerspace-6930970537" target="_blank">Events</a>
    <a href="http://volunteer.makerepo.com/" target="_blank">Volunteers</a>
    <a href="http://volunteer.makerepo.com/resources.html" target="_blank">Resources</a><br><br>
    <a>Follow Us:</a>
    <a href="https://www.facebook.com/uOmakerspace/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> @uOMakerspace</a>
    <a href="https://www.instagram.com/uomakerspace/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> @uOMakerspace</a>
    <a href="https://twitter.com/uomakerspace?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @uOMakerspace</a>
  </div>

  <span class="msr-logo">
    <%= link_to root_path do %>Maker<b>Repo</b><% end %>
    <%= form_tag search_path, method: :get, class: 'header-search' do %>
      <%= fa_icon('search') %>
      <%= text_field_tag 'q', nil, placeholder: 'Search' %>
    <% end %>
  </span>
  </div>
</section>
<section id="header-end"></section>
