<div class="sticky-top">
<nav class="navbar navbar-expand-xl navbar-light <%= controller_name %> <%= action_name %> bg-primary shadow-lg" id="header-navbar">
  <div class="container-fluid m-2">
    <a class="navbar-brand ms-5" href="/"><strong>Maker</strong>Repo</a>
    <button class="navbar-toggler" id="navbar-toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-5 me-auto align-items-xl-baseline">
      <li class="nav-item">
        <a class="nav-link" href="/"><%= t('navbar.home') %></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/explore" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('navbar.projects') %>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/explore"><%= t('navbar.explore') %></a>
          <% if signed_in? %>
          <a class="dropdown-item" href="<%= new_repository_path(@user.username) %>"><%= t('navbar.create_project') %></a>
          <% end %>
          <a class="dropdown-item" href="/project_proposals/new"><%= t('navbar.propose_project') %></a>
          <% if signed_in? and @user.staff? %>
          <a class="dropdown-item" href="/project_proposals"><%= t('navbar.proposed_projects') %></a>
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('navbar.get_involved') %>
        </a>
        <div class="dropdown-menu">
          <%= link_to t('navbar.get_involved'), get_involved_path, class: 'dropdown-item' %>
          <a class="dropdown-item" href="https://www.eventbrite.ca/o/latelier-makerspace-richard-labbe-uottawa-uottawa-richard-labbe-makerspace-6930970537"><%= t('navbar.workshops') %></a>
          <%= link_to t('navbar.join_a_team'), t('navbar.join_a_team_url'), class: 'dropdown-item' %>
          <%= link_to t('navbar.volunteering'), volunteers_path, class: 'dropdown-item' %>
          <%= link_to t('navbar.user.development_program'), development_programs_path, class: 'dropdown-item' %>
          <%= link_to t('navbar.makerlaunch'), t('navbar.makerlaunch_url'), class: 'dropdown-item' %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('navbar.resources') %>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://wiki.makerepo.com/wiki/Main_Page"><%= t('navbar.ceed_wiki') %></a>
          <a class="dropdown-item" href="https://makerstore.ca/"><%= t('navbar.makerstore') %></a>
          <%= link_to('MakerRoom', sub_space_booking_index_path, class: 'dropdown-item') %>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="<%= job_orders_path %>"><%= t('navbar.user.joborder') %></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">FAQ</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto align-items-xl-baseline">

      <% unless signed_in? %>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#popUpWindow" href=""><%= t('navbar.sign_in') %></a></li>
      <li class="nav-item"><a class="nav-link" href="/new"><%= t('navbar.create_account') %></a></li>
        <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href=" <%= user_path(@user.username) %>" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-transform: none;">
            <%= image_tag @user.display_avatar, class: 'avatar', alt: 'Avatar' %>
            <%= @user.username %>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="<%= user_path(@user.username) %>"><%= t('navbar.user.profile') %></a>
            <%= link_to(t('navbar.user.admin_area'), admin_settings_path, class: 'dropdown-item') if @user.admin? %>
            <%= link_to(t('navbar.user.staff_area'), staff_dashboard_index_path, class: 'dropdown-item') if @user.staff? %>
            <a class="dropdown-item" href="<%= logout_path %>"><%= t('navbar.user.sign_out') %></a>
          </div>

          <li class="nav-item">
            <a class="ccLink" href="<%= discount_codes_path %>">
              <%= image_tag('cc_white.png', alt: 'CC', class: 'ccs', id: 'myCcWhite') %>
              <%= image_tag('cc.png', alt: 'CC', class: 'ccs hidden', id: 'myCcBlack') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="ccLink" href="<%= discount_codes_path %>">
              <b class="nav-link"><%= current_user.get_total_cc %></b>
            </a>
          </li>
      </li>
        <% end %>

        <!-- <li class="navbar-divider mx-5"></li> -->

        <% locales_change.each do |locale| %>
          <li class="nav-item">
            <%= link_to t('name', locale:), url_for(request.query_parameters.merge(locale:)), class: 'nav-link' %>
          </li>
        <% end %>
    </ul>
    </div>
  </div>
</nav>
<%# Set by layouts/volunteer.html.erb, sometimes not even set?%>
<%= render 'layouts/volunteer_header' if (defined? with_volunteer) && with_volunteer %>
<%= render 'layouts/development_program_header' if (defined? with_development) && with_development %>
<%= render 'layouts/admin_area_header' if (defined? with_admin) && with_admin %>
<%= render 'layouts/staff_area_header' if (defined? with_staff) && with_staff %>


<%= render 'layouts/quick_access_link' if current_user.admin? %>
</div>
<%= render 'static_pages/login_modal' unless signed_in? %>

<div class="flash" id="flash" style="padding-left: 20px; padding-right: 20px; z-index: 100;">
  <%= render 'layouts/flash' %>
</div>
