<div class="navbar navbar-expand-xl navbar-light bg-light" id="quick-access-bar">
    <%= fa_icon 'bars', class: 'nav-link ms-4', id: 'quick-access-bar-toggle' %>
    <div class="container-fluid  flex-row align-self-end" id="quick-access-container">
        <ul class="navbar-nav mr-auto d-flex flex-row">
        <%=  %>
            <% QuickAccessLink.where(user: current_user).each do |link| %>
                <li class="nav-item mx-2">
                    <a class="nav-link d-inline" href="<%= link.path %>"><%= link.name %></a>
                    <% if link.path == request.path_info %>
                        <%= link_to fa_icon('times', class: 'text-danger d-inline'), quick_access_links_delete_path(link), method: :delete, remote: true %>
                    <% end %>
                </li>
            <% end %>
        </ul>
        <ul class="navbar-nav ml-auto d-flex flex-row">
            <li class="text-primary nav-item mx-auto" id="add-new-quick-access" >
                <%= fa_icon('thumb-tack') %> Pin Page
            </li>
        </ul>
    </div>
</div>
