<div class="navbar navbar-expand-sm border-bottom" id="quick-access-bar">
    <div class="container-fluid flex-row align-self-end" id="quick-access-container">
        <ul class="navbar-nav mr-auto d-flex flex-row">
            <% QuickAccessLink.where(user: current_user).find_each do |link| %>
                <li class="nav-item mx-2">
                    <a class="nav-link d-inline" href="<%= link.path %>"><%= link.name %></a>
                </li>
            <% end %>
        </ul>
        <ul class="navbar-nav ml-auto d-flex flex-row">
          <% if QuickAccessLink.where(user: current_user).where(path: request.path_info).present? %>
            <li class="nav-item mx-auto">
              <%= button_to quick_access_links_delete_path(QuickAccessLink.where(user: current_user).where(path: request.path_info).first.id), class: 'btn btn-link p-0', method: :delete do %>
                <%= fa_icon('thumb-tack') %> Unpin Page
              <% end %>
            </li>
          <% else %>
            <li class="nav-item mx-auto" id="add-new-quick-access">
              <a class="btn btn-link p-0"><%= fa_icon('thumb-tack') %> Pin Page</a>
            </li>
          <% end %>
        </ul>
    </div>
</div>
