<nav class="navbar navbar-expand-xl navbar-staff">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= staff_dashboard_index_path %>">Staff <strong>Area</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><%= link_to 'Staff dashboard', staff_dashboard_index_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'New Training Session', new_staff_training_session_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'My Training Sessions', staff_training_sessions_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Work Calendar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "My Unavailabilities", staff_unavailabilities_path, class: 'dropdown-item' %>
            <%= link_to "My Work Schedule", staff_my_calendar_index_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item"><%= link_to 'Sign in kiosk', kiosk_index_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locker management</span>
          <div class="dropdown-menu">
            <%= link_to 'Locker rentals', admin_locker_rentals_path, class: 'dropdown-item' %>
            <%= link_to 'Expired rentals', expired_locker_rentals_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item"><%= link_to 'Makerstore links', staff_makerstore_links_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</nav>
