<!DOCTYPE html>
<html>
<head>
  <title>Admin Area | MakerRepo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor",      :debug => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render 'layouts/header' %>
	<section id="setting">
		<div class="setting-grid">
			<div class="setting-side-panel">
        <div class="panel-title"><%= link_to 'Admin Area', admin_index_path %></div>
				<ul>
		      <li class="setting-menu-item">
          	<%= link_to 'General Settings', admin_settings_path %><br><br>
		      	<%= link_to 'Reports', admin_report_generator_index_path %><br><br>
            <%= link_to 'Manage Trainings', admin_trainings_path %> <br /> <br />
            <%= link_to 'Training Sessions', admin_training_sessions_path %><br><br>
            <%= link_to 'Manage Spaces', admin_spaces_path %><br><br>
            <%= link_to 'Manage Roles', manage_roles_admin_users_path %><br><br>
            <%= link_to 'Manage Badges', admin_manage_badges_path %>

		      </li>
				</ul>
			</div>
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div id="alert"><%= flash[:alert] %></div>
      <% end %>
			<%= yield %>

		</div>
	</section>
  <%= render 'layouts/footer' %>
</body>
</html>
