<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-bs-theme="<%= cookies[:theme] %>">
    <head>
        <%= render 'shared/theme_init' %>
        <title><%= page_title(yield(:title)) %></title>
        <%= favicon_link_tag 'C_square.png' %>
        <%= vite_javascript_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
        <%= vite_javascript_tag controller_name if File.exist?("#{Rails.root}/app/javascript/entrypoints/#{controller_name}.js") %>
        <%= vite_stylesheet_tag 'application.scss', media: 'all', 'data-turbo-track': 'reload' %>
        <% if yield(:insert_turnstile_scripts) %>
            <link rel="preconnect" href="https://challenges.cloudflare.com">
            <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
        <% end %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="MakerRepo is the uOttawa Makerspace's platform. Share and download projects for 3D printers, CNCs, Arduino and much more!" />
        <script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "va12Fyrpbl");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script>
        <noscript><div id="noscript-warning">Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></div></noscript>
        <%= vite_client_tag %>
    </head>
    <body>
        <%= render 'layouts/header', with_volunteer: @with_volunteer_header, with_development: @with_development_header %>
        <main <% unless @no_container %>class="container"<% end %> >
            <div class="flash" id="flash" style="padding-left: 20px; padding-right: 20px; z-index: 100;">
                <%= render 'layouts/flash' %>
            </div>
            <%= yield %>
        </main>
        <%= render 'layouts/footer' %>
    </body>
</html>
