<!DOCTYPE html>
<html>
	<head>
	  <title><%= page_title(yield(:title)) %></title>
	  <%= favicon_link_tag 'site-icon.jpg' %>
	  <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag "vendor",      :debug => false %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="MakerRepo is the uOttawa Makerspace's platform. Share and download projects for 3D printers, CNCs, Arduino and much more!" />
	  <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400,600,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
	</head>
	<body>
		<%= render 'layouts/header' %>
    <main class="main">
      <%= yield %>
    </main>
		<%= render 'layouts/footer' %>
	</body>
</html>
