<!DOCTYPE html>
<html>
  <head>
    <title>Development Program | <%= page_title(yield(:title)) %></title>
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
<!--    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <%= render partial: 'partials/announcements' %>

    <%= render 'layouts/development_program_header' %>

    <section>
      <div class="bg-white">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </section>
    <%= render 'layouts/footer' %>
    <%= javascript_pack_tag controller_name if File.exist?("#{Rails.root}/app/javascript/packs/#{controller_name}.js") %>
  </body>
</html>
