<!DOCTYPE html>
<html>
<head>
  <title>Getting Started | MakerRepo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
    <%= javascript_include_tag "vendor",      :debug => false %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="help-grid">
    <%= yield %>
    <div class="help-side-panel">
      <div class="title"><%= link_to "Help Center", help_path %> / Getting Started </div>
      <ul>
        <%= content_tag :li, link_to("Setting up an account", getting_started_sua_path) %>
        <%= content_tag :li, link_to("Creating a repository", getting_started_cr_path) %>
      </ul>
    </div>
    <div class="contact">
      If any error occurs, or if you would like to make a suggestion, do not hesitate to <%= link_to "contact us", "#" %>.
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
