<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/theme_init' %>
  <title>Help Center | MakerRepo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'C_square.png' %>
    <%= stylesheet_link_tag 'vendor', media: 'all', debug: false %>
    <%= javascript_include_tag 'vendor', debug: false %>
    <%= vite_javascript_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= vite_stylesheet_tag 'application.scss', media: 'all', 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
