<!DOCTYPE html>
<html>
<head>
  <title>MR | License </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor",      :debug => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="license-grid">
    <%= yield %>
    <div class="license-side-panel">
      <div class="title">Licenses</div>
      <ul>
        <%= content_tag :li, link_to("Common Create - Attribution", licenses_cca_path) %>
        <%= content_tag :li, link_to("Common Create - Attribution - Share Alike", licenses_ccasa_path) %>
        <%= content_tag :li, link_to("Common Create - Attribution - No Derivatives", licenses_ccand_path) %>
        <%= content_tag :li, link_to("Common Create - Attribution - Non-Commerical", licenses_ccanc_path) %>
        <%= content_tag :li, link_to("Attribution - Non-Commerical - Share Alike", licenses_ancsa_path) %>
        <%= content_tag :li, link_to("Attribution - Non-Commerical - No Derivatives", licenses_ancnd_path) %>
      </ul>
    </div>
  </div>
</body>
</html>
