<!DOCTYPE html>
<html>
<head>
  <title>Settings | MakerRepo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor",      :debug => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render 'layouts/header' %>
  <% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>
	<section id="setting">
		<div class="setting-grid">
			<div class="setting-side-panel">
				<ul>
		      <li class="setting-menu-item" <%= 'style= font-weight:400;color:#5f9ea0;' if 
            current_page?(action: 'profile', controller: 'settings') %> >
		      	<%= link_to 'Edit settings', settings_profile_path %>
		      </li>
		      <li class="setting-menu-item" <%= 'style= font-weight:400;color:#5f9ea0;' if 
            current_page?(action: 'admin', controller: 'settings') %> >
		      	<%= link_to 'Account Settings', settings_admin_path %>
		      </li>
          <% if @user.skill %>
            <li class="setting-menu-item" >
              <%= link_to 'Update Skills', edit_skill_path(@user.skill.id) %>
            </li>
          <% end %>
		      <li>
		      <%= link_to "View Profile", user_path(@user.username), class: 'vp-button' if current_page?(action: 'profile', controller: 'settings') %>
		      </li>
				</ul>
			</div>
			<%= yield %>

		</div>
	</section>
  <%= render 'layouts/footer' %>
</body>
</html>
