<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title), base_title: 'Staff Area | MakerRepo') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag 'vendor', media: 'all', debug: false %>
    <%= javascript_include_tag 'vendor', debug: false %>
    <%= vite_javascript_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= vite_stylesheet_tag 'application.scss', media: 'all', 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'layouts/header', with_staff: true %>

  <%= render partial: 'partials/announcements' %>

	<section id="setting" style="width:100%">
		<div class="container">
			<%= yield %>
		</div>
	</section>
  <%= render 'layouts/footer' %>
  <%= vite_javascript_tag controller_name if File.exist?("#{Rails.root}/app/javascript/entrypoints/#{controller_name}.js") %>
</body>
</html>
