<!DOCTYPE html>
<html>
<head>
  <title>Volunteer <%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor",      :debug => false %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
</head>
<body data-no-turbolink="true">
	<%= render 'layouts/header' %>
	<section id="setting" style="width:90%">
		<div class="setting-grid">
			<div class="setting-side-panel">
        <div class="panel-title"><%= link_to 'Volunteer Area', volunteers_path %></div>
				<ul>
		      <li class="setting-menu-item">
            <% if current_user.volunteer? %>
              <%= link_to 'Track hours', new_volunteer_hour_path %><br></br>
              <%= link_to 'See hours', volunteer_hours_path%><br></br>
            <% elsif current_user.staff? %>
              <%= link_to 'Volunteer Requests', volunteer_requests_path %><br></br>
              <%= link_to 'Volunteer Tasks', volunteer_tasks_path %><br></br>
              <%= link_to 'New Volunteer Task', new_volunteer_task_path %><br></br>
              <%= link_to 'Volunteer Hour Requests', volunteer_hour_requests_volunteer_hours_path %><br></br>
              <%= link_to 'Volunteer Hour Per User', volunteer_hour_per_user_volunteer_hours_path %><br></br>
            <% end %>
		      </li>
				</ul>
			</div>
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div id="alert"><%= flash[:alert] %></div>
      <% end %>
			<%= yield %>

		</div>
	</section>
  <%= render 'layouts/footer' %>
</body>
</html>
