<!DOCTYPE html>
<html>
<head>
  <title>Volunteer Program | <%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
    <%= javascript_include_tag "vendor",      :debug => false %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
</head>
<body data-no-turbolink="true">
	<%= render 'layouts/header' %>

  <%= render :partial => 'partials/announcements' %>

  <%= render 'layouts/volunteer_header' %>

<!--  <section id="setting" style="width:100%">-->
<!--		<div class="setting-grid">-->
<!--			<div class="setting-side-panel">-->
<!--        <div class="panel-title"><%#= link_to 'Volunteer Area', volunteers_path %></div>-->
<!--				<ul>-->
<!--		      <li class="setting-menu-item">-->
            <%# if current_user.volunteer? %>
<!--              <%#= link_to 'Getting Started', getting_started_volunteers_path %><br></br>-->
<!--              <%#= link_to 'My Stats', my_stats_volunteers_path %><br></br>-->
<!--              <%#= link_to 'Volunteer Tasks', volunteer_tasks_path%> <br /> <br />-->
<!--              <%#= link_to 'My Tasks', my_tasks_volunteer_tasks_path%> <br /> <br />-->
<!--              <%#= link_to 'Requests', volunteer_task_requests_path%> <br /> <br />-->
            <%# elsif current_user.staff? %>
<!--              <%#= link_to 'Requests', volunteer_requests_path %><br></br>-->
<!--              <%#= link_to 'Requests', volunteer_task_requests_path%> <br /> <br />-->
<!--              <div class="dropright mb-3">-->
<!--                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  Announcements-->
<!--                </button>-->
<!--                <div class="dropdown-menu">-->
                  <%#= link_to 'New', new_announcement_path, class: "dropdown-item" %>
                  <%#= link_to 'Announcements', announcements_path, class: "dropdown-item" %>
<!--                </div>-->
<!--              </div>-->
<!--              <div class="dropright mb-3">-->
<!--                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  Hours-->
<!--                </button>-->
<!--                <div class="dropdown-menu">-->
                  <%#= link_to 'Hour Requests', volunteer_hour_requests_volunteer_hours_path, class: "dropdown-item" %>
                  <%#= link_to 'Hour Per User', volunteer_hour_per_user_volunteer_hours_path, class: "dropdown-item" %>
<!--                </div>-->
<!--              </div>-->

<!--              <div class="dropright mb-3">-->
<!--                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  Tasks-->
<!--                </button>-->
<!--                <div class="dropdown-menu">-->
                  <%#= link_to 'New', new_volunteer_task_path, class: "dropdown-item" %>
                  <%#= link_to 'Tasks', volunteer_tasks_path, class: "dropdown-item" %>
<!--                </div>-->
<!--              </div>-->

<!--              <div class="dropright mb-3">-->
<!--                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  Lists-->
<!--                </button>-->
<!--                <div class="dropdown-menu">-->
                  <%#= link_to 'List of Emails', emails_volunteers_path, class: "dropdown-item" %>
                  <%#= link_to 'List of Users in Program', volunteer_list_volunteers_path, class: "dropdown-item" %>
<!--                </div>-->
<!--              </div>-->
<!--              <hr>-->
<!--              <%#= link_to 'Getting Started', getting_started_volunteers_path %><br></br>-->
<!--              <%#= link_to 'My Stats', my_stats_volunteers_path%> <br /> <br />-->
<!--              <%#= link_to 'My Tasks', my_tasks_volunteer_tasks_path%> <br /> <br />-->

            <%# end %>
<!--		      </li>-->
<!--				</ul>-->
<!--			</div>-->

			<%#= yield %>

<!--		</div>-->
<!--	</section>-->
  <section>
    <div class="bg-white">
      <div class="container">
        <br>
        <%= yield %>
        <br>
      </div>
    </div>
  </section>

  <%= render 'layouts/footer' %>
</body>
</html>
