<!DOCTYPE html>
<html>
<head>
  <title>Development Program | <%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'site-icon.jpg' %>
    <%= stylesheet_link_tag    "vendor",      :media => "all", :debug => false %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor",      :debug => false %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
</head>
<body data-no-turbolink="true">
	<%= render 'layouts/header' %>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>

  <% if current_user.admin? %>
    <% Announcement.active.admins.find_each do |a| %>
      <div class="alert alert-secondary text-center" role="alert">
        <b>To Admins:</b> <%= a.description %>
      </div>
    <% end %>
  <% end %>

  <% if current_user.staff? %>
  <% Announcement.active.staff.find_each do |a| %>
    <div class="alert alert-info text-center" role="alert">
      <b>To Staff:</b> <%= a.description %>
    </div>
  <% end %>
<% end %>

  <% if !Announcement.active.all_users.blank? %>
    <% Announcement.active.all_users.find_each do |a| %>
      <div class="alert alert-primary text-center" role="alert">
        <b>To All Users: </b><%= a.description %>
      </div>
    <% end %>
  <% end %>

  <% if !Announcement.active.volunteers.blank? %>
  <% Announcement.active.volunteers.find_each do |a| %>
    <div class="alert alert-warning text-center" role="alert">
      <b>To Volunteers:</b> <%= a.description %>
    </div>
  <% end %>
<% end %>

	<section id="setting" style="width:100%">
		<div class="setting-grid">
			<div class="setting-side-panel">
        <div class="panel-title"><%= link_to 'Volunteer Area', volunteers_path %></div>
				<ul>
		      <li class="setting-menu-item">
            <% if current_user.volunteer? %>
              <%= link_to 'Getting Started', getting_started_volunteers_path %><br></br>
              <%= link_to 'Training', "#" %><br></br>
              <%= link_to 'Tasks', volunteer_tasks_path%> <br /> <br />
              <%= link_to 'Hours', volunteer_hours_path %><br></br>
              <%= link_to 'Settings', edit_skill_path(current_user.skill.id)%><br />
            <% elsif current_user.staff? %>
              <%= link_to 'Requests', volunteer_requests_path %><br></br>

              <div class="dropright mb-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Announcements
                </button>
                <div class="dropdown-menu">
                  <%= link_to 'New', new_announcement_path, class: "dropdown-item" %>
                  <%= link_to 'Announcements', announcements_path, class: "dropdown-item" %>
                </div>
              </div>

              <div class="dropright mb-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hours
                </button>
                <div class="dropdown-menu">
                  <%= link_to 'Hour Requests', volunteer_hour_requests_volunteer_hours_path, class: "dropdown-item" %>
                  <%= link_to 'Hour Per User', volunteer_hour_per_user_volunteer_hours_path, class: "dropdown-item" %>
                </div>
              </div>

              <div class="dropright mb-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tasks
                </button>
                <div class="dropdown-menu">
                  <%= link_to 'New', new_volunteer_task_path, class: "dropdown-item" %>
                  <%= link_to 'Tasks', volunteer_tasks_path, class: "dropdown-item" %>
                </div>
              </div>

              <div class="dropright mb-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Lists
                </button>
                <div class="dropdown-menu">
                  <%= link_to 'List of Emails', emails_volunteers_path, class: "dropdown-item" %>
                  <%= link_to 'List of Users in Program', volunteer_list_volunteers_path, class: "dropdown-item" %>
                </div>
              </div>

            <% end %>
		      </li>
				</ul>
			</div>

			<%= yield %>

		</div>
	</section>
  <%= render 'layouts/footer' %>
</body>
</html>
